@import "../../../../roodeo-variables.scss";

.header-notification {
    border-bottom: $border-table;
    padding: 4px 20px 6px 0px;
    padding-left: 8%;
    background-color: white;

    span{
    display: block;
    color: #7e8082;
    font-size: 12px;
    font-weight: 400;
    transition: .3s;
    }
 
}


