<div class="header-notification">
  <p class="breadrumb">
    <a class="first" [routerLink]="['/dashboard/campaigns']">Dashboard</a> <a>{{namePage}}</a>
    <mat-icon (click)="showHiddenNavigation()"> {{listNavigation ? showNavigation ? 'keyboard_arrow_up' : 'keyboard_arrow_down': '' }}</mat-icon>
    <span *ngIf="listNavigation && showNavigation" class="roodeo-fix-navigation">
      <span class="roodeoo-navigation">
        <ul>
          <li *ngFor="let navigation of listNavigation">
            <a (click)="showNavigation = false" class="roodeo-color-link" [routerLink]="['/dashboard/faq', navigation]">{{navigation}}</a>
          </li>
        </ul>
      </span>
    </span>
    
  </p>
</div>