@import "../../../../roodeo-variables.scss";

.header-notification {
    border-top: $border-table;
    border-bottom: $border-table;
    padding: 4px 20px 6px 22px;
    
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
    margin-top: 70px;

    .breadrumb{
        margin-bottom: 0rem !important;
        color: #7e8082;
        font-size: 12px;
        font-weight: 400;
        transition: .3s;
        a{
            color: #7e8082;
        }
    }

        .first{
        text-decoration: none;
        color: $color-principal-blue;
            &:hover{
                color: #54728d;
              }
        }
       
    
 
}


