@import "../second-section/second-section.component.scss";
@import"../../../../roodeo-variables.scss";

#main{
    padding-top:20px;
    padding-bottom: 20px;
    background-color: $color-white;
    
    .content{
        margin: 0 100px;
    }

    .row{
        flex-direction: column;
    }

    .list-para{
        color:$color-principal-blue;
        font-size: $font-size-home;
       
    }
}
@media screen and (max-width:760px){
    .list-para{
        font-size: 12px!important;
        padding-left: 15px;
    }
}