<section id="main">
   <div class="container">

      <div class="row">

        <p class="list-para">- Développeur Expert Wordpress - Fullstacks</p>
        <p class="list-para">- Intégrateur Web & Emailing - Développeur Frontend</p>
        <p class="list-para">- Développeur Backend Nodejs</p>
        <p class="list-para">- Developpeur Back-End Wordpress Prestashop Symfony</p>
        <p class="list-para">- Développeur Full Stack Javascript Css Php</p>
        <p class="list-para">- Intégrateur Web Responsive | Développeur Front End</p>
        <p class="list-para">- Développeur Expert Wordpress - Fullstacks</p>
        <p class="list-para">- Intégrateur Web & Emailing - Développeur Frontend</p>
        <p class="list-para">- Developpeur Back-End Wordpress Prestashop Symfony</p>
        <p class="list-para">- Développeur Full Stack Javascript Css Php</p>
        <p class="list-para">- Intégrateur Web Responsive | Développeur Front End</p>

      </div>

   </div>
</section>
