@import"../../../../roodeo-variables.scss";
.title-dashed{
    color:$color-blue;
    text-transform: uppercase;
    font-family: $font-poppins;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    
  }

  main{
    background: #ffffff;
  }

  .dashed{
    padding:4px;
    display: block;
    background-color: $background-color;
    border:1px solid rgb(126, 181, 206);
    border-radius: 100px;
    width: 125px;
    position: relative;
    
    top: 10px;
  }

  @media screen and (max-width:760px){

    .dashed{
      left:0px;
    }

  }
