<div id="shadow-cog" [ngClass]="{ 'shadow-cog-active': Isactive == true }">
  <div id="remove" (click)="param_cog_non_active()"></div>

  <div class="modal">
    <div class="modal-header">
      <h3 class="modal-title" i18n>
        <span class="icon-modal-header">
          <i class="fas fa-cog icon-header"></i>
        </span>
        Options des notifications
      </h3>
    </div>

    <div class="modal-content">
      <form (submit)="hundeleSubmit()">
        <label class="checked-block" for="check-1">
          <span class="check-label" i18n>Invitation de candidat</span>
          <input type="checkbox" id="check-1" class="checkbox" #check1 />
          <span class="checkbox-span"></span>
        </label>

        <label class="checked-block" for="check-2">
          <span class="check-label" i18n>Le candidat termine l'évaluation technique</span>
          <input type="checkbox" id="check-2" class="checkbox" #check2 />
          <span class="checkbox-span"></span>
        </label>

        <button class="btn-modal" i18n>Enregistrer</button>
      </form>
    </div>
  </div>
</div>

<div class="sidebar" [class.sidebar-small]="IsBoaleanSmallSidebar">

  <span (click)="sidebar_small_modele()" class="arrow">

  </span>

  <div class="sous-header-one sidebar-sous-header">

    <figure class="info-content-img-header info-content-img-header-dashboard"
      [class.info-content-img-header-dashboard-MinSize]="IsBoaleanSmallSidebar">
      <img src="../assets/Coding-game-img/SVG-menu-Dashboard/Notifications.svg">
    </figure>

    <div class="info-content-header-right-dashboard">
      <h3 class="info-title-header-dashboard" i18n>
        Historique
      </h3>
    </div>

  </div>

  <div class="sidebar-content">
    <div class="list-sidebar-left">

      <h2 *ngIf="candidatbydate.length === 0 " class="no-tofication" i18n>Aucune notification</h2>

      <div *ngFor="let candidat of candidatbydate">

        <div *ngIf="candidat.duree !== null" class="list-sidebar">
          <div *ngIf="!IsBoaleanSmallSidebar" class=" list-sidebar-left-content">
            <a [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">
              {{ candidat.Nom }}
            </a>
            &lt; <a [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">{{ candidat.email }}</a>
            &gt; <span i18n>a terminé l'évaluation technique de </span>
            <span *ngFor="let campaing of campaignsFromParent"><a *ngIf=' campaing.id === candidat.campaign'
                [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">{{campaing.Name}}</a></span>
            <div *ngIf="candidat.invitation_date" class="timeago-container">
              <app-timeago date="{{candidat.test_terminer}}"></app-timeago>
            </div>
          </div>

        </div>

        <div *ngIf="candidat.duree === null && candidat.opened_link === '0000-00-00 00:00:00'" class="list-sidebar">
          <div *ngIf="!IsBoaleanSmallSidebar" class="list-sidebar-left-content">
            <a [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">{{ candidat.Nom }}
            </a>

            &lt; <a [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">{{ candidat.email }}</a> &gt;
            <span i18n>a été invité(e) à </span>
            <span *ngFor="let campaing of campaignsFromParent"><a *ngIf=' campaing.id === candidat.campaign'
                [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">{{campaing.Name}}</a></span>
            <div *ngIf="candidat.invitation_date" class="timeago-container">
              <app-timeago date="{{candidat.invitation_date}}"></app-timeago>
            </div>

          </div>
        </div>

        <div *ngIf="candidat.duree === null && candidat.opened_link !== '0000-00-00 00:00:00'" class="list-sidebar">
          <div *ngIf="!IsBoaleanSmallSidebar" class="list-sidebar-left-content">
            <a [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">{{ candidat.Nom }}
            </a>

            &lt; <a [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">{{ candidat.email }}</a> &gt;
            <span i18n>a commencé le test </span>
            <span *ngFor="let campaing of campaignsFromParent"><a *ngIf=' campaing.id === candidat.campaign'
                [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">{{campaing.Name}}</a></span>
            <div *ngIf="candidat.invitation_date" class="timeago-container">
              <app-timeago date="{{candidat.invitation_date}}"></app-timeago>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>