<div id="shadow-cog" [ngClass]="{ 'shadow-cog-active': Isactive == true }">
  <div id="remove" (click)="param_cog_non_active()"></div>

  <div class="modall">
    <div class="modall-header">
      <h3 class="modall-title">
        <span class="icon-modal-header">
          <i class="fas fa-cog icon-header"></i>
        </span>
        Options des notifications
      </h3>
    </div>

    <div class="modall-content">
      <form (submit)="hundeleSubmit()">
        <label class="checked-block" for="check-1">
          <span class="check-label">Invitation de candidat</span>
          <input type="checkbox" id="check-1" class="checkbox" #check1 />
          <span class="checkbox-span"></span>
        </label>

        <label class="checked-block" for="check-2">
          <span class="check-label">Le candidat termine l'évaluation technique</span>
          <input type="checkbox" id="check-2" class="checkbox" #check2 />
          <span class="checkbox-span"></span>
        </label>

        <button class="btn-modal">Enregistrer</button>
      </form>
    </div>
  </div>
</div>

<div class="sidibar" [class.sidibar-small]="IsBoaleanSmallSidibar">

  <span (click)="sidibar_small_modele()" class="arrow">

  </span>

  <div class="sous-header-one sidibar-sous-header">

    <figure style="flex:2;" class="info-content-img-header info-content-img-header-dashboard"
      [class.info-content-img-header-dashboard-MinSize]="IsBoaleanSmallSidibar">
      <img src="../assets/Coding-game-img/SVG-menu-Dashboard/Notifications.svg">
    </figure>

    <div class="info-content-header-right-dashboard">
      <h3 *ngIf="!IsBoaleanSmallSidibar" class="info-title-header-dashboard">
        HISTORIQUE
      </h3>

      <span *ngIf="!IsBoaleanSmallSidibar" class="icon-right-sidibar" id="param-cog" (click)="param_cog()">
        <i class="fas fa-cog"></i>
      </span>
    </div>

  </div>

  <div class="sidibar-content">
    <div class="list-sidibar-left">

      <h2 *ngIf="candidatbydate.length === 0 " class="no-tofication">Aucune notication</h2>

      <div *ngFor="let candidat of candidatbydate">

        <div *ngIf="candidat.duree !== null" class="list-sidibar">
          <div *ngIf="!IsBoaleanSmallSidibar" class=" list-sidibar-left-content">
            <a [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">
              {{ candidat.Nom }}
            </a>
            &lt; <a [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">{{ candidat.email }}</a>
            &gt; a terminé l'évaluation technique de
            <span *ngFor="let campaing of campaignsFromParent"><a *ngIf=' campaing.id === candidat.campaign'
                [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">{{campaing.Name}}</a></span>

          </div>
          <p class="list-sidibar-right list-sidibar-right-bottom"
            [class.list-sidibar-right-MinSize]="IsBoaleanSmallSidibar">
            {{
              candidat.test_terminer | date: "short":"undefined":"fr-FR"
            }}
          </p>
        </div>
        <div *ngIf="candidat.duree === null || candidat.duree !== null" class="list-sidibar">
          <div *ngIf="!IsBoaleanSmallSidibar" class="list-sidibar-left-content">
            <a [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">{{ candidat.Nom }}
            </a>

            &lt; <a [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">{{ candidat.email }}</a> &gt;
            a été invité(e) à
            <span *ngFor="let campaing of campaignsFromParent"><a *ngIf=' campaing.id === candidat.campaign'
                [routerLink]="['/dashboard/campaigns',candidat.campaign, 'candidats']">{{campaing.Name}}</a></span>

          </div>

          <p class="list-sidibar-right list-sidibar-right-bottom"
            [class.list-sidibar-right-MinSize]="IsBoaleanSmallSidibar">
            {{
                candidat.invitation_date | date: "short":"undefined":"fr-FR"
          }}
          </p>
        </div>
      </div>


      <!-- <div *ngFor="let campaing of campaignsFromParent">

        <div *ngFor="let candidat of candidatbydate">

          <div *ngIf="candidat.campaign === campaing.id">

            <div *ngIf="!isActiveNotiFinish && !isActiveNotifInvite">


              <div *ngIf="candidat.invitation_date !== candidat.test_terminer"
                [class.list-sidibar-MinSize]="IsBoaleanSmallSidibar" class="list-sidibar">
                <p *ngIf="!IsBoaleanSmallSidibar" class=" list-sidibar-left-content">
                  <a [routerLink]="['/dashboard/campaigns',campaing.id, 'candidats']">
                    {{ candidat.Nom }}
                  </a>
                  &lt;<a [routerLink]="['/dashboard/campaigns',campaing.id, 'candidats']">{{ candidat.email }}</a>
                  &gt; a terminé l'évaluation technique de '
                  <a [routerLink]="['/dashboard/campaigns',campaing.id, 'candidats']">{{
                    campaing.Name
                  }}</a>'
                </p>
                <p class="list-sidibar-right list-sidibar-right-bottom"
                  [class.list-sidibar-right-MinSize]="IsBoaleanSmallSidibar">
                  {{
                    candidat.test_terminer | date: "short":"undefined":"fr-FR"
                  }}
                </p>
              </div>

              <div class="list-sidibar" [class.list-sidibar-MinSize]="IsBoaleanSmallSidibar">
                <p *ngIf="!IsBoaleanSmallSidibar" class="list-sidibar-left-content">
                  <a [routerLink]="['/dashboard/campaigns',campaing.id, 'candidats']">{{ candidat.Nom }}
                  </a>
                  &lt;<a [routerLink]="['/dashboard/campaigns',campaing.id, 'candidats']">{{ candidat.email }}</a>
                  &gt;a été invité(e) à '
                  <a [routerLink]="['/dashboard/campaigns',campaing.id, 'candidats']">{{
                      campaing.Name
                    }}</a>'
                </p>
                <p class="list-sidibar-right list-sidibar-right-bottom"
                  [class.list-sidibar-right-MinSize]="IsBoaleanSmallSidibar">
                  {{
                      candidat.invitation_date | date: "short":"undefined":"fr-FR"
                }}
                </p>
              </div>

            </div>

            <div *ngIf="isActiveNotiFinish">

              <div *ngIf="candidat.invitation_date !== candidat.test_terminer" class="list-sidibar"
                [class.list-sidibar-MinSize]="IsBoaleanSmallSidibar">
                <p *ngIf="!IsBoaleanSmallSidibar" class=" list-sidibar-left-content">
                  <a [routerLink]="['/dashboard/campaigns',campaing.id, 'candidats']">{{ candidat.Nom }}
                  </a>
                  &lt;<a [routerLink]="['/dashboard/campaigns',campaing.id, 'candidats']">{{ candidat.email }}</a>
                  &gt; a terminé l'évaluation technique de '
                  <a [routerLink]="['/dashboard/campaigns',campaing.id, 'candidats']">{{
                      campaing.Name
                    }}</a>'
                </p>
                <p [class.list-sidibar-right-MinSize]="IsBoaleanSmallSidibar"
                  class="list-sidibar-right list-sidibar-right-bottom">
                  {{
                      candidat.test_terminer | date: "short":"undefined":"fr-FR"
                    }}
                </p>
              </div>

            </div>


            <div *ngIf="isActiveNotifInvite">
              <div class="list-sidibar" [class.list-sidibar-MinSize]="IsBoaleanSmallSidibar">
                <p *ngIf="!IsBoaleanSmallSidibar" class="list-sidibar-left-content">
                  <a [routerLink]="['/dashboard/campaigns',campaing.id, 'candidats']">{{ candidat.Nom }}
                  </a>
                  &lt;<a [routerLink]="['/dashboard/campaigns',campaing.id, 'candidats']">{{ candidat.email }}</a>
                  &gt;a été invité(e) à '
                  <a [routerLink]="['/dashboard/campaigns',campaing.id, 'candidats']">{{
                        campaing.Name
                      }}</a>'
                </p>
                <p [class.list-sidibar-right-MinSize]="IsBoaleanSmallSidibar"
                  class="list-sidibar-right list-sidibar-right-bottom">
                  {{
                        candidat.invitation_date | date: "short":"undefined":"fr-FR"
                  }}
                </p>
              </div>

            </div>

          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>