@import "../../../../roodeo-variables.scss";

.info-content-img-header-dashboard-MinSize{
  margin:0px auto!important;
  flex: auto!important;
  min-width: 100%!important
}
.info-content-img-header{
  margin-left: 15px;
}
.list-sidebar-right-MinSize{
  border-right:none!important;
}
.sidebar.sidebar-small{
  width: 120px!important;
  flex: 0;
}
.timeago-container{
  color: #ce5637;
  font-size: 9px;
  margin-top: 5px;
}

.icon-right-sidebar{
  color:#ce5637;
  font-size: 25px;
  padding-top: 4px;
  cursor: pointer;
  flex: initial;
}

.list-sidebar.test{
 transform: translateX(300px)!important
}

.sous-header-one{
   
  .info-content-img-header-dashboard{
     flex: 1;
  }
  .info-content-header-right-dashboard{
    flex: 10;
    display: flex;
    padding-right: 15px;
    align-items: center;
    h3{
      margin-left: 10px;
    }
   // text-align: center;
  }
 
}


.sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  margin-left: 20px;
  min-height: 200px;
  border-radius: $border-radius;
  position: relative;
  box-shadow: 3px 4px 8px -2px rgba(0,0,0,0.40);

  .arrow{
      width: 15px;
      height: 50px;
      //background:url('http://localhost:4200/assets/Coding-game-img/SVG-menu-Dashboard/fleche.svg') no-repeat;
      position: absolute;
      right: -14px;
      top: 20px;
      cursor: pointer;
  }

  .sidebar-sous-header{
    border-right: $border-table;
    border-top: $border-table;
    border-left: $border-table;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
  }

  .sidebar-content {
    border: $border-table;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    display: flex;
    overflow: hidden;
    flex: 1;
    .list-sidebar-left::-webkit-scrollbar{
      width: 8px;
      height: 8px;
      }
      .list-sidebar-left::-webkit-scrollbar-thumb {
          background-color: #7f8183;
      }
      
      .list-sidebar-left::-webkit-scrollbar-thumb:hover{
          background-color: #67686a;
      }
      
      .list-sidebar-left::-webkit-scrollbar-track {
          background: #e3e3e3;
      }
    .list-sidebar-left { 
      display: flex;
      font-size: $font-size-home;
      overflow-y: auto;
      scrollbar-color: #7f8183 #e3e3e3;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: thin;
      flex-direction: column;
      flex: 1 1 0px;
      // height: auto;
      .no-tofication{
        align-self: center;
        padding-top: 120px;
        color:#dedbdb
      }

      .list-sidebar-MinSize{
        padding-bottom: 12px!important;
        padding-top: 12px!important;
      }
     
      .list-sidebar {
        color: #7e8082;
       // display: flex;
        overflow: hidden;
        border-bottom: 1px dashed $color-principal-blue;
        flex-direction: row-reverse;
        transition: 1s;
        .list-sidebar-left-content {
          color: #3f526a;
          font-size: 12px;
           
          word-wrap: break-word;
          margin-bottom: 0px;
          padding: 6px 10px;
          width: 90%;
          flex: initial;

          a {
            color: #ce5637;
            border: none;
            transition: color 0.2s;
             
            text-decoration: none;
          }
        }
        .list-sidebar-right {
          min-width: 105px !important;
          display: flex;
          font-size: $font-size-home;
          border-right: 1px dashed $color-principal-blue;
           
          align-items: center;
          flex-direction: column;
          justify-content: center;
          color:#3f526a
        }

        .list-sidebar-right-bottom {
          margin-bottom: 0px !important;
          text-align: center;
        }
      }

      .list-sidebar.active-list-bar{
        transition:height 1s ease;
        height:100px
      }
    }
  }
}

/*--shadow cog --*/

#shadow-cog {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
  display: none;
  .modall,
  .shadow-cog-active > .modall {
    border: none;
    background: rgb(255, 255, 255);
    outline: none;
    padding: 0px;
    cursor: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
    min-width: 550px;
    width: 550px;
    height: auto;
  }
  .modall-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeff3;
    height: 60px;
    .modall-title {
      color: $color-principal-blue;
      margin: 0;
      font-size: 18px;
      text-transform: uppercase;
      .icon-modal-header {
        margin-right: 10px;
      }
    }
  }
  .modall > .modall-content form {
    padding: 30px;
  
  }

  .btn-modal {
    width: 100%;
    margin-top: 30px;
    color: white;
    height: 50px;
    border: none;
    padding: 0 20px;
    position: relative;
    font-size: $font-size-home;
    transition: background-color 200ms;
     
    text-transform: uppercase;
    background-color: $color-principal-blue;
    &:hover {
      background-color: #162c45;
    }
  }
}
#shadow-cog.shadow-cog-active {
  display: block;
  display: flex;
}
#remove {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.checked-block {
  position: relative;
  font-size: 16px;
  display: block;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #7e8082;
  .check-label {
    display: inline-block;
    margin-left: 25px;
  }
 
}


@media (min-width: 300px) and (max-width: 1024px) {
  .sidebar {
    margin-left: inherit;
  
  }
}
