@import "../../../../roodeo-variables.scss";

.info-content-img-header-dashboard-MinSize{
  margin:0px auto!important
}
.list-sidibar-right-MinSize{
  border-right:none!important;
}
.sidibar.sidibar-small{
  width: 100px!important;
  flex: 0;
}

.icon-right-sidibar{
  color:#ce5637;
  font-size: 25px;
  padding-top: 4px;
  cursor: pointer;
}

.list-sidibar.test{
 transform: translateX(300px)!important
}

.sous-header-one{
  background: #eaeff3;
  height: 60px;
  padding: 7px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .info-content-img-header-dashboard{
      width: 45px;
      height: 45px;
      margin-bottom: 0px;
      margin-right: 45px;
    
    img{
      width:100%;
      height: 100%;
    }
  }
  .info-title-header-dashboard{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;
    font-family: $font-poppins;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-top: 7px;
    flex: 1;
  }
}


.sidibar {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: $border-table;
  // overflow: hidden;
  background-color: white;
  margin-left: 20px;
  min-height: 200px;
  border: 1.5px solid #e15028;
  border-radius: 6px;
  position: relative;

  .arrow{
      width: 15px;
      height: 50px;
      background:url('http://localhost:4200/assets/Coding-game-img/SVG-menu-Dashboard/fleche.svg') no-repeat;
      position: absolute;
      right: -16px;
      top: 20px;
      cursor: pointer;
  }

  .sidibar-sous-header{
    border-bottom: 1.5px solid #e15028;
    border-top-right-radius:5px;
    border-top-left-radius:5px
  }

  .sidibar-content {
    display: flex;
    overflow: hidden;
    flex: 1;
    .list-sidibar-left { 
      border:1px solid red;
      display: flex;
      font-size: 15px;
      overflow-y: auto;
      scrollbar-color: #7f8183 #e3e3e3;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: thin;
      flex-direction: column;
      flex: 1 1 0px;
      // height: auto;
      .no-tofication{
        align-self: center;
        padding-top: 120px;
        color:#dedbdb
      }
     
      .list-sidibar {
        color: #7e8082;
        display: flex;
        overflow: hidden;
        border-bottom: 1px dashed #e15028;
        flex-direction: row-reverse;
        transition: 1s;
        .list-sidibar-left-content {
          color: #3f526a;
          font-size: 14px;
          font-weight: 700;
          word-wrap: break-word;
          margin-bottom: 0px;
          padding: 6px 10px;
          width: 90%;

          a {
            color: #ce5637;
            border: none;
            transition: color 0.2s;
            font-weight: 700;
            text-decoration: none;
          }
        }
        .list-sidibar-right {
          min-width: 100px !important;
          display: flex;
          font-size: 14px;
          border-right: 1px dashed #e15028;
          font-weight: 700;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          color:#3f526a
        }

        .list-sidibar-right-bottom {
          margin-bottom: 0px !important;
          padding-left: 10px;
          text-align: center;
        }
      }

      .list-sidibar.active-list-bar{
        transition:height 1s ease;
        height:100px
      }
    }
  }
}

/*--shadow cog --*/

#shadow-cog {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
  display: none;
  .modall,
  .shadow-cog-active > .modall {
    border: none;
    background: rgb(255, 255, 255);
    outline: none;
    padding: 0px;
    cursor: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
    min-width: 550px;
    width: 550px;
    height: auto;
  }
  .modall-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeff3;
    height: 60px;
    .modall-title {
      color: #1d3551;
      margin: 0;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      .icon-modal-header {
        margin-right: 10px;
      }
    }

    .icon-header{

    }
  }
  .modall > .modall-content form {
    padding: 30px;
  
  }

  .btn-modal {
    width: 100%;
    margin-top: 30px;
    color: white;
    height: 50px;
    border: none;
    padding: 0 20px;
    position: relative;
    font-size: 14px;
    transition: background-color 200ms;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1d3551;
    &:hover {
      background-color: #162c45;
    }
  }
}
#shadow-cog.shadow-cog-active {
  display: block;
  display: flex;
}
#remove {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.checked-block {
  position: relative;
  font-size: 16px;
  display: block;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #7e8082;
  .check-label {
    display: inline-block;
    margin-left: 25px;
  }
  .checkbox {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
}

.checked-block input:checked ~ .checkbox-span {
  border-color: #1d3551;
}

.checkbox-span {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  border: 2px solid #7e8082;
  display: inline-block;
  border-radius: 2px;
  margin-top: 4px;
}

.checkbox-span::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #1d3551;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checked-block input:checked ~ .checkbox-span:after {
  display: block;
}


@media (min-width: 300px) and (max-width: 1024px) {
  .sidibar {
    margin-left: inherit;
  
  }
}
