.buttonNewCampaign {
    background-color: #f2bb13;
    color: white;
    margin-top: 15px;
}

@media (min-width: 300px) and (max-width: 1024px) {
    .no-margin-bottom {
        margin-bottom: inherit;
    }
}