.buttonNewCampaign {
    background-color: #f2bb13;
    color: white;
    height: 60px;
    border-radius: 0px!important;
    font-weight: 700;
}


@media (min-width: 300px) and (max-width: 1024px) {
    .no-margin-bottom {
        margin-bottom: inherit;
    }
    .buttonNewCampaign{
        margin-top:15px;
        width:99%!important;
    }
}


@media screen and (max-width:767px){
   
}