@import"../../../../roodeo-variables.scss";

.new-campaign {
  font-weight: bold;
  border:$border-table-second;
  background: $color-white-background;

  #select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0px 30px 0px;
    label{
      display: block!important;
      padding-left: 10px;
      color:#445770
    }
    #select p {
      font-size: 16px;
      font-weight: bold;
      #select span {
        font-size: 20px;
        font-weight: bold;
        color: $color-grey;
        margin: 20px 140px 0px;
      }
    }
  }
  .formQuestion {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 3px;
  }

  .finalQuestion {
    margin-bottom: 30px;
  }
}

.backgroundColor {
  background-color: $color-black-background;
  .cadreQuestion {
    margin-top:30px;
    position: absolute;
    width: 86%;
    margin-left: 7%;
  }
}

.fullWidth {
  width: 100%;
}

#button {
  height: 50px;
  color: #e15028;
  border:1px solid #e15028;
  border-radius: 100px;
  font-weight: 700;
  &:hover{
    background-color: #e15028;
    color: white;
  }
}

#icon {
  color: $color-gold;
  margin-right: 10px;
}

#title {
  height: 110px;
  border-bottom: $border-table-second;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}

#radio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

#radio p {
  margin-bottom: 10px;
}

.button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.example-radio-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 0px;
}

.info {
  color: $color-grey;
  margin: 0 15px 0 0px;
}

:host
  ::ng-deep
  .mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element {
  opacity: 0.5 !important;
  /*click effect color change*/
  background-color: #e15028 !important;
}

:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #e15028 !important;
  /*inner circle color change*/
}

:host
  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #e15028 !important;
  /*outer ring color change*/
}

:host ::ng-deep .mat-radio-button .mat-radio-ripple {
  height: 0px !important;
  width: 0px !important;
}

:host ::ng-deep .mat-form-field-infix {
  width: 270px !important;
}

:host ::ng-deep .mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 98%;
  border: $border-table;
  height: 60px;
  padding: 0px 10px 10px;
  margin-top: 15px;
  margin-left:5px;
  margin-right: 5px;
  border:1px solid #445770!important
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

@media (min-width: 300px) and (max-width: 1024px) {
  .cadreQuestion {
    margin-left: 2%!important;
    width: 93%!important;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .cadreQuestion{
   
  }
  #new-campaign {
    width: 100%;
    margin: 0px;
  }
  #form {
    margin: 0px 10px;
  }
  #select span {
    font-size: 20px;
    font-weight: bold;
    color: $color-grey;
    margin: 20px 140px 25px;

  
  }

}

@media screen and (min-width: 460px) and (max-width: 767px) {
  #new-campaign {
    width: 100%;
    margin: 0px;
  }
  #form {
    margin: 0px 10px;
  }
  .role-champ{
    margin-top:20px;
  }
  #select{
    margin: 0px!important;
  }
  #select span {
    font-size: 20px;
    font-weight: bold;
    color: $color-grey;
 
  }
}

@media screen and (max-width: 459px) {
  #new-campaign {
    width: 100%;
    margin: 0px;
  }
  #form {
    margin: 0px 10px;
  }
  #select span {
    font-size: 20px;
    font-weight: bold;
    color: $color-grey;
    margin: 20px 140px 25px;
  }
}
