<app-route-component></app-route-component>
<app-breadcrumb [namePage]="'Nouveau test'"></app-breadcrumb>
<div class="backgroundColor">
  <div class="form-etape">
    <form [formGroup]="ParentFormCampagne" (ngSubmit)="nouvelleCampagne(ParentFormCampagne.value)">
      <div class="form-etape" [ngSwitch]="nNumeorPage">
        <div *ngSwitchCase="1">
          <app-profile-rechercher (incrementPage)="nextPage()" [formCampagne]="ParentFormCampagne"
            (valueChange)="getTechno($event)" (valueChangeProfil)="getProfil($event)" [technoByParent]="technoFromChild"
            [profilByParent]="selectProfilFromChild">
          </app-profile-rechercher>
        </div>
        <div *ngSwitchCase="2">
          <app-NouvelleCampagnePage2Component (incrementPage)="nextPage()" (decrementPage)="previousPage()"
            [formCampagne]="ParentFormCampagne">
          </app-NouvelleCampagnePage2Component>
        </div>
        <div class="questions-container" *ngSwitchCase="3">
          <app-NouvelleCampagnePage3Component (incrementPage)="nextPage()" (decrementPage)="previousPage()"
            [formCampagne]="ParentFormCampagne">
          </app-NouvelleCampagnePage3Component>
        </div>
      </div>
    </form>
  </div>
</div>