<div id="container">
  <div class="content">
    <div id="section2">
      <div class="section-title">
        <h1 class="title">L'équipe</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut nemo, molestias earum soluta voluptate
          commodi natus, enim minima debitis quos autem omnis possimus facere nisi alias in. Fugiat, delectus animi?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut nemo, molestias earum soluta voluptate
          commodi natus, enim minima debitis quos autem omnis possimus facere nisi alias in. Fugiat, delectus
          animi?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut nemo, molestias earum soluta voluptate
          commodi natus, enim minima debitis quos autem omnis possimus facere nisi alias in. Fugiat, delectus animi?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut nemo, molestias earum soluta voluptate
          commodi natus, enim minima debitis quos autem omnis possimus facere nisi alias in. Fugiat, delectus animi?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut nemo, molestias earum soluta voluptate
          commodi natus, enim minima debitis quos autem omnis possimus facere nisi alias in. Fugiat, delectus animi?
        </p>
      </div>
    </div>

  </div>
</div>