/*nav*/
.home-interview {
  min-width: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}
.email {
  padding: 40px;
}
.nav img {
  padding-top: 40px;
  min-width: 300px;
}

/* InterviewHome */
.main{
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.home-video {
  width: 60vw;
  min-width: 800px;
  height: 70vh;
  background-color: #000;
  border-radius: 15px;
}
.options {
  text-align: center;
  max-width: 30vw;
}
.main button{
  border-radius: 30px;
  margin: 15px;
  font-weight: bold;
}
.text-color{
  color: #2ba2d1;
}
.telephone {
  display: flex;
  justify-content: center;
  color: #e34f26; 
}
svg{
  margin-right: 10px;
}



@media screen and (max-width: 992px) {

}