.rdo-badge-success {
  padding: 3px 5px;
  background-color: green;
  color: white !important;
  text-transform: initial !important;
  border-radius: $border-radius;
  display: inline-block;
  font-size: 0.8rem;
}

.rdo-badge-default {
  padding: 3px 5px;
  background-color: rgba($color: #000000, $alpha: 0.7);
  color: white;
  border-radius: $border-radius;
  display: inline-block;
  font-size: 0.8rem;
}
