.rdo-panel {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  background: white;
  padding: 30px;
  margin: 30px;
  border: $border-table;
  border-radius: $border-radius;
}

.rdo-panel-header {
  margin-bottom: 20px;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: stretch space-between;
  align-items: stretch;

  h2 {
    i {
      color: $color-orange;
    }
  }
}

.rdo-content-group {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 20px;

  & > :nth-child(1) {
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
    place-content: flex-end space-between;
    align-items: flex-end;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    border-bottom: $border-table;
  }

  & > :nth-child(2) {
    padding: 10px 5px 5px 5px;
  }
}


.rdp-content-table {
  & > tbody {
    & > tr {
      margin-bottom: 20px;
      & > :nth-child(1) {
        text-align: right;
        font-weight: bold;
        padding-right: 25px;
        color: gray;
        font-size: .9rem;
        padding-bottom: 20px;
      }
      & > :nth-child(2) {
        padding-bottom: 20px;
      }
    }
  }
}

.rpo-pdf-show {
  font-size: 1.5rem;
  cursor: pointer;
}
