@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*Colors*/
$text-color: #212529;
$color-white: white;
$color-gray:#55728C;
$color-orange:#e34e26;
$color-principal-blue:#1d3552;
$color-pricipal-blue-light:#e9f1f4;
$color-background-blue: #c1d5df;
$color-blue-light:#1f7eab;

/*Responsive*/
$smallDevice: "screen and (min-width: 200px) and (max-width: 640px)";
$deviceMaxDesktop: "screen and (max-width: 1024px)";

/*Font*/
$font-poppins:'Poppins', sans-serif;
$font-size-home: 14px;

/*Borders*/
$border-table: 1px solid #1d3552;
$border-radius: 4px;

/*Path logo*/
$logoPath: "src/assets/logo.png";


::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element{
  background-color: $color-orange!important;
}

::ng-deep .mat-checkbox-checked.mat-accent ::ng-deep .mat-checkbox-background, ::ng-deep .mat-checkbox-indeterminate.mat-accent ::ng-deep.mat-checkbox-background {
  background-color: $color-orange!important;
  // border-radius: 100px!important;
  // position: absolute!important;
  // left: 3.5px!important;
  // top: 3.5px!important;
}
::ng-deep .mat-checkbox-label{
  margin: 0px 20px;
  padding-top: 3px;
}
