// All directions
.margin-xs {
  margin: $gutter-xs;
}
.margin-sm {
  margin: $gutter-sm;
}
.margin-md {
  margin: $gutter-md;
}
.margin-lg {
  margin: $gutter-lg;
}
.margin-xl {
  margin: $gutter-xl;
}

// Left
.margin-left-xs {
  margin-left: $gutter-xs;
}
.margin-left-sm {
  margin-left: $gutter-sm;
}
.margin-left-md {
  margin-left: $gutter-md;
}
.margin-left-lg {
  margin-left: $gutter-lg;
}
.margin-left-xl {
  margin-left: $gutter-xl;
}

// Right
.margin-right-xs {
  margin-right: $gutter-xs;
}
.margin-right-sm {
  margin-right: $gutter-sm;
}
.margin-right-md {
  margin-right: $gutter-md;
}
.margin-right-lg {
  margin-right: $gutter-lg;
}
.margin-right-xl {
  margin-right: $gutter-xl;
}

// Top
.margin-top-xs {
  margin-top: $gutter-xs;
}
.margin-top-sm {
  margin-top: $gutter-sm;
}
.margin-top-md {
  margin-top: $gutter-md;
}
.margin-top-lg {
  margin-top: $gutter-lg;
}
.margin-top-xl {
  margin-top: $gutter-xl;
}

// Bottom
.margin-bottom-xs {
  margin-bottom: $gutter-xs;
}
.margin-bottom-sm {
  margin-bottom: $gutter-sm;
}
.margin-bottom-md {
  margin-bottom: $gutter-md;
}
.margin-bottom-lg {
  margin-bottom: $gutter-lg;
}
.margin-bottom-xl {
  margin-bottom: $gutter-xl;
}