@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$text-color: #212529;
$text-color-white: #ffffff;
$color-white-background:#fff;
$color-black-background:#212529;
$color-black-background-seconde:#2b3035;
$color-gold-background:#f2bb13;
$color-gray-background:#5f5c5c;
$smallDevice: "screen and (min-width: 200px) and (max-width: 640px)";
$deviceMaxDesktop: "screen and (max-width: 1024px)";
$color-pink:#f44336;
$font-family-home: "Open Sans", Open Sans;
$font-poppins:'Poppins', sans-serif;
$font-size-home: 14px;
$color-gold: #f2bb13;
$color-gold-second:#f28730;
$color-grey: #7e8082;
$color-blue:rgb(84, 114, 141);
$color-principal-blue:#1d3551;
$color-principal-blue-hover:#122740;
$color-pricipal-blue-light:#eaeff3;
$color-principal-orange:#ce5637;


$logoPath: "src/assets/fileservlet.png";
$background-color: #f9f9f9;
$border-table: 1px solid #1d3551;
$color-table:#e7e7e7;
$color-border-second:#ccc;
$border-table-second:1px solid #f0eeee;

.sous-header-one{
  background: #eaeff3;
  height: 60px;
  padding: 7px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .info-content-img-header-dashboard{
      width: 45px;
      height: 45px;
      margin-bottom: 0px;
      margin-right: 45px;
    
    img{
      width:100%;
      height: 100%;
    }
  }
  .info-title-header-dashboard{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;
    font-family: $font-poppins;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-top: 7px;
  }
}
