$text-color: #212529;
$text-color-white: #ffffff;
$smallDevice: "screen and (min-width: 200px) and (max-width: 640px)";
$deviceMaxDesktop: "screen and (max-width: 1024px)";

$font-family-home: "Open Sans", Open Sans;
$font-size-home: 14px;
$color-gold: #f2bb13;

$logoPath: "src/assets/fileservlet.png";
$background-color: #f9f9f9;
