<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" (submit)="submit()">
        <div class="card">
          <div class="card-header" i18n>Contact Information</div>
          <div class="card-body" formArrayName="contacts">
            <div class="row">
              <div
                class="col-6"
                *ngFor="let contact of contactFormGroup.controls; let i = index"
              >
                <div [formGroupName]="i" class="row">
                  <div class="form-group col-6">
                    <label i18n>Nom</label>
                    <input
                      class="form-control"
                      formControlName="name"
                      type="text"
                    />
                  </div>

                  <div class="form-group col-12">
                    <label i18n>Email*</label>
                    <input
                      class="form-control"
                      formControlName="value"
                      type="text"
                      required
                    />
                  </div>
                  <div class="form-group col-12 text-right">
                    <button
                      class="btn btn-danger"
                      type="button"
                      (click)="removeContact(i)"
                      i18n>
                      Supprimer
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="col-12">
              <button
                class="btn btn-primary m-1"
                type="button"
                (click)="addContact()"
                i18n
              >
                ajouter candidat
              </button>
              <button
                mat-raised-button
                color="primary"
                class="btn-question"
                mat-button
                [disabled]="!form.valid"
                type="submit"
                (click)="openDialog()"
                i18n
              >
                Prochaine étape : configuration d’email
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
