<section id="offers">

<div class="container">
    <h3 class="title-dashed">
      NOS FORMULES
      <span class="dashed"></span>
    </h3>

    <div class="content">

          <mat-card class="lab-item">
              <mat-card-content>
                  <mat-card-title>
                      Offre gratuite
                  </mat-card-title>
                 
                  <mat-card-subtitle>
                      Gratuit
                  </mat-card-subtitle>

                  <mat-card-content>
                  <ul>
                      <li>Tout les avantages de l'offre entreprise</li>
                      <li>Accès a un chat textuel avec le candidat</li>
                      <li>Accès a un chat audio et visuel avec le candidat</li>
                      <li>Editeur de texte en direct</li>
                    </ul>
                  </mat-card-content>
          
                  <mat-card-actions>
                      <button routerLink="" mat-raised-button color="warn" class="lab-item">S'inscrire</button>
                  </mat-card-actions>
              </mat-card-content>
          </mat-card>

          <mat-card class="lab-item">
                <mat-card-content>
                    <mat-card-title>
                        Offre 1 test
                    </mat-card-title>
                   
                    <mat-card-subtitle>
                        5€ le test
                    </mat-card-subtitle>
  
                    <mat-card-content>
                    <ul>
                        <li>Tout les avantages de l'offre entreprise</li>
                        <li>Accès a un chat textuel avec le candidat</li>
                        <li>Accès a un chat audio et visuel avec le candidat</li>
                        <li>Editeur de texte en direct</li>
                      </ul>
                    </mat-card-content>
            
                    <mat-card-actions>
                        <button routerLink="" mat-raised-button color="warn" class="lab-item">S'abonner</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>

            <mat-card class="lab-item">
                    <mat-card-content>
                        <mat-card-title>
                            Offre 20 tests
                        </mat-card-title>
                       
                        <mat-card-subtitle>
                            50€
                        </mat-card-subtitle>
      
                        <mat-card-content>
                        <ul>
                            <li>Tout les avantages de l'offre entreprise</li>
                            <li>Accès a un chat textuel avec le candidat</li>
                            <li>Accès a un chat audio et visuel avec le candidat</li>
                            <li>Editeur de texte en direct</li>
                          </ul>
                        </mat-card-content>
                
                        <mat-card-actions>
                            <button routerLink="" mat-raised-button color="warn" class="lab-item">S'abonner</button>
                        </mat-card-actions>
                    </mat-card-content>
                </mat-card>

                <mat-card class="lab-item">
                        <mat-card-content>
                            <mat-card-title>
                                Offre 100 tests
                            </mat-card-title>
                           
                            <mat-card-subtitle>
                                200€
                            </mat-card-subtitle>
          
                            <mat-card-content>
                            <ul>
                                <li>Tout les avantages de l'offre entreprise</li>
                                <li>Accès a un chat textuel avec le candidat</li>
                                <li>Accès a un chat audio et visuel avec le candidat</li>
                                <li>Editeur de texte en direct</li>
                              </ul>
                            </mat-card-content>
                    
                            <mat-card-actions>
                                <button routerLink="" mat-raised-button color="warn" class="lab-item">S'abonner</button>
                            </mat-card-actions>
                        </mat-card-content>
                    </mat-card>

          <mat-card class="lab-item">
              <mat-card-content>
                  <mat-card-title>
                      Offre entreprise
                  </mat-card-title>
                 
                  <mat-card-subtitle>
                      249€/mois
                  </mat-card-subtitle>

                  <mat-card-content>
                  <ul>
                      <li>Tout les avantages de l'offre entreprise</li>
                      <li>Accès a un chat textuel avec le candidat</li>
                      <li>Accès a un chat audio et visuel avec le candidat</li>
                      <li>Editeur de texte en direct</li>
                    </ul>
                  </mat-card-content>
          
                  <mat-card-actions>
                      <button routerLink="" mat-raised-button color="warn" class="lab-item">S'abonner</button>
                  </mat-card-actions>

              </mat-card-content>
          
     
          
          </mat-card>

          <mat-card class="lab-item">
              <mat-card-content>
                  <mat-card-title>
                      Offre entreprise + entretien personnalisés
                  </mat-card-title>
                 
                  <mat-card-subtitle>
                      549€/mois
                  </mat-card-subtitle>

                  <mat-card-content>
                  <ul>
                      <li>Tout les avantages de l'offre entreprise</li>
                      <li>Accès a un chat textuel avec le candidat</li>
                      <li>Accès a un chat audio et visuel avec le candidat</li>
                      <li>Editeur de texte en direct</li>
                    </ul>
                  </mat-card-content>
          

                  <mat-card-actions>
                      <button routerLink="" mat-raised-button color="warn" class="lab-item">S'abonner</button>
                  </mat-card-actions>

              </mat-card-content>
          
           
          
          </mat-card>

    </div>
</div>

</section>
