<section id="offers">

<div class="container">
    <h3 class="title-dashed">
      NOS FORMULES
      <span class="dashed"></span>
    </h3>

    <div class="content">
        <mat-card class="lab-item" *ngFor="let offer of listOffers" [class.highlight]="offerChoiceAmount === offer.price && subscriptionPage">
            <mat-card-content>
                <mat-card-title>{{ offer.title }}</mat-card-title>

                <div [ngSwitch]="offer.periodicity">
                    <mat-card-subtitle *ngSwitchCase="'0'">Gratuit</mat-card-subtitle>
                    <mat-card-subtitle *ngSwitchCase="'1'">{{ offer.price }}€/jour</mat-card-subtitle>
                    <mat-card-subtitle *ngSwitchCase="'2'">{{ offer.price }}€/semaine</mat-card-subtitle>
                    <mat-card-subtitle *ngSwitchCase="'3'">{{ offer.price }}€/mois</mat-card-subtitle>
                    <mat-card-subtitle *ngSwitchCase="'4'">{{ offer.price }}€/an</mat-card-subtitle>
                </div>

                <ul>
                    <li *ngFor="let description of offer.description">{{ description }}</li>
                </ul>
                <mat-card-actions>
                    <button (click)="gotToLoginOrDashboardPage(offer)" mat-raised-button color="warn" class="lab-item">S'abonner</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
</div>

</section>
