<app-route-component></app-route-component>
<app-breadcrumb [namePage]="'Facturation'"></app-breadcrumb>
<div class="billing-main-content" fxLayout="column" fxLayoutGap="30px">
  <div class="billing-section" fxLayout="column" fxLayoutGap="20px">
    <h2 class="section-title"><i class="fa fa-user-circle icon"></i> Tableau de bord</h2>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="50" class="section-content" fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <h4 class="section-title"> <i class="fa fa-map-marker icon"></i> Adresse de facturation</h4>
          <button type="button" mat-flat-button (click)="addOrEditAddress()"
            color="primary">{{ account && account.billing_address ? 'Editer' : 'Ajouter une adresse'}}</button>
        </div>
        <app-address [address]="getAddress()"></app-address>
      </div>
      <div fxFlex="50" class="section-content">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <h4 class="section-title"> <i class="fa fa-credit-card icon"></i> Carte de crédit</h4>
          <button *ngIf="card" type="button" mat-flat-button (click)="addOrEditCard()"
            color="primary">Modifier</button>
        </div>
        <div *ngIf="card" fxLayout="row" fxLayoutAlign="center" style="margin: 20px 0 20px 0;">
          <app-creditcard></app-creditcard>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="50" class="section-content">
        <h4 class="section-title"> <i class="fa fa-money icon"></i> Prochaine facture</h4>
      </div>
      <div fxFlex="50" class="section-content">
        <h4 class="section-title"> <i class="fa fa-shopping-cart icon"></i> Détails abonnement</h4>
      </div>
    </div>
  </div>
  <div class="billing-section" fxLayout="column" fxLayoutGap="15px">
    <h2 class="section-title"><i class="fa fa-clock icon"></i> Historique des factures</h2>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Montant</th>
          <th>Statut</th>
          <th>Numéro de facture</th>
          <th>Voir</th>
          <th>Télécharger</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let facture of invoices">
          <td>{{facture.date | date: 'dd/MM/yyyy'}}</td>
          <td>{{facture.montant}} €</td>
          <td>{{facture.statut}}</td>
          <td>{{facture.numero_facture}}</td>
          <td><i (click)="exportPdf()" class="far fa-eye icon icon-button"></i></td>
          <td><i (click)="downloadPdf()" class="fa fa-download icon icon-button" [ngStyle]="{'margin': 'auto'}"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
