@import "../../../../roodeo-variables.scss";
@import "../../../../roodeo-content.scss";
@import "../../../../roodeo-table.scss";
@import "../../../../roodeo-misc.scss";
@import "../../../../roodeo-form.scss";

.billing,
.billing-history {
  margin: 49px 0;

  .title-icon-detail-header {
    display: flex;
    gap: 0 15px
  }
}

.billing {
  .rdo-section-billing {
    display: flex;
    flex-wrap: wrap;
    gap: 0 50px;

    .rdo-content-left-group {
      flex: 1;
    }
  
    .rdo-content-right-group {
      flex: 1;
    }
  }
}

.billing-history {
  .rdo-panel-header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
  }
  
  table {
    width: 100%;

    thead, tbody {
      tr {
        th {
          padding: 0 15px 0 0;
          line-height: 15px;
        }
      }
    }
  }
}

.scrolling-text {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  * {
    flex: 0 0 auto;
  }
}

@media screen and (max-width: 1200px) {
  .rdo-section-billing {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}