@import "../../../../roodeo-variables.scss";

#global {
    height: 100%;

    #content {
        background: #f9f9f9;
        padding: 40px;
        display: flex;
        flex-wrap: wrap;
        margin: 0px 5%;
        min-height: 90vh;
        height: 100%;
        .icon {
            color: $color-gold;
        
            .icoheight {
                font-size: 20px;
            }
        }
    }
}

#section1 {
    width: 100%;
    min-width: 200px;
    margin: 15px 0px 0 0;
    background: white;
    padding: 30px;
    border: $border-table;

    .title {
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border: $border-table;
        box-shadow: none;
    
        th, td, tr {
            border: $border-table;
            text-align: left !important;
            font-size: 18px !important;
        }
        
        th.mat-sort-header-sorted {
            color: black;
        }
    }
}

#section2 {
    width: 100%;
    margin: 15px 0 0 0px;
    background: white;
    padding: 30px;
    border: $border-table;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    #section2-title {
        display: flex;
        justify-content: space-between;
    }
    
    #section2-title a {
        font-size: 16px;
        color: $color-gold;
        margin-top: 10px;
        text-decoration: none;
    }
    
    #section2-top {
        display: flex;
        width: 100%;
        justify-content: space-around;
        border: $border-table;
        margin: 20px 0px;
        padding: 15px;

        .separation {
            font-size: 30px;
            color: #f7f7f7;
        }

        .centrage {
            line-height: 50px;
        }
    }

    #section2-bottom {
        font-size: 15px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        border: $border-table;
        margin: 20px 0px;
        padding: 15px;
    
        #section2-bottom p {
            margin-right: 30px;
        }
        
        .centrage-bottom {
            line-height: 40px;
        }
    
        .bouton-modifier {
            background: $color-gold;
            margin-top: 5px;
            color: white;
            max-height: 35px;
            min-width: 100px;
            border-radius: 0px !important;
        }
    }
}


:host ::ng-deep td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0 15px 0 15px !important;
}

:host ::ng-deep .mat-sort-header-button {
    color: black !important;
    font-weight: bold;
    font-size: 19px !important;
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
    #global {
        display: block;
    }
    #content {
        margin-left: 0%;
    }
}

@media screen and (min-width:768px) and (max-width:1111px) {}

@media screen and (min-width:460px) and (max-width:711px) {
    #content {
        padding: 20px;
    }
    table {
        width: 100%;
        border: $background-color;
        box-shadow: none;
    }
    th, td, tr {
        border: $background-color;
        text-align: left !important;
        font-size: 14px !important;
    }
    th.mat-sort-header-sorted {
        color: black;
    }
    .last-col {
        margin-left: 80%;
    }
    .display {
        display: none;
    }
    #section2-top {
        display: flex;
        font-size: 12px;
        flex-wrap: wrap;
        min-width: 300px;
        width: 100%;
        justify-content: space-around;
        border: $border-table;
        margin: 20px 0px;
        padding: 15px;
    }
    #section2-bottom {
        width: 100%;
        display: flex;
        font-size: 12px;
        flex-wrap: wrap;
        min-width: 300px;
        justify-content: space-around;
        border: $border-table;
        margin: 20px 0px;
        padding: 15px;
    }
}

@media screen and (max-width:459px) {
    #content {
        padding: 20px;
    }
    #section1 {
        padding: 15px;
    }
    table {
        width: 100%;
        border: $border-table;
        box-shadow: none;
    }
    th, td, tr {
        border: $border-table;
        text-align: left !important;
        font-size: 14px !important;
    }
    th.mat-sort-header-sorted {
        color: black;
    }
    .last-col {
        margin-left: 80%;
    }
    .display {
        display: none;
    }
    .display-phone {
        display: none;
    }
    #section2-title {
        display: block;
    }
    #section2-top {
        display: flex;
        font-size: 12px;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        border: $border-table;
        margin: 20px 0px 20px;
        padding: 15px;
    }
    #section2-bottom {
        width: 100%;
        display: flex;
        font-size: 12px;
        flex-wrap: wrap;
        justify-content: space-around;
        border: $border-table;
        margin: 20px 0px 0;
        padding: 15px;
    }
    .centrage-bottom {
        margin: 0px;
    }
}