<div id="global">

    <app-route-component></app-route-component>
    <app-breadcrumb [namePage]="'Facturation'"></app-breadcrumb>


<div id="content">

    <div id="section1">
      <h2 class="title"><i class="far fa-clock icon"></i> Historique des factures</h2>




      <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Montant</th>
                <th>Statut</th>
                <th>Numéro de facture</th>
                <th>Voir</th>
                <th>Télécharger</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let facture of  facture">
                <td>{{facture.date}}</td>
                <td>{{facture.montant}} €</td>
                <td>{{facture.statut}}</td>
                <td>{{facture.numero_facture}}</td>
                <td><i (click)="exportPdf()" class="far fa-eye icon"></i></td>
                <td><i (click)="downloadPdf()" class="fa fa-download icon"
                [ngStyle]="{'margin': 'auto'}"></i></td>
            </tr>
        </tbody>
    </table>
    </div>

    <div id="section2">
      <div id="section2-title">
      <h2> <i class="far fa-credit-card icon "></i> Détails de l'abonnement</h2>
      <a href="">Se désabonner</a>
      </div>

      <div id="section2-top">
          <i class="far fa-calendar icon icoheight centrage"></i>
          <p>Prochaine <br> facturation</p>
          <p class="centrage">19/05/2019</p>
          <p class="separation display-phone"> | </p>
          <i class="fas fa-coins icon icoheight centrage"></i>
          <p class="centrage">Montant</p>
          <p class="centrage">418,80 €</p>
      </div>

      <h2> <i class="far fa-credit-card icon"></i> Carte de crédit</h2>
      <div id="section2-bottom">

          <p class="centrage-bottom">Numéro de carte : MasterCard ***-9376</p>
          <p>Expire le : <br> 01/2021</p>
          <button  mat-flat-button class="bouton-modifier" >Modifier</button>
      </div>
    </div>
</div>

</div>
