<section id="secondSection">
  <div id="titre-second-section">
    <h1>Une plate-forme complète</h1>
    <p>pour les recruteurs tech</p>
  </div>
  <div class="Second-text-image">
    <div class="Second-left">
      <img
        src="../../assets/Coding-game-img/Page-accueil/sourcing-developpers-o3wc4ewhpjdpwp0kplef786pt4keoghffq3jiwf8xe.png"
        alt="sourcing-developpers-o3wc4ewhpjdpwp0kplef786pt4keoghffq3jiwf8xe"
      />
    </div>
    <div class="Second-right">
      <div class="all-items">
        <h1 class="space">Sourcez</h1>
        <div class="separator space"></div>
        <p class="space">
          Mettez en valeur votre marque employeur auprès d’une communauté
          internationale de [1,403,852] passionnés de code et entrez en contact
          avec des développeurs ouverts aux nouvelles opportunités.
        </p>
        <button mat-raised-button class="custom-buttom">
          Pré-inscription à la bêta
        </button>
      </div>
    </div>
    <div class="Second-left">
      <div class="all-items">
        <h1 class="space">Sourcez</h1>
        <div class="separator space"></div>
        <p class="space">
          Mettez en valeur votre marque employeur auprès d’une communauté
          internationale de [1,403,852] passionnés de code et entrez en contact
          avec des développeurs ouverts aux nouvelles opportunités.
        </p>
        <button mat-raised-button class="custom-buttom">
          Pré-inscription à la bêta
        </button>
      </div>
    </div>
    <div class="Second-right">
      <img
        src="../../assets/Coding-game-img/Page-accueil/screening-codingame-1-o3wc4ewhpjdpwp0kplef786pt4keoghffq3jiwf8xe.png"
        alt="screening-codingame-1-o3wc4ewhpjdpwp0kplef786pt4keoghffq3jiwf8xe"
      />
    </div>
    <div class="Second-left">
      <img
        src="../../assets/Coding-game-img/Page-accueil/team-building-developer-codingame-o3wc4ewhpjdpwp0kplef786pt4keoghffq3jiwf8xe.png"
        alt="team-building-developer-codingame-o3wc4ewhpjdpwp0kplef786pt4keoghffq3jiwf8xe"
      />
    </div>
    <div class="Second-right">
      <div class="all-items">
        <h1 class="space">Sourcez</h1>
        <div class="separator space"></div>
        <p class="space">
          Mettez en valeur votre marque employeur auprès d’une communauté
          internationale de [1,403,852] passionnés de code et entrez en contact
          avec des développeurs ouverts aux nouvelles opportunités.
        </p>
        <button mat-raised-button class="custom-buttom">
          Pré-inscription à la bêta
        </button>
      </div>
    </div>
  </div>
</section>
