<div class="demo-border">
  <drag-scroll
    class="demo-one"
    drag-scroll-y-disabled="true"
    scrollbar-hidden="true"
  >
    <img
      drag-scroll-item
      src="../../assets/Coding-game-img/Page-accueil/marques/EA.png"
    />
    <img
      drag-scroll-item
      src="../../assets/Coding-game-img/Page-accueil/marques/SG.PNG"
    />
    <img
      drag-scroll-item
      src="../../assets/Coding-game-img/Page-accueil/marques/EA.png"
    />
    <img
      drag-scroll-item
      src="../../assets/Coding-game-img/Page-accueil/marques/SG.PNG"
    />
    <img
      drag-scroll-item
      src="../../assets/Coding-game-img/Page-accueil/marques/EA.png"
    />
    <img
      drag-scroll-item
      src="../../assets/Coding-game-img/Page-accueil/marques/SG.PNG"
    />
    <img
      drag-scroll-item
      src="../../assets/Coding-game-img/Page-accueil/marques/EA.png"
    />
    <img
      drag-scroll-item
      src="../../assets/Coding-game-img/Page-accueil/marques/SG.PNG"
    />
    <img
      drag-scroll-item
      src="../../assets/Coding-game-img/Page-accueil/marques/EA.png"
    />
    <img
      drag-scroll-item
      src="../../assets/Coding-game-img/Page-accueil/marques/SG.PNG"
    />
    <img
      drag-scroll-item
      src="../../assets/Coding-game-img/Page-accueil/marques/EA.png"
    />
    <img
      drag-scroll-item
      src="../../assets/Coding-game-img/Page-accueil/marques/SG.PNG"
    />
  </drag-scroll>
</div>
