@import"../../../../roodeo-variables.scss";
.demo-one {
  height: 130px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}

.demo-one img {

  padding-right: 100px;
}

.demo-border {
  border-top: 1px solid $color-blue;
  border-bottom: 1px solid $color-blue;
  box-shadow: 0 4px 10px -2px #00000080;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .demo-one {
    padding-top: 11%;
    padding-left: inherit;
    padding-right: inherit;
  }
  .demo-one img {
    padding-right: 80px;
  }
}

@media (min-width: 767px)and (max-width: 1024px) {
  .demo-one {
    padding-top: 5%
  }
}