<div #header id="navbar" (scroll)="onWindowScroll()" [className]="shouldShow ? 'remove-index' : 'add-index'">
  <mat-toolbar color="primary">
    <img src="../../assets/logo.png" alt="Logo" />

    <mat-toolbar-row class="super">
      <!--button
        mat-icon-button
        (click)="sidenav.toggle()"
        (click)="showOrHideManually()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon class="size-nav">menu</mat-icon>
      </button-->

      <span class="menu-spacer"></span>
      <div id="all-list-menu" fxShow="true" fxHide.lt-md>
        <a i18n class="link-menu" href="#" [ngx-scroll-to]="'test-dev'">
          Testez les développeurs
        </a>
        <a i18n class="link-menu" href="#" [ngx-scroll-to]="'profilSearch'">
          Profils recherchés
        </a>
        <a i18n class="link-menu" href="#" [ngx-scroll-to]="'techno'">
          Technologies
        </a>
        <a i18n class="link-menu" href="#" [ngx-scroll-to]="'fonction'">Fonctionnalités</a>
        <a i18n class="link-menu" href="#" [ngx-scroll-to]="'offers'">Prix</a>

        <!--a (click)="logout()">Se déconnecter</a-->
        <a i18n href="#" mat-button>Connexion</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container (click)="showOrHideManually()" fxFlexFill class="fixe-nav">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a i18n href="#" mat-list-item>Évaluez et testez les développeurs</a>
        <a i18n href="#" mat-list-item>Prix</a>
        <a i18n href="#" mat-list-item>Connexion</a>
        <!--a (click)="logout()">Se déconnecter</a-->
        <a i18n href="#" mat-button>30 jours d'evaluation gratuits</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
