<div #header id="navbar" (scroll)="onWindowScroll()" [className]="shouldShow ? 'remove-index' : 'add-index'">
  <mat-toolbar color="primary">
    <img [routerLink]="[ '/home']" id="logo" src="../../assets/logo_ROODEO.svg" alt="Logo" />

    <mat-toolbar-row class="super">
      <!--button
        mat-icon-button
        (click)="sidenav.toggle()"
        (click)="showOrHideManually()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon class="size-nav">menu</mat-icon>
      </button-->

      <span class="menu-spacer"></span>
      <div id="all-list-menu" fxShow="true" fxHide.lt-md>
        
        <a class="link-menu" [routerLink]="[ '/home']" href="#" [ngx-scroll-to-offset]='-100' [ngx-scroll-to]="'test-dev'" i18n>
          Test developers
        </a>
        <a class="link-menu" [routerLink]="[ '/home']" href="#" [ngx-scroll-to-offset]='-100' [ngx-scroll-to]="'profilSearch'" i18n>
          Profils recherchés
        </a>
        <a class="link-menu" [routerLink]="[ '/home']" href="#" [ngx-scroll-to-offset]='-100' [ngx-scroll-to]="'fonctionnalites'" i18n>Fonctionnalités</a>
        
        <a class="link-menu" [routerLink]="[ '/home']" href="#" [ngx-scroll-to-offset]='-30' [ngx-scroll-to]="'techno'" i18n>
          Technologies
        </a>
        <a class="link-menu" [routerLink]="[ '/home']" href="#" [ngx-scroll-to-offset]='-100' [ngx-scroll-to]="'offers'" i18n>Prix</a>
        <!--a (click)="logout()">Se déconnecter</a-->
        <a (click)="gotToLoginPage()" href="" class="link-menu mat-button" i18n>Connexion</a>

        <div class="align_flags">
            <!-- <button mat-button [matMenuTriggerFor]="menu">  -->
              <div class="flags_menu link-menu" [matMenuTriggerFor]="menu">
              <img  class="flags_img" src="{{currentLanguage}}" alt="Français">
              <i class="fas fa-caret-down arrow"></i>
            </div>
            <!-- </button> -->
            <mat-menu #menu="matMenu">
              <div *ngFor="let language of otherLanguage">
                <button (click)="setCurrentLanguage(language.img)" *ngIf='language.img !== currentLanguage' mat-menu-item><img class="flags_img" src="{{language.img}}" alt=""></button>
              </div>
            </mat-menu>
      </div>
      
      
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container (click)="showOrHideManually()" fxFlexFill class="fixe-nav">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="#" mat-list-item i18n>Évaluez et testez les développeurs</a>
        <a href="#" mat-list-item i18n>Prix</a>
        <a href="#" mat-list-item i18n>Connexion</a>
        <!--a (click)="logout()">Se déconnecter</a-->
        <a href="#" mat-button i18n>30 jours d'evaluation gratuits</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>