@import '../../../../roodeo-variables.scss';

.remove-index {
  z-index: 0;
  height: 0vh;
}

.add-index {
  z-index: 1000;
  height: 100vh;
}


#navbar {
  position: fixed;
  width: 100%;
  z-index: 3;
 
}

.mat-toolbar{

  box-shadow: 0 4px 10px -2px #00000080;
  border-bottom: 1px solid $color-blue;
}

.style-nav-scroll {
  background: -webkit-linear-gradient(top, #333333, #00000080)!important;
  background: -moz-linear-gradient(top, #333333, #00000080);
  background: linear-gradient(to bottom, #333333, #00000080);
  transition: 3s;
  
}

.fixe-nav {
  visibility: hidden;
}

.menu-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  height: 80px;
  //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: #fff;
}

#logo img {
  width: 160px;
  margin: -10px 0 0 20px;

}

.link-menu{
  color: $text-color;
  padding: 20px;
}

a {
  color: $text-color;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  

}

a:hover {
  color: #54728d;
}

.mat-button {
  background: white;
  font-weight: normal;
  border-radius: 0px;
  &:hover{
    color:white!important;
  }
}

.align_flags{
  display: inline-block;
}

.flags_menu{
  cursor: pointer;
}

.arrow{
  color: $text-color;
  margin: auto;
}
.flags{
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flags_img{
  margin: 2px;
  border: 1px solid black;
  border-radius: 50%;
}

.flags_img img{
  width: 5px;
  height: 5px;
  max-width: 5px;
  max-height: 5px;
}


.style-nav-scroll,.add-index{

  background-color:transparent;
  transition: none;

}

 .mat-toolbar
{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-bottom: 12px;
  align-items: center;
  padding: 20px;
}

.mat-toolbar-row
{
  /* width: 50px; */
  padding: 0px;
  /* margin-top: 20px; */
}

.mat-icon-button {
  height: 50px;
  /* margin-top: 20px; */
  width: auto;
  
}

.size-nav {
  font-size: 50px;
  padding-right: 50px;
}

.mat-button:hover {
  color: $text-color;
  background: #54728d;
}

button.mat-menu-item {
  width: 100%;
  outline: 0;
  margin: auto;
  text-align: center;
}



@media screen and (max-width: 960px) {
 
.mat-toolbar-row
{
  width: 50px;
  padding: 0px;
  margin-top: 20px;
}

}

