<div id="nav">
  <div class="wrapper">
    <a [routerLink]="['candidats']" routerLinkActive="active-link"><i class="fas fa-user-friends icon"></i>
      Candidats</a>
    <a [routerLink]="['questions']" routerLinkActive="active-link"><i class="far fa-question-circle icon"></i>
      Questions</a>
    <a [routerLink]="['settings']" routerLinkActive="active-link"><i class="fas fa-cog icon"></i> Paramètres</a>
  </div>
</div>
<div class="edit-content">
  <!--app-breadcrumb [namePage]="'Candidats'"></app-breadcrumb-->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>