#nav{
display: flex;
width: 100%;
height: 42px;
background: #20242a;
padding-left: 18%;
color: white;
align-items: center;    
}

a{
    color: white;
    display: block;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    margin-left: 15px;
    
}
a:hover{
    border-bottom: 3px solid #f2bb31;
}
.active-link{
    border-bottom: 3px solid #f2bb31;
}


.icon{
    color: #f2bb31;
}

#router{
    padding-left: 18%;
}