<div *ngIf="mode === 'show'">
  <address *ngIf="address">
    {{ address?.line1 }}<br />
    {{ address?.line2 }}<br />
    {{ address?.postal_code }}, {{ address?.city }} {{ address?.state }}<br />
    {{ address?.country }}
  </address>
</div>
<div *ngIf="mode === 'edit'">
  <h1 mat-dialog-title i18n><mat-icon>room</mat-icon> Address</h1>
  <div mat-dialog-content>
    <form #adForm="ngForm" [formGroup]="addressForm" (ngSubmit)="onSubmit(addressForm.value)">
      <div class="roodeo-form-unit-row">
        <div class="roodeo-form-unit" fxFlex="100">
          <mat-form-field
            class="item"
            [color]="'accent'"
            appearance="outline"
            [floatLabel]="true"
          >
            <mat-label i18n>Line 1</mat-label>
            <input
              formControlName="line1"
              name="line1"
              id="line1"
              matInput
              placeholder="Line 1"
              type="text"
            />
            <mat-error
              *ngIf="
                addressForm.controls.line1.invalid &&
                (addressForm.controls.line1.dirty ||
                  addressForm.controls.line1.touched)
              " i18n
              >Line required</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="roodeo-form-unit-row">
        <div class="roodeo-form-unit" fxFlex="100">
          <mat-form-field
            class="item"
            [color]="'accent'"
            appearance="outline"
            [floatLabel]="true"
          >
            <mat-label i18n>Line 2</mat-label>
            <input
              formControlName="line2"
              name="line2"
              id="line2"
              matInput
              placeholder="Line 2"
              type="text"
            />
            <mat-error
              *ngIf="
                addressForm.controls.line2.invalid &&
                (addressForm.controls.line2.dirty ||
                  addressForm.controls.line2.touched)
              " i18n
              >Line required</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="roodeo-form-unit-row">
        <div class="roodeo-form-unit" fxFlex="30">
          <mat-form-field
            class="item"
            [color]="'accent'"
            appearance="outline"
            [floatLabel]="true"
          >
            <mat-label i18n>Zip code</mat-label>
            <input
              formControlName="postal_code"
              name="postal_code"
              id="postal_code"
              matInput
              placeholder="Postal code"
              type="text"
            />
            <mat-error
              *ngIf="
                addressForm.controls.postal_code.invalid &&
                (addressForm.controls.postal_code.dirty ||
                  addressForm.controls.postal_code.touched)
              " i18n
              >Zip code required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="roodeo-form-unit" fxFlex="70">
          <mat-form-field
            class="item"
            [color]="'accent'"
            appearance="outline"
            [floatLabel]="true"
          >
            <mat-label i18n>Town</mat-label>
            <input
              formControlName="city"
              name="city"
              id="city"
              matInput
              placeholder="Town"
              type="text"
            />
            <mat-error
              *ngIf="
                addressForm.controls.city.invalid &&
                (addressForm.controls.city.dirty ||
                  addressForm.controls.city.touched)
              " i18n
              >Town required</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="roodeo-form-unit-row">
        <div class="roodeo-form-unit">
          <mat-form-field
            class="item"
            [color]="'accent'"
            appearance="outline"
            [floatLabel]="true"
          >
            <mat-label i18n>Province</mat-label>
            <input
              formControlName="state"
              name="state"
              id="state"
              matInput
              placeholder="Town"
              type="text"
            />
          </mat-form-field>
        </div>
        <div class="roodeo-form-unit">
          <mat-form-field
            class="item"
            [color]="'accent'"
            appearance="outline"
            [floatLabel]="true"
          >
            <mat-label i18n>Country</mat-label>
            <input
              formControlName="country"
              name="country"
              id="country"
              matInput
              placeholder="Town"
              type="text"
            />
            <mat-error
              *ngIf="
                addressForm.controls.country.invalid &&
                (addressForm.controls.country.dirty ||
                  addressForm.controls.country.touched)
              " i18n
              >Country required</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="roodeo-form-buttons">
        <app-base-button
          iconName="clear"
          iconPosition="left"
          color="#f44336"
          (clickEvent)="onCloseModal()"
          >Cancel</app-base-button
        >
        <app-base-button
          iconName="done"
          [disabled]="addressForm.invalid"
          type="submit"
          (clickEvent)="send()"
          >Submit</app-base-button
        >
      </div>
    </form>
  </div>
</div>
