@import"../../../../roodeo-variables.scss";


  .close-invite-dialog{
    float: right;
    color: mat-color($roodeo-app-warn);
    margin-top: -25px;
    cursor: pointer;
    margin-right: -15px;
  
    span{
      color: mat-color($roodeo-app-warn);
      font-size: 20px;
    }
  }
  

  .content-modal-form {
    padding: 24px;
    
  }






