@import"../../../../roodeo-variables.scss";


  .close-invite-dialog{
    color: mat-color($roodeo-app-warn);
    cursor: pointer;
    position: fixed;
    top: 3rem;
    right: 2.5rem;
    @media only screen and (min-width: 700px) {
        right: 3.5rem;
    }
    @media only screen and (min-width: 1000px) {
        right: 4.5rem;
    }
    @media only screen and (min-width: 1300px) {
        top: 3.5rem;
        right: 5.5rem;
    }
  }

  
  .content-modal-form {
    padding: 24px;
  }






