<div *ngIf="!booleanCampagnFinishLoading" class="loading">
  <span class="fa fa-spinner fa-pulse"></span>
</div>
<div *ngIf="booleanCampagnFinishLoading" class="container-edit-question">
  <div id="content">
    <div class="block-container left">
      <div class="bar">
        <figure class="bar-content-img">
          <img src="../assets/Coding-game-img/SVG-menu-Dashboard/mes-tests.svg">
        </figure>
        <span class="bar-text">Questions disponibles</span>
      </div>
      <!-- 
            <div *ngIf="datas && datas.length > 0" class="loading">
              <span class="fa fa-spinner fa-pulse"></span>
      </div> -->

      <!--div class="option-question-help">
        <div id="div-search" >
          <input type="text" class="search-input" placeholder="Rechercher" name="search" [(ngModel)]="searchText" />
          <figure class="icon-search">
            <img src="../assets/Coding-game-img/SVG-menu-Dashboard/loupe.svg">
          </figure>
        </div>
        <span class="search-advanced" href="" (click)="openSearchAdvenced()"> Recherche avancée
          <i class="fas fa-chevron-right icon-arrow-btn" [class.chevron-bottom]="boelanIsSearchAdvenced"></i>
        </span>

        <button mat-flat-button class="trie-cat" [matMenuTriggerFor]="appMenu">
          Trier par
          <i class="fas fa-chevron-right icon-arrow-btn"></i>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Help</button>
          </mat-menu>
        </button>

      </div-->

      <div *ngIf="boelanIsSearchAdvenced" class="search-advanced-block">
        <!-- <mat-form-field>
          <mat-label>TECHNOLOGIE</mat-label>
          <mat-select [formControl]="toppings" (selectionChange)=filtreTechno($event) multiple>
            <mat-select-trigger>
              {{toppings.value ? toppings.value[0] : ''}}
              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let techno of yourCampaign[0].technologies" [value]="techno.name">
              {{techno.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <mat-form-field>
          <mat-label>DIFFICULTÉ </mat-label>
          <mat-select [formControl]="toppingsDifficulty" multiple>
            <mat-select-trigger>
              {{toppingsDifficulty.value ? toppingsDifficulty.value[0] : ''}}
              <span *ngIf="toppingsDifficulty.value?.length > 1" class="example-additional-selection">
                ,{{toppingsDifficulty.value[1]}}{{toppingsDifficulty.value.length === 2 ? '' : ','}}{{toppingsDifficulty.value[2]}}
                <!-- {{toppingsDifficulty.value?.length === 2 ? 'other' : 'others'}}) -->
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let difficul of difficulty" [value]="difficul">
              {{difficul}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div id="cdkDropList" cdkDropList #todoList="cdkDropList"  [cdkDropListData]="datas" [cdkDropListConnectedTo]="[doneList]"
        class="liste-question" (cdkDropListDropped)="drop($event)">
        
          <div (cdkDragStarted)="dragStart($event)" (cdkDragEnded)="dragEnd($event)" class="ligne-question" *ngFor="let item of datas | filter: searchText" cdkDrag>

          
              <div [ngClass]="{'info-hover-left': disablehover === false, 'disable': disablehover === true }" class="">
                <div class="info-hover-header"><h2>{{item[name_i18n]}}</h2></div>
                <div class="info-hover-content">
                  <p>Points : <span>{{item.points}}</span></p>
                  <p>Technologie : <span>{{item.technologies.name}}</span></p>
                  <p>Compétence évaluée : <span [innerHtml]>{{item[theme_i18n]}}</span></p>
                  <p>Enoncé:</p>
                </div>
                <div class="info-hover-enonce">
                  <p [innerHtml]>{{item[name_i18n]}}</p>

                  <p>Liste des réponses proposées :</p>
                  <p>{{item[content_i18n]}}</p>

                  <p>Réponse attendue :</p>
                  <p>{{item[answer_value_i18n]}}</p>
                </div>
              </div>

            <div (click)="openDialogTest()" class="ligne-plus"><p class="ligne-plus-text"><i class="fas fa-play"></i></p></div>
            
            <div class="ligne-techno" >
            <p class="ligne-techno-text">{{item.technologies.name}}</p>
            </div>

            <div class="ligne-nom" matTooltip="{{item.name}}" >
              <p class="ligne-nom-text">{{item[name_i18n]}}</p>
            </div>

            <div class="ligne-note" *ngIf="item.level === 'expert'" matTooltip="Difficulté Expert">
            
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-inclue">
                <span></span>
              </div>
            </div>

            <div class="ligne-note" *ngIf="item.level === 'moyen'" matTooltip="Difficulté Moyen">
            
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-non-inclue">
                <span></span>
              </div>
            </div>

            <div class="ligne-note" *ngIf="item.level === 'facile'" matTooltip="Difficulté Facile">
            
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-non-inclue">
                <span></span>
              </div>
              <div class="archive archive-non-inclue">
                <span></span>
              </div>
            </div>

            <div class="ligne-points"><p  class="ligne-points-text">{{item.points}} points</p></div>

            <div class="ligne-type">
              <i matTooltip="Question à choix multiple" *ngIf='item.type === "one" || item.type === "multiple"'
                class="fas fa-list-ul ligne-icon"></i>
              <i matTooltip="Question texte libre" *ngIf='item.type === "free"' class="fas fa-paragraph ligne-icon"></i>
              <i matTooltip="Question algorithmique" *ngIf='item.type === "algo"' class="fas fa-code ligne-icon"></i>
            </div>

            <div class="ligne-temps" matTooltip="Durée(min:sec)"><p class="ligne-temps-text">{{ fmtMSS(item.time) }}</p></div>

            <div (click)='addquestion(item)' class="ligne-plus"><p class="ligne-plus-text">+</p></div>

          </div>

      </div>
    </div>

    <div class="block-container right">
      <div class="bar">
        <figure class="bar-content-img">
          <img src="../assets/Coding-game-img/SVG-menu-Dashboard/mes-tests.svg">
        </figure>
        <span class="bar-text">Votre Campagne</span>
        <button (click)="openDialogTest()" mat-flat-button class="trie-cat preview-btn">
          Prévisualiser
          <i class="fas fa-chevron-right icon-arrow-btn"></i>
        </button>
      </div>
      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="allQuestionLevel"
        [cdkDropListConnectedTo]="[todoList]" class="liste-question" (cdkDropListDropped)="drop($event)" #droplist>
        <p id="drop-text">Glissez/déposez une question ici</p>

          <div class="ligne-question" (cdkDragEnded)="dragEnd($event)" (cdkDragStarted)="dragStart($event)" *ngFor="let item of allQuestionLevel" cdkDrag>

            <div [ngClass]="{'info-hover-right': disablehover === false, 'disable': disablehover === true }" class="">
              <div class="info-hover-header"><h2>{{item[name_i18n]}}</h2></div>
              <div class="info-hover-content">
                <p>Points : <span>{{item.points}}</span></p>
                <p>Technologie : <span>{{item.technologies.name}}</span></p>
                <p>Compétence évaluée : <span>{{item[theme_i18n]}}</span></p>
                <p>Enoncé:</p>
              </div>
              <div class="info-hover-enonce">
                <p>{{item[name_i18n]}}</p>

                <p>Liste des réponses proposées :</p>
                <p>{{item.content}}</p>

                <p>Réponse attendue :</p>
                <p>{{item[answer_value_i18n]}}</p>
              </div>
            </div>


            <div class="ligne-plus"><p class="ligne-plus-text"><i class="fas fa-play"></i></p></div>
            
            <div class="ligne-techno" >
            <p class="ligne-techno-text">{{item.technologies.name}}</p>
            </div>

            <div class="ligne-nom" matTooltip="{{item[name_i18n]}}" >
              <p class="ligne-nom-text">{{item[name_i18n]}}</p>
            </div>

            <div class="ligne-note" *ngIf="item.level === 'expert'" matTooltip="Difficulté Expert">
            
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-inclue">
                <span></span>
              </div>
            </div>

            <div class="ligne-note" *ngIf="item.level === 'moyen'" matTooltip="Difficulté Moyen">
            
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-non-inclue">
                <span></span>
              </div>
            </div>

            <div class="ligne-note" *ngIf="item.level === 'facile'" matTooltip="Difficulté Facile">
            
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-non-inclue">
                <span></span>
              </div>
              <div class="archive archive-non-inclue">
                <span></span>
              </div>
            </div>

            <div class="ligne-points"><p  class="ligne-points-text">{{item.points}} points</p></div>

            <div class="ligne-type">
              <i matTooltip="Question à choix multiple" *ngIf='item.type === "one" || item.type === "multiple"'
                class="fas fa-list-ul ligne-icon"></i>
              <i matTooltip="Question texte libre" *ngIf='item.type === "free"' class="fas fa-paragraph ligne-icon"></i>
              <i matTooltip="Question algorithmique" *ngIf='item.type === "algo"' class="fas fa-code ligne-icon"></i>
            </div>

            <div class="ligne-temps" matTooltip="Durée(min:sec)"><p class="ligne-temps-text">{{ fmtMSS(item.time) }}</p></div>

          </div>
        </div>
      </div>
    </div>
  </div>