@import"../../../../roodeo-variables.scss";

@import"../nouvelle-campagne/nouvelle-campagne.component.scss";


::ng-deep app-edit-question-component{
    height: 100%;
}

.loader-container{
    background: #fff;
}

.dialog-test{
    width: 100%;
    max-width: 90vw !important;
}

#content {
    width: 100%;
    height: 95%;
    padding-bottom: 20px;
    display: flex;
    position: relative;
}

.custom-buttom,.mat-flat-button {
    height: 100%;
    line-height: 0px;
    background: $color-principal-blue!important;
    border-radius: 0px !important;
    font-size: $font-size-home !important;
    contain: content;
    padding: 15px 40px !important;
    color: $color-white !important;
    height: 50px;   
    outline: none;
}



.color-primary-dark{
    background: mat-color($roodeo-app-primary, 800);
}

.bar {
    width: 100%;
    background: #eaeff3;
    height: 55px;
    padding: 5px 15px 5px 12px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid $color-principal-blue;

    .mat-icon.static{
        font-size: 40px;
        margin-right: 30px;
        line-height: 40px;
        color: mat-color($roodeo-app-accent, 800);
        margin-top: -11px;
    }

    .bar-content-img{
        width: 36px;
        height: 36px;
        margin-bottom: 0px;
        margin-right: 20px;
    }
    .bar-text{
        color: $color-principal-blue;
        font-size: 16px;
        margin-bottom: 0;
        padding-top: 7px;
        flex: 11;
        font-family: $font-poppins;
    }
}

.preview-btn{
    position: absolute;
    right: 16px;
    background-color: $color-principal-blue!important;
    letter-spacing: 1px;
    
}



/* DRAG AND DROP */

.block-container {
    &.left{
        margin-right: 10px;
    }
    &.right{
        margin-left: 10px;
    }
    display: flex;
    width: 50%;
    max-width: 100%;
    margin: 15px 0px 0px 0px;

    vertical-align: top;
    border: $border-table;
    border-radius: $border-radius;
    overflow: hidden;
    flex-direction: column;
    flex: 1;
    box-shadow: 3px 4px 8px -2px rgba(0, 0, 0, 0.4), -3px -4px 8px -2px rgba(124, 151, 166, 0.69);
}

.liste-question {
    // padding-bottom: 100%;
    flex: 1 1 0px;
    // height: 300px;
    background: $color-white!important;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #7f8183 #e3e3e3;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    height: 100%;
    
}
.liste-question::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.liste-question::-webkit-scrollbar-thumb {
    background-color: #7f8183;
 }

 .liste-question::-webkit-scrollbar-thumb:hover{
     background-color: #67686a;
 }

:host ::ng-deep .example-box {
    padding: 0px 0px;
    padding-right: 0px;
    height: 45px;
    transition: .5s;
    border-bottom: 1px dashed $color-principal-blue;
    display: flex;
    justify-content: space-between;
}


.disable{
    display: none;
}

.ligne-question{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    width: 100%; 
    height: 45px; 
    font-size: 14px; 
    border-bottom: 1px dashed $color-principal-blue;
    cursor: move;
    //transition: .5s all;

    .info-hover-left{
        right: 15px;
    }

    .info-hover-right{
        left: 15px;
    }


    .info-hover-right, .info-hover-left {
        display: none;
        &.machin{
            
        }
        z-index: 2;
        position: absolute;
        border: 1px solid $color-principal-blue;
        border-radius: $border-radius;
        top: 10px;
        height: 93.5%;
        width: 48%;
        background: #eaeff3;
        

        .info-hover-header{
            color: $primary-text;
            width: 100%;
            height: 50px;
            background: #eaeff3;
            border-bottom: 1px solid $color-principal-blue;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;

            h2{
                padding: 15px 10px 10px;
                text-align: center;
                overflow-x: hidden;
                white-space: nowrap; 
                text-overflow: ellipsis;
                font-size: 16px;
            }
        }

        .info-hover-content{
            background: #eaeff3;
            padding-top: 10px;
            padding-left: 10px;

            p{
                margin: 2px 0px;
                color: $color-orange;

                span{
                    color: $primary-text;
                }
            }
        }

        
    }
    .ligne-techno{
        width: 17%; 
        min-width: 17%; 
        max-width: 17%; 
        height: 100%; 
        padding: 10px 0px 0px; 
        border-right: 1px dashed $color-principal-blue;
        border-left: 1px dashed $color-principal-blue;
    
        .ligne-techno-text{
            display:flex; 
            align-items: center; 
            justify-content: center; 
            color: $color-principal-blue; 
            margin: 0px;

        }
    }
    
    .ligne-nom{
        max-width: 45%; 
        width: 45%; 
        min-width: 25%; 
        height: 100%;
        padding: 10px 10px 0px;
        display: flex;
        border-right: 1px dashed $color-principal-blue;
        color: $primary-text;

    
        .ligne-nom-text{
            overflow:hidden; 
            margin: 0;
            white-space: nowrap; 
            text-overflow: ellipsis;
        }
    }
    

    .ligne-note{
        width: 12%;
        min-width: 12%;
        max-width: 12%;
        display: flex;
        height: 100%;
        padding: 12px 2px 0px 9px;
        border-right: 1px dashed $color-principal-blue;
        color: $primary-text;
        .archive{
            width: 22px;
            height: 18px;
            margin: 0px 0px;
            span{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .archive-inclue{
                   
            span{
                background-image: url('/assets/Coding-game-img/SVG-menu-Dashboard/archive-inclue.svg');
                background-repeat: no-repeat;
               
            }
        }
        .archive-non-inclue{
           
            span{
                background-image: url('/assets/Coding-game-img/SVG-menu-Dashboard/archive-non-inclue.svg');
                background-repeat: no-repeat;
            }
         }
    
    }
    
    
    
    
    
    .ligne-points{
        width: 12%; 
        max-width: 12%; 
        min-width: 12%; 
        height: 100%; 
        padding: 10px 10px 0px; 
        border-right: 1px dashed $color-principal-blue; 
        white-space: nowrap;
        color: $primary-text;
        .ligne-points-text{
            display:flex; 
            align-items: center; 
            justify-content: center;
        }
    }
    
    .ligne-type{
        width: 7%;
        max-width: 7%; 
        min-width: 7%; 
        height: 100%; 
        border-right: 1px dashed $color-principal-blue;
    
    }
    
    .ligne-icon{
        display:flex; 
        height: 100%; 
        align-items: center; 
        justify-content: center; 
        color: $color-orange; 
        font-size: 28px;
    }
    
    .ligne-temps{
        width: 12%; 
        max-width: 12%; 
        min-width: 12%; 
        height: 100%; 
        padding: 10px 3% 0px;
        color: $primary-text;
        .ligne-temps.text{
            display:flex; 
            align-items: center; 
            justify-content: center;
        }
    }
    
    .ligne-plus{
        width: 7%; 
        max-width: 7%; 
        min-width: 7%; 
        height: 100%; 
        padding: 2px 3px; 
        border-left: 1px dashed $color-principal-blue;
        display: none;
        
        
        .ligne-plus-text{
            
        }
    }

    &:hover{
        background-color: $color-blue-light;
        
        .info-hover-left, .info-hover-right{
            display: flex;
            flex-direction: column;
            transition-delay: 1s;
        }
        .ligne-plus{
            display:block;
        }

        .ligne-techno p, .ligne-nom, .ligne-points, .ligne-type i, .ligne-temps{
            color: white;
        }
    }
}



.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: $border-radius;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background: $color-blue-light;
    color: white;

    
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.liste-question.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#drop-text {
    height: 35px;
    padding: 0px 0px;
    transition: .5s;
    color: $color-orange;
    text-align: center;
    font-size: 18px;
    line-height: 15px;
    border-bottom: 1px dashed $color-principal-blue;
    margin: 20px 0px 0px;
}

.example-box p 
{
    margin-bottom:0px;
}

.detail-question-name
{
    width:95%;
    max-width:95%;
    height:auto;
    padding:10px;
    color:$color-white;
    top:40px;
    position:absolute;
    z-index:38;
    /* bottom:10px; */
    display:none;
}

#ctnts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.active-dropList{
    position: fixed!important;
    top:1%;
    width: 32%;
    right: 86px;
}
.container-edit-question {
    width: 100%;
    margin: 0;
    // padding-bottom: 25px;
    height: 95%;
}

