<div class="info-hover-enonce">
    <!--p [innerHtml]>{{question['name' + currentLanguage]}}</p-->

    <markdown ngPreserveWhitespaces>
        {{question['name' + currentLanguage]}}
      </markdown>

    <!--p class="label-list" i18n>Liste des réponses proposées :</p-->
    <div *ngIf="question.type=== 'one' || question.type=== 'multiple'">
        <p *ngFor="let response of showedResponses">- {{response}}</p>
    </div>
    <div *ngIf="question.type=== 'algo'">
        <markdown ngPreserveWhitespaces>
          {{'```javascript'}}
          {{question['content' + currentLanguage]}}
          {{'```'}}
        </markdown>
    </div>

    
  </div>