@import"../../../../roodeo-variables.scss";

:host{
    flex-grow: 3;
    height: 100%;
    padding-bottom: 5px;
    overflow: hidden;
}

.info-hover-enonce{
    margin: 0px 10px;
    padding: 10px 10px;
    background: white;
    color: $primary-text;
    height: 100%;
    border-radius: $border-radius;
    flex-grow: 4;
    div{
        margin-top: 5px;
    }

    .label-list{
        margin-top: 5px;
        font-weight: bold;
    }
}