@import"../../../../roodeo-variables.scss";

/*--@mixin--*/

@mixin infoBuleInfo{
         position: absolute;
          width: 300px;
          padding: 15px;
          background-color: $color-principal-blue;
          color:white;
          z-index: 3;
          margin-top: 20px;
          font-size: 13px;
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
          left: -90px;
          border-radius: $border-radius;
          display: none;
}

@mixin infoBuleArrowAfter {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -6px;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: $color-principal-blue;
  border-bottom-style: solid;
  border-bottom-width: 6px;
}

#top-bar {
  display: flex;
  width: 100%;
  border: $border-table;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: $color-pricipal-blue-light;
  display: flex;
  border-bottom: 1px solid #e7e7e7;
  padding: 0px 15px;

  .custom-buttom,.mat-flat-button {
    // height: 100%;
    line-height: 0px;
    background: $color-orange!important;
    border-radius: 0px !important;
    font-size: 14px !important;
    contain: content;
    padding: 19px 40px !important;
    color: $color-white !important;
    height: 67.5px;   
    outline: none;
  }

  .button-disabled{
    line-height: 0px;
    background: grey!important;
    border-radius: 0px !important;
    font-size: 14px !important;
    contain: content;
    padding: 19px 40px !important;
    color: $color-white !important;
    height: 67.5px; 
    outline: none; 
}

  .custom-buttom-anul{
    background-color: $color-gray!important;
    outline: none;
  }

  .icon-arrow-btn{
    font-size: 25px;
    position: relative;
    left: -12px;
  }



  .segment1 {
    display: flex;
    flex-direction: row;
    flex: 11;
    
    .chart-block {
      display: flex;
      align-items: center;
      width:130px;
      justify-content: flex-start;
      margin-left: -30px;
      canvas{
        width: 120px;
        height: 120px;
      }
    }

    .container-langage {
      display: flex;
      padding: 15px 45px 15px 20px;
      position: relative;
      border-right: 1px solid #e7e7e7;
      flex-direction: column;
      justify-content: center;

      span {
        display: block;
        font-size: 12px;
        font-weight: bold;
        p{
          display: inline-block;
          margin:0px!important;
          font-weight: 400!important;
        }
      }
    }

    .state-techno-content {
      display: flex;
      // padding: 15px;
      // align-items: center;
      min-width: 160px;
      overflow: auto;
      scrollbar-color: #7f8183 #e3e3e3;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: thin;
      &::-webkit-scrollbar{
        width: 8px;
        height: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #7f8183;
        }
        
        &::-webkit-scrollbar-thumb:hover{
            background-color: #67686a;
        }
        
        &::-webkit-scrollbar-track {
            background: #e3e3e3;
        }
    
      .StatsByTechnology{
        display: flex;
        flex: none;
        padding: 15px;
        align-items: center;
      }
      .state-techno {
        color: #7e8082;
        padding: 0 20px;
        font-size: 12px;
        position: relative;
        &:hover .infoBule-info{
          display: block;
        }
        .infoBule-info{
          @include infoBuleInfo();
          &::after{
           @include infoBuleArrowAfter()
          }
          &::before,&::after{
            content: "";
            width: 0;
            height: 0;
            position: absolute;
          }
          .title-infobule{
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            
          }

          span{
            color: white;
            margin-top: 2px;
          }
        }

        &:not(:first-child) {
          border-left: 1px solid #e7e7e7;
        }

        p {
          margin-bottom: 0px !important;
          margin-top: 0px !important;
        }

        .name-langage {
          font-weight: 600;
          // width: 170px;
          font-size: 12px;
          margin-bottom: 0px !important;
          color:$color-principal-blue;
          .question-time{
            color:rgb(126, 128, 130);
            font-weight: 400;
            display: block;
          }

          .icon-chevron {
            transform: rotate(180deg);
            margin-left: 10px;
          }
        }


      }
    }

    .score-moyen {
      display: flex;
      padding: 15px;
      flex-direction: row;
      border-left: 1px solid #e7e7e7;

      .title-score {
        max-width: 100px;
        color: #7e8082;
        font-size: 12px;
        font-weight: 600;
        padding-right: 15px;
      }
      .score-number-and-diagrame{
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;
          .number{
            color: $color-orange;
            font-size: 25px;
            font-weight: 600;
          }
          span{
            max-width: 100px;
            padding-right: 15px;
            color: #7e8082;
            font-size: 12px;
            font-weight: 600;
            min-width: 100px;
          }

          .info-icon{
             font-size: 18px;
             color: #7e8082;
             margin-left: 10px;
             margin-top: 2px;
             &:hover{
                 cursor: pointer;
             }
          }

          .info-icon:hover + .infoBuleScore{
            display: block;
          }

          .infoBuleScore{
            @include infoBuleInfo();
            top: 28px;
            left: 13px;
            span{
              color: white;
            }
           

            &::after{
              @include infoBuleArrowAfter()
             }
             &::before,&::after{
               content: "";
               width: 0;
               height: 0;
               position: absolute;
             }
          }

          
      }
    }
  }

  .segment2 {
    display: flex;
    align-items: center;
    margin-top: -1px;
  }

}

@media screen and (max-width:800px){
  // .name-langage{
  //   min-width: 100px;
  //     span{
  //       font-weight: 400!important;   

  //     }
  // }

  .chart-block{
    display: none!important;
  }
  .container-langage{
    padding: 15px 15px 15px 4px!important;
    min-width: 170px;
  }

  .state-techno{
    padding:0px 9px!important
  }
}