@import"../../../../roodeo-variables.scss";

#top-bar {
  display: flex;
  width: 100%;
  border: $border-table;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: $color-pricipal-blue-light;
  display: flex;
  border-bottom: 1px solid #e7e7e7;
  padding: 0px 15px;

  .segment1 {
    display: flex;
    flex-direction: row;
    flex: 11;
    .chart-block {
      display: flex;
      align-items: center;

      .chart-circle {
        width: 50px;
        height: 50px;
        border-radius: 200px;
        background-color: #dddd;

      }
    }

    .container-langage {
      display: flex;
      padding: 15px 45px 15px 20px;
      position: relative;
      border-right: 1px solid #e7e7e7;
      flex-direction: column;
      justify-content: center;

      span {
        display: block;
        font-size: 12px;
      }
    }

    .state-techno-content {
      display: flex;
      padding: 15px;
      align-items: center;

      .state-techno {
        color: #7e8082;
        padding: 0 20px;
        font-size: 12px;

        &:not(:first-child) {
          border-left: 1px solid #e7e7e7;
        }

        p {
          margin-bottom: 0px !important;
          margin-top: 0px !important;
        }

        .name-langage {
          font-weight: 600;
          font-size: 12px;
          margin-bottom: 0px !important;

          .icon-chevron {
            transform: rotate(180deg);
            margin-left: 10px;
          }
        }


      }
    }

    .score-moyen {
      display: flex;
      padding: 15px;
      flex-direction: row;
      border-left: 1px solid #e7e7e7;

      .title-score {
        max-width: 100px;
        color: #7e8082;
        font-size: 12px;
        font-weight: 600;
        padding-right: 15px;
      }
      .score-number-and-diagrame{
          display: flex;
          flex-direction: row;
          align-items: center;
          .number{
            color: #f2bb13;
            font-size: 25px;
            font-weight: 600;
          }

          .info-icon{
             font-size: 18px;
             color: #7e8082;
             margin-left: 10px;
             margin-top: 2px;
             &:hover{
                 cursor: pointer;
             }
          }
      }
    }
  }

  .segment2 {
    display: flex;
    align-items: center;
    margin-top: -1px;
  }

}
