<div class="rowter">
  <app-breadcrumb [namePage]=""></app-breadcrumb>
  <app-route-component (ContentViewDefault)="DefaultViewContent($event)"></app-route-component>
  <div *ngIf="booleanViewContentDefault == false" class="loading">
    <span class="fa fa-spinner fa-pulse"></span>
  </div>
  <section class="view-content" [class.new-contenu-view-content]="booleanViewContentDefault">

    <div class="contenu-view-content">
      <app-campagne (emitIsactiveNoCountryside)="display($event)" (campaignsChild)="getCampaignsFromChild($event)"
        class="app-campagne"></app-campagne>
      <app-sidebar-right *ngIf="campaigns" [campaignsFromParent]="campaigns" class="app-sidbar"></app-sidebar-right>
    </div>
  </section>
</div>