@import "../../../../roodeo-variables.scss";

#global{
    background: $color-background-blue;

    .content{
        // width: 95%;
        padding: 10px;
        display: flex;
        width: 98%;
        margin: 0 auto;
        background: $color-background-blue;
        // .border-none{
        //    border-right:none
        // }
        .icon{
            color: $color-principal-orange;
            margin-left: 20px;
            margin-right: 10px;
            font-size: 32px;
        }
        
        .title{
            font-size: 24px;
        }
        
        #signature{
            width: 100%;
        }
        
        .section-title{
            display: flex;
        }
        
        .input-title{
            font-size: 16px;
            flex: 1;
            margin-bottom: 10px;
        }
        
        .btn-submit{
         width: 100%;
         height: 50px;
         background: #1d3551;
         color: white;
         text-transform: uppercase;
         font-size: 14px;
          
         border: 0px ;
         cursor: pointer;
         transition: .3s;
        
            &:focus{
              outline: none;
            }
        
            &:hover{
              background: #152536;
            }
        }

        .form-line{
            display: flex;
           
            .input-bloc{
                flex: 1;
                margin: 20px 20px 18px 20px;
        
                .input-section1{
                    width: 100%;
                    height: 50px;
                    border: 1px solid $color-principal-blue;
                    background: white;
                    font-size: 16px;
                    padding-left: 15px;
                
                    &:focus{
                        outline: none;
                    }
                }

                .input-section1-textarea{
                    height:250px!important;
                    padding-top: 9px;
                    resize: none;
                }
            }
        } 


        /* Section 1 */

        #section1{
            width: 98%;
            margin: 18px 1% 0 0;
            background: white;
            padding: 40px 80px;
            border: $border-table;
            border-radius: $border-radius;
        }

        /* Section 2 */

        #section2{
            width: 98%;
            margin: 18px auto 0;
            background: white;
            padding: 40px 80px;
            border: $border-table;
            border-radius: $border-radius;
        }

        /* Section 3 */

        #section3{
            width: 98%;
            margin: 18px 1% 0 0;
            background: white;
            padding: 40px 80px;
            border: $border-table;
            border-radius: $border-radius;
        }

        /* Section 4 */

        #section4{
            width: 98%;
            margin: 18px auto 0;
            background: white;
            padding: 40px 80px;
            border: $border-table;
            border-radius: $border-radius;
        }
    }
}

@media screen and (max-width: 1024px){
    #global{
        display: block;
    }
    #section1, #section2, #section3, #section4{
        padding: 10px 10px!important;
    }
    .content{
        flex-direction: column;

    }
}


