<div id="global">
  <!-- <app-breadcrumb [namePage]="'Mon profil'"></app-breadcrumb> -->

  <div class="padding-top">
    <!-- <div class="breadrumb">
      <div [routerLink]="['/dashboard/profil-utilisateur']" class="navigation hvr-icon-bounce" routerLinkActive="router-link-active">
        <p>
        <mat-icon class="fix-right hvr-icon">person_outline</mat-icon>
        Mon profil
        </p>
      </div>
      <div *ngIf="this.user?.customeraccount.type === 'profesional'"  [routerLink]="['/dashboard/profil-entreprise']" class="navigation hvr-icon-bounce" routerLinkActive="router-link-active">
        <p>
        <mat-icon class="fix-right hvr-icon">domain</mat-icon>
        Mon entreprise
        </p>
      </div>
      <div [routerLink]="['/dashboard/utilisateurs']" class="navigation hvr-icon-bounce" routerLinkActive="router-link-active">
        <p>
        <mat-icon class="fix-right hvr-icon">groups</mat-icon>
        utilisateurs
        </p>
      </div>
    </div> -->
    <div *ngIf="dataRoute">
      <nav-wrapper-component [dataRoute]="this.dataRoute"></nav-wrapper-component>
    </div>
    <div class="fix-contents">
    <div class="content">
      <div *ngIf="isOwnerOfPersonalAccount"  fxLayout="row" fxLayout="row" fxLayoutAlign="space-between center"
        class="account-transform">
        <h4>Basculer vers un compte professionnel</h4>
        <button (click)="convertToPro()" type="button" mat-raised-button color="primary">Editer le profil
          entreprise</button>
      </div>
    </div>
    <div class="content">
      <div id="section1" class="border-none">

        <div class="section-title">
          <i class="far fa-user-circle icon"></i>
          <h2 class="title">Profil</h2>
        </div>

        <form action="">
          <div class="form-line fix-top">
            <mat-form-field [color]="'accent'" appearance="outline" [formGroup]="formUtilisateurProfil" [floatLabel]="true"
              class="fullwidth">
              <mat-label i18n>Prénom *</mat-label>
              <input type="text" formControlName="firstName" matInput value="" name="firstName" />
            </mat-form-field>
            <mat-form-field [color]="'accent'" appearance="outline" [formGroup]="formUtilisateurProfil" class="fullwidth">
              <mat-label i18n>Nom *</mat-label>
              <input type="text" formControlName="lastName" matInput value="" name="lastName" />
            </mat-form-field>
          </div>

          <div class="form-line">
            <mat-form-field [formGroup]="formUtilisateurProfil" appearance="outline" [color]="'accent'" class="fullwidth">
              <mat-label i18n>Pays *</mat-label>
              <mat-select name="country" class="mat-primary" formControlName="country">
                <mat-option value="Afrikanns">Afrikanns</mat-option>
                <mat-option value="Albanian">Albanian</mat-option>
                <mat-option value="Arabic">Arabic</mat-option>
                <mat-option value="Armenian">Armenian</mat-option>
                <mat-option value="Basque">Basque</mat-option>
                <mat-option value="Bengali">Bengali</mat-option>
                <mat-option value="Bulgarian">Bulgarian</mat-option>
                <mat-option value="Catalan">Catalan</mat-option>
                <mat-option value="Cambodian">Cambodian</mat-option>
                <mat-option value="Chinese (Mandarin)">Chinese (Mandarin)</mat-option>
                <mat-option value="Croation">Croation</mat-option>
                <mat-option value="Czech">Czech</mat-option>
                <mat-option value="Danish">Danish</mat-option>
                <mat-option value="Dutch">Dutch</mat-option>
                <mat-option value="English">English</mat-option>
                <mat-option value="Estonian">Estonian</mat-option>
                <mat-option value="Fiji">Fiji</mat-option>
                <mat-option value="Finnish">Finnish</mat-option>
                <mat-option value="France">France</mat-option>
                <mat-option value="Georgian">Georgian</mat-option>
                <mat-option value="German">German</mat-option>
                <mat-option value="Greek">Greek</mat-option>
                <mat-option value="Gujarati">Gujarati</mat-option>
                <mat-option value="Hebrew">Hebrew</mat-option>
                <mat-option value="Hindi">Hindi</mat-option>
                <mat-option value="Hungarian">Hungarian</mat-option>
                <mat-option value="Icelandic">Icelandic</mat-option>
                <mat-option value="Indonesian">Indonesian</mat-option>
                <mat-option value="Irish">Irish</mat-option>
                <mat-option value="Italian">Italian</mat-option>
                <mat-option value="Japanese">Japanese</mat-option>
                <mat-option value="Javanese">Javanese</mat-option>
                <mat-option value="Korean">Korean</mat-option>
                <mat-option value="Latin">Latin</mat-option>
                <mat-option value="Latvian">Latvian</mat-option>
                <mat-option value="Lithuanian">Lithuanian</mat-option>
                <mat-option value="Macedonian">Macedonian</mat-option>
                <mat-option value="Malay">Malay</mat-option>
                <mat-option value="Malayalam">Malayalam</mat-option>
                <mat-option value="Maltese">Maltese</mat-option>
                <mat-option value="Maori">Maori</mat-option>
                <mat-option value="Marathi">Marathi</mat-option>
                <mat-option value="Mongolian">Mongolian</mat-option>
                <mat-option value="Nepali">Nepali</mat-option>
                <mat-option value="Norwegian">Norwegian</mat-option>
                <mat-option value="Persian">Persian</mat-option>
                <mat-option value="Polish">Polish</mat-option>
                <mat-option value="Portuguese">Portuguese</mat-option>
                <mat-option value="Punjabi">Punjabi</mat-option>
                <mat-option value="Quechua">Quechua</mat-option>
                <mat-option value="Romanian">Romanian</mat-option>
                <mat-option value="Russian">Russian</mat-option>
                <mat-option value="Samoan">Samoan</mat-option>
                <mat-option value="Serbian">Serbian</mat-option>
                <mat-option value="Slovak">Slovak</mat-option>
                <mat-option value="Slovenian">Slovenian</mat-option>
                <mat-option value="Spanish">Spanish</mat-option>
                <mat-option value="Swahili">Swahili</mat-option>
                <mat-option value="Swedish ">Swedish </mat-option>
                <mat-option value="Tamil">Tamil</mat-option>
                <mat-option value="Tatar">Tatar</mat-option>
                <mat-option value="Telugu">Telugu</mat-option>
                <mat-option value="Thai">Thai</mat-option>
                <mat-option value="Tibetan">Tibetan</mat-option>
                <mat-option value="Tonga">Tonga</mat-option>
                <mat-option value="Turkish">Turkish</mat-option>
                <mat-option value="Ukranian">Ukranian</mat-option>
                <mat-option value="Urdu">Urdu</mat-option>
                <mat-option value="Uzbek">Uzbek</mat-option>
                <mat-option value="Vietnamese">Vietnamese</mat-option>
                <mat-option value="Welsh">Welsh</mat-option>
                <mat-option value="Xhosa">Xhosa</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field [formGroup]="formUtilisateurProfil" appearance="outline" [color]="'accent'" class="fullwidth">
              <mat-label i18n>Langue *</mat-label>
              <mat-select name="language" class="mat-primary" formControlName="language">
                <mat-option value="Anglais">Anglais</mat-option>
                <mat-option value="Francais">Français</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-line">
            <mat-form-field [color]="'accent'" appearance="outline" [formGroup]="formUtilisateurProfil" class="fullwidth">
              <mat-label i18n> N° de téléphone </mat-label>
              <input type="text" formControlName="phone" matInput value="" name="phone" />
            </mat-form-field>

            <mat-form-field [color]="'accent'" appearance="outline" [formGroup]="formUtilisateurProfil" class="fullwidth">
              <mat-label i18n> N° mobile </mat-label>
              <input type="text" formControlName="telephone" matInput value="" name="telephone" />
            </mat-form-field>
          </div>



          <div class="form-line">
            <mat-form-field [formGroup]="formUtilisateurProfil" appearance="outline" [color]="'accent'" class="fullwidth100">
              <mat-label i18n>Fonction</mat-label>
              <mat-select name="office" class="mat-primary" formControlName="office">
                <mat-option value="commercial">Commercial</mat-option>
                <mat-option value="direction">Direction</mat-option>
                <mat-option value="tech">Équipe technique</mat-option>
                <mat-option value="marketing">Marketing/Communication</mat-option>
                <mat-option value="rh">Ressources humaines</mat-option>
                <mat-option value="other">Autre</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-line">
            <div class="input-bloc">
              <app-base-button (click)='updateprofil()' iconName="save">Enregister</app-base-button>
            </div>
          </div>
        </form>
      </div>


      <div id="section2">
        <div class="section-title">
          <i class="far fa-user-circle icon"></i>
          <h2 class="title">Signature</h2>
        </div>
        <form action="">
          <div class="form-line">
            <div class="input-bloc">
              <mat-form-field [formGroup]="formUtilisateurSignature" appearance="outline" [color]="'accent'"
                class="fullwidth100">
                <mat-label i18n>Signature</mat-label>
                <textarea matTextareaAutosize matAutosizeMinRows="14" matAutosizeMaxRows="20"
                  formControlName="signature" matInput></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="form-line">
            <div class="input-bloc">
              <app-base-button (click)='updatesignature()' iconName="save">Enregister</app-base-button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="content">
      <div id="section3" class="border-none">
        <div class="section-title">
          <i class="far fa-envelope-open icon"></i>
          <h2 class="title"> Adresse Email</h2>
        </div>

        <form action="">
          <div class="form-line fix-top">
            <mat-form-field [color]="'accent'" appearance="outline" [formGroup]="formUtilisateurEmail" class="fullwidth100">
              <mat-label i18n> Email actuel * </mat-label>
              <input type="email" formControlName="email" matInput value="" name="email" />
            </mat-form-field>
          </div>

          <div class="form-line">
            <mat-form-field [color]="'accent'" appearance="outline" [formGroup]="formUtilisateurEmail" class="fullwidth100">
              <mat-label i18n> Nouvel email * </mat-label>
              <input type="email" formControlName="newEmail" matInput value="" name="newEmail" />
            </mat-form-field>
          </div>

          <div class="form-line">
            <div class="input-bloc">
              <app-base-button (click)='updateemail()' iconName="save">Enregister</app-base-button>
            </div>
          </div>
        </form>
      </div>


      <div id="section4">
        <div class="section-title">
          <i class="fas fa-lock icon"></i>
          <h2 class="title"> Mot de passe</h2>
        </div>

        <form action="">
          <div class="form-line fix-top">
            <mat-form-field [color]="'accent'" appearance="outline" [formGroup]="formUtilisateurPassword" class="fullwidth100">
              <mat-label i18n>Nouveau mot de passe *</mat-label>
              <input [type]="hide ? 'password' : 'text'" formControlName="newPassword" matInput name="newPassword" />
              <mat-hint *ngIf="formUtilisateurPassword.get('newPassword').errors?.minlength" class="error-red" i18n>
                Le mot de passe doit être au moins de 6 caractères</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-line">
            <mat-form-field [color]="'accent'" appearance="outline" [formGroup]="formUtilisateurPassword" class="fullwidth100">
              <mat-label i18n>Confirmer le mot de passe *</mat-label>
              <input [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" matInput
                name="confirmPassword" />
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint *ngIf="formUtilisateurPassword.get('confirmPassword').errors?.mustMatch" class="error-red" i18n>Les mots
                de passe doivent correspondre</mat-hint>
            </mat-form-field>
          </div>


          <div class="form-line">
            <div class="input-bloc">
              <app-base-button (click)="updatepassword()" iconName="save">Enregister</app-base-button>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>
