@import "../../../../roodeo-variables.scss";
$font-family-client-test: Open Sans, Lato, sans-serif;
$Bg-client-test: #f9f9f9;
$text-color-client-test: #333;

@mixin structureBlockPrincipal {
  flex: 1;
  // height: 500px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  @media #{$deviceMaxDesktop} {
    margin: 20px 0 20px 0;
    width: 90% !important;
    height: auto !important;
  }
}

@mixin structureSousBlockTutoTest {
  background-color: white;
  padding: 40px;
  width: 100%;
  border: $border-table;
  border-radius: $border-radius;
  padding-top: 10px;
  @media #{$deviceMaxDesktop} {
    height: auto !important;
    margin-bottom: 20px;
  }
  @include structureTitle();
}

.test {
  margin-top: 65px!important;
}

@mixin structureTitle {
  .title {
    display: flex;
    margin-bottom: 9px;
    .img {
      width: 50px;
      margin-left: 10px;
      height: auto;
    }
  }
}

@mixin btn-color($yellow: true) {
  .btn-compo {
    margin-bottom: 0;
    width: 200px;
    height: 50px;
    border: $border-table;
    font-size: $font-size-home;
    text-align: center;
    transition: all 0.2s;
    text-transform: uppercase;
    cursor: pointer;
    @if $yellow {
      background-color: $color-principal-blue;
      color: white;
      &:hover{
        background-color: $color-principal-blue;
      }
    } @else {
      background: transparent;
      color: $color-principal-blue;;
    }
  }
}

p {
  font-size: $font-size-home;
}


button{
  border: none;
  cursor: pointer;
}
.tuto-para{
  margin-bottom: 18px;
}

.container-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $color-background-blue;
  font-family: $font-family-client-test;
  font-weight: 300;
  color: $text-color-client-test;
  .test-container {
    flex-direction: row;
    width: 85%;
    height: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    margin-top: 20px;
    
    @media #{$deviceMaxDesktop} {
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }
    .invitation {
      justify-content: normal!important;
      margin-right: 9px;
      padding: 40px;
      background: white;
      border: $border-table;
      border-radius: $border-radius;
      padding-top: 10px;
      @include structureBlockPrincipal();
      .test-invit {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color:$color-principal-blue;
        h3 {
          margin-left: 20px;
          margin-top: 20px;
          padding-top: 6px;
          padding-bottom: 6px;
          padding-bottom: 10px;
          margin-bottom: 0px;
          font-size: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px dashed #e3e3e3;
          border-bottom: 1px dashed #e3e3e3;
          
        }
        .image {
          margin: 0px auto;
          width: 205px;
          height: 58px;
          background-image: url($logoPath);
          background-size: cover;
          @media #{$deviceMaxDesktop} {
            width: 130px !important;
            height: 85px !important;
            margin-right: 10px !important;
          }
        }
      }
      .text {
        padding: 30px 0 80px 0;
        p{
          color: $color-principal-blue!important;
        }
      }
    }

    .tutorial-test {
      @include structureBlockPrincipal();
      .tutorial {
        @include structureSousBlockTutoTest();
        @include btn-color($yellow: false);
      }
      .test {
        @include structureSousBlockTutoTest();
        @include btn-color($yellow: true);
      }
    }
  }
}

.modall {
  .modall-content {
    width: 1000px;
    max-width: 90vw;
    padding: 0px 40px;
    .claire-text {
      color: #20252a;
      padding: 0 40px;
      font-size: 17px;
      text-align: left;
      margin-top: 30px;
      font-weight: 300;
      display: block;
      &.text-gras {
         
      }
      &.block-condition {
        .checkbox-condition {
          display: inline-block;
          position: relative;
          top: -45px;
          left: -10px;
        }
        .text-condition {
          font-size: 17px;
          display: inline-block;
          width: 95%;
          cursor: pointer;
          .text-link {
            color: $color-principal-blue;
             
            text-decoration: underline;
          }
        }
      }
    }
  }
  .modall-footer {
    display: flex;
    padding: 0 20px 20px 20px;
    .btn {
      flex: 1;
      color: white;
      height: 50px;
      margin: 20px;
      font-size: 18px;
      transition: background 0.2s;
      background-color: #7e8082;
      border-radius: 0px;
      &:active {
        outline: none !important;
      }
      &:focus {
        outline: none !important;
      }
      &:not(:disabled):hover {
        background-color: #aaaaaa;
      }
      &:not(:disabled):last-child {
        background-color: $color-principal-blue;
      }
      &:not(:disabled):last-child:hover {
        background-color: $color-principal-blue;
      }
    }
  }
}
