#container {
  width: 100%;
  background-color: #f9f9f9;
  font-family: Open Sans, Lato, sans-serif;
  font-weight: 300;
  color: #333;
}

.test-container {
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .test-container {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .invitation,
  .tutorial-test {
    margin: 20px 0 20px 0;
    width: 90% !important;
    height: auto !important;
  }

  .tutorial,
  .test {
    height: auto !important;
    margin-bottom: 20px;
  }

  .test-invit .image {
    width: 130px !important;
    height: 85px !important;
    margin-right: 10px !important;
  }
}

.invitation,
.tutorial-test {
  width: 45%;
  height: 90vh;
}

.invitation {
  padding: 40px;
  background: white;
  border: 1px solid #e3e3e3;
}

.invitation .test-invit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.test-invit h3 {
  width: 250px;
}

.test-invit .image {
  width: 200px;
  height: 200px;
  background-image: url('../../../../assets/fileservlet.png');
  background-size: cover;
}

.tutorial-test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tutorial,
.test {
  background-color: white;
  padding: 40px;
  width: 100%;
  height: 45%;
  border: 1px solid #e3e3e3;
}

.title {
  display: flex;
}

.title .img {
  width: 50px;
  margin-left: 10px;
  height: auto;
}

.tutorial img {
  background-image: url('../../../../assets/fileservlet.png');
  background-size: cover;
}

button {
  width: 200px;
  height: 50px;
  border: 1px solid #f2bb13;
  display: block;
  font-size: 14px;
  text-align: center;
  transition: all .2s;
  text-transform: uppercase;
  background: transparent;
  color: #f2bb13;
}

.yellow {
  background-color: #f2bb13;
  color: white;
}

p {
  font-size: 14px;
}
