<section id="container">
  <div class="test-container">
    <div class="invitation">
      <div class="test-invit">
        <div class="image"></div>
        <h3>Bonjour, vous avez été invité(e) à passer un test.</h3>
      </div>

      <div class="text">
        <p>Vous devrez effectuer cette évaluation sans l’aide d’une tierce personne. Cependant, vous pouvez (et nous le
          conseillons vivement) vous servir de toutes les ressources à votre disposition (Internet, livres, etc.). Vous
          pouvez également utiliser votre environnement de développement préféré pour préparer vos réponses.
        </p>
        <p>
          Un tutoriel et une aide sont à votre disposition pour vous permettre de vous familiariser avec l'application
          dans les meilleures conditions.
        </p>
      </div>

    </div>

    <div class="tutorial-test">
      <div class="tutorial">
        <div class="title">
          <div class="img"></div>
          <h3>Tutoriel</h3>
        </div>
        <p>Voici un tutoriel qui vous permet de découvrir votre environnement d’évaluation en vous familiarisant avec
          les
          fonctionnalités de l’application en toute tranquillité. Le résultat de ce tutoriel ne fait pas partie de
          l’évaluation. Vous avez la possibilité de recommencer ce tutoriel autant de fois que vous le souhaitez.</p>
        <button>Démarrer le tutoriel</button>
      </div>
      <div class="test">
        <div class="title">
          <div class="img"></div>
          <h3>Test</h3>
        </div>

        <p>Ce test est composé de 26 questions. Chaque question est chronométrée. La durée totale est estimée à 9
          minutes
          mais le test peut durer jusqu’à 19 minutes. Merci de prévoir 19 minutes consécutives pour faire ce test.</p>
         <button [routerLink]="['testing']" class="yellow">Démarrer le test</button>
        
      </div>
    </div>
  </div>
</section>

