<div [ngSwitch]="testStatus$ | async" class="testing-question-wrapper">
  <div *ngSwitchCase="'eval'" class="eval-testing">
    <div id="shadow-cog" [class.shadow-cog-active]="popupTestStatus">
      <div class="modal">
        <div class="modal-header">
          <h3 class="modal-title" i18n>
            <mat-icon>perm_identity</mat-icon>
            Vous êtes sur le point de démarrer votre test
          </h3>
        </div>

        <div class="modal-content">
          <p class=" claire-text" i18n>
            Une fois que vous aurez cliqué sur le bouton "Commencer", vous ne
            pourrez plus interrompre l'enchainement des questions. Une fois
            qu'une réponse est soumise, vous ne pourrez plus revenir à la
            question précédente.
          </p>
          <p class="claire-text text-gras" i18n>
            Les solutions qui prennent en considération un maximum de cas
            d'utilisation sont privilégiées par le système de notation.
          </p>
          <p class="claire-text" i18n>
            Nous vous rappelons qu'il est interdit de tricher. Notre système
            détecte les tentatives de triche, et préviendra le recruteur le cas
            échéant.
          </p>

          <p class=" claire-text" i18n>Bonne chance !</p>

          <label class="block-condition claire-text">
            <span class="checkbox-condition">
              <input type="checkbox" [(ngModel)]="isAgreed" />
            </span>
            <p class="text-condition" i18n>
              J'ai lu et j'accepte les
              <a href="" class="text-link" i18n>conditions d'utilisation </a> et la
              politique de confidentialité. Je comprends que la politique de
              confidentialité qui s'applique est celle de l'entreprise qui m'a
              invité à passer ce test.
            </p>
          </label>
        </div>

        <div class="modal-footer">
          <app-base-button iconName="cancel" color="warn" iconPosition="left" (click)="closePopup()" i18n>
            Annuler
          </app-base-button>
          <app-base-button iconName="keyboard_arrow_right" (click)="runTest()" i18n [disabled]="!isAgreed">
            Commencer
          </app-base-button>
        </div>
      </div>
    </div>

    <section class="container-section">
      <div class="invitation">
        <div class="test-invit">
          <div class="image"></div>
          <h3 i18n>Bonjour, vous avez été invité(e) à passer un test.</h3>
        </div>

        <div class="text">
          <p i18n>
            Vous devrez effectuer cette évaluation sans l’aide d’une tierce
            personne. Cependant, vous pouvez (et nous le conseillons vivement)
            vous servir de toutes les ressources à votre disposition
            (Internet, livres, etc.). Vous pouvez également utiliser votre
            environnement de développement préféré pour préparer vos réponses.
          </p>
          <p i18n>
            Un tutoriel et une aide sont à votre disposition pour vous
            permettre de vous familiariser avec l'application dans les
            meilleures conditions.
          </p>
        </div>
      </div>
      <div class="tutorial-test">
        <div class="tutorial">
          <div class="title">
            <div class="img"></div>
            <h3 i18n>Tutoriel</h3>
          </div>
          <p class="tuto-para" i18n>
            Voici un tutoriel qui vous permet de découvrir votre environnement
            d’évaluation en vous familiarisant avec les fonctionnalités de
            l’application en toute tranquillité. Le résultat de ce tutoriel ne
            fait pas partie de l’évaluation. Vous avez la possibilité de
            recommencer ce tutoriel autant de fois que vous le souhaitez.
          </p>
          <app-base-button iconName="keyboard_arrow_right" (click)="runTutorial()" i18n>
            Démarrer le tutoriel
          </app-base-button>
        </div>
        <div class="test">
          <div class="title">
            <div class="img"></div>
            <h3 i18n>Test</h3>
          </div>
          <p class="tuto-para">
            Ce test est composé de {{ nbQuestion }} questions. Chaque question
            est chronométrée. La durée totale est estimée à
            {{ durationTotalTest }} minutes mais le test peut durer jusqu’à
            {{ durationMaxTest }} minutes. Merci de prévoir
            {{ durationMaxTest }} minutes consécutives pour faire ce test.
          </p>
          <app-base-button iconName="keyboard_arrow_right" (click)="openPopup()" i18n>
            Démarrer le test
          </app-base-button>
        </div>
      </div>
    </section>
  </div>

  <div *ngSwitchCase="'tutorial'" class="tutorial">
    <h2>Didacticiel</h2>
  </div>

  <div *ngSwitchCase="'testing'" class="testing">
    <app-test class="fullwidth" [candidat]="candidat" [questions]="questions" [technologies]="technologies"
      [durationMaxTest]="durationMaxTest" (refresh)="refreshComponent($event)"></app-test>
  </div>

  <div *ngSwitchDefault style="height: 100%;">
    <app-fin-test></app-fin-test>
  </div>
</div>