@import "../../../../roodeo-variables.scss";
$font-family-client-test: Open Sans, Lato, sans-serif;
$Bg-client-test: #f9f9f9;
$text-color-client-test: #333;

@mixin structureBlockPrincipal {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media #{$deviceMaxDesktop} {
    margin: 20px 0 20px 0;
    width: 90% !important;
    height: auto !important;
  }
}

@mixin structureSousBlockTutoTest {
  background-color: white;
  padding: 40px;
  width: 100%;
  height: 45%;
  border: 1px solid #e3e3e3;
  margin: 20px 0 25px 0;
  @media #{$deviceMaxDesktop} {
    height: auto !important;
    margin-bottom: 20px;
  }
  @include structureTitle();
}

@mixin structureTitle {
  .title {
    display: flex;
    .img {
      width: 50px;
      margin-left: 10px;
      height: auto;
    }
  }
}

@mixin btn-color($yellow: true) {
  .btn-compo {
    width: 200px;
    height: 50px;
    border: 1px solid $color-gold;
    font-size: 14px;
    text-align: center;
    transition: all 0.2s;
    text-transform: uppercase;
    @if $yellow {
      background-color: $color-gold;
      color: white;
    } @else {
      background: transparent;
      color: $color-gold;
    }
  }
}

p {
  font-size: $font-size-home;
}

.container-section {
  width: 100%;
  background-color: $Bg-client-test;
  font-family: $font-family-client-test;
  font-weight: 300;
  color: $text-color-client-test;
  .test-container {
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    @media #{$deviceMaxDesktop} {
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }
    .invitation {
      padding: 40px;
      background: white;
      border: 1px solid #e3e3e3;
      @include structureBlockPrincipal();
      .test-invit {
        display: flex;
        justify-content: space-between;
        h3 {
          width: 250px;
          margin-left: 20px;
          padding-bottom: 10px;
          margin-bottom: 0px;
          font-size: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px dashed #e3e3e3;
          border-bottom: 1px dashed #e3e3e3;
        }
        .image {
          width: 200px;
          height: 200px;
          background-image: url($logoPath);
          background-size: cover;
          @media #{$deviceMaxDesktop} {
            width: 130px !important;
            height: 85px !important;
            margin-right: 10px !important;
          }
        }
      }
      .text {
        padding: 30px 0 80px 0;
      }
    }

    .tutorial-test {
      @include structureBlockPrincipal();
      .tutorial {
        @include structureSousBlockTutoTest();
        @include btn-color($yellow: false);
      }
      .test {
        @include structureSousBlockTutoTest();
        @include btn-color($yellow: true);
      }
    }
  }
}

.modall {
  .modall-header {
  }
  .modall-content {
    width: 1000px;
    max-width: 90vw;
    padding: 0px 40px;
    .claire-text {
      color: #20252a;
      padding: 0 40px;
      font-size: 17px;
      text-align: left;
      margin-top: 30px;
      font-weight: 300;
      display: block;
      &.text-gras {
        font-weight: bold;
      }
      &.block-condition {
        .checkbox-condition {
          display: inline-block;
          position: relative;
          top: -15px;
          left: -10px;
        }
        .text-condition {
          font-size: 17px;
          display: inline-block;
          width: 95%;
          .text-link {
            color: #f2bb13;
            font-weight: 700;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .modall-footer {
    display: flex;
    padding: 0 20px 20px 20px;
    .btn {
      flex: 1;
      color: white;
      height: 50px;
      margin: 20px;
      font-size: 18px;
      transition: background 0.2s;
      font-weight: 600 !important;
      background-color: #7e8082;
      border-radius: 0px;
      &:active {
        outline: none !important;
      }
      &:focus {
        outline: none !important;
      }
      &:not(:disabled):hover {
        background-color: #aaaaaa;
      }
      &:not(:disabled):last-child {
        background-color: #ffd200;
      }
      &:not(:disabled):last-child:hover {
        background-color: red;
      }
    }
  }
}
