.chatRoom{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.chatRoom > h1 {
    color : white;
    text-align: center;
    margin-bottom: 6vh;
}

.chatTools > .option{
    text-decoration: none;
    color: black;
}

.chatRoomOptions{
    width: 99%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    display: flex;
    flex-direction: column;
}


.chatWindow{
    flex: 7;
    height: 100%;
    border-radius: 5px;

    background-color: white;
    margin-right: 2vw;
    flex-wrap: nowrap;
}

.chatTools{
    width: 90vw;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
}

.option{
    margin-right: 10px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color:rgb(242, 187, 19);
    border-radius:  5px;
    box-shadow: 1px 0.5px 2px white;
}

.retour{
    width: 70px;
    height: 30px;
    position: absolute;
    top: -25px;
    left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: black;
    background-color:rgb(242, 187, 19);
    border-radius:  5px;
    box-shadow: 1px 0.5px 2px white;
}

.retour:hover{
    background-color : rgba(242, 187, 19, 0.5);
    color: white;
}

.option:hover {
    background-color : rgba(242, 187, 19, 0.5);
    color: white;
}

.saisieMessage{
    text-align: center;
    margin-top: 40px;
    margin-bottom : 40px;
}

.messagesDiv{
}

.message{
    text-align: center;
    width: 80%;
    margin: auto;
}
.messageText{
    margin-left: 30vw;
}

.messageDate{
    position: absolute;
    right: 5vw;
    font-style: italic;
}