<section class="secondSection">
  <div class="">
    <div class="">
      <div id="test-dev">

        <h3 class="title-dashed" i18n>
          Test the developers
          <span class="dashed"></span>
        </h3>
        <div class="content">
          <div class="first">
            <h3 class="img-text" i18n>First blablabl her,<br /> blablalbl blabalblabl balblbal</h3>
            <img src="../../assets/tester_4.svg" alt="1" />
          </div>
          <div class="middle">
              <h3 class="img-text" i18n>Second balbal her,<br /> blablalbl blabalblabl balblbal</h3>
              <img src="../../assets/tester_2.svg" alt="2" />
          </div>
          <div class="last">
              <h3 class="img-text" i18n>Third blalbalbla her,<br /> blablalbl blabalblabl balblbal</h3>
              <img src="../../assets/tester_3.svg" alt="3" />
          </div>
        </div>
        <!--div class="content">
          <div class="first">
            
          </div>
          <div class="middle">
              <img src="../../assets/tester_1.svg" alt="4" />
          </div>
          <div class="last">
              
          </div>
        </div-->
      </div>
    </div>
  </div>
  </section>