<section class="secondSection">
  <div class="">
    <div class="">
      <div id="test-dev">

        <h3 class="title-dashed">
          TESTEZ LES DÉVELOPPEURS
          <span class="dashed"></span>
        </h3>
        <div class="content">
          <div class="first">
            <img src="../../assets/tester_4.svg" alt="1" />
          </div>
          <div>
              <img src="../../assets/tester_3.svg" alt="2" />
          </div>
          <div class="last">
              <img src="../../assets/tester_2.svg" alt="3" />
          </div>
        </div>
        <div class="content">
          <div>
            
          </div>
          <div>
              <img src="../../assets/tester_1.svg" alt="4" />
          </div>
          <div>
              
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="">
      <div class="">
      <div id="profilSearch">

        <h3 class="title-dashed">
          PROFILS RECHERCHÉS
          <span class="dashed"></span>
        </h3>
        <div class="content">

          <div class="">
    
            <p class="list-para">- Développeur Expert Wordpress - Fullstacks</p>
            <p class="list-para">- Intégrateur Web & Emailing - Développeur Frontend</p>
            <p class="list-para">- Développeur Backend Nodejs</p>
            <p class="list-para">- Developpeur Back-End Wordpress Prestashop Symfony</p>
            <p class="list-para">- Développeur Full Stack Javascript Css Php</p>
            <p class="list-para">- Intégrateur Web Responsive | Développeur Front End</p>
            <p class="list-para">- Développeur Expert Wordpress - Fullstacks</p>
            <p class="list-para">- Intégrateur Web & Emailing - Développeur Frontend</p>
            <p class="list-para">- Developpeur Back-End Wordpress Prestashop Symfony</p>
            <p class="list-para">- Développeur Full Stack Javascript Css Php</p>
            <p class="list-para">- Intégrateur Web Responsive | Développeur Front End</p>
    
          </div>
          <div>
            <div AgWordCloud 
            #word_cloud_chart=ag-word-cloud 
            [wordData]="wordData"
            [options]="options">
            </div>
          </div>
    
       </div>
      </div>
      </div>
    </div>
  </section>