<section id="section-test-developpers" class="secondSection" >

      <div id="test-dev">

        <h3 class="title-dashed" i18n>
          Test the developers
          <span class="dashed"></span>
        </h3>
        <div class="row-content">
            <div class="content" >
              <div class="first" #first>
                <!-- <h3 class="img-text" i18n>First blablabl her,<br /> blablalbl blabalblabl balblbal</h3> -->
                <img src="../../assets/tester_4.svg" alt="1" />
              </div>
              <div class="middle" #second>
                  <img src="../../assets/tester_2.svg" alt="2" />
              </div>
              <div class="last" #third>
                  <img src="../../assets/tester_3.svg" alt="3" />
              </div>
            </div>

            
            <div class="content-left">
              <img id="content-left-image-1" src="../../assets/slide_3.png" alt="image-1" #image1/>
              <img id="content-left-image-2" src="../../assets/slide_3.png" alt="image-2" #image2/>
              <img id="content-left-image-3" src="../../assets/slide_3.png" alt="image-3" #image3/>
            </div>
           
        <!--  <div class="content-left"    >
    
              <img src="../../assets/slide_3.png" alt="4" #image1 />
            
    
            </div> 
            <div class="content-left"  >
    
              <img src="../../assets/slide_3.png" alt="5"   #image2/>
    
            </div>
            <div class="content-left"   >
    
              <img src="../../assets/slide_3.png"  alt="6" #image3 />
    
            </div>  --> 
        </div>
        <!-- div class="content">
          <div class="first">
            
          </div>
          <div class="middle">
              <img src="../../assets/tester_1.svg" alt="4" />
          </div>
          <div class="last">
              
          </div>
        </div -->
      </div>

  </section>