<div class="contenu-view-content-left">
  <div>
    <div class="header-form">
      <div class="sous-header-form">
        <div class="form-group-header">
          <form>
            <span class="icon-form-group-header-contenu"><i class="fas fa-search"></i></span>
            <input type="text" name="search" [(ngModel)]="searchText" class="champ-header-contenu"
              placeholder="Filtrer par titre ou candidat" id="search-header" />
          </form>
        </div>

        <div class="form-group-header form-group-header-2">

          <!-- <label for="archive" class="checked-block" for="check-1">
            <input class="checkbox" id="check-1" type="checkbox">
            <span class="checkbox-span"></span>
            <span class="checked-text">Inclure les campagnes archivées</span>
          </label> -->

          <label class="checked-block" for="archive">
            <span class="check-label">Inclure les campagnes archivées</span>
            <input type="checkbox" id="archive" class="checkbox" />
            <span class="checkbox-span"></span>
          </label>
        </div>
      </div>
      <app-integration-bouton> </app-integration-bouton>
    </div>
  </div>

  <div class="contenu-techno">
    <div class="contenu-techno-header">
      <span class="contenu-techno-header-icon">
        <i class="far fa-list-alt"></i>
      </span>

      <h2 class="contenu-techno-header-title">
        Campagnes
      </h2>
    </div>



    <div class="content-scroll">

      <div class="no-campaign" *ngIf="campaigns.length === 0">
        <p> Vous n'avez pas encore de campagnes, cliquer sur le bouton en dessous pour en créer une.</p>
        <i class="fas fa-times-circle fa-4x icon"></i>
        <div class="button">
          <app-integration-bouton> </app-integration-bouton>
        </div>
      </div>

      <div *ngFor="let campaign of campaigns | filter: searchText" class="contenu-techno-content">
        <div class="contenu-branche">
          <a [routerLink]="['/dashboard/campaigns', campaign.id, 'candidats']">
            <p class="branche-content-text">
              {{ campaign.Name }}
            </p>

            <div class="branche-content-noti">
              <span class="branche-content-noti-item">
                <strong>{{ campaign.candidats.length }}</strong>
                <span>Invité</span>
              </span>
              <span class="branche-content-noti-item">
                <strong>{{ campaign.NbCandidatFinish !== null ?
                  campaign.NbCandidatFinish : 0 }}</strong>
                <span>Terminé</span>
              </span>
            </div>
          </a>
        </div>

        <div class="branche-content-list-end">
          <span class="branche-content-list-end-contenu-icon" (click)="openDialog(campaign.id)">
            <i class="far fa-user"></i>
          </span>
          <span class="branche-content-list-end-contenu-icon dashed">
            <i class="fas fa-ellipsis-h"></i>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>