.container-interview-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 400px;
  background: black;
  align-items: center;
}

.container-interview-footer > .other-icons {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
}

.container-interview-footer > .icons > div {
  /*padding: 10px;*/
}

#chat-icon:focus,
#group-icon:focus {
  color: rgb(40 151 205);
}

#chat-icon:hover,
#group-icon:hover {
  color: rgb(204, 202, 202);
  cursor: pointer;
}

#chat-icon,
#group-icon {
  background: none;
  border: none;
  color: rgb(160, 158, 158);
}

.other-icons {
  display: flex;
  justify-content: center;
  color: #757575;
  cursor: pointer;
}

.other-icons > .footer-icons {
  padding: 10px;
}

.call-icons {
  display: flex;
  justify-content: center;
  cursor: pointer;
  column-gap: 1rem;
}

.icon-mic,
.icon-VideoCam {
  color: red;
}

@media screen and (max-width: 1240px) {
  .container-interview-footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .icon-mic {
    grid-column: 1/2;
  }

  .container-interview-footer > .other-icons {
    grid-row: 1/1;
    grid-column: 2/2;
  }

  .container-interview-footer > .icons {
    grid-row: 1/1;
    grid-column: 2/2;
  }
}
