<section id="techno">

  <div class="">
    <h3 class="title-dashed">
      TECHNOLOGIES
      <span class="dashed"></span>
    </h3>
    <div class="row">

      <div class="row-img-techno row">
        <figure class="img-techo spacing" id="angular">
        </figure>
        <figure class="img-techo" id="html">
        </figure>
        <figure class="img-techo" id="css">
        </figure>
        <figure class="img-techo" id="javascript">
        </figure>
        <figure class="img-techo" id="android">
        </figure>
        <figure class="img-techo" id="node">
        </figure>
        <figure class="img-techo" id="php">
        </figure>
        <figure class="img-techo" id="jquery">
        </figure>
        <figure class="img-techo" id="swift">
        </figure>
        <figure class="img-techo" id="symfony">
        </figure>
        <figure class="img-techo" id="git">
        </figure>
        <figure class="img-techo" id="python">
        </figure>
        <figure class="img-techo" id="vue">
        </figure>
        <figure class="img-techo" id="react">
        </figure>
      </div>

    </div>

  </div>



</section>