<section id="techno">

  <div class="container">
    <h3 class="title-dashed">
      TECHNOLOGIES
      <span class="dashed"></span>
    </h3>
    <div class="row">
        
          <div class="row-img-techno row">
            <figure class="img-techo spacing">
              <img src="../assets/Coding-game-img/Page-accueil/angular.PNG"/>
            </figure>
            <figure class="img-techo">
              <img src="../assets/Coding-game-img/Page-accueil/html.PNG"/>
            </figure>
            <figure class="img-techo">
              <img src="../assets/Coding-game-img/Page-accueil/css.PNG"/>
            </figure>
            <figure class="img-techo">
              <img src="../assets/Coding-game-img/Page-accueil/js.PNG"/>
            </figure>
            <figure class="img-techo">
              <img src="../assets/Coding-game-img/Page-accueil/android.PNG"/>
            </figure>
            <figure class="img-techo">
              <img src="../assets/Coding-game-img/Page-accueil/node.PNG"/>
            </figure>
            <figure class="img-techo spacing-padding">
              <img src="../assets/Coding-game-img/Page-accueil/php.PNG"/>
            </figure>

            <figure class="img-techo spacing spacing-padding">
              <img src="../assets/Coding-game-img/Page-accueil/jquery.PNG"/>
            </figure>
            <figure class="img-techo spacing-padding">
              <img src="../assets/Coding-game-img/Page-accueil/swift.PNG"/>
            </figure>
            <figure class="img-techo">
              <img src="../assets/Coding-game-img/Page-accueil/symfony.PNG"/>
            </figure>
            <figure class="img-techo">
              <img src="../assets/Coding-game-img/Page-accueil/git.PNG"/>
            </figure>
            <figure class="img-techo">
              <img src="../assets/Coding-game-img/Page-accueil/pithon.PNG"/>
            </figure>
            <figure class="img-techo">
              <img src="../assets/Coding-game-img/Page-accueil/vue.PNG"/>
            </figure>
            <figure class="img-techo">
              <img src="../assets/Coding-game-img/Page-accueil/react.PNG"/>
            </figure>
          </div>
       
    </div>

    <h3 class="title-dashed title-fonction">
      FONCTIONNALITÉS
      <span class="dashed"></span>
    </h3>
    <h3 class="title-dashed title-fonction">
      NOS FORMULES
      <span class="dashed"></span>
    </h3>
  </div>

  

</section>