@import"../../../../roodeo-variables.scss";
@import"../accueil/accueil.component.scss";

#techno{
    padding: 60px 20px 0px 40px;
    margin: 0 auto;

    .title-fonction{
        margin-top:60px;
        margin-bottom: 95px;
    }

    .row-img-techno{
        margin-top: 60px;
    }
  
        #angular{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-orange/Angular.svg");    
        }
        #angular:hover{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-couleur/AngularColor.svg");
        }
        #html{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-orange/HTML5.svg");
        }
        #html:hover{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-couleur/HTML5Color.svg");
        }
        #css{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-orange/CSS3.svg");
        }
        #css:hover{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-couleur/CSS3Color.svg");
        }
        #android{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-orange/Android.svg");
        }
        #android:hover{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-couleur/AndroidColor.svg");
        }
        #javascript{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-orange/JavaScript.svg");
        }
        #javascript:hover{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-couleur/JavaScriptColor.svg");
        }
        #node{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-orange/NodeJS.svg");
        }
        #node:hover{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-couleur/NodeJSColor.svg");
        }
        #php{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-orange/PHP.svg"); 
        }
        #php:hover{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-couleur/PHPColor.svg");
        }
        #jquery{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-orange/jQuery.svg");
        }
        #jquery:hover{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-couleur/jQueryColor.svg");
        }
        #swift{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-orange/Swift.svg");   
        }
        #swift:hover{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-couleur/SwiftColor.svg");
        }
        #symfony{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-orange/Symfony.svg");
        }
        #symfony:hover{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-couleur/SymfonyColor.svg");
        }
        #git{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-orange/Git.svg");
        }
        #git:hover{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-couleur/GitColor.svg");
        }
        #python{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-orange/Python.svg");
        }
        #python:hover{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-couleur/PythonColor.svg");
        }
        #vue{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-orange/VueJS.svg");
        }
        #vue:hover{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-couleur/VueJSColor.svg");
        }
        #react{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-orange/React.svg");
        }
        #react:hover{
            background-image: url("../../../../assets/Coding-game-img/Page-accueil/SVG-couleur/ReactColor.svg");
        }

        .img-techo{
            width: 65px;
            height: 65px;
            margin-left: 30px;
            margin-right: 30px;
            text-align:center;
            display: block;
            margin-bottom: 30px;
            background-repeat:no-repeat;
            background-position: center;
           
        }

        .spacing{
           
        }

        .img-techo img{
        }

      

    
}
