<div id="container">
  <div class="content">
    <div id="section2">
      <div class="logoSupport">
        <img src="../../../../assets/logo_ROODEO.svg">
      </div>
      <br>
      <div class="section-title">
        <h1 class="title">Nous joindre</h1>
        <br>
        <p>
          Vous pouvez également nous joindre par téléphone,
          nous serons ravis de pouvoir vous aider: <strong>01-11-22-33-44</strong>
        </p>
      </div>
      <br>
      <p>Si vous avez des questions d'ordre général vous pouvez à tout moment les poser au bot
        d'aide en cliquant en bas a droite sur le point d'interrogation </p>
    </div>

  </div>
</div>