<div id="container">
  <div class="content">
    <div id="section2">
      <div class="logoSupport">
        <img src="../../../../assets/logo_ROODEO.svg">
      </div>
      <br>
      <div class="section-title">
        <h1 class="title" i18n>Contact us</h1>
        <br>
        <p i18n>
          You can aslso contact us by phone, we will be glad to help you: <strong>01-11-22-33-44</strong>
        </p>
      </div>
      <br>
      <p i18n>If you have general questions,
        you can ask them to the help button at any time by clicking on the question mark at the bottom right.
      </p>
      <br>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.205263744103!2d2.341176550697978!3d48.873363407505636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e3e565557f1%3A0xf198bd52dce59549!2s3%20Rue%20Geoffroy-Marie%2C%2075009%20Paris!5e0!3m2!1sfr!2sfr!4v1585152695348!5m2!1sfr!2sfr"
        width="400" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
      </iframe>
    </div>

  </div>
</div>