.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.header-h3 {
  text-align: center;
  font-size: 41px;
  line-height: 41pt;
  color: #f2bb13;
  margin: 10px;
}

.header-container > p {
  max-width: 900px;
  text-align: center;
  font-size: 26px;
  line-height: 26pt;
  color: white;
  margin: 0;
}
