@import"../../../../../../roodeo-variables.scss";
@import '~@angular/material/theming';

::ng-deep #cdk-overlay-0 {
  min-width: 300px !important;
}

.close-invite-dialog{
  float:right;
  color: mat-color($roodeo-app-warn);
  margin-top:0px;
  cursor: pointer;

  span{
    color: mat-color($roodeo-app-warn);
  }
}

.header-modal {
  border-bottom: 1px solid #1d3552;
}

.card-body, .header-modal {
  padding: 2 * $gutter  4 * $gutter;
}


.block-button{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.loading-container{
  width: "100%";
}

.error-date-time {
  color: mat-color($roodeo-app-accent);
  font-size: small;
}


.cancel-button.mat-raised-button.mat-accent.ng-star-inserted{
  margin-left: 10px;
}

@media only screen and (max-width : 450px) {
  .mat-form-field {
    display: inline;
  }
}