@import"../../../../../../roodeo-variables.scss";
@import '~@angular/material/theming';

.close-invite-dialog{
    float:right;
    color: mat-color($mat-red);
    margin-top:0px;
    cursor: pointer;

    span{
      color: mat-color($mat-red);

    }
  }

  .block-button{
      margin-top: 10px;
  }