@import"../../../../../../roodeo-variables.scss";
@import '~@angular/material/theming';

.close-invite-dialog{
    float:right;
    color: mat-color($roodeo-app-warn); // WIP SL
    margin-top:0px;
    cursor: pointer;

    span{
      color: mat-color($roodeo-app-warn); // WIP SL
    }
  }

  .block-button{
      margin-top: 10px;
  }


  .loading-container{
    width: "100%";
    
  }
  .candidat-presentation{
    text-align: center;
  }
  .cancel-button.mat-raised-button.mat-accent.ng-star-inserted{
    margin-left: 10px;
  }