<section id="stripe-payment">
  <div id="form-payment">
    <p><a href="" [routerLink]="['/subscription']">Retour aux offres</a></p>

    <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
        <h2 class="title">
          Vous avez opté pour la formule <b>{{ offerChoice?.title }}</b> de <b>{{ offerChoice?.price }} € <span *ngIf="offerChoice?.periodicity === 'monthly'">/mois</span></b>
        </h2>
        <!-- <input type="text" formControlName="name" placeholder="Votre nom"> -->
        <div id="card-element" class="field"></div>

        <button type="submit" mat-flat-button color="primary" id="payment">PAYER {{ offerChoice?.price }} €</button>
    </form>
        <div class="alert alert-danger error-stripe" *ngIf="stripeError">{{ stripeError }}</div>
        <div class="alert alert-success success-stripe" *ngIf="stripeSuccess">{{ stripeSuccess }}</div>
  </div>

  <div class="loader" *ngIf="stripeLoader">
    <mat-progress-spinner
        color="primary"
        mode="indeterminate"
        value="50">
    </mat-progress-spinner>
  </div>

</section>
