<!-- 4242424242424242 -->
<!-- https://stripe.com/docs/payments/accept-a-payment#web-test-integration -->
<!-- <a *ngIf="paied" mat-raised-button href="" [routerLink]="['/dashboard/campaigns']">Revenir à Roodeo</a>
        <div class="loader"> -->
<app-route-component></app-route-component>
<!--app-breadcrumb [namePage]="'Payment'"></app-breadcrumb-->
<mat-progress-bar
  *ngIf="inProgress"
  class="roodeo-progress-bar"
  mode="query"
></mat-progress-bar>

<div style="margin-top: 55px; height: 6px" *ngIf="dataRoute">
  <nav-wrapper-component [dataRoute]="this.dataRoute"></nav-wrapper-component>
</div>

<div class="rdo-panel" style="margin-top: 130px">
  <div class="rdo-panel-header">
    <h2 i18n><mat-icon>account_circle</mat-icon> Finalisez votre achat</h2>
    <app-base-button
      id="payment"
      *ngIf="!paied"
      iconName="payment"
      (clickEvent)="confirmPayment()"
      >Payer</app-base-button
    >
  </div>
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="100" class="rdo-content-group">
      <div>
        <h3 i18n><mat-icon>shopping_cart</mat-icon> Votre offre</h3>
        <app-base-button
          *ngIf="!paied"
          mat-stroked-button
          color="primary"
          iconName="autorenew"
          [routerLink]="['/subscription']"
          >Change d'offre</app-base-button
        >
      </div>
      <div fxLayout="column" fxLayoutGap="20px">
        <div>
          <h2 style="display: inline-block">
            {{ offerChoice?.title + ' pour ' + offerChoice?.price + '€ ' }}
          </h2>
          <h6
            *ngIf="offerChoice.periodicity === 'monthly'"
            style="display: inline-block; color: gray"
            i18n
          >
            /mois
          </h6>
        </div>
        <div class="offer-desc" [innerHTML]="offerChoice?.description"></div>
      </div>
    </div>
  </div>
</div>
