@import '../../../../../roodeo-variables.scss';
.testing-timer {
  display: flex;
  gap: 0.2rem;
}

@mixin structureBlock {
  width: 50%;
  @media #{$smallDevice} {
    width: 100%;
    margin-bottom: 12px;
  }
}

::ng-deep .answer-checkbox-group {
  border-radius: $border-radius;
  border: 1px solid $color-background-blue;
  width: 100%;
}

::ng-deep .answer-checkbox {
  padding: 20px 20px;
  border-bottom: 1px solid $color-background-blue;
  &:last-child {
    border-bottom: 0px solid $color-background-blue;
  }
}

/*--modal css--*/

.modal {
  .modal-header {
    background-color: $color-orange;
    color: white;
    .modal-title {
      color: white;
    }
  }
  .modal-content {
    padding: 20px;
    max-width: 875px;
    p {
      margin-top: 40px;
      font-size: 20px;
      color: $color-principal-blue;
    }
  }
  .modal-footer {
    display: flex;
    padding-bottom: 20px;
    .btn {
      flex: 1;
      color: white;
      height: 50px;
      margin: 20px;
      font-size: 18px;
      transition: background 0.2s;
      background-color: #7e8082;
      &:hover {
        background-color: #aaaaaa;
      }
    }
  }
}

::ng-deep .block-button {
  display: flex;
  justify-content: space-around;
}

::ng-deep .mat-checkbox-label,
::ng-deep .mat-radio-label-content {
  white-space: normal;
}

.active-time-danger {
  color: red;
}

.time-elapsed {
  font-weight: bold;
  width: 145px;
  display: inline-block;
}

.block-testing {
  display: flex;
  gap: 0.5rem;

  .testing-left {
    flex: 1;
    display: flex;

    > .cube-testing {
      width: 100%;
    }
  }

  .testing-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__up {
      height: 100%;
    }
  }

  .cube-testing {
    height: 100%;
    border: 1px solid $color-background-blue;
    background: #fff;
    flex-direction: column;
    border-radius: 5px;
    &-right {
      border: none;
    }

    .header-cube-testing {
      height: 6rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0.5rem;
      border: 1px solid $color-background-blue;
      flex-wrap: wrap;
      background-color: $color-pricipal-blue-light;
      color: $color-principal-blue;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      &-left {
        border: none;
        border-bottom: 1px solid $color-background-blue;
      }

      .f030 {
        min-width: 250px;
        display: flex;

        .icon-testing {
          margin-right: 15px;
          color: $color-orange;
          display: block;
          font-size: 24px;
        }

        .title-testing {
          font-size: 14px;
          display: inline-block;
        }
      }
    }
    // il faut atteindre ces classes pour changer la box de textearea mat-form-field-appearance-outline .mat-form-field-outline
    .scroll-auto-testing {
      min-height: 30rem !important;
      .example-full-width {
        width: 100%;
        margin-top: -0.25em;
        .mat-form-field-wrapper {
          margin: 0 !important;
          padding: 0 !important;
          .mat-form-field-flex {
            margin: 0 !important;
            min-height: 30rem !important;
          }
        }
        textarea {
          height: 100%;
          width: 100%;
        }
      }
    }
    .content-testing {
      display: flex;
      &-left {
        margin: 1.5rem;
      }

      .answer-radio-group {
        display: flex;
        flex-direction: column;
        border-radius: 0 0 $border-radius $border-radius;
        border: 1px solid $color-background-blue;
        border-top: none;
        overflow: auto;
        width: 100%;

        .answer-radio-button {
          padding: 20px 20px;
          border-bottom: 1px solid $color-background-blue;

          &:last-child {
            border-bottom: 0px solid $color-background-blue;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .block-testing {
    flex-direction: column;
  }
}
