@import '../../../../../roodeo-variables.scss';
.testing-timer {
  display: flex;
  gap: 0.2rem;
  text-align: center;
  flex-direction: column;
  color: #346f9a;
  font-weight: bold;
  font-size: 1.3rem;
  margin: auto;
}

@mixin structureBlock {
  width: 50%;
  @media #{$smallDevice} {
    width: 100%;
    margin-bottom: 12px;
  }
}

::ng-deep .answer-checkbox-group {
  border-radius: 0 0 $border-radius $border-radius;
  //border: 1px solid $color-background-blue;
  border-top: none;
  width: 100%;
}

::ng-deep .answer-checkbox {
  padding: 20px 20px;
  //border-bottom: 1px solid $color-background-blue;
  &:last-child {
    border-bottom: 0px solid $color-background-blue;
  }
}

// Permet de masquer le border qui n'est pas un border autour du textearea
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent;
}

::ng-deep .mat-form-field-flex {
  border: 1px solid $color-background-blue;
  border-radius: 0 0 4px 4px;
}

/*--modal css--*/

.modal {
  .modal-header {
    background-color: $color-orange;
    color: white;
    .modal-title {
      color: white;
    }
  }
  .modal-content {
    padding: 20px;
    max-width: 875px;
    p {
      margin-top: 40px;
      font-size: 20px;
      color: $color-principal-blue;
    }
  }
  .modal-footer {
    display: flex;
    padding-bottom: 20px;
    .btn {
      flex: 1;
      color: white;
      height: 50px;
      margin: 20px;
      font-size: 18px;
      transition: background 0.2s;
      background-color: #7e8082;
      &:hover {
        background-color: #aaaaaa;
      }
    }
  }
}

::ng-deep .block-button {
  display: flex;
  justify-content: space-around;
}

::ng-deep .mat-checkbox-label,
::ng-deep .mat-radio-label-content {
  white-space: normal;
}

.active-time-danger {
  color: red;
}



.block-testing {
  display: flex;
  margin : 2.5rem;
  gap: 0.5rem;
  
 //border-radius: 5px;
  //border: 1px solid $color-background-blue;
  //background-color: #e9f1f4;
  //box-shadow: 0px 0px 5px 0px grey;

  .testing-left {
    transition-duration: 5s;
    flex: 1;
    display: flex;

    > .cube-testing {
      width: 100%;
      background-color: $color-pricipal-blue-light;
      border: 1px solid $color-background-blue;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 0px grey;
    }
  }

  .testing-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    //gap: 0.7rem;
    background-color: $color-pricipal-blue-light;
    border: 1px solid $color-background-blue;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px grey;

    &__up {
      height: fit-content;
      width: fit-content;
      margin: auto;
      background-color: $color-pricipal-blue-light;
    }
    &__down {
      display: flex;
      margin: 10%;
      justify-content: center;
    }
  }

  .cube-testing {
    height: 100%;
    //border: 1px solid $color-background-blue;
    background: #fff;
    flex-direction: column;
    border-radius: 5px;
    &-right {
      border: none;
      display: flex;
      justify-content: center;
    }

    .header-cube-testing {
      height: 25%;
      display: flex;
      flex-direction: column-reverse;
      //align-items: center;
      //justify-content: space-evenly;
      padding: 0.5rem;
      //border: 1px solid $color-background-blue;
      //flex-wrap: wrap;
      color: $color-principal-blue;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      &-left {
        border: none;
        //border-bottom: 1px solid $color-background-blue;
      }

      .f030 {
       
        display: flex;
        margin-top: 14%;

        .icon-testing {
          margin-right: 15px;
          color: $color-orange;
          display: block;
          font-size: 30px;
        }

        .title-testing {
          font-size: 1.2rem;
          display: inline-block;
        }
      }
    }
    // il faut atteindre ces classes pour changer la box de textearea mat-form-field-appearance-outline .mat-form-field-outline
    .scroll-auto-testing {
      min-height: 30rem !important;
      
      .example-full-width {
        width: 100%;
        // margin-top: -0.25em;
        .mat-form-field-wrapper {
          margin: 0 !important;
          padding: 0 !important;
          .mat-form-field-flex {
            margin: 0 !important;
            min-height: 30rem !important;
          }
        }
        textarea {
          height: 100%;
          width: 100%;
        }
      }
    }
    .content-testing {
      display: flex;
      &-left {
        margin: 1.5rem;
      }

      .answer-radio-group {
        display: flex;
        flex-direction: column;
        border-radius: 0 0 $border-radius $border-radius;
        //border: 1px solid $color-background-blue;
        border-top: none;
        overflow: auto;
        width: 100%;
        background-color: $color-pricipal-blue-light;

        .answer-radio-button {
          padding: 20px 20px;
          //border-bottom: 1px solid $color-background-blue;

          &:last-child {
            border-bottom: 0px solid $color-background-blue;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .block-testing {
    flex-direction: column;
  }
}

.timer {
  width: 40px;
  height: 40px;
  background-image: url($TimerPath);
  background-size: cover;
  
}

.timer-background{
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  background-color: white;
  border-top-left-radius: 45px;
    /* border-radius: 39%; */
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: inset 0px 0px 7px 0px #9e9e9e;
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
}

.separate-testing{
  
  background-color: white;
  padding-left: 9px;
  box-shadow: inset 0px 0px 4px 0px #33709a;
  /* padding-top: 0px; */
  margin-top: 10%;
  margin-bottom: 10%;
 
  border-radius: 10px;
  }