<div id="shadow-cog" [class.shadow-cog-active]="Activetime">
  <div class="modall">
    <div class="modall-header">
      <h3 class="modall-title" i18n>
        Timeout
      </h3>
    </div>

    <div class="modall-content">
      <p i18n>
        Le temps imparti pour la question est écoulé. Votre réponse actuelle a
        été soumise. Cliquez sur OK quand vous êtes prêt(e) à passer à la
        question suivante.
      </p>
    </div>

    <div class="modall-footer">
      <button class="btn" (click)="QuestNext()" i18n>OK</button>
    </div>
  </div>
</div>

<div class="block-testing" *ngIf="questions != undefined">
  <div class="testing-left">
    <div class="cube-testing">
      <header class="header-cube-testing">
        <div class="f030">
          <i class="far fa-question-circle icon-testing"></i>

          <span class="title-testing">Question {{ index + 1 }} / {{ questions.length }} - {{ language }}
          </span>
        </div>

        <div class="testing-timer">
          <span class="testing-timer-icon"><i class="far fa-clock"></i></span>
          <span class="testing-timer-text" i18n>
            Temps écoulé :
          </span>
          <span class="time-elapsed" [class.active-time-danger]="timedefault >= timeDanger">
            {{ fmtMSS(timedefault) }}/{{ fmtMSS(question.time) }}
          </span>
        </div>
      </header>

      <div class="scroll-auto-testing" appBlockCopyPaste [appActive]="candidat.campaign.copy_paste">
        <div class="content-testing">
           <div markdown [data]="question[dataInfoLanguageName]" (ready)="onReady()"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="testing-right">
    <div class="cube-testing cube-testing-right">
      <header class="header-cube-testing">
        <div class="f030">
          <i class="fas fa-code icon-testing"></i>

          <span class="title-testing">Question {{ index + 1 }} / {{ questions.length }} -
            {{ question.technologies.name }}</span>
        </div>
      </header>

      <!--textarea-->

      <div *ngIf="question.type === 'free'" class="scroll-auto-testing">
        <div class="content-testing content-testing-seconde">
          <mat-form-field class="example-full-width">
            <textarea [disabled]="isDisabled" appBlockCopyPaste [appActive]="candidat.campaign.copy_paste && !prev" matInput
              placeholder="Leave a comment" [(ngModel)]="responseUser"></textarea>
          </mat-form-field>
        </div>

      </div>

      <!--radio-->

      <div *ngIf="question.type === 'one'" class="content-testing content-testing-seconde">
        <mat-radio-group [disabled]="isDisabled" aria-labelledby="example-radio-group-label" class="example-radio-group"
          [(ngModel)]="responseUser">
          
          <mat-radio-button class="example-radio-button" *ngFor="let response of responses" [value]="response"
            appBlockCopyPaste [appActive]="candidat.campaign.copy_paste && !prev">
            {{ response }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <!--checkbox -->
      <div *ngIf="question.type === 'multiple'" class="content-testing content-testing-seconde">
        <div *ngFor="let response of responses">
          <mat-checkbox [disabled]="isDisabled" (change)="checkCheckBoxvalue($event)" [value]="response"
            appBlockCopyPaste [appActive]="candidat.campaign.copy_paste && !prev">
            {{ response }}
          </mat-checkbox>
        </div>
      </div>

       <!--algo-->

       <div *ngIf="question.type === 'algo'" class="scroll-auto-testing">
        <app-algo [question]="question" [options]="options" [filename]="filename" [filetype]="filetype" ></app-algo>
      </div>
    </div>

    
    <button class="button" (click)="QuestNext()">
      {{
        index === questions.length - 1
          ? "Soumettre le test"
          : "Question suivante"
      }}
    </button>
  </div>
</div>