<section id="fonctionnalites">

  <div class="fonctionnalite-container">
      <h3 class="title-dashed" i18n>
        Features
        <span class="dashed"></span>
      </h3>
  
      <div class="content">
        <div class="fonctionnalite-item">
          <div>
            <figure class="items" id="questions"></figure>
            <div i18n>Over 1000 questions</div>
          </div>
          <div>
            <figure class="items" id="reports"></figure>
            <div i18n>Detailed reports</div>
          </div>
          <div>
            <figure class="items" id="fast-test"></figure>
            <div i18n>Fasts assessments</div>
          </div>
        </div>
        <carousel [showControls]="false" class="carousel" #carousel>
          <ng-container *ngFor="let item of items;">
            <ng-container *carouselItem>
              <div class="item">
                <img src="../../assets/{{item.img_url}}" />
              </div>
            </ng-container>
          </ng-container>
        </carousel>
         
      </div>
  </div>
  
  </section>