<div class="cadreQuestion">
<div class="new-campaign">
  <div class="col-md-12">
  
    <div class="row">
        <div class="col-md-12 formQuestion">
            <label
              for="nomDeCampagne"
              [ngStyle]="errorNomCampgane ? { color: 'red' } : null"
            >
              Nom de la campagne
            </label>
          </div>
      <div class="col-md-12">
        <mat-form-field [formGroup]="formCampagne" class="fullWidth">
          <input
            formControlName="nomDeCampagne"
            matInput
            value="{{ formCampagne.value.role }} - {{
              formCampagne.value.experience
            }}"
            name="nomDeCampagne"
          />
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 cog-test">
        <label
          for="nomDeCampagne"
          [ngStyle]="errorNomCampgane ? { color: 'red' } : null"
        >
          En quelle langue les questions doivent-elles être posées à vos
          candidats ?
        </label>
      </div>

      <div class="col-md-12 cog-test">
          <div class="example-radio-button">
            <mat-radio-group [(ngModel)]="selectedLangue">
              <mat-radio-button value="FR">
                FR
              </mat-radio-button>
              <mat-radio-button value="EN">
                EN
              </mat-radio-button>
              <mat-radio-button value="ES">
                ES
              </mat-radio-button>
              <mat-radio-button value="JP">
                JP
              </mat-radio-button>
            </mat-radio-group>
          </div>
      </div>
      <div class="col-md-12 cog-test">
          <div class="row">
            <div class="col-md-12">
              <label
                for="utilisationCopieColler"
                [ngStyle]="errorNomCampgane ? { color: 'red' } : null"
              >
              Voulez-vous empêcher l'utilisation du copier/coller pendant le test ?
              
              </label>
              <div class="example-radio-button" [formGroup]="formCampagne">
                <mat-radio-group formControlName="utilisationCopieColler">
                  <mat-radio-button value="true">
                    Oui
                  </mat-radio-button>
                  <mat-radio-button value="false">
                    Non
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
      </div>
    
      <div class="col-md-12 cog-test">
          <div class="row">
            <div class="col-md-12">
              <label
                for="envoiRapportSimplifie"
                 [ngStyle]="errorNomCampgane ? { color: 'red' } : null"
              >
                Souhaitez-vous envoyer le rapport simplifié au candidat à l'issue de
                son test ?
              </label>
              <div class="example-radio-button" [formGroup]="formCampagne">
                <mat-radio-group formControlName="envoiRapportSimplifie">
                  <mat-radio-button value="true">
                    Oui
                  </mat-radio-button>
                  <mat-radio-button value="false">
                    Non
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
      </div>

    </div>
   
  </div>

  <div class="col-md-12 formQuestion finalQuestion">
      <div class="buttons">
        <div class="singleButton">
          <button
            type="button"
            id="button"
            mat-flat-button
            (click)="onDecrementPage()"
          >
            Étape précédente : Profil recherché
          </button>
        </div>
        <div class="singleButton">
          <button
            type="button"
            id="button"
            mat-flat-button
            (click)="onIncrementPage()"
            (click)="postData()"
          >
            <!-- (click)="postData()" -->
            Étape suivante : Choix des questions
          </button>
        </div>
      </div>
    </div>
</div>
</div>