<div class="cadreQuestion">
<div class="new-campaign">
    <div class="header-new-campagne">
      <figure class="block-img">
        <img src="../assets/Coding-game-img/SVG-menu-Dashboard/mes-tests.svg" alt="" />
      </figure>
      <h2 class="title" i18n>Nouveau test d'evaluation : paramètres</h2>
    </div>

    <div class="campaign-param-container">
    
        
      <div class="campaign-param roodeo-dark-theme first">

        <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" [formGroup]="formCampagne" class="fullWidth">
          <mat-label>Nom du test d'evaluation</mat-label>
          <input 
            placeholder="Nom du test d'evaluation"
            type="text"
            formControlName="nomDeCampagne"
            matInput
            value="{{ formCampagne.value.role }} - {{
              formCampagne.value.experience
            }}"
            name="nomDeCampagne"
          />
        </mat-form-field>
      </div>

  
    <div class="campaign-param">
      <div class="cog-test first">
        <label
          for="nomDeCampagne"
          [ngStyle]="errorNomCampgane ? { color: 'red' } : null"
        >
          En quelle langue les questions doivent-elles être posées à vos
          candidats ?
        </label>
        <div class="container-radio-button">
          <mat-radio-group [(ngModel)]="selectedLangue">
            <mat-radio-button value="FR">
              FR
            </mat-radio-button>
            <mat-radio-button value="EN">
              EN
            </mat-radio-button>
            <mat-radio-button value="ES">
              ES
            </mat-radio-button>
            <mat-radio-button value="JP">
              JP
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="cog-test">
          <div class="campaign-param">
              <div class="container-radio-button" [formGroup]="formCampagne">
                <mat-slide-toggle formControlName="utilisationCopieColler" i18n>
                  Empêcher l'utilisation du copier/coller pendant le test ?
                </mat-slide-toggle>
                <!--mat-radio-group formControlName="utilisationCopieColler">
                  <mat-radio-button value="true">
                    Oui
                  </mat-radio-button>
                  <mat-radio-button value="false">
                    Non
                  </mat-radio-button>
                </mat-radio-group-->
              </div>
          </div>
      </div>
    
      <div class="cog-test">
          <div class="">
            <div class="campaign-param">
              
              <div class="container-radio-button" [formGroup]="formCampagne">

                <mat-slide-toggle formControlName="envoiRapportSimplifie" i18n>
                  Envoyer le rapport simplifié au candidat à l'issue de son test ?
                </mat-slide-toggle>
                <!--mat-radio-group >
                  <mat-radio-button value="true">
                    Oui
                  </mat-radio-button>
                  <mat-radio-button value="false">
                    Non
                  </mat-radio-button>
                </mat-radio-group-->
              </div>
            </div>
          </div>
      </div>

    </div>

    <div class=" formQuestion finalQuestion">

      <div class="container-previous hvr-grow" (click)="onDecrementPage()">
        <button mat-mini-fab class="next-button" i18n>
          <mat-icon class="addIcon">keyboard_arrow_left</mat-icon>
        </button>
        <span i18n class="button-text">Etape précédente : paramètres</span>
      </div>

      <div class="container-next hvr-grow" (click)="onIncrementPage()" (click)="postData()">
        <span i18n class="button-text">Etape suivante : choix des questions</span>
        <button mat-mini-fab class="next-button" i18n>
          <mat-icon class="addIcon">keyboard_arrow_right</mat-icon>
        </button>
      </div>

      
      <!--div class="buttons">
        <div class="singleButton">
          <button
            type="button"
            id="button"
            mat-flat-button
            (click)="onDecrementPage()"
          >
            Étape précédente : Profil recherché
          </button>
        </div>
        <div class="singleButton">
          <button
            type="button"
            id="button"
            mat-flat-button
            (click)="onIncrementPage()"
            (click)="postData()"
          >
            
            Étape suivante : Choix des questions
          </button>
        </div>
      </div-->
    </div>
   
  </div>

  
</div>
</div>