@import"../../../../../roodeo-variables.scss";

//material first ever
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-icon.static{
    font-size: 52px;
    margin-right: 20px;
    line-height: 52px;
    margin-top: 0px;
    height: 46px;
    width: 46px;
    color: mat-color($roodeo-app-accent, 800);
  }

.finalQuestion {
    margin-bottom: 30px;
  }

.header-new-campagne {
    border-bottom: $border-table;
    background: #eaeff3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    border-radius: 4px 4px 0px 0px;
    .block-img {
      width: 40px;
      height: 40px;
      margin-bottom: 0px;
      margin-right: 18px;
    }
  
    .title {
      margin-bottom: 0px;
      font-size: 16px;
      color: $color-principal-blue;
      //text-transform: uppercase;
    }
  }
  .flag-icon-jp{
      border: 1px solid #cee5fd;
  }

  .container-next{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    background: mat-color($roodeo-app-primary, 800);
    border-radius: 19px;
    cursor: pointer;
  
    .next-button{
      background-color: #0c6192 !important;
      position: relative;
      right: -1px;
    }
    .button-text{
      font-size: 14px;
      margin-right: 10px;
      margin-left: 20px;
      color: #fff;
      cursor: pointer;
    }
  }

  .container-previous{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    background: mat-color($roodeo-app-primary, 800);
    border-radius: 19px;
    cursor: pointer;
  
    .next-button{
      background-color: #0c6192 !important;
      position: relative;
      right: -1px;
    }
    .button-text{
      font-size: 14px;
      margin-left: 10px;
      margin-right: 20px;
      color: #fff;
      cursor: pointer;
    }
  }
  

  .campaign-param-container{
    padding: 10px 60px;
    color: $primary-text;
    .campaign-param{
        &.first{
            margin-top: 10px;
        }
        
    }
  }
  .container-radio-button{
      margin-top: 10px;
  }
  
  
.new-campaign{
    box-shadow: 3px 4px 8px -2px rgba(0, 0, 0, 0.4), -3px -4px 8px -2px rgba(124, 151, 166, 0.69);
}

#new-campaign {
    min-height: 60vh;
    // width: 50%;
    margin: 100px auto;
     
    background: $color-white;
    box-shadow: 3px 4px 8px -2px rgba(0, 0, 0, 0.4), -3px -4px 8px -2px rgba(124, 151, 166, 0.69);
}

.cadreQuestion {
    padding: 115px 15px 10px 15px;
    margin: 0 auto;
    width: 100%;
  }

.buttons {
    display: flex;
    // width: fit-content;
}

#form {
    margin: 0 5%;
}

#campaign-name p {
    font-size: 16px;
    margin-top: 40px;
}

#campaign-name-input {
    margin-top: 10px;
    width: 100%;
    height: 50px;
}

#campaign-lang p {
    margin: 20px 0px;
}

.example-margin {
    margin: 0px 10px 0 0;
}

#campaign-copypaste p {
    margin: 20px 0px;
     
}


.button {
    display: flex;
    height: 50px;
    margin: 20px 0 90px;
}

.example-radio-button {
    margin: 0 10px 0 0;
}

.info {
    color: $color-gray;
    margin: 0 15px 0 0px;
}

.singleButton {
    width: 30%;
}

.cog-test{
    margin-top: 30px;
    
    &.first{
        margin-top: 0px;
    }
}

@media screen and (min-width:768px) and (max-width:959px) {
    #new-campaign {
        width: 100%;
        margin: 0px;

    }
    #form {
        margin: 0px 10px;
    }
    #select span {
        font-size: 20px;
         
        color: $color-gray;
        margin: 20px 140px 25px;
    }
    .button {
        flex-wrap: wrap;
    }
    #button {
        margin: 5px;
    }
}

@media screen and (min-width:460px) and (max-width:767px) {
    #new-campaign {
        width: 100%;
        margin: 0px;
    }
    #form {
        margin: 0px 10px;
    }
    #select span {
        font-size: 20px;
         
        color: $color-gray;
        margin: 20px 140px 25px;
    }
    .button {
        flex-wrap: wrap;
    }
    #button {
        margin: 5px;
    }
}

@media screen and (max-width:459px) {
    #new-campaign {
        width: 100%;
        margin: 0px;
    }
    #form {
        margin: 0px 10px;
    }
    #select span {
        font-size: 20px;
         
        color: $color-gray;
        margin: 20px 140px 25px;
    }
    .button {
        flex-wrap: wrap;
    }
    #button {
        margin: 5px;
    }
}