@import "../client-test.component.scss";
@import"../../../../../roodeo-variables.scss";

// body, html {
//   height: auto!important;
// }

.fin-para{
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-section2 {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $color-background-blue;
  font-family: $font-family-client-test;
  font-weight: 300;
  color: $text-color-client-test;

  .test-container2 {
    margin: 0 5% 0 %5;
    display: flex;
    gap: 10px 10px;

    .invitation2 {
      display: flex;
      flex-direction: column;
      justify-content: normal!important;
      padding: 40px;
      background: white;
      border: $border-table;
      border-radius: $border-radius;
      width: 100%;
      text-align: center;

      .text2 {
        padding: 30px 0 80px 0;
        p{
          color: $color-principal-blue!important;
          font-size: $font-size-home;
        }
      }

      .test-invit {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color:$color-principal-blue;

        h3 {
          margin-left: 20px;
          margin-top: 20px;
          padding-top: 6px;
          padding-bottom: 6px;
          padding-bottom: 10px;
          margin-bottom: 0px;
          font-size: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px dashed #e3e3e3;
          border-bottom: 1px dashed #e3e3e3;
        }

        .image {
          margin: 0px auto;
          width: 205px;
          height: 58px;
          background-image: url($logoPath);
          background-size: cover;
        }

        .oos-margin-left {
          margin: auto;
          margin-top: 20px;
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}


.test-invit h3 {
  width: inherit !important;
}

.text {
  padding: 30px 0px 0px 0px;
}

.tutorial-test {
  width: 100%;

  .tutorial2 {
    height: 100%!important;
    background-color: white;
    padding: 40px;
    width: 100%;
    border: $border-table;
    border-radius: $border-radius;
    padding-top: 10px;
    @include structureTitle();
    display: flex;
    flex-direction: column;

    .feedback-btn {
      text-align: center;
    }
    
    .oos-note {
      display: flex;
      justify-content: center;
      border-top: 1px dashed #e3e3e3;
      border-bottom: 1px dashed #e3e3e3;
      padding-top: 40px;
      padding-bottom: 40px;
      .oos-custom-star {
        background-color: white;
        border: inherit !important;
      }
      div p.oos-nameStar {
        text-align: center;
        position: absolute;
      }
    }
    .example-full-width {
      min-width: 150px;
      max-width: 100%;
      width: 100%;
    }
    .oos-custom-feedback {
      color: white;
      background-color: $color-principal-blue;
      border-radius: 0px;
      width: 100%;
      height: 50px;
      font-size: large;
      &:hover {
        border: $border-table;
        background-color: $color-principal-blue;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .test-container2 {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 650px) {
  .invitation2 {
    min-width: 325px !important;
    padding: 20px;
  }

  .tutorial-test {
    min-width: 325px !important;

    .tutorial2 {
      padding: 20px;
    }
  }
}