<section class="container-section2">
  <div class="test-container2">
    <div class="invitation2">
      <div class="test-invit">
        <div class="image"></div>
        <img class="oos-margin-left" src="../../../../../assets/Check.svg" alt="Check" />
        <h3><b i18n>Merci d'avoir passé ce test !</b></h3>
      </div>

      <div class="text2">
        <p i18n>
          Le recruteur reviendra vers vous rapidement pour vous donner les
          résultats. <br />
          Nous vous souhaitons bonne chance pour la suite !
        </p>
      </div>
    </div>

    <div class="tutorial-test">
      <div class="tutorial2">
        <div class="title">
          <h3 i18n>Notez l’expérience</h3>
        </div>
        <p class="fin-para" i18n>
          Ce test a été créé sur la plateforme Roodeo. <br />
          Nous cherchons sans cesse à nous améliorer et votre avis nous
          intéresse ! Dites-nous ce que vous avez pensé de ce test (votre retour
          sera communiqué à l’équipe <br />
          Roodeo uniquement).
        </p>
        <div class="oos-note">
          <app-rating-feedback (ratingClick)="getRating($event)"></app-rating-feedback>
        </div>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label i18n>Commentaires (Optionnel)</mat-label>
          <textarea matInput [formControl]="commentaire" name="commentaires" placeholder="Leave a comment"
            cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field>
        <app-base-button class="feedback-btn" iconName="keyboard_arrow_right" (clickEvent)="sendFeedback()" i18n>
          Envoyer votre avis
        </app-base-button>
      </div>
    </div>
  </div>
</section>