<div class="modal-candidat">
  <header class="header-question">
    <span class="rond-custom">
      <p>2</p>
    </span>
    <div class="info-campaign-candidats">
      <h2>Configuration de l'email</h2>
      <p *ngFor="let campaign of campaigns">{{ campaign.Name }}</p>
      <p>Vous avez sélectionné <strong>{{nbCandidat}}</strong> destinataire(s)</p>
    </div>
  </header>
  <div class="content-modal-question"></div>
  <div>
    <div class="sroll-body">
      <div class="form-row">
        <label>Sujet :</label>
        <input *ngIf="editing" class="form-input" type="" name="" class="" [(ngModel)]="sujet" />
        <p *ngIf="!editing" class="sujet-title">{{sujet}}</p>
      </div>
      <div [class.message-personaliser-form]="editing">
        <label>Message :</label>
        <ckeditor *ngIf="editing" [editor]="Editor" [(ngModel)]="htmlContent"></ckeditor>
        <div *ngIf="!editing" [innerHTML]="htmlContent" class="htmlContent"></div>
      </div>
    </div>
    <div class="block-button">
      <app-base-button iconName="keyboard_arrow_left" iconPosition="left" [disabled]="editing"
        (clickEvent)="retourCandidat()">
        Retour
      </app-base-button>
      <app-base-button [iconName]="editing ? 'done' : 'edit'" (clickEvent)="editing=!editing">
        {{editing ? 'OK' : 'Personnaliser cet email'}}
      </app-base-button>
      <app-base-button iconName="send" [disabled]="editing" (clickEvent)="updateCampaignPostCandidats()">
        Envoyer {{ nbCandidat > 1 ? "les emails" : "l'email" }}</app-base-button>
    </div>
  </div>
</div>