@import '../candidats/invite-candidat.scss';

::ng-deep .mat-dialog-container{
    overflow:initial!important;
}

.textarea-champ{
    min-width:860px;
    height:410px;
}

.content-modal-question{
    padding: 0px!important;
}

.sroll-body{
    overflow-y: scroll;
    height: 330px;
    margin-bottom: 9px;
    margin-top: 9px;
}

.error-nbCandidats{
  margin-top: 40px;
  text-align: center;
}

.error-noMoreTest{
  margin-top: 40px;
  text-align: center;
}

.rond-custom{
    top:-25px!important
}
label{

    color: $color-principal-blue;
}

.block-button{
    display: flex;
    justify-content: center;
}

button{

    height: 50px;
    font-size: $font-size-home;
    background-color: $color-principal-blue;
    border-radius: 0px!important;
    text-transform: uppercase;
    color: white;
    padding: 9px 30px;
    border: $border-table;
    margin-bottom: 25px;
}

button:hover{
    background-color:$color-principal-blue!important;
}
