<div class="modal-candidat">
  <header class="header-question">
    <span class="rond-custom">
      <p>2</p>
    </span>
    <div class="info-campaign-candidats">
      <h2>Configuration de l'email</h2>
      <p *ngFor="let campaign of campaigns">{{ campaign.Name }}</p>
      <p i18n>Vous avez sélectionné <strong>{{nbCandidat}}</strong> destinataires</p>
    </div>
  </header>
  <hr />
  <div class="content-modal-question"></div>


  <div class="col-12 form-group">

    <label>Sujet :</label>

    <input type="" name="" class="form-control" [(ngModel)]="sujet" *ngIf="show" />
    <p *ngIf="!show">{{sujet}}</p>

  </div>
  <br />

  <div class="col-12 form-group">

    <label>Message :</label>

    <app-ngx-editor *ngIf="show" [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="htmlContent">
    </app-ngx-editor>
    <div *ngIf="!show" [innerHTML]="htmlContent"></div>
  </div>


  <button (click)="updateCampaignPostCandidats()">
    ENVOYER EMAIL
  </button>
  <button (click)="retourCandidat()">RETOUR AUX CANDIDATS</button>
  <button (click)="show=!show">{{show ? 'OK' : 'Personnaliser cet email'}}</button>