<div class="modal-candidat">
  <header class="header-question">
    <span class="rond-custom"><p>2</p></span>
    <div class="info-campaign-candidats">
      <h2>Configuration de l'email</h2>
      <p *ngFor="let campaign of campaigns">{{ campaign.Name }}</p>
      <p>Vous avez sélectionné <strong>{{nbCandidat}}</strong> destinataires</p>
    </div>
  </header>
  <hr />
  <div class="content-modal-question"></div>
  <p><b>Sujet :</b></p>
  <p>Évaluation technique</p>
  <br />

  <p><b>Message :</b></p>
  <p *ngFor="let candidat of candidats">Bonjour {{ candidat.name }},</p>
  <br />

  <p>Votre candidature a retenu notre attention.</p>
  <br />

  <p>
    Dans le cadre de notre processus de recrutement, nous avons le plaisir de
    vous inviter à passer une évaluation technique. Vous pourrez choisir le
    moment le plus approprié pour vous pour passer ce test.
  </p>
  <br />

  <p>
    Quand vous serez prêt(e), cliquez sur le lien ci-dessous pour accéder à la
    page d’accueil de votre session : "LINK INVITATION"
  </p>

  <p>Bonne chance !</p>
  <br />

  <p>Cordialement,</p>
</div>

<button
  (click)="updateCampaignPostCandidats()"
>
  ENVOYER EMAIL
</button>
<button (click)="retourCandidat()">RETOUR AUX CANDIDATS</button>
<button (click)="showCandidats()">showCandidats</button>
