<section id="interview">
   <div class="interview-container">
      <h3 class="title-dashed" i18n>
         Technical Interview
         <span class="dashed"></span>
      </h3>
      <div class="content">
         <div class="intro">
           <h2>Focus your time on final interviews with the most promising applicants</h2>
         </div>
         <div>
            <h3>Save precious engineering time</h3>
            
         </div>
         <div>
            
            <p>Hiring developers adds demands on the overloaded schedule of your engineering team. 
               It is a recipe for stress, delays, and rushed interviews. 
               Roodeo domain experts can conduct and fully focus on tech interviews on your behalf.
            </p>
         </div>
         <div>
            <h3>Find the best applicants</h3>
            <p>
               Our process evaluates both technical ability and the human component of working in an engineering team. 
               This approach ensures only the applicants having a real chance of fitting with your team reach the last steps of your hiring process.
            </p>
         </div>
         <div class="illustration">
            <img src="../../../../assets/tech_interview.svg" />
         </div>
      </div>
   </div>
</section>
