@import"../../../../roodeo-variables.scss";

#interview{
    padding: 60px 20px 20px 40px;
    margin: 0 auto;
    background-color: $color-background-interview;

    
    
    .content{
        flex-direction: row;
        margin: 40px 0px;

        > div{
            color: $color-principal-blue;
            padding: 20px 0px 20px 0px;
            margin: 20px auto;
            background: rgb(242,247,249);
background: linear-gradient(90deg, rgba(242,247,249,1) 4%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(242,247,249,1) 96%);
            h2,p,h3{
                margin: 0px auto;
                width: 85%;
                text-align: center;
            }
        }
    }

}
@media screen and (max-width:760px){
    .list-para{
        font-size: 12px!important;
        padding-left: 15px;
    }
}