<div id="container">
  <div class="content">
    <div id="section1" class="border-none">

      <div class="section-title">
        <h1 class="title" i18n>Contact us</h1>
        <br>
        <p i18n>
          You have a question to ask us? Need a Help?
          Please fill in this form and we'll answer you as soon as possible
        </p>
      </div>

      <form action="">
        <div class="form-line">

          <div class="input-bloc">
              <mat-form-field [color]="'accent'" appearance="outline">
                  <mat-label i18n>Name</mat-label>
                  <input type="text" [formControl]="nom" matInput value="" name="lastname" required/>
              </mat-form-field>
            <div *ngIf="submittedForm && nom.invalid" class="invalid-feedback">
              <div *ngIf="nom.errors.required" i18>
                Name required.
              </div>
            </div>
          </div>
<!-- 
          <mat-form-field [color]="'accent'" appearance="outline"  [formGroup]="formUtilisateur" >
            <mat-label i18n>Name</mat-label>
            <input type="text" [formControl]="nom" matInput value="" name="lastname" required/>
          </mat-form-field> -->

          <div class="input-bloc">
              <mat-form-field [color]="'accent'" appearance="outline">
                  <mat-label i18n>E-mail</mat-label>
                  <input type="text" [formControl]="email" matInput value="" name="email" required/>
              </mat-form-field>
            <div *ngIf="submittedForm && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required" i18n>
                Email required.
              </div>
              <div *ngIf="email.errors.email" i18n>
                Please enter a valid email.
              </div>
            </div>
          </div>

        </div>

        <div class="form-line">

          <div class="input-bloc">
              <mat-form-field [color]="'accent'" appearance="outline">
                <mat-label i18n>Subject</mat-label>
                <input type="text" [formControl]="subject" matInput value="" name="subject" required/>
              </mat-form-field>
            <div *ngIf="submittedForm && subject.invalid" class="invalid-feedback">
              <div *ngIf="subject.errors.required" i18n>
                Please enter the subject of your request.
              </div>
            </div>
          </div>

          <div class="input-bloc">
              <mat-form-field [color]="'accent'" appearance="outline">
                <mat-label i18n>Message</mat-label>
                <textarea type="text" matInput value="" [formControl]="message" name="message" required></textarea>
              </mat-form-field>  
            <div *ngIf="submittedForm && message.invalid" class="invalid-feedback">
              <div *ngIf="message.errors.required" i18n>
                Please fill this field.
              </div>
            </div>
          </div>

          <div class="form-group">
            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (success)="handleSuccess($event)" [useGlobalDomain]="false"
              [size]="size" [hl]="lang" [theme]="theme" [formControl]="recaptcha">
            </ngx-recaptcha2>
            <div *ngIf="submittedForm && !captchaSuccess" class="invalid-feedback" i18n>
              Validation of captcha required
            </div>
          </div>
          <app-base-button class="btn-send" iconName="send" (click)='sendFormular()'>Send</app-base-button>
        </div>

      </form>
    </div>
  </div>
</div>