<div id="container">
  <div class="content">
    <div id="section1" class="border-none">

      <div class="section-title">
        <h1 class="title">Contactez-nous</h1>
        <br>
        <p>
          Vous avez une question à nous poser? Besoin d'aide?
          Remplissez ce formulaire et nous vous répondrons dans les plus brefs délais
        </p>
      </div>

      <form action="">
        <div class="form-line">

          <div class="input-bloc">
            <h3 class="input-title" maxlength="64">Nom *</h3>
            <input name="lastname" [formControl]="nom" class="input-section1" type="text" required>
            <div *ngIf="submittedForm && nom.invalid" class="invalid-feedback">
              <div *ngIf="nom.errors.required">
                Nom requis.
              </div>
            </div>
          </div>

          <div class="input-bloc">
            <h3 class="input-title" maxlength="64">Email *</h3>
            <input name="email" [formControl]="email" class="input-section1" type="text" required>
            <div *ngIf="submittedForm && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">
                Email requis.
              </div>
              <div *ngIf="email.errors.email">
                Veuillez saisir un email valide.
              </div>
            </div>
          </div>

        </div>

        <div class="form-line">

          <div class="input-bloc">
            <h3 class="input-title" maxlength="64">Sujet*</h3>
            <input [formControl]="subject" class="input-section1" name="subject" required>
            <div *ngIf="submittedForm && subject.invalid" class="invalid-feedback">
              <div *ngIf="subject.errors.required">
                Veuillez saisir l'objet de votre demande.
              </div>
            </div>
          </div>

          <div class="input-bloc">
            <h3 class="input-title" maxlength="64">Message *</h3>
            <textarea class="input-section1 input-section1-textarea" [formControl]="message" name="message"
              id="message"></textarea>
            <div *ngIf="submittedForm && message.invalid" class="invalid-feedback">
              <div *ngIf="message.errors.required">
                Veuillez remplir ce champ.
              </div>
            </div>
          </div>

          <div class="form-group">
            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (success)="handleSuccess($event)" [useGlobalDomain]="false"
              [size]="size" [hl]="lang" [theme]="theme" [formControl]="recaptcha">
            </ngx-recaptcha2>
            <div *ngIf="submittedForm && !captchaSuccess" class="invalid-feedback">
              Validation du captcha nécessaire
            </div>
          </div>
          <button (click)='sendFormular()' class="btn-submit" type="submit">Envoyer</button>
        </div>

      </form>
    </div>
  </div>
</div>