<section id="rapports_detailles">

  <div class="container">
      <h3 class="title-dashed">
        RAPPORTS DÉTAILLÉS
        <span class="dashed"></span>
      </h3>
  
      <div class="content">
  
            <mat-card class="lab-item">
                <mat-card-content>
                    <mat-card-title>
                        Format en ligne
                    </mat-card-title>
  
                    <mat-card-content>
                    <span class="description">Consulter directement les rapports détaillés de vos candidats</span>
                    </mat-card-content>
            
                    <mat-card-actions>
                        <button routerLink="" mat-raised-button color="warn" class="lab-item">Voir un exemple</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>

            <mat-card class="lab-item">
              <mat-card-content>
                  <mat-card-title>
                      Format PDF
                  </mat-card-title>


                  <mat-card-content>
                  
                     <span class="description"> Exporter les rapports détaillés de vos candidats en format PDF</span>
                    
                  </mat-card-content>
          
                  <mat-card-actions>
                      <button routerLink="" mat-raised-button color="warn" class="lab-item">Voir un exemple</button>
                  </mat-card-actions>
              </mat-card-content>
          </mat-card>
  

  
      </div>
  </div>
  
  </section>