<div id="content">
    <div id="container">
      <div class="header-detail">
        <h2>EXEMPLE TEST</h2>
      </div>
  
      <div>
        <h5 class="subtitle_h5">Résultats du test</h5>
        <p> Nom : Exemple</p>
        <p> Email : exemple@exemple.com </p>
        <p>Langue : FR</p>
      </div>
  
  
      <hr class="separator">
  
      <div class="header_result">
  
        <div class="progressbar_container">
          <round-progress [current]="33" [max]="100" [color]="'#ce5637'"
            [background]="'#c1d5e0'" [radius]="10" [stroke]="3" [semicircle]="false" [rounded]="true" [clockwise]="true"
            [responsive]="true" [duration]="1000" [animation]="'easeInOutQuart'" [animationDelay]="100">
          </round-progress>
        </div>
  
  
        <div>
          <p>Score</p>
          <p class="header_stats">33%</p>
          <p>20 / 60 points </p>
        </div>
        <div>
          <p>Durée</p>
          <p class="header_stats">40 / 90 secondes</p>
        </div>
      </div>
  
      <hr class="separator">
  
  
      <div>
  
        <div>
  
          <h3 class="question_number">Question 1 </h3>
          <div class="header_question">
            <p id="techno">
              <span> Javascript </span>
            </p>
  
            <p> 20 / 40 secondes</p>
            <p>
              20 / 20 pts</p>

          </div>
          <hr class="separator">
  
          <h5 class="subtitle_h5">Question :</h5>
          <p> - window.i = 0; var i = 2; alert(window.i); : que va afficher ce code ?</p>
  
          <h5 class="subtitle_h5">Réponse :</h5>
  
          <p> - 2</p>
  
          <h5 class="subtitle_h5">Résultats :</h5>
          <p> <span class="right_answer">
              Réponse correcte :</span>Connaissance du langage</p>
  
          <hr class="separator_red">
  
        </div>

        <div>
  
            <h3 class="question_number">Question 2  </h3>
            <div class="header_question">
              <p id="techno">
                <span> Javascript </span>
              </p>
    
              <p> 15 / 30 secondes</p>
              <p>
                0 / 20 pts</p>
  
            </div>
            <hr class="separator">
    
            <h5 class="subtitle_h5">Question :</h5>
            <p> - Quelle chaîne de caractères ne correspond pas à l'expression régulière /\ba/ ?</p>
    
            <h5 class="subtitle_h5">Réponse :</h5>
    
            <p> - "-a"</p>
    
            <h5 class="subtitle_h5">Résultats :</h5>
            <div>
              <p class="wrong_answer">Mauvaise réponse</p>
              <p>La/Les réponses correcte est/sont : "_a"</p>
            </div>
    
            <hr class="separator_red">
    
          </div>
        
          <div>
  
            <h3 class="question_number">Question 3  </h3>
            <div class="header_question">
              <p id="techno">
                <span> Javascript </span>
              </p>
    
              <p> 5 / 20 secondes</p>
              <p>
                0 / 20 pts</p>
  
            </div>
            <hr class="separator">
    
            <h5 class="subtitle_h5">Question :</h5>
            <p> - Quelle est la méthode spécifiée dans le DOM-2 pour l'ajout des gestionnaires d'événements ?</p>
    
            <h5 class="subtitle_h5">Réponse :</h5>
    
            <p> - attachEventListener </p>
    
            <h5 class="subtitle_h5">Résultats :</h5>
            <div>
              <p class="wrong_answer">Mauvaise réponse</p>
              <p>La/Les réponses correcte est/sont : addEventListener</p>
            </div>
    
            <hr class="separator_red">
    
          </div>

      </div>
    </div>
  </div>