@import"../../../../../roodeo-variables.scss";
#background {
    padding-top: 10px;
    padding-left: 20px;
    padding-right:20px;
    height: 100%;
    width: 100%;
    background: $color-background-blue;

    #content{
        width: 100%;
        //background: $background-color;
        border-radius: 6px;
        // margin-bottom: 5%;

        // #nav{

        //     display: flex;
        //     width: 100%;
        //     border-top: 0.5px solid $color-principal-orange;
            // border-left: 1px solid $color-table;
            // border-right: 1px solid $color-table;
            
            // .link-nav{
            //     width: 50%;
            //     height: 50px;
            //     background: $color-black-background-seconde;
            //     border-radius: 2px;
            //     color: $text-color-white;
            //     text-decoration: none;
            //     text-align: center;
            //     line-height: 50px;
            //     border-left: 0.5px solid $color-principal-orange;
            //     border-right: 0.5px solid $color-principal-orange;
            //     border-top: 0.5px solid $color-principal-orange;
            // }
            
            // .active-link{
            //     background: $color-white-background;
            //     color: $text-color;
            //     border-left: 0.5px solid $color-principal-orange;
            //     border-right: 0.5px solid $color-principal-orange;
            //     border-top: 0.5px solid $color-principal-orange;
            //     /* -webkit-box-shadow: 5px 7px 26px -9px rgba(0,0,0,0.75);
            //     -moz-box-shadow: 5px 7px 26px -9px rgba(0,0,0,0.75);
            //     box-shadow: 5px 7px 26px -9px rgba(0,0,0,0.75); */
            // }
        // }
        
        #formbox{
            width: 100%;
            padding: 3% 8%;
            background: $color-white-background;
            border: 1px solid $color-principal-orange;
            border-radius: 5px;
        }
        
    }
        
}
