#background {
    padding-top: 10px;
    padding-left: 18%;
    height: 100%;
    width: 100%;
    background: #f9f9f9; 
    display: flex;
    justify-content: center;
}

#content{
    width: 80%;
    background: #f9f9f9;
   
}

#nav{
    display: flex;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    
}

.link-nav{
    width: 50%;
    height: 50px;
    background: #2b3035;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

#formbox{
    width: 100%;
    padding: 5% 8%;
    background: white;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}

.active-link{
    background: white;
    color: black;
    /* -webkit-box-shadow: 5px 7px 26px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 26px -9px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 26px -9px rgba(0,0,0,0.75); */
}
