@import"../../../../../roodeo-variables.scss";
.settings-container {
    
    width: 100%;
    background: $color-background-blue;

    .content{
        
        width: 100%;
        border-radius: $border-radius;
        max-width: 1080px;
        margin: auto;
        
        .formbox{
            width: 100%;
            padding: 20px 60px;
            background: $color-white;
            border: $border-table;
            border-radius: $border-radius;
            color: $primary-text;
            box-shadow: 3px 4px 8px -2px rgba(0, 0, 0, 0.4), -3px -4px 8px -2px rgba(124, 151, 166, 0.69);
            
        }
        
    }
        
}
