<section id="element_open_trust">

    <div class="container">

        <div class="title-heading-block">
            <h2 class="modern-heading-title" i18n>
               les recruteurs <span i18n>nous font confiance</span>

            </h2>
       </div>

       <div class="row-ov">

         <div class="contenu-slider">

            <div
                id="carouselExampleControls2"
                class="carousel slide"
                data-ride="carousel"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">

                    <figure class="carousel-img">
                      <img src="../assets/dassault.png" alt="dassault" role="img"/>
                    </figure>

                   <div class="help-contenu">

                      <p class="carousel-text" i18n>

                          Dassault Systèmes a choisi CodinGame pour évaluer et certifier ses équipes sur l’ensemble
                          de son réseau mondial grâce à la simplicité de l'outil, l’excellence du soutien apporté par CodinGame, et la rapidité de prise en compte de nos demandes d’évolution. L’évaluation
                          a permis d’augmenter la confiance et la reconnaissance de chacun au sein de l’entreprise.
                      </p>

                      <span class="name-carousel">Laurent Wallet</span>
                      <span class="name-carousel">Learning Solution Development Specialist </span>

                   </div>

                  </div>


                  <div class="carousel-item">

                      <figure class="carousel-img">
                        <img src="../assets/societe-generale.png" alt="societe-generale" role="img"/>
                      </figure>

                     <div class="help-contenu">

                        <p class="carousel-text" i18n>
                          CodinGame Assessment est arrivée en tête de notre comparatif des différentes solutions de tests
                          disponibles sur le marché grâce à sa qualité de service, son prix et sa praticité. CodinGame nous permet de participer activement aux évolutions
                          de sa plate-forme, nous assurant une prise en compte de nos besoins futurs.
                        </p>

                        <span class="name-carousel">Alexis Slawny</span>
                        <span class="name-carousel">IT Head of Digital Transformation</span>

                     </div>

                  </div>
                </div>
                <a
                  class="btn-carosel carousel-control-prev"
                  href="#carouselExampleControls2"
                  role="button"
                  data-slide="prev"
                >
                  <i class="fas fa-chevron-left"></i>
                </a>
                <a
                  class="btn-carosel carousel-control-next"
                  href="#carouselExampleControls2"
                  role="button"
                  data-slide="next"
                >
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>

         </div>

       </div>

    </div>

  </section>
