/*-- les element carousel opentrust--*/
@import'../../../../roodeo-variables.scss';
.btn-carosel{
    color:$color-orange!important
}
#element_open_trust {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 60px 0px;
    position: relative;
}

.carousel-item{
    //display: none;
    height: 350px;
    &.active{
        display: block;
    }
}

.navigation-buttons{
    width: 100%;
    text-align: center;
    a{
        cursor: pointer;
    }
}

.title-heading-block{
    display: flex;
    justify-content: center;
    .modern-heading-title{
        text-transform: uppercase;
        color:$color-principal-blue;
        font-size:22px;
        margin-top: 60px;
        margin-bottom: 22px;
        text-align: center;
        letter-spacing: 1px;
        span{
            display: block;
            margin-top: 12px;
        }
    }
}

.row-ov {
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.contenu-slider {
    width: 58%;
    height: auto;
    background: #fff;
    -webkit-box-shadow: 12px 13px 11px -2px rgba(188,188,188,0.56); 
    box-shadow: 12px 13px 11px -2px rgba(188,188,188,0.56);
    padding: 10px;
    border-radius: $border-radius;
    border:1px solid $color-orange;
}

.carousel-inner {
    width: 100%!important;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.carousel-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
}

.help-contenu {
    text-align: center;
}

.help-contenu .carousel-text {
    color: #252e38;
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    height: 160px;
    overflow: hidden;
}

.name-carousel {
    display: block;
    font-size: 16px;
    color:$color-orange;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
}

.carousel-control-prev {
    left: 28px;
}

.carousel-control-prev, .carousel-control-next {
    font-size: 50px;
}

.carousel-control-prev{
    left: -31px;
}
.carousel-control-next{
    right:-31px;
}

@media screen and (max-width:1024px){
    .contenu-slider{
        width: 100%;
    }
}

@media screen and (max-width:760px){

    #element_open_trust{
        padding: 0px 0px 40px 0px!important;
    }
    .carousel-control-prev{
        left:-20px;
        
    }
    .carousel-control-next{
        right: -20px;
    }


}