<form action="" *ngFor="let campaign of campaigns">
  <div class="formQuestion">
    <label for="nomDeCampagne">
      Nom de la campagne
    </label>
  </div>
  <mat-form-field class="input-length input-style">
    <input matInput [formControl]="name" />
  </mat-form-field>

  <div class="formQuestion">
    <label for="nomDeCampagne" i18n>
      En quelle langue les questions doivent-elles être posées à vos candidats ?
    </label>
  </div>
  <div class="example-radio-button">
    <mat-radio-group [formControl]="lang">
      <mat-radio-button value="FR" [checked]="lang.value === 'FR'">
        FR
      </mat-radio-button>
      <mat-radio-button value="EN" [checked]="lang.value === 'EN'">
        EN
      </mat-radio-button>
      <mat-radio-button value="ES" [checked]="lang.value === 'ES'">
        ES
      </mat-radio-button>
      <mat-radio-button value="JP" [checked]="lang.value === 'JP'">
        JP
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <label for="utilisationCopieColler" i18n>
    Voulez-vous empêcher l'utilisation du copier/coller pendant le test ?
  </label>
  <div class="example-radio-button">
    <mat-radio-group [formControl]="copypasteControl">
      <mat-radio-button value=true [checked]="copypasteControl.value === true" i18n>
        Oui
      </mat-radio-button>
      <mat-radio-button value=false [checked]="copypasteControl.value === false" i18n>
        Non
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="formQuestion">
    <label for="nomDeCampagne" i18n>
      Nombre de jours au bout desquels une invitation expire
    </label>
  </div>

  <mat-form-field class="input-length input-style">
    <input
      id="date"
      type="number"
      matInput
      name="DayBeforeExp"
      [formControl]='date'
    />
  </mat-form-field>

  <div class="formQuestion">
    <label for="envoiRapportSimplifie" i18n>
      Souhaitez-vous envoyer le rapport simplifié au candidat à l'issue de son
      test ?
    </label>
  </div>
  <div class="example-radio-button">
    <mat-radio-group [formControl]="rapportControl">
      <mat-radio-button value=true [checked]="rapportControl.value === true" i18n>
        Oui
      </mat-radio-button>
      <mat-radio-button value=false [checked]="rapportControl.value === false" i18n>
        Non
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <label for="nomDeCampagne" i18n>
    Comment souhaitez-vous que le candidat soit chronométré ?
  </label>

  <div id="bloc-chrono">
    <div class="chrono">
      <p class="chrono-title" i18n>UN CHRONOMÈTRE PAR QUESTION</p>
      <p i18n>
        Chaque question sera chronométrée. Une fois le test démarré, les
        questions se succèderont selon l’ordre défini. Le candidat ne pourra pas
        revenir à une question précédente. Nous conseillons ce mode pour obtenir
        un aperçu des connaissances théoriques et pratiques des candidats.
      </p>
      <p class="chrono-last-line">(recommandé)</p>
    </div>
    <div class="chrono">
      <p class="chrono-title" i18n>UN CHRONOMÈTRE GLOBAL</p>
      <p i18n>
        Un temps global est alloué au candidat pour réaliser l’ensemble du test.
        Le candidat peut gérer son temps comme bon lui semble : il peut répondre
        aux questions dans n’importe quel ordre et les modifier plusieurs fois.
        Nous conseillons ce mode pour évaluer, uniquement, les connaissances
        pratiques des candidats (lors d’exercices de code par exemple).
      </p>
      <p class="chrono-last-line" i18n>Temps alloué pour ce test (minutes)</p>

      <mat-form-field class="chrono-input input-style">
        <input matInput name="nomDeCampagne" />
      </mat-form-field>
    </div>
  </div>

  <div id="button-container">
    <button type="button" class="button grey" mat-flat-button>
      Prévisualiser
    </button>

    <button
      (click)="updateCampaign()"
      type="button"
      class="button yellow"
      mat-flat-button
      i18n
    >
      Enregistrer
    </button>
  </div>
</form>
