<div *ngIf="!isLoaded" class="loader-container">
  <mat-spinner [strokeWidth]="20"></mat-spinner>
</div>
<div *ngIf="isLoaded">
  <form  action="" *ngFor="let campaign of campaigns">
  
  <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullWidth">
    <mat-label [ngStyle]="errorName ? { color: 'red' } : null">Nom du test d'evaluation</mat-label>
    <input 
      placeholder="Nom du test d'evaluation"
      type="text"
      [formControl]="name"
      matInput
      
      name="nomDeCampagne"
    />
  </mat-form-field>

  <div>
    <label for="nomDeCampagne" [ngStyle]="errorNomCampgane ? { color: 'red' } : null">
          En quelle langue les questions doivent-elles être posées à vos
          candidats ?
      </label>
      <div class="container-radio-button">
        <mat-radio-group [formControl]="lang">
          <mat-radio-button value="FR">
            <span class="flag-icon flag-icon-fr flag-icon-squared"></span>
          </mat-radio-button>
          <mat-radio-button value="EN">
            <span class="flag-icon flag-icon-gb flag-icon-squared"></span>
          </mat-radio-button>
          <mat-radio-button value="ES">
            <span class="flag-icon flag-icon-es flag-icon-squared"></span>
          </mat-radio-button>
          <mat-radio-button value="JP">
            <span class="flag-icon flag-icon-jp"></span>
          </mat-radio-button>
        </mat-radio-group>
      </div>
  </div>

  <div class="container-radio-button">
    <mat-slide-toggle [formControl]="copypasteControl" i18n>
      Empêcher l'utilisation du copier/coller pendant le test ?
    </mat-slide-toggle>
  </div>

  <div class="container-radio-button">

    <mat-slide-toggle [formControl]="rapportControl" i18n>
      Envoyer le rapport simplifié au candidat à l'issue de son test ?
    </mat-slide-toggle>
    
  </div>

 
  <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullWidth">
    <mat-label [ngStyle]="errorName ? { color: 'red' } : null">Nombre de jours au bout desquels une invitation expire</mat-label>
    <input
      id="date"
      type="number"
      matInput
      name="DayBeforeExp"
      [formControl]='date'
    />
  </mat-form-field>


  

  <div id="button-container">
    <div class="container-next hvr-grow" (click)="updateCampaign()">
      <span i18n class="button-text">Enregistrer</span>
      <button mat-mini-fab class="next-button" i18n>
        <mat-icon class="addIcon">save</mat-icon>
      </button>
    </div>

    <!--button
      (click)="updateCampaign()"
      type="button"
      class="button"
      mat-flat-button
    >
      Enregistrer
    </button-->
  </div>
</form>
</div>

