@import"../../../../../../roodeo-variables.scss";


.answer-radio-button {
    margin: 10px 0 10px 0;
}

.fullwidth {
    width: 100%;
  }

  .flag-icon-jp{
    border: 1px solid #cee5fd;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.container-radio-button{
    margin-top: 25px;
    margin-bottom: 25px;
    color: $primary-text;
}

.container-next{
    
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    background: mat-color($roodeo-app-primary, 800);
    border-radius: 19px;
    cursor: pointer;
  
    .next-button{
      background-color: #0c6192 !important;
      position: relative;
      right: -1px;
    }
    .button-text{
      font-size: 14px;
      margin-right: 10px;
      margin-left: 20px;
      color: #fff;
      cursor: pointer;
    }
  }

.loading{
    
    height: 100%;
}
.campaign-param-container{
    padding: 10px 60px;
    color: $primary-text;
    .campaign-param{
        &.first{
            margin-top: 10px;
        }
        
    }
  }
  
#bloc-chrono {
    display: flex;
    justify-content: space-between;

    .chrono {
        width: 48%;
        padding: 5%;
    }
    
    .chrono-title {
        font-size: 18px;
        padding: 0% 5%;
         
        text-align: center;
    }
    
    .chrono-last-line {
        margin-top: 20px;
        text-align: center;
         
    }
    
    .chrono-input {
        width: 100%;
    }
}

#button-container {
    
    width: 100%;
    text-align: right;
    
    .button {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        color: $color-white;
        cursor: pointer;
        border-radius: 0px;
        background-color: $color-principal-blue;
    }
}


@media screen and (min-width:768px) and (max-width:959px) {
    #new-campaign {
        width: 100%;
        margin: 0px;
    }
    #form {
        margin: 0px 10px;
    }
    #select span {
        font-size: 20px;
         
        color: #7e8082;
        margin: 20px 140px 25px;
    }
    .button {
        flex-wrap: wrap;
    }
    #button {
        margin: 5px;
    }
}

@media screen and (min-width:460px) and (max-width:767px) {
    #new-campaign {
        width: 100%;
        margin: 0px;
    }
    #form {
        margin: 0px 10px;
    }
    #select span {
        font-size: 20px;
         
        color: #7e8082;
        margin: 20px 140px 25px;
    }
    .button {
        flex-wrap: wrap;
    }
    #button {
        margin: 5px;
    }
}

@media screen and (max-width:459px) {
    #new-campaign {
        width: 100%;
        margin: 0px;
    }
    #form {
        margin: 0px 10px;
    }
    #select span {
        font-size: 20px;
         
        color: $color-gray;
        margin: 20px 140px 25px;
    }
    .button {
        flex-wrap: wrap;
    }
    #button {
        margin: 5px;
    }
}