@import"../../../../../roodeo-variables.scss";

.custom-buttom {
    line-height: 0px;
    background: $color-orange-light!important;
    border-radius: 0px !important;
    font-size: 16px !important;
    contain: content;
    font-weight: 600;
    padding: 15px 30px !important;
    color: $text-color-white !important;
    height: 62px;
}

.custom-buttom-anul{
    background-color: $color-gray-blue!important;
   
}

.icon-arrow-btn{
    font-size: 25px;
    position: relative;
    left: -12px;
}

#top-bar {
    display: flex;
    width: 100%;
    height: 65px;
    border: 1.5px solid $color-principal-orange;
    border-left: none;
    border-right: none;
    background-color: $color-pricipal-blue-light;
    display: flex;
    padding-right: 6%;

    .segment2{

    }
    .segment3{
        flex: 6.5;
        display: flex;
        align-items: center;
        padding-left: 12%;
        .title-segment{
            font-size: 17px;
            font-family: $font-poppins;
            font-weight: 400;
            color: $color-principal-blue;
            margin-bottom: 0px;
            margin-right: 12px;
        }

        #score{

            color:$color-orange-light;
            font-size: 30px;
            margin-bottom: 0px;
            margin-top: -5px;
            font-family: $font-poppins;
        }
    }
}



#arrow {
    position: absolute;
    top: 16px;
    right: -15px;
    background: $text-color-white;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    border: 1px solid $color-grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#techno {
    color: $color-gold-second;
}

.drop-icon {
    color: $color-gold;
}




.info {
    color: $color-grey;
}

.button-disabled{
    color:white !important;
    border-radius: 0px;
    background-color:gray !important;
    margin: 0 10px !important;
    height: 40px !important;
    width: 120px !important;
    font-size: 14px !important;
    font-weight: bold;
}
.button-enabled{
    color:white;
    border-radius: 0px;
    background-color: green;
    margin: 0 10px !important;
    height: 40px !important;
    width: 120px !important;
    font-size: 14px !important;
    font-weight: bold;
}


#content {
    width: 100%;
    display: flex;
    position: relative;
}

.bar {
    width: 100%;
    height: 40px;
    color: $text-color-white;
    background: $color-black-background;
    display: flex;
    contain: content;
    justify-content: space-between;
    margin-bottom: 10px;
}

#bar2-left {
    display: flex;
    width: 40%;
}

#bar2-right {
    display: flex;
    flex-wrap: nowrap;
}

#div-search {
    display: inline-block;
    contain: content;
    position: relative;
    width:120px;
}

#search-input {
    height: 30px;
    margin-top: 5px;
    color: $text-color-white;
    background: $color-black-background-seconde;
    border: none;
    font-size: 12px;
    padding: 0 0 0 10px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: $color-gold;
}

.bar-icon {
    font-size: 26px;
    color: $color-gold;
    line-height: 38px;
    margin: 0 8px;
}

.bar-text {
    display: block;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
}

#bar-btn-search {
    background: $color-gold-background!important;
}


:host ::ng-deep .mat-button-wrapper {
    contain: content;
}

/* DRAG AND DROP */

.example-container {
    width: 50%;
    max-width: 100%;
    margin: 10px 1% 0;
    vertical-align: top;
}

.example-list {
    border: solid 1px $color-border-second;
    min-height: 60px;
    background: $text-color-white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px $color-border-second;
    color: $text-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background:$color-white-background;
    font-size: 14px;
    position:relative
}

:host ::ng-deep .example-box {
    height: 35px;
    margin: 10px !important;
    border: $border-table !important;
    transition: .5s;
}

.partie-left-example-box
{
    flex: 1;
    display: flex;
    min-width: 0;
    align-items: center;
    justify-content: flex-start;
    max-width:250px;
    
}

:host ::ng-deep .example-box:hover {
    box-shadow: 0px 0px 5px $color-grey;
    transform: translate(2px, -3px);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#drop-text {
    height: 35px;
    padding: 0px 0px;
    margin: 10px !important;
    border: 1px dashed $color-table !important;
    transition: .5s;
    color: $color-grey;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.example-box p 
{
    margin-bottom:0px;
}

.question-techno {
    display: block;
    height: 20px;
    background: $color-gold-second;
    font-size: 12px;
    color: $text-color-white;
    text-align: center;
    padding: 0px 2px;
    margin-right:5px;
  
}

.question-name{
    max-width:240px;
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.detail-question-name
{
    width:95%;
    max-width:95%;
    height:auto;
    padding:10px;
    background:$color-black-background;
    color:$text-color-white;
    top:40px;
    position:absolute;
    z-index:2;
    /* bottom:10px; */
    display:none;
}

#ctnts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

:host ::ng-deep .exemple-list, .cdk-drop-list {
    background-color: $background-color!important;
}

.active-dropList{
    position: fixed!important;
    top:1%;
    width: 32%;
    right: 86px;
    
}