@import"../../../../../roodeo-variables.scss";

#top-bar {
    display: flex;
    width: 100%;
    height: 65px;
    border: 1px solid $color-grey;
}

#segment1 {
    position: relative;
    display: flex;
    width: 12%;
    height: 64px;
    border-right: 1px solid $color-grey;
}

#diagram {
    margin: 0 5px;
    line-height: 65px;
}

#segment1-content {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 12px;
}

#arrow {
    position: absolute;
    top: 16px;
    right: -15px;
    background: $text-color-white;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    border: 1px solid $color-grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#segment2 {
    position: relative;
    width: 10%;
    height: 64px;
    border-right: 1px solid $color-grey;
}

#segment2-content {
    margin: 8px 45px 0;
}

#techno {
    color: $color-gold-second;
}

.drop-icon {
    color: $color-gold;
}

#segment3 {
    width: 78%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    contain: content;
}

#segment3-left {
    display: flex;
    margin: 0 0 0 10px;
}

#segment3-left p {
    margin: 0 5px;
    font-size: 12px;
}

#segment3-right {
    display: flex;
    flex-wrap: nowrap;
}

#score {
    font-size: 22px !important;
    color: $color-gold-second;
}

.info {
    color: $color-grey;
}

#back, #save {
    height: 40px !important;
    width: 120px !important;
    font-size: 14px !important;
    font-weight: bold;
    margin: 0 10px !important;
}

#save {
    background: $color-gold-background !important;
}

#content {
    width: 100%;
    display: flex;
    position: relative;
}

.bar {
    width: 100%;
    height: 40px;
    color: $text-color-white;
    background: $color-black-background;
    display: flex;
    contain: content;
    justify-content: space-between;
    margin-bottom: 10px;
}

#bar2-left {
    display: flex;
    width: 40%;
}

#bar2-right {
    display: flex;
    flex-wrap: nowrap;
}

#div-search {
    display: inline-block;
    contain: content;
    position: relative;
    width:120px;
}

#search-input {
    height: 30px;
    margin-top: 5px;
    color: $text-color-white;
    background: $color-black-background-seconde;
    border: none;
    font-size: 12px;
    padding: 0 0 0 10px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: $color-gold;
}

.bar-icon {
    font-size: 26px;
    color: $color-gold;
    line-height: 38px;
    margin: 0 8px;
}

.bar-text {
    display: block;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
}

#bar-btn-search {
    background: $color-gold-background!important;
}

.custom-buttom {
    height: 30px !important;
    line-height: 0px !important;
    background: $color-grey !important;
    border-radius: 0px !important;
    font-size: 10px !important;
    contain: content;
    font-weight: bold;
    padding: 0px 10px !important;
    margin: 5px 2px 0px !important;
    text-transform: uppercase !important;
    color: $text-color-white !important;
}

:host ::ng-deep .mat-button-wrapper {
    contain: content;
}

/* DRAG AND DROP */

.example-container {
    width: 50%;
    max-width: 100%;
    margin: 10px 1% 0;
    vertical-align: top;
}

.example-list {
    border: solid 1px $color-border-second;
    min-height: 60px;
    background: $text-color-white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px $color-border-second;
    color: $text-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background:$color-white-background;
    font-size: 14px;
    position:relative
}

:host ::ng-deep .example-box {
    height: 35px;
    margin: 10px !important;
    border: $border-table !important;
    transition: .5s;
}

.partie-left-example-box
{
    flex: 1;
    display: flex;
    min-width: 0;
    align-items: center;
    justify-content: flex-start;
    max-width:250px;
    
}

:host ::ng-deep .example-box:hover {
    box-shadow: 0px 0px 5px $color-grey;
    transform: translate(2px, -3px);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#drop-text {
    height: 35px;
    padding: 0px 0px;
    margin: 10px !important;
    border: 1px dashed $color-table !important;
    transition: .5s;
    color: $color-grey;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.example-box p 
{
    margin-bottom:0px;
}

.question-techno {
    display: block;
    height: 20px;
    background: $color-gold-second;
    font-size: 12px;
    color: $text-color-white;
    text-align: center;
    padding: 0px 2px;
    margin-right:5px;
  
}

.question-name{
    max-width:240px;
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.detail-question-name
{
    width:95%;
    max-width:95%;
    height:auto;
    padding:10px;
    background:$color-black-background;
    color:$text-color-white;
    top:40px;
    position:absolute;
    z-index:2;
    /* bottom:10px; */
    display:none;
}

#ctnts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

:host ::ng-deep .exemple-list, .cdk-drop-list {
    background-color: $background-color!important;
}

.active-dropList{
    position: fixed!important;
    top:1%;
    width: 32%;
    right: 86px;
    
}