<div id="global">
    <!--app-breadcrumb [namePage]="'Utilisateurs'"></app-breadcrumb-->
    <div *ngIf="dataRoute">
        <nav-wrapper-component [dataRoute]="this.dataRoute"></nav-wrapper-component>
    </div>
    <div id="content">
        <div id="shadow-cog" [ngClass]="{'shadow-cog-active': shadowcog1 == true}">
            <div id="remove" (click)="param_cog_non_active()"></div>
            <div class="modal">
                <div class="modal-header">
                    <h3 class="modal-title" i18n>
                        Add a user
                    </h3>
                    <button (click)="param_cog()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
              </svg>
          </button>
                </div>
                <div class="modal-content">
                    <form (ngSubmit)="addUser()" class="form" method="POST" #form>
                        <div class="content-form-first">
                            <div class="form-groupe">
                                <div>
                                    <mat-form-field class="remove-padding" [color]="'accent'" appearance="outline">
                                        <mat-label i18n>Prénom</mat-label>
                                        <input type="text" [formControl]="addPrenom" matInput value="" name="prenom" required />
                                    </mat-form-field>
                                    <div *ngIf="submittedUser && addPrenom.invalid" class="alert">
                                        <div *ngIf="addPrenom.errors.required" i18n>
                                            Prénom requis
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-groupe">
                                <div>
                                    <mat-form-field [color]="'accent'" appearance="outline">
                                        <mat-label i18n>Nom</mat-label>
                                        <input type="text" [formControl]="addNom" matInput value="" name="nom" required />
                                    </mat-form-field>
                                    <div *ngIf="submittedUser && addNom.invalid" class="alert alert-danger">
                                        <div *ngIf="addNom.errors.required" i18n>
                                            Nom requis
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-groupe">
                                <div>
                                    <mat-form-field [color]="'accent'" appearance="outline">
                                        <mat-label i18n>E-mail</mat-label>
                                        <input type="email" [formControl]="addEmail" matInput value="" name="email" required />
                                    </mat-form-field>
                                    <div *ngIf="submittedUser && addEmail.invalid" class="alert alert-danger">
                                        <div *ngIf="addEmail.errors.required" i18n>
                                            Email requis
                                        </div>
                                        <div *ngIf="addEmail.errors.email" i18n>
                                            Email valide requis
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-groupe">
                                <div>
                                    <mat-form-field [color]="'accent'" appearance="outline">
                                        <mat-label i18n>Pseudo</mat-label>
                                        <input type="text" [formControl]="addUsername" matInput value="" name="username" required />
                                    </mat-form-field>
                                    <div *ngIf="submittedUser && addUsername.invalid" class="alert alert-danger">
                                        <div *ngIf="addUsername.errors.required" i18n>
                                            Pseudo requis
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-groupe">
                                <div>
                                    <mat-form-field [color]="'accent'" appearance="outline">
                                        <mat-label i18n>Mot de passe</mat-label>
                                        <input [formControl]="addPassword" type="password" name="password" matInput value="" required />
                                    </mat-form-field>
                                    <div *ngIf="submittedUser && addPassword.invalid" class="alert alert-danger">
                                        <div *ngIf="addPassword.errors.required" i18n>
                                            Mot de passe requis
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-groupe">
                                <div>
                                    <mat-form-field [color]="'accent'" appearance="outline">
                                        <mat-label i18n>Confirmation du mot de passe</mat-label>
                                        <input [formControl]="confirmPassword" type="password" name="confirmPassword" matInput value="" required />
                                    </mat-form-field>
                                    <div *ngIf="submittedUser && confirmPassword.invalid" class="alert alert-danger">
                                        <div *ngIf="confirmPassword.errors.required" i18n>
                                            Confirmation du mot de passe requis
                                        </div>
                                    </div>
                                    <div *ngIf="submittedUser && addPassword.value !== confirmPassword.value" class="alert alert-danger" i18n>
                                        Les mots de passe ne correspondent pas
                                    </div>
                                </div>
                            </div>
                            <div class="form-groupe">
                                <div>
                                    <mat-form-field appearance="outline" [color]="'accent'">
                                        <mat-label i18n>Role</mat-label>
                                        <mat-select (selectionChange)="roleSetted($event)" [formControl]="userrole" name="userrole">
                                            <mat-option title="{{rol.description}}" *ngFor="let rol of rolesRef" [value]="rol.id">
                                                {{ rol.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div *ngIf="submittedUser && userrole.invalid" class="alert alert-danger">
                                      <div *ngIf="userrole.errors.required" i18n>
                                        Role requis
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-groupe">
                            <div class="top-form-groupe">

                            </div>
                        </div>
                        <div class="content-form-last">
                            <div class="flex_center">
                                <app-base-button type="submit" iconName="add">AJOUTER</app-base-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="shadow-cog-2" [ngClass]="{'shadow-cog-active': shadowcog2 == true}">
            <div id="remove-2" (click)="param_cog_non_active_deux()"></div>
            <div class="modal">
                <div class="modal-header">
                    <h3 class="modal-title" i18n>Modifier l'utilisateur</h3>
                </div>
                <div class="modal-content">
                    <form (ngSubmit)="updateUser()" class="form" method="PUT" #form>
                        <div class="content-form-first">
                            <div class="form-groupe">
                                <div>
                                    <mat-form-field [color]="'accent'" appearance="outline">
                                        <mat-label i18n>Prénom</mat-label>
                                        <input type="text" [formControl]="editPrenom" matInput value="{{editingUser?.prenom}}" name="prenom" required />
                                    </mat-form-field>
                                    <div *ngIf=" modifiedUser && editPrenom.invalid" class="alert">
                                        <div *ngIf="editPrenom.errors.required" i18n>
                                            Prénom requis
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-groupe">
                                <div>
                                    <mat-form-field [color]="'accent'" appearance="outline">
                                        <mat-label i18n>Nom</mat-label>
                                        <input type="text" [formControl]="editNom" matInput value="{{editingUser?.nom}}" name="nom" required />
                                    </mat-form-field>
                                    <div *ngIf=" modifiedUser && editNom.invalid" class="alert alert-danger">
                                        <div *ngIf="editNom.errors.required" i18n>
                                            Nom requis
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-groupe">
                                <div>
                                    <mat-form-field [color]="'accent'" appearance="outline">
                                        <mat-label i18n>E-mail</mat-label>
                                        <input type="email" [formControl]="editEmail" matInput value="{{editingUser?.email}}" name="email" required />
                                    </mat-form-field>
                                    <div *ngIf=" modifiedUser && editEmail.invalid" class="alert">
                                        <div *ngIf="editEmail.errors.required" i18n>
                                            Email requis
                                        </div>
                                        <div *ngIf="editEmail.errors.email" i18n>
                                            Email valide requis
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-groupe">
                                <div>
                                    <mat-form-field [color]="'accent'" appearance="outline">
                                        <mat-label i18n>Pseudo</mat-label>
                                        <input type="text" [formControl]="editUsername" matInput required />
                                    </mat-form-field>
                                    <div *ngIf=" modifiedUser && editUsername.invalid" class="alert">
                                        <div *ngIf="editUsername.errors.required" i18n>
                                            Pseudo requis
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-groupe">
                                <div>
                                    <mat-form-field [color]="'accent'" appearance="outline">
                                        <mat-label i18n>Mot de passe</mat-label>
                                        <input [formControl]="editPassword" type="password" matInput required />
                                    </mat-form-field>
                                    <div *ngIf=" modifiedUser && editPassword.invalid" class="alert">
                                        <div *ngIf="editPassword.errors.required" i18n>
                                            Mot de passe requis
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-groupe">
                                <div>
                                    <mat-form-field [color]="'accent'" appearance="outline">
                                        <mat-label i18n>Confirmation du mot de passe</mat-label>
                                        <input [formControl]="confirmPassword" type="password" matInput required />
                                    </mat-form-field>
                                    <div *ngIf=" modifiedUser && confirmPassword.invalid" class="alert">
                                        <div *ngIf="confirmPassword.errors.required" i18n>
                                            Confirmation du mot de passe requis
                                        </div>
                                    </div>
                                    <div *ngIf=" modifiedUser && editPassword.value !== confirmPassword.value" class="alert" i18n>
                                        Les mots de passe ne correspondent pas
                                    </div>
                                </div>
                            </div>
                            <div class="form-groupe">
                              <div>
                                <mat-form-field appearance="outline" [color]="'accent'">
                                  <mat-label i18n>Rôles</mat-label>
                                  <mat-select (selectionChange)="roleSetted($event)" [formControl]="editUserrole">
                                    <mat-option title="{{rol.description}}" *ngFor="let rol of rolesRef" [value]="rol.id">
                                      {{ rol.name }}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                        </div>
                        <div class="content-form-last">
                            <div class="flex_center">
                                <app-base-button type="submit" iconName="save" i18n>SAUVEGARDER</app-base-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="component-utilisateurs">
            <div class="tool-bar">
                <div class="flex1">
                    <!-- Menu -->
                    <button id="menu" mat-raised-button color="primary" aria-label="Example icon-button with a menu" class="nocursor" i18n>
                          <mat-icon color="accent">groups</mat-icon>
                          Utilisateurs {{users && users.length ? users.length : '*'}}/{{users && users.length ? users.length : '*'}}
                        </button>
                    <!-- Filter -->
                    <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="custom-input-filter">
                        <mat-label i18n>Rechercher</mat-label>
                        <input matInput placeholder="Filtrer par titre ou candidat" type="text" [(ngModel)]="searchText" />
                        <mat-icon color="accent" matSuffix i18n>search</mat-icon>
                    </mat-form-field>
                </div>
                <!-- Btn Invite -->
                <app-base-button iconName="group_add" (click)="param_cog()">
                    <span class="text" i18n> Ajouter utilisateur</span>
                </app-base-button>
            </div>
            <div class="table-info-user">
                <table class="table_user">
                    <thead class="table_head">
                        <tr class="table_row">
                            <th class="table_head_cell" i18n>Nom</th>
                            <th class="table_head_cell" i18n>Email</th>
                            <th class="table_head_cell" i18n>Privileges</th>
                            <th class="table_head_cell" i18n>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table_body">
                        <tr class="table_row" *ngFor="let user of  users | search:'username,email':searchText" [ngClass]="{'user-disabled': user.blocked}">
                            <td class="table_body_cell">{{user.username}}</td>
                            <td class="table_body_cell">{{user.email}}</td>
                            <td class="table_body_cell">{{user.role.name}}</td>
                            <td class="table_body_cell table_icon">
                                <button
                                    class="hvr-grow color-primary-dark"
                                    mat-mini-fab
                                    [matTooltipPosition]="'left'"
                                    [matTooltipClass]="'roodeo-tooltip'"
                                    matTooltip="edit"
                                    color="primary"
                                    aria-label="edit user"
                                    *ngIf="isCurrentUserIsAccountAdmin && !user.blocked" (click)="openForm(user)"
                                >
                                    <mat-icon>mode_edit</mat-icon>
                                 </button>
                                <button
                                    class="hvr-grow color-primary-dark"
                                    mat-mini-fab
                                    [matTooltipPosition]="'left'"
                                    [matTooltipClass]="'roodeo-tooltip'"
                                    matTooltip="activate user"
                                    color="primary"
                                    aria-label="activate user"
                                    *ngIf="isCurrentUserIsAccountAdmin && user.id !== currentUser.id && user.blocked" (click)=enableUser(user)
                                >
                                    <mat-icon>check_circle</mat-icon>
                                </button>
                                <button
                                    class="hvr-grow color-primary-dark"
                                    mat-mini-fab
                                    [matTooltipPosition]="'left'"
                                    [matTooltipClass]="'roodeo-tooltip'"
                                    matTooltip="deactivate user"
                                    color="primary"
                                    aria-label="deactivate user"
                                    *ngIf="isCurrentUserIsAccountAdmin && user.id !== currentUser.id && !user.blocked" (click)=deleteUser(user)
                                >
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
