.component-utilisateurs
{
    background-color: #f9f9f9;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.header-form
{
    margin: 0 0px 20px 0px;
    display: flex;
    flex-direction: row;
    
}

.champ-utilisateur {
    flex: 10000;
    margin: 0 10px 0px 10px;
    border: 1px solid #e4e4e4;
    display: flex;
    overflow: hidden;
    min-width: 300px;
    background-color: white;
    position: relative;
    min-height: 48px;
}


.champ-utilisateur form
{
    width: 100%;
}

.icon-form-group-header-contenu
{
    display: inline-block;
    left: 9px;
    color:#ffd200;
    font-size: 24px;
    top: 4px;
    position: absolute
}

.champ-utilisateur .input-champ-utilisateurs
{

    width: 100%;
    height: 100%;
    padding: 0 50px 0 35px;
    font-size: 15px;
    background-color: white;
    outline: none;
    border:none
}

.left-form-utilisateurs
{
    display: flex;
}

.left-form-utilisateurs .nbr-utilisateurs
{
    flex: 1 0 auto;
    color: #20252a;
    margin: 0 10px 0px 10px;
    border: 1px solid #e4e4e4;
    padding: 0 20px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    background-color: white;
}

.left-form-utilisateurs .nbr-utilisateurs .btn-icon-utilisateur
{
    display: block;
    padding-right: 6px;
    color:#ffd200
}

.btn-header-contenu
{
    color: white;
    height: 48px;
    border: none;
    padding: 0 35px;
    display: flex;
    font-size: 14px;
    transition: background-color 200ms;
    text-align: center;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    background-color: #f2bb13;
    margin-left: 10px
}

.btn-header-contenu:hover
{
    background-color: #ffd200;
}

.btn-icon
{
    font-size: 24px;
    padding-right: 11px;
}

/*-- block-table-utilisateurs--*/

.table-info-user
{
    flex: 1;
    margin-top: 0px;
    padding-right: 10px;
   
}

.table-info-user .table-bordore
{
    border: 1px solid #e4e4e4;
    margin-left: 10px;
    background-color: white;
    min-height: 450px;
    width: 100%;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    border-bottom: none
}

.mat-header-row,.mat-row
{
    display: flex;
    width: 100%;
}

.mat-row
{
    cursor: pointer;
}

.mat-row:hover:hover .mat-cell:nth-child(1)
{
    background-color: #2b3035;
    color:white;
}
.mat-row:hover:hover .mat-cell:nth-child(2)
{
    background-color: #2b3035;
    color:white;
}

.mat-row:hover:hover .mat-cell:nth-child(3)
{
    background-color: #2b3035;
    color:white;

}

.mat-row:last-child
{
    border-bottom: none!important
}


.mat-header-cell
{
    font-size: 16px;
    font-weight: 600;
    color:#000000;
    border-left: 1px solid #e4e4e4;
    padding: 0 20px;
    align-items: center;
    display: flex;
    width: 70%;
}

.mat-header-cell:nth-child(1),.mat-header-cell:nth-child(2)
{
    flex: 0 1 25%;   
}

.mat-header-cell:last-child,.mat-cell:last-child
{
    max-width: 92px;
    padding: inherit
}

.mat-cell
{
    border-left: 1px solid #e4e4e4;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    white-space: nowrap;
    font-weight: 400;
    width: 70%;
    padding-top: 12px;
}

.mat-cell:nth-child(1),.mat-cell:nth-child(2)
{
    flex: 0 1 25%;
}

.last-td-icon
{
    display: flex
}

.gestion-block-icon-user
{
    width: 46px;
    color: #f2bb13;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.gestion-block-icon-user:hover{

    background-color: #f2bb13;
    color:#fff
}

.gestion-block-icon-user i
{
    font-size: 19px;
   
}

.gestion-block-icon-user:first-child
{
    border-right: 1px solid #e4e4e4;
}

/*--modal--*/
#shadow-cog,#shadow-cog-2{

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
    display: none
}

#shadow-cog.shadow-cog-active,#shadow-cog-2.shadow-cog-active
{   
    display: block;
    display: flex
}

#remove,#remove-2
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.modall,#shadow-cog.shadow-cog-active > .modall
{
    border: none;
    background: rgb(255, 255, 255);
    outline: none;
    padding: 0px;
    cursor: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
    
    height: auto;
}



 .modall > .modall-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2bb13;
    height: 50px;
}



.modall > .modall-header > .modall-title
{
    color: white;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
}

 .modall > .modall-content
{
    padding: 20px;
    max-width: 875px;
    flex-wrap: wrap;
}

.content-form-first
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}


.form-groupe
{
    color: #20252a;
    padding: 20px;
    font-size: 16px;
    flex-basis: 50%;
    font-weight: 600;

}

.form-groupe > .top-form-groupe {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 5px;
   
}

.form-groupe > .top-form-groupe::after
{
    color: #f2bb13;
    content: "*";
    font-size: 20px;
    margin-top: 5px;
    margin-left: 6px;
    line-height: 7px;
    font-weight: 400;
}

.title-and-error-span
{
    flex: 1;
    display: flex;
    flex-flow: wrap row;
    align-items: center
}

.form-groupe > .top-form-groupe label{
    /* max-width: 100%; */
    flex: 1 0 auto;
    width: auto;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;


}

.title-champ-default,.title-champ-default-update{
    font-size: 12px;
    word-wrap: break-word;
    color: #d03737;
    display: block;
    font-weight: 400;
    visibility: hidden

}

.champ-form
{
    padding: 10px 15px;
    margin: 0;
    background-color: #e7e9eb;
    font-weight: 400;
    font-size: 13px;
    border: 1px solid #e4e4e4;
    background: #fff;
    outline: none;
    width: 100%;
    cursor:auto
}

/*-- partie content-form-last--*/

 .content-form-last
{
    padding: 20px;
    
}

.title-gestion-perm
{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.tbl-permition
{
    display: flex;
    flex-wrap: wrap;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #e4e4e4;
    flex-direction: row;
}

.element-gestion-permition
{

    flex: 1;
    margin: 0;
    display: flex;
    text-align: center;
    box-sizing: border-box;
    word-break: break-word;
    flex-direction: column;
}

.element-gestion-permition > .element-gestion-permition-header
{
    flex: 1;
    color: #20252a;
    padding: 4px 7px;
    display: flex;
    font-size: 14px;
    align-items: center;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e4e4e4;
    justify-content: center;

}

.element-gestion-permition > .element-gestion-permition-content
{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e4e4e4;
}

 .checked-block {
    position: relative;
    font-size: 16px;
    display: block;
    font-weight: 400;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:#7e8082;
}

.checkbox
{
    width: 0px;
    height: 0px;
    opacity: 0;
}


.check-label
{
    display:inline-block;
    margin-left: 25px;
}

.checked-block input:checked ~ .checkbox-span {
    border-color:#f2bb13;
  }

.checkbox-span      
{
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border:2px solid #7e8082;
    display:inline-block;
    border-radius: 2px;
    margin-top: 4px;

}
 
  /* Style the checkmark/indicator */
  .checkbox-span::after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #f2bb13;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
   
  /* Show the checkmark when checked */
  .checked-block  input:checked ~ .checkbox-span:after {
    display: block;
  }

  .footer-form-last
  {
      padding-top: 30px;
  }
 
  .btn-gestion
  {
    width: 100%;
    text-transform: uppercase;
    color: white;
    height: 50px;
    border: none;
    padding: 0 20px;
    font-size: 14px;
    transition: background-color 200ms;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f2bb13;
  }

  .btn-gestion:hover{
    background-color: #ffd200;
  }

  .champ-form.errorChamp
  {
      border:1px solid #d03737;
  }

  .libele.new-label,.update_libele.new-label
  {
      color:#d03737;
  }

  .title-champ-default.title-champ-default-visible,.title-champ-default-update.title-champ-default-visible
  {
      visibility: visible;

      /* .mat-cell */
  }


  @media screen and (max-width: 760px) {

    /*--modal--*/

    .modall
    {
        max-width: calc(100vw - 100px)!important;
    }

    /*--partie-header--*/

        .header-form
        {
            flex-direction: column-reverse;
            overflow: hidden;
        }

        .champ-utilisateur
        {
            margin-top: 8px;
            width: 98%;
        }

        .input-champ-utilisateurs
        {
            width: 100%;
        }

        .left-form-utilisateurs
        {

        }

        .mat-cell
        {
            font-size: 13px;
        }


  }

  @media screen and (max-width: 420px) {

    /*--partie-header--*/


        .champ-utilisateur
        {
            margin-top: 8px;
            width: 98%;
        }

       

        .left-form-utilisateurs
        {
            flex-direction: column!important;
            height: auto
        }

        .nbr-utilisateurs
        {
            height: 48px;
            widows: 100%;
            margin-left: 10px!important;
            margin-right: 0px!important;
            margin-bottom: 8px!important;
        }

        table{
            overflow: hidden;
        }

        .mat-cell
        {
            font-size: 13px;
    
        }

        /*--modal--*/

        .tbl-permition
        {
            flex-direction: column
        }
  }


