.input-length {
    width: 100%;
}

:host .input-style ::ng-deep .mat-form-field-infix {
    width: 270px !important;
}

:host .input-style ::ng-deep .mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #f9f9f9;
    height: 60px;
    padding: 0px 10px 10px;
    margin-top: 15px;
}

.button {
    height: 50px;
    margin: 100px 0 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 0px;
}

.yellow {
    background: #f2bb31;
}