<!-- <h3>Logo</h3>

<div>
  <img src="" alt="">

  <div>
    <p></p>
    <p></p>
    <p></p>
    <button type="button" mat-flat-button class="yellow">Envoyer</button>
    <button type="button" class="grey" mat-flat-button>Supprimer</button>
  </div>
</div>

<hr> -->
<div class="formQuestion">
    <label>
      Sujet de l'email
    </label>
  </div>
  <mat-form-field class="input-length input-style">
    <input matInput />
  </mat-form-field>

  <div class="formQuestion">
      <label>
        Corps de l'email
      </label>
    </div>

<textarea name="" id="" cols="100%" rows="10"></textarea>

<!-- <hr>

<h3>Titre de l'introduction</h3>

<input type="text">

<h3>Texte de l'introduction</h3>
<textarea name="" id="" cols="100%" rows=""></textarea>

<hr>

<h3>Titre de la page de fin de test</h3>

<input type="text">

<h3>Texte de la page de fin de test</h3>

<textarea name="" id="" cols="100%" rows=""></textarea> -->

<button type="button" class="button yellow" mat-flat-button>Enregistrer</button>