<mat-nav-list>
  <div id="popup">
    <div id="titre">
      <img
        src="../../../../assets/Coding-game-img/campaings/mon-offre.svg"
        alt="mon-offre"
      />
      <h2 class="white" i18n>Modifier mon offre</h2>
    </div>
    <div id="infos">
      <div id="mon-offre" class="width40 margin-padding">
        <h4 class="yellow-site maj font-size13" i18n>mon offre</h4>
        <p class="white">Growth (mensuel)</p>
      </div>
      <div id="pro-fact" class="width50 borderblack margin-padding">
        <h4 class="yellow-site maj font-size13" i18n>prochaine facture</h4>
        <p class="white">19/04/2019</p>
      </div>
      <div id="test-utiliser" class="width40 margin-padding">
        <h4 class="yellow-site maj font-size13" i18n>tests utilisés</h4>
        <p class="white">99 / ∞</p>
      </div>
      <div id="question-utiliser" class="width50 borderblack margin-padding">
        <h4 class="yellow-site maj font-size13" i18n>questions utilisées</h4>
        <p class="white">0 / 10</p>
      </div>
    </div>
    <div id="sous-section" class="padding-section">
      <div id="premier-sous-section" class="padding-sous-section">
        <h1 i18n><span class="yellow-site">Growth</span> annuel</h1>
        <p class="spaceforText" i18n>
          Pour les entreprises qui recrutent quelques développeurs dans les
          prochains mois
        </p>
        <ul>
          <li i18n>Accès à un set de 700+ questions</li>
          <li i18n>Questions de niveau Junior à Senior</li>
          <li i18n>10 questions personnalisées</li>
          <li i18n>Tests et candidats illimités</li>
          <li i18n>3 heures d'entretiens techniques à distance</li>
          <li i18n>Support par chat sous 24 heures</li>
        </ul>
        <p class="textCenter cssForPrix">249 € / mois*</p>
        <p class="textCenter">* Facturé annuellement</p>
      </div>
      <button i18n mat-stroked-button class="background-button custom-button">
        PASSEZ À L'ILLIMITÉ
      </button>
      <div id="second-sous-section" class="padding-sous-section">
        <h1><span class="yellow-site">Growth</span> annuel</h1>
        <p class="spaceforText" i18n>
          Pour les entreprises qui recrutent quelques développeurs dans les
          prochains mois
        </p>
        <ul>
          <li i18n>Accès à un set de 700+ questions</li>
          <li i18n>Questions de niveau Junior à Senior</li>
          <li i18n>10 questions personnalisées</li>
          <li i18n>Tests et candidats illimités</li>
          <li i18n>3 heures d'entretiens techniques à distance</li>
          <li i18n>Support par chat sous 24 heures</li>
        </ul>
        <p class="textCenter cssForPrix">249 € / mois*</p>
        <p i18n class="textCenter">* Facturé annuellement</p>
      </div>
      <button i18n mat-stroked-button class="background-button custom-button">
        PASSEZ À L'ILLIMITÉ
      </button>
    </div>
  </div>
  <div (click)="openLink($event)">click</div>
</mat-nav-list>
