<nav id="nav-menu">

  <ul class="list-menu">

    <li>
      <a href="" class="text-menu">
        <span class="content-img" id="notif">
        </span>
      </a>
      <ul class="dropdownn">
        <li>
          <p>Notifications</p>
        </li>
      </ul>
    </li>
    <li>
      <a href="" [routerLink]="['/dashboard/campaigns']" class="text-menu">
        <span class="content-img" id="test">
        </span>
      </a>
      <ul class="dropdownn">

        <li>
          <p>Testings</p>
        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/campaigns']">Mes Tests</a>
        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/campaigns/new']">Nouveau test</a>
        </li>
        <!-- <li>
          <a href="" [routerLink]="['/dashboard/utilisateurs']">Éditeurs</a>
        </li> -->

      </ul>
    </li>
    <li>
      <a href="" [routerLink]="['/dashboard/profil-utilisateur']" class="text-menu">
        <span class="content-img" id="compte">
        </span>
      </a>
      <ul class="dropdownn">

        <li>
          <p>profil</p>
        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/profil-utilisateur']">Profil utilisateur</a>
        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/profil-entreprise']">Profil entreprise</a>
        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/facturation']">Facturation</a>
        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/protection-des-donnees']">Protection des données</a>
        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/utilisateurs']">Utilisateurs</a>
        </li>
        <li>
          <a href="" (click)="disConnection($event)">Déconnexion</a>
        </li>

      </ul>
    </li>
    <li>
      <a href="" class="text-menu">
        <span class="content-img" id="contact">
        </span>
      </a>
      <ul class="dropdownn">
        <li>
          <p>Contact</p>
        </li>
      </ul>
    </li>
    <li>
        <a href="" class="text-menu">
          <span class="content-img" id="help">
              <i class="far fa-question-circle"></i>
          </span>
        </a>
        <ul class="dropdownn">
          <li>
            <p>Besoin d'aide ?</p>
          </li>
          <li>
              <a href="" [routerLink]="">FAQ</a>
          </li>
        </ul>
      </li>
    <li>
      <a href="" class="text-menu">
        <span class="content-img" id="new">
        </span>
      </a>
      <ul class="dropdownn">
        <li>
          <p>News</p>
        </li>
      </ul>
    </li>


  </ul>

</nav>