@import "../../../../roodeo-variables.scss";

#nav-menu{
  background: #1d3551;
  box-shadow: 0px 9px 11px -1px rgba(124,151,166,0.69), 0px 9px 11px -1px rgba(68,68,68,0.69);
  display: flex;
  justify-content: center;
  ul,figure{
    margin:0px
  }

  .list-menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    li{
      &:hover .dropdownn{
        display: block;
      }
      margin-left: 18px;

      .dropdownn{
        position: absolute;
        list-style-type: none;
        width: 200px;
        height: auto;
        background: #0d6192;
        padding:9px 3px;
        z-index: 2;
        display: none;
        li{
          width: 92%;
          p{
            color: white;
            margin-bottom:0px !important;
            font-size:13px;
            display: inline-block;
            width: 100%;
            text-transform: uppercase;
            font-weight: 700;
          }
          a{
            color: white;
            padding-bottom:0px;
            font-size:13px;
            display: inline-block;
            width: 100%;
            &:hover{
              color:#68b4d3
            }
          
          }
        }
      }
      .text-menu{
        padding:15px 15px;
        width: 80px;
        height: 80px;
        display: flex;
        position: relative;
       
        #notif{
          background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/notifications.svg");
        }
        #test{
          background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/Tests.svg");
        }
        #compte{
          background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/compte.svg");
        }
        #contact{
          background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/contacter.svg");
        }
        #new{
          background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/nouveautes.svg");
        }
        #help{
          color: #f44336;
          margin-left: -5px;
          margin-top: -15px;
          font-size: 55px;
          background-image: url();
        }
        &:hover{
          background: #0d6192;
          #notif{
            background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/notifications.svg");
          }

          #test{
            background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/tests.svg");
          }

          #compte{
            background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/compte.svg");
          }
          #contact{
            background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/contacter.svg");
          }
          #new{
            background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/nouveautes.svg");
          }
          #help{
            color: white;
            background-image: url();
          }
         
        }
        .content-img{
          background-repeat: no-repeat;
          display: block;
          width: 60px;
          height: 60px;
        }
        
      }
    }
  }
}


// STYLE NOTIF 

.dropdownn-notif{
  width: 350px!important;
  padding: 15px;


    .icon-gestion-notif{
       cursor: pointer;
    color: $color-principal-blue;
    position: absolute;
    right: 7px;
    margin-top: -15px;
    border: 1.5px solid #ce5637;
    border-radius: 50%;
    padding: 4px;
    background: $color-background-blue;
    }

    .icon-gestion-notif-read{
     border: 1.5px solid $color-principal-blue !important;
    }
}

.notif-content{
  border:  $border-table;
  border-radius: $border-radius;
  background-color: $color-background-blue; 
  height: 130px;
  display: block;
  padding: 5px 10px;
  margin: 13px !important;
}

.notif-title{
  padding-top: 10px;
  color: $color-principal-blue;
 font-size: 20px;
}

.notif-message{
  color: $color-principal-blue;
  font-size: 14px;
}

.notif-footer{
  color: $color-principal-blue;
  font-size: 14px;
}

.notif-content-read{
  border: 1.5px solid $color-principal-blue !important;
}

@media screen and (max-width:768px){
  .list-menu li{
    margin-left: 0px!important;

    .text-menu{
      width: 70px!important;
      height: 70px!important;

      .content-img{
        width: 40px!important;
        height: 40px!important;
      }
    }
  }
}