@import "../../../../roodeo-variables.scss";


::ng-deep .mat-menu-item{
  display: flex!important;
 // justify-content: center!important;
  align-items: center!important;
}

.flags_img_selected{
  border:1px solid $color-principal-blue;
  border-radius: 100px;
}


#nav-menu{
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 0px 15px;
  .wrapper{
    
  
  background: #fff;
  box-shadow: 0px 9px 11px -1px rgba(124,151,166,0.69), 0px 9px 11px -1px rgba(68,68,68,0.69);
  display: flex;
  
  width: 100%;
  z-index: 9999;
  height: 70px;
  padding-right: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  ul,figure{
    margin:0px
  }

  .logo-link{
    position: absolute;
    justify-self: left;
    margin-top: 10px;
  }

  .logo{
    width: 200px;
    height:46px;
  }

  .right-contry{
    display: flex;
    align-items: center;
   
    .icon-country{
      position: relative;
      top: -12px;
    }
    .flags_menu{
      cursor: pointer;
      .flags_img{
        width: 32px;
        border-radius: 100px;
        border:1px solid $color-principal-blue;
        margin-top: 9px;
      }
    }
  }

  .icon-country{
    font-size: 20px;
    color: $color-principal-blue;
    padding-left: 6px;
  }

  .menu-burgeur{
    display: flex;
    margin-top: 5px;
    align-items: center;
    display: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    i{
      color: $color-principal-blue;
      font-size: 35px;

    }
  }

  .list-menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    
    li{
      .title-menu-responsive{
        display: none;
      }

      .chevron-down-burgeur{
        display: none;
      }
      .arrow{
        display: none;
      }
      &:hover .dropdownn{
        display: block;
      }
      &:hover, &:hover a{
        
      }
      &:hover{
        background: #0d6192;
        #notif{
          background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/notifications.svg");
        }

        #test{
          background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/tests.svg");
        }

        #compte{
          background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/compte.svg");
        }
        #contact{
          background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/contacter.svg");
        }
        #new{
          background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/nouveautes.svg");
        }
        #help{
          background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/interrogation.svg");
        }
        #logout {
          background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/deconnexion.svg");
        }

      }
      margin-left: 18px;

      .dropdownn{
        position: absolute;
        list-style-type: none;
        width: 200px;
        height: auto;
        background: #0d6192;
        padding:9px 3px;
        z-index: 9999;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: none;
        li{
          width: 92%;

          .circle-icon{
            font-size: 8px;
            padding-right: 6px;
            position: relative;
            top:-2px;
            display: none;
          }
             
          p{
            color: white;
            margin-bottom:0px !important;
            font-size:14px;
            display: inline-block;
            width: 100%;
            text-transform: uppercase;
              font-weight: bold;
          }
          a{
            color: white;
            padding-bottom:0px;
            font-size:13px;
            display: inline-block;
            width: 100%;
            padding-left: 5px;
            &:hover{
              color:#68b4d3
            }

          }
        }
      }
      .text-menu{
        padding:15px 15px;
        width: 80px;
        height: 70px;
        display: flex;
        position: relative;

        #notif{
          background-color: #1d3551;
          -webkit-mask-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/notifications.svg");
          mask-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/notifications.svg");
          mask-repeat: no-repeat;
          // background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/notifications.svg");

        }

        .nbr-notif{
          position: absolute;
          bottom: 10px;
          right: 10px;
          width: 25px;
          height: 25px;
          border: $border-table;
          background: #e34e26;
          font-size: 12px;
          border-radius: 12px;
          margin: auto;
          text-align: center;
          padding: 3px;
          color:#1d3551;
        }
        #test{
          background-color: #1d3551;
          -webkit-mask-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/Tests.svg");
          mask-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/Tests.svg");
          // background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/Tests.svg");
          mask-repeat: no-repeat;
        }
        #compte{
          background-color: #1d3551;
          -webkit-mask-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/compte.svg");
          mask-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/compte.svg");
          // background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/compte.svg");
          mask-repeat: no-repeat;
        }
        #contact{
          background-color: #1d3551;
          -webkit-mask-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/contacter.svg");
          mask-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/contacter.svg");
          // background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/contacter.svg");
          mask-repeat: no-repeat;
        }
        #new{
          background-color: #1d3551;
          -webkit-mask-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/nouveautes.svg");
          mask-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/nouveautes.svg");
          // background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/nouveautes.svg");
          mask-repeat: no-repeat;
        }
        #help{
          background-color: #1d3551;
          -webkit-mask-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/interrogation.svg");
          mask-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/interrogation.svg");
          // background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/interrogation.svg");
          mask-repeat: no-repeat;
        }
        #logout {
          background-color: #1d3551;
          -webkit-mask-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/deconnexion.svg");
          mask-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/deconnexion.svg");
          // background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/orange/interrogation.svg");
          mask-repeat: no-repeat;
        }
        &:hover{
          background: #0d6192;
          .icon-country{
            color: white;
          }
          #notif{
            background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/notifications.svg");
          }

          #test{
            background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/tests.svg");
          }

          #compte{
            background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/compte.svg");
          }
          #contact{
            background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/contacter.svg");
          }
          #new{
            background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/nouveautes.svg");
          }
          #help{
            background-image: url("/assets/Coding-game-img/SVG-menu-Dashboard/Blanc/interrogation.svg");
          }

        }
        .content-img{
          background-repeat: no-repeat;
          display: block;
          width: 42px;
          height: 42px;
        }

      }
    }
  }
  }
}


// STYLE NOTIF

.dropdownn-notif{
  width: 350px!important;
  padding: 15px;
  min-height: 250px;
  max-height: 50%;
  overflow-y: auto;
  scrollbar-color: #7f8183 #e3e3e3;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;

  &::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #7f8183;
    }
    
    &::-webkit-scrollbar-thumb:hover{
        background-color: #67686a;
    }
    
    &::-webkit-scrollbar-track {
        background: #e3e3e3;
    }

    .not-notification{
      color:white;
      text-align: center;
      line-height: 200px;
      font-weight: 400;
      font-size: 14px;
    }
    .icon-gestion-notif{
       cursor: pointer;
      color: $color-principal-blue;
      position: absolute;
      right: 7px;
      margin-top: -15px;
      border: 1px solid $color-orange;
      border-radius: 50%;
      padding: 4px;
      background: $color-background-blue;
    }

    .icon-gestion-notif-read{
      cursor: pointer;
      color: $color-principal-blue;
      position: absolute;
      right: 7px;
      margin-top: -15px;
      border: $border-table !important;
      border-radius: 50%;
      padding: 4px;
      background: rgb(121, 121, 121);
    }
}

.notif-content{
  cursor: pointer;
  border:  $border-table;
  border-radius: $border-radius;
  background-color: $color-background-blue;
  display: block;
  padding: 5px 10px;
  margin: 13px !important;
}

.notif-title{
  padding-top: 10px;
  color: $color-principal-blue;
 font-size: 16px;
}

.notif-message{
  color: $color-principal-blue;
  font-size: $font-size-home;
}

.notif-footer{
  color: $color-principal-blue;
  font-size: $font-size-home;
}

.notif-content-read{
  cursor: pointer;
  border: $border-table !important;
  border-radius: $border-radius;
  background-color: rgb(121, 121, 121);
  display: block;
  padding: 5px 10px;
  margin: 13px !important;
}

@media screen and (max-width: 970px) {
  // .list-menu{
  //   margin-left: 328px!important;
  // }
}

@media screen and (max-width:767px){
  .menu-burgeur{
    display: block!important;
  }
  .circle-icon{
    display:inline-block!important;
  }
  .chevron-down-burgeur{
    display: block!important;
    color:white;
    margin-top: 3px;
    // margin-left: 9px;
  }
  #nav-menu .list-menu{
    position: fixed;
    left: 0;
    top: 70px;
    width: 280px;
    height: 100%;
    background-color: #20252a;;
    flex-direction: column!important;
    // display: none;
    transition: .5s;
    transform: translateX(-280px)
  }

  #nav-menu .active-menu-bergeur{
    // display: block!important;
    transform: translateX(0px)!important;
  }
  
  .list-menu > li{
    margin-left: 0px!important;
    text-transform: uppercase;
    }

    .list-menu  li{
      &:hover{
        background-color: transparent!important; 
      }
    &:hover .content-img{
      background-color: transparent!important;
    }

  }
  .text-menu{
    height: 52px!important;
    width: 65px!important;
    padding: 7px 15px!important;
    color: white!important;
    // display: inline-block!important;
    &:hover{
      background-color: transparent!important;
    }
  }

  .content-img{
    width: 56px!important;
    height: 52px!important;
  }

  .list-menu-top-header{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .notif-title-arrow{
    min-width: 180px;
  }
  .arrow{
    display:inline-block!important;
    color: white;
    align-items: flex-end;
    position: relative;
    top: 2px;
    cursor: pointer;
  }

  .dropdownn.dropdownn-notif{
    display: none!important;
  }

  .title-menu-responsive{
    display: block!important;
    min-width: 180px;
    color:#fff
  }

  .dropdownn{
    width: auto!important;
    display: block!important;
    position: static!important;
    padding: 6px 15px!important;
    background: transparent!important;
  }

  .dropdownn li p{
    display: none!important;
  }
 
 
}
