@import "../../../../roodeo-variables.scss";

#nav-menu{
  background: #1d3551;
  box-shadow: 0px 9px 11px -1px rgba(124,151,166,0.69), 0px 9px 11px -1px rgba(68,68,68,0.69);
  display: flex;
  justify-content: center;
  ul,figure{
    margin:0px
  }

  .list-menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    li{
      &:hover .dropdownn{
        display: block;
      }
      margin-left: 18px;
      .dropdownn{
        position: absolute;
        list-style-type: none;
        width: 200px;
        height: auto;
        background: #0d6192;
        padding:9px 3px;
        z-index: 2;
        display: none;
        li{
          width: 92%;
         .a-first{
            text-transform: uppercase;
            font-weight: 700;
          }
          a{
            color: white;
            padding-bottom:0px;
            font-size:13px;
            display: inline-block;
            width: 100%;
            &:hover{
              color:#68b4d3
            }
          }
        }
      }
      .text-menu{
        padding:15px 15px;
        width: 80px;
        height: 80px;
        display: flex;
        position: relative;
       
        #notif{
          background-image: url("./assets/Coding-game-img/SVG-menu-Dashboard/orange/notifications.svg");
        }
        #test{
          background-image: url("./assets/Coding-game-img/SVG-menu-Dashboard/orange/Tests.svg");
        }
        #compte{
          background-image: url("./assets/Coding-game-img/SVG-menu-Dashboard/orange/compte.svg");
        }
        #contact{
          background-image: url("./assets/Coding-game-img/SVG-menu-Dashboard/orange/contacter.svg");
        }
        #new{
          background-image: url("./assets/Coding-game-img/SVG-menu-Dashboard/orange/nouveautes.svg");
        }
        &:hover{
          background: #0d6192;
          #notif{
            background-image: url("./assets/Coding-game-img/SVG-menu-Dashboard/Blanc/notifications.svg");
          }

          #test{
            background-image: url("./assets/Coding-game-img/SVG-menu-Dashboard/Blanc/tests.svg");
          }

          #compte{
            background-image: url("./assets/Coding-game-img/SVG-menu-Dashboard/Blanc/compte.svg");
          }
          #contact{
            background-image: url("./assets/Coding-game-img/SVG-menu-Dashboard/Blanc/contacter.svg");
          }
          #new{
            background-image: url("./assets/Coding-game-img/SVG-menu-Dashboard/Blanc/nouveautes.svg");
          }
         
        }
        .content-img{
          background-repeat: no-repeat;
          display: block;
          width: 60px;
          height: 60px;
        }
        
      }
    }
  }
}

@media screen and (max-width:768px){
  .list-menu li{
    margin-left: 0px!important;

    .text-menu{
      width: 70px!important;
      height: 70px!important;

      .content-img{
        width: 40px!important;
        height: 40px!important;
      }
    }
  }
}