<nav id="nav-menu">
  <a href="" [routerLink]="['/dashboard/campaigns']" class="logo-link">
    <img class="logo" src="../../../../assets/logo_ROODEO.svg" alt="" />
  </a>
  <ul class="list-menu" [class.active-menu-bergeur]="activeMenuB">
    <li>
      <div class="list-menu-top-header">
        <a href="" class="text-menu">

          <span class="content-img" id="notif"></span>
          <span *ngIf="notifUnread !== 0" class="nbr-notif">{{
            notifUnread
          }}</span>
        </a>
        <span class="title-menu-responsive notif-title-arrow">notification</span>
        <i class="fas fa-chevron-right arrow"></i>
      </div>
      <ul class="dropdownn dropdownn-notif">
        <li>
          <p>Notifications</p>
        </li>
        <div
          class="notif-content"
          *ngFor="let notification of notifications"
          [className]="
            notification.status ? 'notif-content-read' : 'notif-content'
          "
        >
          <!-- <div>
            <span (click)="deleteNotification(notification.id)" class=""><i [className]="notification.status ? 'fas fa-trash icon-gestion-notif-read' : 'fas fa-trash icon-gestion-notif'"></i></span>
          </div> -->
          <span
            (click)="
              navigateTo(
                notification.idCampaign,
                notification.id,
                notification.status
              )
            "
            style="display: block;"
          >
            <h4 class="notif-title">
              {{ notification.title }}
            </h4>
            <span class="notif-message">{{ notification.Message }}</span>
            <p class="notif-footer">
              {{ notification.created_at | date: "dd/MM/yyyy" }}
            </p>
          </span>
        </div>
      </ul>
    </li>
    <li>
      <div class="list-menu-top-header">
        <a href="" [routerLink]="['/dashboard/campaigns']" class="text-menu">
          <span class="content-img" id="test"> </span>
        </a>
        <span class="title-menu-responsive">Tests d'évaluations</span>
        <i class="fas fa-chevron-down chevron-down-burgeur"></i>
      </div>
      <ul class="dropdownn">
        <li>
          <p>Tests d'évaluations</p>
        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/campaigns']"><i class="fas fa-circle circle-icon"></i> Mes Tests</a>
        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/campaigns/new']"><i class="fas fa-circle circle-icon"></i> Nouveau test</a>
        </li>
        <!-- <li>
          <a href="" [routerLink]="['/dashboard/utilisateurs']">Éditeurs</a>
        </li> -->
      </ul>
    </li>
    <li>
      <div class="list-menu-top-header">
        <a
          href=""
          [routerLink]="['/dashboard/profil-utilisateur']"
          class="text-menu"
        >
          <span class="content-img" id="compte"> </span>
        </a>
        <span class="title-menu-responsive">profil</span>
        <i class="fas fa-chevron-down chevron-down-burgeur"></i>
      </div>
      <ul class="dropdownn">
        <li>
          <p>profil</p>
        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/profil-utilisateur']">
            <i class="fas fa-circle circle-icon"></i>Mon profil
          </a>
        </li>
        <li *ngIf="isProfesionalAccount">
          <a href="" [routerLink]="['/dashboard/profil-entreprise']">
            <i class="fas fa-circle circle-icon"></i>
            Profil entreprise
          </a>
        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/utilisateurs']">
            <i class="fas fa-circle circle-icon"></i>
            Utilisateurs
          </a>
        </li>
        <!-- <li>
          <a href="" (click)="disConnection($event)">Déconnexion</a>
        </li> -->
      </ul>
    </li>
    <!-- <li>
      <a href="" class="text-menu">
        <span class="content-img" id="contact">
        </span>
      </a>
      <ul class="dropdownn">
        <li>
          <p>Contact</p>
        </li>
      </ul>
    </li> -->

    <!--li>
      <a href="" class="text-menu">
        <span class="content-img" id="new">
        </span>
      </a>
      <ul class="dropdownn">
        <li>
          <p>Nouveautés</p>
        </li>
      </ul>
    </li-->
    <li>
      <div class="list-menu-top-header">
        <a href="" class="text-menu">
          <span class="content-img" id="new"> </span>
        </a>
        <span class="title-menu-responsive">OFFRE {{ offer_id }}</span>
        <i class="fas fa-chevron-down chevron-down-burgeur"></i>
      </div>
      <ul class="dropdownn">
        <li>
          <p id="ma_formule">OFFRE {{ offer_id }}</p>
        </li>
        <li>
          <a href="" [routerLink]="['/subscription']"><i class="fas fa-circle circle-icon"></i> Changer de formule</a>
        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/facturation']"><i class="fas fa-circle circle-icon"></i> Facturation</a>
        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/protection-des-donnees']"><i class="fas fa-circle circle-icon"></i> Protection des données</a>
        </li>
      </ul>
    </li>
    <li>
      <div class="list-menu-top-header">
          <a href="" class="text-menu">
            <span class="content-img" id="help"> </span>
          </a>
          <span class="title-menu-responsive">Besoin d'aide ?</span>
          <i class="fas fa-chevron-down chevron-down-burgeur"></i>
        </div>
      <ul class="dropdownn">
        <li>
          <p>Besoin d'aide ?</p>
        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/faq']">FAQ</a>

        </li>
        <li>
          <a href="" [routerLink]="['/dashboard/contact-support']">Contact</a>

        </li>
      </ul>
    </li>
    <li>
      <div class="list-menu-top-header">
        <a href="" class="text-menu">
          <span class="content-img" id="logout"> </span>
        </a>
        <span class="title-menu-responsive">Déconnexion</span>
      </div>
      <ul class="dropdownn">
        <li>
          <p><a href="" (click)="disConnection($event)">Déconnexion</a></p>
        </li>
      </ul>
    </li>
    <li></li>
  </ul>

  <div class="menu-burgeur" (click)="activeMenuBurgeur()">

    <i class="fas fa-bars"></i>

  </div>
</nav>
