@import "../../../../roodeo-variables.scss";
@import "../../../../roodeo-content.scss";
@import "../../../../roodeo-table.scss";
@import "../../../../roodeo-misc.scss";

/deep/ #nav-menu {
  top: 0;
}

/deep/ .header-notification {
  top: 0;
}

* {
  box-sizing: border-box;
}

.rdo-loader {
  width: 30px;
  height: 30px;
  background: center / contain no-repeat url(./../../../../assets/loader.gif);
}

.rdo-sub-offer-head {
  cursor: pointer;
  text-transform: uppercase;
  color: gray;
  margin-right: -1px;
  z-index: 1;
  font-size: .9rem;
  padding: 10px 10px;

  &:nth-child(1) {
    margin-top: 50px;
  }

  &:hover {
    color: black;
  }
}

.rdo-sub-offer-price {
  padding: 6px 6px;
  margin-left: 5px;
  margin-right: 10px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  color: black !important;
  text-transform: initial !important;
  border-radius: $border-radius;
}

.rdo-sub-offer-head-selected {
  color: black;
  background-color: white;
  border: $border-table;
  border-radius: $border-radius;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rdo-sub-offer-desc{
  background-color: white;
  border: $border-table;
  border-radius: $border-radius;
  min-height: 600px;
  padding: 10px 25px 25px 25px;
}
