@import "../../../../roodeo-variables.scss";
@import "../../../../roodeo-content.scss";
@import "../../../../roodeo-table.scss";
@import "../../../../roodeo-misc.scss";

/deep/ #nav-menu {
  top: 0;
}

/deep/ .header-notification {
  top: 0;
}

* {
  box-sizing: border-box;
}

.rdo-loader {
  width: 30px;
  height: 30px;
  background: center / contain no-repeat url(./../../../../assets/loader.gif);
}

.rdo-sub-offer-head {
  cursor: pointer;
  text-transform: uppercase;
  font-size: .8rem;
  padding: 10px 10px;
  text-align: right;
  border-radius: $border-radius;

  &:nth-child(1) {
    margin-top: 10px;
  }

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
}

.rdo-sub-offer-head-selected {
  background-color: rgba($color: #000000, $alpha: 0.2);
}

.rdo-sub-offer-desc{
  background-color: white;
  border-radius: $border-radius;
  min-height: 600px;
}

.row{
  margin-top: 35px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.payment {
  display: revert;
  width: 80% !important;
  height:auto;
  .row{
    margin: 5px;
  }
  .cvc{
    width: 61px;
    display: inline-block;
    color: white;
    margin-left: 20px;
    //font-size: 12px;
  }
  .exp_month{
    width: 40px;
    margin-left: 10px;
    display: inline-block;
    color: white;
    //font-size: 12px;
  }
  .exp_year{
    width: 40px;
    margin-right: 10px;
    display: inline-block;
    color: white;
    //font-size: 12px;
  }
  .number{
    width: 200px;
    display: block;
    color: white;
    margin-left: 20px;
    //font-size: 12px;
  }
  .buttonfrom{
    display: inline-block;
  }
  .creditcard {
    width: 320px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .titleCredit{
    margin-left: 10px;
    margin-top: 60px;
    font-size: 16px;
    color: white;
  }
  .titleValidation{
    margin-left: 20px;
    font-size: 12px;
    color: white;
  }
  .front {
    width: 100%;
    height: 200px;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
    //background-color: #272222c0;
    background: #19719e;
  }
  .saveCard{
    margin-left: auto;
    margin-right: auto;
  }
}
