@import "../../../../roodeo-variables.scss";
@import "../../../../roodeo-content.scss";
@import "../../../../roodeo-table.scss";
@import "../../../../roodeo-misc.scss";

.rdo-panel{
  margin: 49px 15px;
}

/deep/ #nav-menu {
  top: 0;
}

/deep/ .header-notification {
  top: 0;
}

* {
  box-sizing: border-box;
}

.rdo-loader {
  width: 30px;
  height: 30px;
  background: center / contain no-repeat url(./../../../../assets/loader.gif);
}

.rdo-sub-offer-head {
  cursor: pointer;
  text-transform: uppercase;
  font-size: .8rem;
  padding: 10px 10px;
  text-align: right;
  border-radius: $border-radius;

  &:nth-child(1) {
    margin-top: 10px;
  }

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
}

.rdo-sub-offer-head-selected {
  background-color: rgba($color: #000000, $alpha: 0.2);
}

.rdo-sub-offer-desc{
  background-color: white;
  border-radius: $border-radius;
  min-height: 600px;
}
