.container-disconnect {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-disconnect button {
  margin: 0 5px;
}

.container-disconnect h3 {
  text-align: center;
  color: #2c2c2c;
}

.container-disconnect button {
  font-size: 0.7rem;
  border-radius: 2rem;
  width: 200px;
  margin: 1rem calc((100% - 200px) / 2);
  background-color: #254f74;
  color: #fff;
}

.container-disconnect button:hover {
  background-color: #1d79a6;
  cursor: pointer;
}
