<div id="background">

<mat-toolbar color="primary">
  <mat-toolbar-row>

      <mat-icon [matMenuTriggerFor]="menuburger" class="material-icons toggle-menu">menu</mat-icon>
      <mat-menu #menuburger="matMenu" class="burger">
          <a class="menu-burger-item" href="">Sourcer</a>
          <span  class="menu menu-burger-item" [matMenuTriggerFor]="menu">Évaluer</span>
          <a class="menu-burger-item" href="">Fidéliser</a>
          <a class="menu-burger-item" href="">Prix</a>
          <a class="menu-burger-item" href="">Connexion</a>
          <button class="menu-burger-item" mat-button color="primary">Démo Gratuite</button>
        </mat-menu>

    <img src="../../assets/logo-codingame-for-work.png" alt="Logo">
    <span class="spacer"></span>
    <a href="">Sourcer</a>
    <span class="menu" [matMenuTriggerFor]="menu">Évaluer</span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Notre Solution</button>
        <button mat-menu-item>Nos fonctionnalités</button>
      </mat-menu>
    <a href="">Fidéliser</a>
    <a href="">Prix</a>
    <a href="">Connexion</a>
    <button mat-button color="primary">Démo Gratuite</button>
  </mat-toolbar-row>
</mat-toolbar>

</div>