<main>

  <section id="cotent-user-twitt" class="">
    <div class="container">
      <div class="title-heading-block">
        <h2 class="modern-heading-title">
          Why developers
          <span class="modern-heading-description">love us</span>
        </h2>
      </div>

      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">

            <div class="carousel-item active">
                <section class="slide-row">
                  <div class="swiper-slide hide-carosel">
                    <article class="checkout-twitter">
                      <div class="testimonial-header">
                        <figure class="testimonial-img">
                          <img
                            src="../../assets/Coding-game-img/footer/pablomarcos.jpg"
                            alt="brentdes"
                            rol="img"
                          />
                        </figure>
    
                        <div class="content-name">
                          <h4 class="testimonial-name">Brent</h4>
                          <span class="testimonial-firsname">@BrentDes</span>
                        </div>
                      </div>
    
                      <div class="testimonial-footer">
                        <p>
                          <a href="https://twitter.com/codingame" target="_blank"
                            >@codingame
                          </a>
    
                          Best way ever to improve your programming skills.
                          Improving the code of the game you are playing
                        </p>
                      </div>
                    </article>
                  </div>
                  <div class="swiper-slide">
                    <article class="checkout-twitter">
                      <div class="testimonial-header">
                        <figure class="testimonial-img">
                          <img
                            src="../../assets/Coding-game-img/footer/collenburg.jpg"
                            alt="collenburg"
                            rol="img"
                          />
                        </figure>
    
                        <div class="content-name">
                          <h4 class="testimonial-name">Chris Ollenburg</h4>
                          <span class="testimonial-firsname">@collenburg</span>
                        </div>
                      </div>
    
                      <div class="testimonial-footer">
                        <p>
                          I recently discovered
                          <a href="https://twitter.com/codingame" target="_blank"
                            >CodinGame
                          </a>
                          and all I can say is that it is awesome! Code + fun +
                          practice + learning + video games = winning! Oh and they
                          support
                          <a
                            href="https://twitter.com/kotlin"
                            target="_blank"
                            href=""
                            >Kotlin</a
                          >
                        </p>
                      </div>
                    </article>
                  </div>
                </section>
            </div>
         
            <div class="carousel-item">
            <section class="slide-row">
              <div class="swiper-slide hide-carosel">
                <article class="checkout-twitter">
                  <div class="testimonial-header">
                    <figure class="testimonial-img">
                      <img
                        src="../../assets/Coding-game-img/footer/brentdes.jpg"
                        alt="brentdes"
                        rol="img"
                      />
                    </figure>

                    <div class="content-name">
                      <h4 class="testimonial-name">Brent</h4>
                      <span class="testimonial-firsname">@BrentDes</span>
                    </div>
                  </div>

                  <div class="testimonial-footer">
                    <p>
                      <a href="https://twitter.com/codingame" target="_blank"
                        >@codingame
                      </a>

                      Best way ever to improve your programming skills.
                      Improving the code of the game you are playing
                    </p>
                  </div>
                </article>
              </div>
              <div class="swiper-slide">
                <article class="checkout-twitter">
                  <div class="testimonial-header">
                    <figure class="testimonial-img">
                      <img
                        src="../../assets/Coding-game-img/footer/collenburg.jpg"
                        alt="collenburg"
                        rol="img"
                      />
                    </figure>

                    <div class="content-name">
                      <h4 class="testimonial-name">Chris Ollenburg</h4>
                      <span class="testimonial-firsname">@collenburg</span>
                    </div>
                  </div>

                  <div class="testimonial-footer">
                    <p>
                      I recently discovered
                      <a href="https://twitter.com/codingame" target="_blank"
                        >CodinGame
                      </a>
                      and all I can say is that it is awesome! Code + fun +
                      practice + learning + video games = winning! Oh and they
                      support
                      <a
                        href="https://twitter.com/kotlin"
                        target="_blank"
                        href=""
                        >Kotlin</a
                      >
                    </p>
                  </div>
                </article>
              </div>
            </section>
            </div>
        </div>
        <a
          class="btn-carosel carousel-control-prev"
          href="#carouselExampleControls"
          role="button"
          data-slide="prev"
        >
          <i class="fas fa-chevron-left"></i>
        </a>
        <a
          class="btn-carosel carousel-control-next caro-nex-main"
          href="#carouselExampleControls"
          role="button"
          data-slide="next"
        >
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </section>

  <section id="element-article" class="elementor-element">
    <div class="container">
      <div class="title-heading-block">
        <h2 class="modern-heading-title">
          The latest news
          <span class="modern-heading-description">on our blog</span>
        </h2>
      </div>

      <section class="content-article">
        <article class="post">
          <figure class="content-img">
            <a href=""
              ><img
                src="../../assets/Coding-game-img/footer/t3ch.png"
                alt=""
                role="img"
            /></a>
          </figure>

          <div class="content-description">
            <h4 class="entry-title">
              <a href="">
                CodinGame And Amadeus: A Match Made in T3CH Heaven
              </a>
            </h4>

            <span class="mini-storie"><a href="">Customer Stories</a></span>

            <p class="entry-info">
              CodinGame take to the T3CH stage alongside Amadeus to discuss tech
              recruitment and present their long-term collaboration.
            </p>

            <footer>
              <a href="" class="aux-read-more">Read More</a>
            </footer>
          </div>
        </article>

        <article class="post">
          <figure class="content-img">
            <a href=""
              ><img
                src="../../assets/Coding-game-img/footer/vintage-tv.jpg"
                alt="tv"
                role="img"
            /></a>
          </figure>

          <div class="content-description">
            <h4 class="entry-title">
              <a href="">
                Is Your Tech Recruitment Process Outdated?
              </a>
            </h4>

            <span class="mini-storie"><a href="">Tech Recruiting</a></span>

            <p class="entry-info">
              Is your tech recruiting process gathering dust? From interviews to
              candidate screening, what do you need to update ?
            </p>

            <footer>
              <a href="" class="aux-read-more">Read More</a>
            </footer>
          </div>
        </article>
        <article class="post">
          <figure class="content-img">
            <a href=""
              ><img
                src="../../assets/Coding-game-img/footer/colorful.jpg"
                alt="colorful"
                role="img"
            /></a>
          </figure>

          <div class="content-description">
            <h4 class="entry-title">
              <a href="">
                The Advantages of Gender Diversity In Tech Teams
              </a>
            </h4>

            <span class="mini-storie"><a href="">HR News & Trends</a></span>

            <p class="entry-info">
              Gender diversity in tech is a hot topic in 2019. Read about the
              main advantages of gender diverse tech teams.
            </p>

            <footer>
              <a href="" class="aux-read-more">Read More</a>
            </footer>
          </div>
        </article>
      </section>
    </div>
  </section>
  <section id="contact">
    <div class="container">
      <div class="modern">
        <h2 class="modern-heading-title">
          Change the way you engage
          <span class="modern-heading-description">with programmers</span>
        </h2>
      </div>

      <div class="modern-heading">
        <figure class="picto-inline">
          <img
            src="../../assets/Coding-game-img/footer/picto-cg.png"
            role="img"
            alt="picto"
          />
        </figure>

        <div class="bloc-bulding-btn">
          <a class="btn btn-yellow" mat-button color="primary"
            >Start Your Free Trial Now</a
          >
          <a class="btn btn-dark" mat-button color="primary"
            >Contact our Enterprise Team</a
          >
        </div>
      </div>
    </div>
  </section>
</main>
