@import"../../../../../../roodeo-variables.scss";

#content{
    // background: $color-background-blue;
    width: 100%;
    height: 100%;
    color: $color-principal-blue;
}

#container{
    
    padding: 15px;
    margin: auto;
    width: 70%;
}

.header_question{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.subtitle_h5{
  text-transform: uppercase;
}

#techno:empty{
    display: none;
}

.right_answer{
    color: green;
}

.wrong_answer{
    color: red;
}

.separator{
    border-style:dashed;
}