@import"../../../../../../roodeo-variables.scss";
// @import"../candidats.component.scss";

#content{
    width: 100%;
    height: 100%;
    padding: 15px 12px 10px ;
    color: $color-principal-blue;
    background: $color-background-blue;
}


#container{
    background: white;
    border: $border-table;
    border-radius: $border-radius;
    padding: 15px 30px;
    margin: auto;
    width: 98%;
    line-height: 40px;
}

.header_result{
    display: flex;
    justify-content: space-between;
    width: 70%;
    text-align: center;
    align-items: center;
    padding-top:9px;
    padding-bottom: 9px;
}

.header_stats{
    color: $color-orange;
    font-size: 22px;
}

.progressbar_container{
    height: 100px;
    width: 100px;
}

.header_question{
    width: 70%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}

.question_number{
    color: $color-orange;
}

.subtitle_h5{
  text-transform: uppercase;
}

#techno:empty{
    display: none;
}

.right_answer{
    color: green;
}

.wrong_answer{
    color: red;
}

.separator{
    border:1px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.separator_red{
    border:1px solid #ddd;
    margin: 9px 0px;
}