<section class="secondSection">
    <div>
      <div>
      <div id="profilSearch">

        <h3 class="title-dashed" i18n>
          Sought profiles
          <span class="dashed"></span>
        </h3>
        <div class="content">

          <div class="first hvr-pulse">
            
            <img src="../../assets/ingenieurs.svg" alt="Development engineers" />
            <div class="label-profil" i18n>Development engineers</div>
          </div>

          <div class="middle hvr-pulse">
            <img src="../../assets/devops.svg" alt="Devops" />
            <div class="label-profil" i18n>DevOps</div>
          </div>

          <div class="middle hvr-pulse">
            <img src="../../assets/chefs_de_projets.svg" alt="Project managers" />
            <div class="label-profil" i18n>Project managers</div>
          </div>

          <div class="last hvr-pulse">
            <img src="../../assets/datas_scientists.svg" alt="Data Scientists" />
            <div class="label-profil" i18n>Data Scientists</div>
          </div>
          <!--div>
            <div AgWordCloud 
            #word_cloud_chart=ag-word-cloud 
            [wordData]="wordData"
            [options]="options">
            </div>
          </div-->
    
       </div>
       <div class="content">

        <div class="first hvr-pulse">
          <img src="../../assets/developpeurs.svg" alt="Developers" />
          <div class="label-profil" i18n>Developers</div>
        </div>

        <div class="middle hvr-pulse">
          <img src="../../assets/devs_backend.svg" alt="Backend developers" />
          <div class="label-profil" i18n>Backend developers</div>
        </div>

        <div class="middle hvr-pulse">
          <img src="../../assets/devs_frontend.svg" alt="Frontend developers" />
          <div class="label-profil" i18n>Frontend developers</div>
        </div>

        <div class="last hvr-pulse">
          <img src="../../assets/architectes.svg" alt="Profil architectes" />
          <div class="label-profil" i18n>Architects</div>
        </div>
     </div>
      </div>
      </div>
    </div>
  </section>