@import url("https://fonts.googleapis.com/css?family=Open+Sans:700,800");
@import '../../../../roodeo-variables.scss';

* {
  box-sizing: border-box;
}

.image_tuile{
  width: 100px;
}

.button-3-4{
  margin-top: 22px !important;
}

.row-home{
  margin: 0 100px;
}

.lab-item.mat-card{
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border:1px solid $color-blue;
  -webkit-box-shadow: 3px 4px 8px -2px rgba(0,0,0,0.40); 
box-shadow: 3px 4px 8px -2px rgba(0,0,0,0.40);
  align-items: center;
  height: 310px;
  .mat-card-icon{
    font-size: 60px;
    color:$color-blue;
  }

  .mat-card-content{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    display: flex;
    align-items: center;
  }

  .mat-card-title{
    font-family:$font-poppins;
    text-transform: uppercase;
    color:rgb(31, 54, 98);
    text-align: center;
    font-size: 18px!important;
    font-weight: 400;
  }

  .lab-item{
    border:1px solid $color-pink;
    background-color: transparent;
    display: flex;
    align-items: center;
    color:$color-pink;
    border-radius: 100px;
    outline: none;
    font-size: $font-size-home;
  }
}



#home {
  /*background-image: url(../../../../assets/Coding-game-img/Page-accueil/header.jpg);*/
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid $color-blue;
  display: flex;
  color: $text-color;
  padding-top: 124px;
  align-content: center;
  justify-content: space-around;
  padding-bottom: 40px;
  box-shadow: 0 4px 10px -2px #00000080;

  .row-home{
    display: flex;
    flex-direction: row;
    padding: 0px 4px;
    flex-wrap: wrap;
  }
 
}

.slidingVertical {
  display: inline;
  text-indent: 8px;

  span {
    animation: topToBottom 11s linear infinite 0s;
    color: #f2bb13;
    opacity: 0;
    overflow: hidden;
    position: absolute;
  }

  span:nth-child(2) {
    animation-delay: 3.5s;
  }
  
  span:nth-child(3) {
    animation-delay: 7s;
  }
}

/*topToBottom Animation*/

@keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -ms-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  50% {
    opacity: 0;
    -ms-transform: translateY(50px);
  }
  100% {
    opacity: 0;
  }
}

.left {
  width: 30%
}

.right {
  width: 40%
}

#text h1 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
   
  
}

#text h3 {
  
  font-size: 22px;
  font-weight: 400;
}

.form {
  display: flex;
}

.custom-email input {
  background-color: white;
  width: 100%;
}

.mat-form-field {
  width: 300px;
}

.mat-focused .placeholder {
  color: yellow;
}

mat-error {
  color: yellow !important;
  margin: 0
}

:host ::ng-deep .mat-form-field-infix {
  border: 0;
}

.custom-buttom {
  border-radius: 0px;
  background-color: #252e38;
  
  font-size: 14px;
  padding: 0px 20px;
  height: 50px;
  margin-top: 5px
}

.custom-buttom:hover {
  background-color: #f2bb13
}

.input-custom {
  background-color: white;
  padding: 15px;
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

/* .mat-form-field {
  margin-bottom: 10px;
} */

/* ::ng-deep .mat-form-field-wrapper {
  display: flex !important;
  flex-direction: column !important;
}

::ng-deep .mat-form-field-flex {
  order: 2 !important;
}

::ng-deep .mat-form-field-subscript-wrapper {
  position: static !important;
} */

#anim {
  padding-top: 100px;
  position: absolute;
  width: 500px;
  bottom: 30px;
  right: 300px;
}

/* CSS format mobile */

@media screen and (max-width: 1024px) {

  .row-home{
    .lab-item.mat-card{
      margin-bottom: 9px !important;
    }

    .mat-raised-button{
      font-size: 11px !important; 
    }
  
  }
  .left {
    width: 80%;
    padding-left: 38px;
    padding-right: 38px;
  }
  .right {
    display: none
  }
 
} 

// @media screen and (min-width: 200px) and (max-width: 640px) {
 
//   .slidingVertical {
//     left: 300px;
//     display: inherit
//   }
//   .left {
//     display: flex;
//     flex-direction: column;
//     height: 100vh;
//     width: 100%;
//   }
//   #text {
//     padding-top: 50px;
//     padding-left: 30px;
//     padding-right: 30px;
//     display: flex;
//     flex-direction: column;
//   }
//   #text h1 {
//     font-family: "Open Sans", sans-serif;
//     font-size: 30px;
//   }
//   #text h3 {
//     font-family: "Open Sans", sans-serif;
//     font-size: 18px;
//     margin-bottom: 10px;
//   }
//   .form {
//     display: flex;
//     flex-direction: column;
//     padding-left: 30px;
//     padding-right: 30px;
//   }
//   .mat-form-field {
//     width: 100%;
//   }
//   .custom-buttom {
//     width: 60%;
//   }
//   .right {
//     visibility: hidden
//   }
// }

