<section id="home">
   
        <div class="row-home">
            <div class="option-flex">

                    <mat-card class="lab-item">
                        <img class="image_tuile" src="./../../../../assets/pictos_tuiles_homepage/1_envoitest.svg" alt="">
                        <mat-card-content>
                            <mat-card-title>
                               <p i18n>Online coding skills assessments</p>
                            </mat-card-title>
                    
                        </mat-card-content>
                    
                        <mat-card-actions>
                            <button [ngx-scroll-to-offset]='-100' [ngx-scroll-to]="'fonctionnalites'" routerLink="" mat-raised-button color="warn" class="lab-item hvr-bob" i18n>Discover the features</button>
                        </mat-card-actions>
                    
                    </mat-card>

            </div>

            <div class="option-flex">
            <mat-card class="lab-item">

                <img class="image_tuile interview" src="./../../../../assets/tech_interview.svg" alt="">

                <mat-card-content>
                    <mat-card-title>
                        <p i18n>Tech interviews with Roodeo experts</p> 
                    </mat-card-title>
                </mat-card-content>

                
                <mat-card-actions>
                    <button [ngx-scroll-to-offset]='-100' [ngx-scroll-to]="'rapports_detailles'" routerLink="" mat-raised-button color="warn" class="lab-item hvr-bob" i18n>Learn more</button>
                </mat-card-actions>

            </mat-card>
            </div>

            <div class="option-flex">
                <mat-card class="lab-item">

                    <img class="image_tuile" src="./../../../../assets/pictos_tuiles_homepage/2_resultats.svg" alt="">
                
                    <mat-card-content>
                        <mat-card-title>
                           <p i18n>Best applicants shortlist & reports</p> 
                        </mat-card-title>
                
                    </mat-card-content>
                
                    <mat-card-actions>
                        <button [ngx-scroll-to-offset]='-100' [ngx-scroll-to]="'#offers'" routerLink="" mat-raised-button color="warn" class="lab-item button-3-4 hvr-bob" i18n>
                            See detailed reports
                        </button>
                    </mat-card-actions>
                
                </mat-card>
            </div>
                

            <div class="option-flex">
                <mat-card class="lab-item">
                    <img class="image_tuile" src="./../../../../assets/pictos_tuiles_homepage/3_pricing.svg" alt="">
                    <mat-card-content>
                        <mat-card-title>
                        <p i18n>Free plan & Pricing</p> 
                        </mat-card-title>
                    </mat-card-content>
                    <mat-card-actions>
                        <button routerLink="/home/register" mat-raised-button color="warn" class="lab-item  button-3-4 hvr-bob" i18n>Start with Roodeo</button>
                    </mat-card-actions>
                
                </mat-card>
            </div>
        </div>

</section>
