<section id="home">
  <mat-card class="lab-item">

    <img mat-card-image src="" alt="" />

    <mat-card-content>
        <mat-card-title>
            Envoyer vos tests d'évaluation en 10 minutes
        </mat-card-title>

        <!--mat-card-subtitle>
            <mat-chip-list>
                <mat-chip *ngFor="let tag of item.tags" selected>#{{tag.libelle}}</mat-chip>
            </mat-chip-list>
        </mat-card-subtitle>
        <mat-card-subtitle class="title-duree"><mat-icon class="mat-duree">schedule</mat-icon> {{item.duree}}</mat-card-subtitle>
        <mat-card-subtitle class="title-description">{{item.description}}</mat-card-subtitle-->

    </mat-card-content>

    <mat-card-actions>
        <button routerLink="" mat-raised-button color="warn" class="lab-item">Découvrir les fonctionnalités</button>
    </mat-card-actions>

  </mat-card>

  <mat-card class="lab-item">

    <img mat-card-image src="" alt="" />

    <mat-card-content>
        <mat-card-title>
            Visualisez les resultats de vos candidats
        </mat-card-title>

        <!--mat-card-subtitle>
            <mat-chip-list>
                <mat-chip *ngFor="let tag of item.tags" selected>#{{tag.libelle}}</mat-chip>
            </mat-chip-list>
        </mat-card-subtitle>
        <mat-card-subtitle class="title-duree"><mat-icon class="mat-duree">schedule</mat-icon> {{item.duree}}</mat-card-subtitle>
        <mat-card-subtitle class="title-description">{{item.description}}</mat-card-subtitle-->

    </mat-card-content>

    <mat-card-actions>
        <button routerLink="" mat-raised-button color="warn" class="lab-item">Voir un rapport detaillé</button>
    </mat-card-actions>

  </mat-card>

  <mat-card class="lab-item">

    <img mat-card-image src="" alt="" />

    <mat-card-content>
        <mat-card-title>
            Nos prix
        </mat-card-title>

        <!--mat-card-subtitle>
            <mat-chip-list>
                <mat-chip *ngFor="let tag of item.tags" selected>#{{tag.libelle}}</mat-chip>
            </mat-chip-list>
        </mat-card-subtitle>
        <mat-card-subtitle class="title-duree"><mat-icon class="mat-duree">schedule</mat-icon> {{item.duree}}</mat-card-subtitle>
        <mat-card-subtitle class="title-description">{{item.description}}</mat-card-subtitle-->

    </mat-card-content>

    <mat-card-actions>
        <button routerLink="" mat-raised-button color="warn" class="lab-item">Découvrir nos offres</button>
    </mat-card-actions>

  </mat-card>

  <mat-card class="lab-item">

    <img mat-card-image src="" alt="" />

    <mat-card-content>
        <mat-card-title>
            Version gratuite
        </mat-card-title>

        <!--mat-card-subtitle>
            <mat-chip-list>
                <mat-chip *ngFor="let tag of item.tags" selected>#{{tag.libelle}}</mat-chip>
            </mat-chip-list>
        </mat-card-subtitle>
        <mat-card-subtitle class="title-duree"><mat-icon class="mat-duree">schedule</mat-icon> {{item.duree}}</mat-card-subtitle>
        <mat-card-subtitle class="title-description">{{item.description}}</mat-card-subtitle-->

    </mat-card-content>

    <mat-card-actions>
        <button routerLink="" mat-raised-button color="warn" class="lab-item">Démarrer avec ROODEO</button>
    </mat-card-actions>

  </mat-card>
</section>
