/* Navigation */

.nav {
  padding: 10px;
  margin-bottom: 3rem;
  min-width: 400px;
}

.nav img {
  height: 40px;
}

/* Rest */

#main {
  max-width: 1800px;
  margin: 0 auto;
}

.global-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  min-width: 400px;
}

.options {
  height: 100%;
}

.options p {
  text-align: center;
}

.wrapper-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.users-counter {
  font-weight: bold;
}

.container-meeting-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-meeting-btn button {
  font-size: 0.7rem;
  border-radius: 2rem;
  width: 200px;
  margin: 1rem calc((100% - 200px) / 2);
  background-color: #254f74;
  color: #fff;
}

.container-meeting-btn button:hover {
  background-color: #1d79a6;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .global-wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .nav {
    text-align: center;
  }
}
