@import "../../../../roodeo-variables.scss";

#header-not-found{

    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: $color-principal-blue;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.notfound{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-background-blue;
    flex: 1;
    height: 100vh;
    font-family: $font-poppins;
    .notfound-center{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        h1{

            color: #e34e26;
            font-style: italic;
            font-size: 60px;
            //  
        }

        h2{

            color: $color-principal-blue;
            padding: 0 10px;
            font-weight: 300;
            font-size: 40px;
        
            a{
                color: #e34e26;
                border: none;
                text-decoration: none;
            
            }
        }
    }
}





