@import "../../../../roodeo-variables.scss";

#header-not-found{

    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #252e38;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.notfound{

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f95850;
    flex: 1;
    height: 100vh;

    .notfound .notfound-center{
    
        text-align: center;
      
        h1{

            color: white;
            font-style: italic;
            font-size: 60px;
            font-weight: 700;
        
        }

        h2{

            color: #20252a;
            padding: 0 10px;
            font-weight: 300;
            font-size: 40px;
        
            a{
                color: white;
                border: none;
                text-decoration: none;
            
            }
        }
    }
}





