/* @import '../../compagne/compagne.component.css'; */
@import "../../../../../roodeo-variables.scss";
// Style sans candidat
// ::ng-deep .ng-star-inserted{
//    flex: 1;
//   }

::ng-deep app-candidats {
  flex: 1;
}
.invit-btn-candidat {
  margin-top: 60px;
}
.border1pxdashedgray-candidat {
  border-radius: $border-radius;
}
.big-content {
  display: flex;
  flex: 1 0 auto;
  min-height: 100%;
}
.sous-content-check-action-candidat {
  align-items: center;
  position: relative;
  padding-bottom: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .check-action-candidat {
    // position: absolute;
    cursor: pointer;
    width: 15px;
    height: 13.5px;
    z-index: 2;
    margin-top: 8px;
    opacity: 0;
  }
  #candidat-check {
    position: absolute;
    height: 15px;
    width: 15px;
    border: 2px solid #7e8082;
    display: inline-block;
    border-radius: $border-radius;
    margin-top: 4px;
    cursor: pointer;
  }

  #candidat-check::after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 0px;
    width: 4px;
    height: 9px;
    border: solid $color-white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .check-action-candidat:checked ~ #candidat-check:after {
    display: block;
  }
  .check-action-candidat:checked ~ #candidat-check {
    border-color: $color-orange;
    background-color: $color-orange;
  }
}

.content-check-action-candidat {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .checkbox-span {
    margin-bottom: 0px !important;
    position: relative !important;
    margin-top: 0px !important;
    height: 15px !important;
    width: 15px !important;
  }
  .checkbox-span {
    cursor: pointer;
  }
  .checkbox-span::after {
    border-color: #fff !important;
    width: 4px !important;
    height: 9px !important;
  }

  input:checked ~ .checkbox-span {
    border-color: $color-orange;
    background-color: $color-orange;
  }
}

::ng-deep .mat-checkbox-layout {
  width: 19px !important;
}

.modall {
  // min-width: 450px;
  width: 600px;
  .modall-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content-icon {
    font-size: 60px;
    color: $color-orange;
    margin-bottom: 25px;
  }

  .modal-content-title {
    color: #7e8082;
  }
  .content {
    margin-bottom: 12px;
  }

  .modall-footer {
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
    .btn-modal {
      color: white;
      height: 50px;
      padding: 0 10px;
      font-size: 17px;
      transition: background 0.2s;
      border: none;
    }

    .btn-modal:first-child {
      flex: 1;
      margin-right: 10px;
      background-color: #7e8082;
      &:hover {
        background-color: #aaaaaa;
      }
    }

    .btn-modal:last-child {
      flex: 1;
      margin-right: 10px;
      background-color: $color-principal-blue;
      &:hover {
        background-color: $color-principal-blue;
      }
    }
  }
}

.mat-cell,
.mat-header-cell {
  padding-left: 5px !important;
  padding-right: 5px;
  border-bottom-style: none;
  // position: relative!important;
  // min-width: 40px!important;
  // max-width: 40px!important;
}

.mat-checkbox {
  position: absolute;
  top: 15px;
  left: 30%;
  width: 15px !important;
  height: 15px !important;
}

.mat-header-row {
  background-color: $color-principal-blue !important;
}

::ng-deep .mat-row:hover {
  background-color: $color-blue-light !important;
  cursor: pointer;
  .mat-cell {
    color: white !important;
  }
  .mat-checkbox-frame {
    border-color: white !important;
  }
}
::ng-deep .mat-sort-header-button {
  color: white !important;
  font-size: 18px !important;
  padding-left: 32px !important;
}


::ng-deep .mat-sort-header-container {
  justify-content: center;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  // padding-left: 12px!important;
  // border-left: 1px solid $color-principal-blue !important;
  text-align: center !important;
}
.mat-cell:first-child {
  text-align: left !important;
}
.mat-cell {
  border-right: 1px solid $color-principal-blue !important;
  text-align: center !important;
}
.mat-cell:last-child {
  border-right: none !important;
}
// td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
//   border-width: 1.5px!important;
//   border-color: $color-principal-blue!important;
// }
.tr.mat-footer-row,
tr.mat-row {
  border-bottom: 2px solid $color-principal-blue !important;
}

// .tr.mat-footer-row,
// tr.mat-row:last-child {
//   border-bottom: none !important;
// }
.route-component {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#editQuestion {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  background: $color-background-blue;
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 15px;

  .select-choince {
    border-radius: $border-radius;
    height: 48px;
    padding: 0 13px;
    border: $border-table;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    .menu-choince.choince-active {
      display: block;
    }
    .menu-choince {
      top: 47px;
      left: 0;
      right: 0;
      cursor: pointer;
      z-index: 1;
      position: absolute;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
      // padding-top: 48px;
      background-color: #fff;
      display: none;

      .menu-list-choince {
        .selected-button {
          &:hover {
            background-color: $color-orange;
            .icon {
              color: white;
            }
          }
        }
        button {
          width: 100%;
          height: 48px;
          display: flex;
          border-top: 1px solid #e7e7e7 !important;
          border: none;
          background-color: transparent;
          .icon {
            margin-left: 15px;
          }
        }
        button:disabled {
          font: inherit;
          span {
            color: #e7e7e7;
          }

          .icon {
            opacity: 0.5;
          }
        }
        .first-btn {
          border: none !important;
        }
      }
    }
    span {
      color: #20252a;
      display: inline-block;
      font-size: $font-size-home;
      margin-left: 15px;
    }

    .icon-choince {
      font-size: 24px;
      color: $color-orange;
    }

    .icon-choince-croche {
      color: #7e8082;
      margin-left: 15px;
    }
  }

  .border1pxgray {
    border: $border-table;
    background-color: $color-white;
    border-radius: 5px;
  }

  .border1pxdashedgray {
    margin: 15px;
    border: 1px dashed $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 50px;
    /* height: 50vh; */
    padding-bottom: 13vh;
  }

  #img-editquestion {
    background-image: url("../../../../../assets/Coding-game-img/editQuestion.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 35vh;
  }

  .diplex-1 {
    display: flex;
    flex: 1;
  }

  .btn-question {
    padding: 0 50px;
    text-transform: uppercase;
    height: 50px;
    font-size: $font-size-home;
    transition: background-color 200ms;

    background-color: $color-principal-blue;
    border-radius: 0 !important;
    display: flex;
  }

  .border1pxdashedgray h1 {
    text-align: center;
  }
}

// Style avec candidats

.barre-nav {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  .candidat-custom-select {
    border: $border-table;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .candidat-finish-custom-select {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .candidat-finish-custom-select mat-label {
    color: $color-white;
  }

  :host .candidat-finish-custom-select ::ng-deep .mat-select-value {
    color: $color-white;
  }

  .fix-button {
    margin-top: inherit;
    border-radius: $border-radius;
  }
  .custom-input-filtre-contenu {
    width: 50%;
    position: relative;
    .icon-search {
      width: 28px;
      height: 28px;
      font-size: 25px;
      right: 0px;
      top: 9px;
      color: $color-orange;
      position: absolute;
      padding-left: 3px !important;
      font-size: 15px !important;
    }
    .custom-input-filtre {
      width: 100%;
      border: 1px solid $color-orange;
      background: $color-white;
      height: 48px;
      padding: 10px 23px !important;
      outline: none;
      margin-left: 18px;
      border-radius: $border-radius;
    }
  }
}
.table-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  .sous-table-content {
    border-radius: $border-radius;
    border: $border-table;
    width: 100%;
    overflow: hidden;
    border-bottom: none;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #7f8183;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #67686a;
    }
  }

  &::-webkit-scrollbar-track {
    background: #e3e3e3;
  }

  table {
    width: 100%;

    .mat-cell:hover {
      color: $color-white;
    }
  }
}

.matcard_style {
  display: flex;
  justify-content: center;
  align-items: center;
}

// SIDENAV

.sidenav-container {
 
  position: absolute;
  // background: transparent;
  visibility: hidden;
  // min-height: 700px;
  height: 100vh;
  width: 100%;
  top: 0px;
  // bottom: 0;
  left: 0;
  // right: 0;
}
::ng-deep .mat-sidenav {
  width: 50%;

  
}

.sidenav-content {
  width: 100%;
  height: 100%;
 
  padding: 115px 20px 0px;
  overflow: auto;
  .name-rapport-detailler {
    text-transform: uppercase !important;
    font-weight: 400 !important;
  }
  .name-techno {
    font-size: 18px;
  }
  .header-detail {
    border-bottom: 1px solid $color-principal-blue;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    .sidenav_campaign_name {
      padding-bottom: 18px;
      font-size: 20px;
      color: $color-principal-blue;
    }
    .close-header-detail {
      font-size: 22px;
      width: 40px;
      height: 40px;
      display: inline-block;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: $color-principal-blue;
      cursor: pointer;
    }
  }
}

.sidenav_name {
  text-align: center;
  margin-top: 20px;
}

.sidenav_candidat_content {
  display: flex;
  flex-direction: column;
}

.sidenav_candidat_result {
  padding-right: 8px;
  color: $color-principal-blue;
  position: relative;
  top: 8px;
  font-size: 19px;
  display: flex;
  flex-direction: row;
  // width: 60%;
  .icon-techno {
    padding-right: 6px;
    color: $color-orange;
  }
}
.sidenav_candidat_text {
  margin-right: 40%;
  font-size: 18px;
}
.sidenav_candidat_score {
  font-size: 1.8em;
  color: $color-orange;
}

.button-rapport {
  border: 1px solid black;
  border-radius: 0px;
  background: $color-principal-blue;
  width: 40%;
  height: 50px;
  margin: 60px 20px 20px 20px;
  outline: 0;
  color: white;
}

// /SIDENAV

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .mat-form-field-flex {
  margin-top: 0px;
}

filter-table {
  display: flex;
}

@media screen and (max-width: 1020px) {
  #img-editquestion {
    height: 20vh;
  }
  .border1pxdashedgray {
    padding: 12vh;
    height: 85vh;
  }
  .border1pxgray {
    margin: inherit;
    height: 90vh;
  }
  h1 {
    font-size: 1.5em;
  }

  .btn-question {
    padding: 5px;
  }
}

@media screen and (max-width: 960px) {
  .sous-table-content {
    overflow-x: auto;
  }
  .barre-nav {
    .select-choince {
      width: 200px !important;
    }
    .custom-input-filtre-contenu {
      width: 65% !important;
    }
    flex-direction: column !important;
    .btn-question {
      margin-top: 8px;
      width: 250px;
    }
  }
}
