/* @import '../../compagne/compagne.component.css'; */
@import"../../../../../roodeo-variables.scss";
// Style sans candidat
.mat-header-row{
  background-color: $color-principal-blue!important;
}
 ::ng-deep .mat-row:hover{
  background-color: $color-principal-blue!important;
  cursor: pointer;
  .mat-cell{
    color:white!important
  }
  .mat-checkbox-frame{
    border-color: white!important;
  }
}
::ng-deep .mat-sort-header-button{
  color:white!important;
  font-size: 18px!important;
  padding-left: 32px!important;

}
.name-candidat{
  font-weight: 700;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
  padding-left: 0px!important;
  text-align: center!important;
}
.mat-cell:first-child{
  text-align: left!important;
}
 .mat-cell{
  border-right: 1px solid $color-principal-blue!important;
  text-align: center!important;
}
.mat-cell:last-child{
  border-right: none!important;
}
// td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
//   border-width: 1.5px!important;
//   border-color: $color-principal-blue!important;
// }
.tr.mat-footer-row, tr.mat-row{
  border-bottom: 2px solid $color-principal-blue!important;
}
#editQuestion {
  background-color: $background-color;
  padding-top: 20px;
  padding-left: 7%;
  padding-right: 7%;
  /* height: 100vh; */

    .select-choince{
      height: 48px;
      padding: 0 13px;
      border: 1px solid #e4e4e4;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      .selected-text-active{
        font-weight: 700;
      }
      .menu-choince.choince-active{
        display: block
      }
      .menu-choince{
        top: 47px;
        left: 0;
        right: 0;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
        // padding-top: 48px;
        background-color: #fff;
        display: none;
        
        .menu-list-choince{
          .selected-button{
           
            &:hover{
              background-color: $color-principal-orange;
              .icon{
                color:white
              }
            }
          }
          button{
            width: 100%;
            height: 48px;
            display: flex;
            border-top: 1px solid #e7e7e7!important;
            border: none;
            background-color: transparent;
            .icon{  
              margin-left: 15px;
            }
          }
          button:disabled{
           
            font: inherit;
                span{
                color: #e7e7e7;
              }

              .icon{
            
                opacity: .5;
              }
          
            
           
          }
          .first-btn{
            border:none!important
          }
        }
      }
      span{
        color: #20252a;
        display: inline-block;
        font-size: 14px;
        margin-left: 15px;
      }

      .icon-choince{
        font-size: 24px;
        color: $color-principal-orange;
      }

      .icon-choince-croche{
       color: #7e8082;
       margin-left: 15px;
      }
    }


    .style-link {
      border-bottom: 1px solid $color-table;
      color: $color-grey;
      padding-left: 25px;
      padding-top: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      margin-bottom: 0px;
    }

    .border1pxgray {
      margin: 5vh;
      border: $border-table;
      background-color:$color-white-background;
    }

    .border1pxdashedgray {
      margin: 15px;
      border: 1px dashed $color-table;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      padding: 50px;
      /* height: 50vh; */
      padding-bottom: 13vh
    }

    #img-editquestion {
      background-image: url("../../../../../assets/Coding-game-img/editQuestion.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 50vh;
    }

    .diplex-1{
      display: flex;
      flex: 1;
    }

    .btn-question {
      padding: 0 50px;
      text-transform: uppercase;
      height: 50px;
      font-size: 14px;
      transition: background-color 200ms;
      font-weight: 700;
      background-color: $color-principal-blue;
      border-radius: 0!important;
      display: flex;
      
    }

    .border1pxdashedgray h1 {
      text-align: center
    }
}

// Style avec candidats

.barre-nav {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
    .candidat-custom-select {
      border: $border-table;
      background-color:$color-white-background;
      display: flex;
      justify-content: center;
      height: 50px;
    }

    .candidat-finish-custom-select {
      background-color: $color-black-background;
      display: flex;
      justify-content: center;
      height: 50px;
    }

    .candidat-finish-custom-select mat-label {
      color:$text-color-white;
    }

    :host .candidat-finish-custom-select ::ng-deep .mat-select-value {
      color: $text-color-white;
    }

    .fix-button {
      margin-top: inherit;
    }
    .custom-input-filtre-contenu{
        width: 50%;
        position: relative;
        .icon-search{
          font-size: 25px;
          right: 0px;
          top: 9px;
          color:$color-principal-orange;
          position: absolute;
        }
      .custom-input-filtre {
       width: 100%;
        border: 1px solid $color-principal-orange;
        background: $color-white-background;
        height: 48px;
        padding: 10px 23px!important;
        outline: none;
        margin-left:18px
      }

    }
    

    .table-container {
      width: 100%;
      margin-top: 20px;

      table {
        width: 100%;

        .mat-row:hover {
          background-color: $color-black-background;
        }

        .mat-cell:hover {
          color:$text-color-white;
        }

      }
    }
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .mat-form-field-flex {
  margin-top: 0px;
}

filter-table {
  display: flex;
}

@media screen and (max-width: 1020px) {
  #img-editquestion {
    height: 20vh;
  }
  .border1pxdashedgray {
    padding: 12vh;
    height: 85vh;
  }
  .border1pxgray {
    margin: inherit;
    height: 90vh;
  }
  h1 {
    font-size: 1.5em;
  }
  #editQuestion {
    height: 100vh;
  }
  .btn-question {
    padding: 5px;
  }
}

.example-container {
  position: absolute;
  // background: transparent;
  visibility: hidden;
  min-height: 700px;
  
  width: 100%;
  top: 150px;
  // bottom: 0;
  left: 0;
  // right: 0;
}
::ng-deep .mat-sidenav{
  width: 50%;
  
  background: $color-background-blue;
  
}
.sidenav-content{
  width: 100%;
  height: 100%;
  border: $border-table;
  background: $color-background-blue;
  padding: 20px;
  overflow: auto;
  
}

.button-rapport{
  border: 1px solid black;
  border-radius: 0px;
  background: $color-principal-blue;
  width: 40%;
  height: 50px;
  margin: 212px 20px 20px 20px;
  outline: 0;
  color: white;
}
