/* @import '../../compagne/compagne.component.css'; */
@import"../../../../../roodeo-variables.scss";
// Style sans candidat
#editQuestion {
  background-color: $background-color;
  padding: 5px;
  padding-left: 18%;
  /* height: 100vh; */

    .select-choince{
      height: 48px;
      padding: 0 20px;
      border: 1px solid #e4e4e4;
      margin: 0 10px 20px 10px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      .selected-text-active{
        color:red!important
      }
      .menu-choince.choince-active{
        display: block
      }
      .menu-choince{
        top: 47px;
        left: 0;
        right: 0;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
        // padding-top: 48px;
        background-color: #fff;
        display: none;
        .menu-list-choince{
          button{
            width: 100%;
            height: 48px;
            display: flex;
            border-top: 1px solid #e7e7e7!important;
            background-color: transparent;
            border: none;
            font: inherit;

            .icon{
              
              margin-left: 15px;
  
            }
            &:disabled{
               
                span{
                color: #e7e7e7;
              }

              .icon{
            
                opacity: .5;
              }
            }
            
           
          }
          .first-btn{
            border:none!important
          }
        }
      }
      span{
        color: #20252a;
        display: inline-block;
        font-size: 14px;
        margin-left: 15px;
      }

      .icon-choince{
        font-size: 24px;
        color: $color-principal-blue;
      }

      .icon-choince-croche{
       color: #7e8082;
       margin-left: 15px;
      }
    }


    .style-link {
      border-bottom: 1px solid $color-table;
      color: $color-grey;
      padding-left: 25px;
      padding-top: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      margin-bottom: 0px;
    }

    .border1pxgray {
      margin: 5vh;
      border: $border-table;
      background-color:$color-white-background;
    }

    .border1pxdashedgray {
      margin: 15px;
      border: 1px dashed $color-table;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      padding: 50px;
      /* height: 50vh; */
      padding-bottom: 13vh
    }

    #img-editquestion {
      background-image: url("../../../../../assets/Coding-game-img/editQuestion.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 50vh;
    }

    .btn-question {
      padding: 0 50px;
      margin-top: 20px;
      text-transform: uppercase;
      height: 50px;
      font-size: 14px;
      transition: background-color 200ms;
      font-weight: 700;
      background-color: $color-gold-background;
    }

    .border1pxdashedgray h1 {
      text-align: center
    }
}

// Style avec candidats

.barre-nav {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
    .candidat-custom-select {
      border: $border-table;
      background-color:$color-white-background;
      display: flex;
      justify-content: center;
      height: 50px;
    }

    .candidat-finish-custom-select {
      background-color: $color-black-background;
      display: flex;
      justify-content: center;
      height: 50px;
    }

    .candidat-finish-custom-select mat-label {
      color:$text-color-white;
    }

    :host .candidat-finish-custom-select ::ng-deep .mat-select-value {
      color: $text-color-white;
    }

    .fix-button {
      margin-top: inherit;
    }

    .custom-input-filtre {
      width: 50%;
      border: $border-table;
      background: $color-white-background;
      height: 50px;
    }

    .table-container {
      width: 100%;
      margin-top: 20px;

      table {
        width: 100%;

        .mat-row:hover {
          background-color: $color-black-background;
        }

        .mat-cell:hover {
          color:$text-color-white;
        }

      }
    }
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .mat-form-field-flex {
  margin-top: 0px;
}

filter-table {
  display: flex;
}

@media screen and (max-width: 1020px) {
  #img-editquestion {
    height: 20vh;
  }
  .border1pxdashedgray {
    padding: 12vh;
    height: 85vh;
  }
  .border1pxgray {
    margin: inherit;
    height: 90vh;
  }
  h1 {
    font-size: 1.5em;
  }
  #editQuestion {
    height: 100vh;
  }
  .btn-question {
    padding: 5px;
  }
}
