<div [ngSwitch]="ViewCandidats" (click)="menuChoice($event)" class="big-content">
  <div class="route-component">
    <div *ngSwitchCase="'CandidatFalse'" id="editQuestion">
      <div class="border1pxgray">
        <div class="border1pxdashedgray border1pxdashedgray-candidat">
          <div id="img-editquestion"></div>
          <h1>
            Votre campagne est prête. Il est temps d'inviter quelques candidats !
          </h1>

          <button mat-raised-button color="primary" class="invit-btn-candidat" (click)="openDialog()">
            Invitez des candidats <span *ngIf='tests_available !== "" '>({{ tests_available }} tests)</span>
          </button>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'CandidatTrue'" id="editQuestion">

      <div id="shadow-cog" [class.shadow-cog-active]="bolleanAnonymiser">
        <div id="remove" (click)="removeAnonymiser()"></div>

        <div class="modall">
          <div class="modall-header">
            <h3 class="modall-title" i18n>
              Options des événements
            </h3>
          </div>

          <div class="modall-content">
            <i class="fas fa-user-secret content-icon"></i>

            <h4 class="modal-content-title">Anonymiser</h4>
            <p class="content">
              Dans le cadre de la protection des données personnelles, vous êtes sur le point de procéder à
              l'anonymisation
              de ce/cette candidat(e) : ses données personnelles seront supprimées.
              Cependant, ses résultats et son rapport d'évaluation resteront visibles dans votre liste candidats de
              manière
              anonyme pour vous permettre de comparer son score aux candidats ultérieurs.
            </p>

          </div>
          <div class="modall-footer">
            <button class="btn-modal" (click)="removeAnonymiser()">Annuler</button>
            <button class="btn-modal" (click)="AnonymiserFinal()">Anonymiser ce candidat</button>
          </div>
        </div>
      </div>
      <div id="shadow-cog" [class.shadow-cog-active]="bolleanDeleteCandidat">
        <div id="remove" (click)="removeDeleteCandidat()"></div>

        <div class="modall">
          <div class="modall-header">
            <h3 class="modall-title">
              Supprimer le candidat
            </h3>
          </div>

          <div class="modall-content">
            <i class="fas fa-close content-icon"></i>

            <h4 class="modal-content-title">Supprimer</h4>
            <p class="content">
              Attention, vous êtes sur le point de supprimer ce/cette candidat(e) de votre liste.
              Dans le cadre de la protection des données personnelles, ses données seront anonymisées et vous ne pourrez
              plus accéder à ses résultats.
            </p>

          </div>
          <div class="modall-footer">
            <button class="btn-modal" (click)="removeDeleteCandidat()">Annuler</button>
            <button class="btn-modal" (click)="delteCandidat()">Supprimer ce candidat</button>
          </div>
        </div>
      </div>

      <!-- Tool bar -->
      <div class="tool-bar">
        <div class="diplex-1">
          <!-- Menu -->
          <button mat-raised-button color="primary" [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
            <mat-icon color="accent">touch_app</mat-icon>
            {{candidatsSelected.length }} sélectionné{{candidatsSelected.length > 1 ? 's' : ''}}
          </button>
          <mat-menu color="primary" #menu="matMenu">
            <button (click)="exported()" mat-menu-item [disabled]="candidatsSelected.length == 0">
              <mat-icon [color]="candidatsSelected.length == 0 ? 'none' : 'accent'">exit_to_app</mat-icon>
              <span>Exporter</span>
            </button>
            <button (click)="Anonymiser()" mat-menu-item [disabled]="candidatsSelected.length == 0">
              <mat-icon [color]="candidatsSelected.length == 0 ? 'none' : 'accent'">visibility_off</mat-icon>
              <span>Anonymiser</span>
            </button>
            <button (click)="deleteCandidat()" mat-menu-item [disabled]="candidatsSelected.length == 0">
              <mat-icon [color]="candidatsSelected.length === 0 ? 'none' : 'accent'">delete_forever</mat-icon>
              <span>Supprimer</span>
            </button>
          </mat-menu>
          <!-- Filter -->
          <mat-card-content class="custom-input-filter">
            <input matInput class="custom-input-filter-bg" placeholder="Filtrer..."
              (keyup)="applyFilter($event.target.value)">
            <figure class="icon-search">
              <img src="../assets/Coding-game-img/SVG-menu-Dashboard/loupe.svg">
            </figure>
          </mat-card-content>
        </div>
        <!-- Btn Invite -->
        <button mat-raised-button color="primary" (click)="openDialog()">
          Invitez des candidats <span *ngIf='tests_available !== "" '>({{ tests_available }})</span>
        </button>
      </div>

      <!-- Table -->
      <div class="table-container">

        <div class="sous-table-content">
          <table mat-table [dataSource]="infosCandidats" matSort>
            <!-- Item Column -->
            <ng-container *ngFor="let column of displayedColumns; let i = index;" [matColumnDef]="column">
              <!-- CHANGE COLUMN FOR CHECKBOX -->
              <div *ngIf="column === 'Checked'">
                <!-- >>> TODO : FIX CHECK ALL <<< -->
                <th mat-header-cell *matHeaderCellDef="let dataInfos">
                  <div class="content-check-action-candidat">
                    <mat-checkbox id="first-check-action" (click)="allcheckedActiveted($event)">
                    </mat-checkbox>
                    <!-- <input [checked]="allcheckedActivetedBolean" id="first-check-action" type="checkbox"
                      class="checkbox" (click)="allcheckedActiveted($event)" /> 
                    <label for="first-check-action" class="checkbox-span"></label> -->
                  </div>
                </th>
                <!-- >>> TODO : FIX CHECK ONE <<< -->
                <td mat-cell *matCellDef="let dataInfos">
                  <div class="sous-content-check-action-candidat">
                    <mat-checkbox class="check-action-candidat" (click)="checkedAction($event)"
                      value="{{dataInfos.candidat_id}}">
                    </mat-checkbox>
                    <!-- <input type="checkbox" class="check-action-candidat" (click)="checkedAction($event)"
                      value="{{dataInfos.candidat_id}}" />
                    <label id="candidat-check" (click)="activedCheck()"></label> -->
                  </div>
                </td>
              </div>
              <div *ngIf="column === 'Details'"></div>
              <div *ngIf="column === 'Interview'">
                Interview
              </div>

              <div class="color-text">

                <div *ngIf="column === 'Candidats'">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ column }}
                  </th>
                  <td mat-cell *matCellDef="let dataInfos">
                    <span class="name-candidat">{{ dataInfos.Candidats }}</span><br />
                    {{ dataInfos.Email }}
                  </td>
                </div>

                <div *ngIf="column =='Details' ">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ column }}
                  </th>
                  <td mat-cell *matCellDef="let dataInfos">

                    <span (click)="menuSidenav(sidenav, dataInfos)" class="fa fa-info-circle interview-icon"
                      aria-hidden="true"></span>
                  </td>
                </div>
                <div *ngIf="column =='Interview' ">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ column }}
                  </th>
                  <td mat-cell *matCellDef="let dataInfos">

                    <span *ngIf="!dataInfos.Interview.id" (click)="openInterviewDialog(dataInfos)"
                      class="fa fa-video-camera interview-icon" aria-hidden="true"></span>
                    <span *ngIf="dataInfos.Interview.interview_date" (click)="openInterviewDialog(dataInfos)"
                      class="interview-icon">{{dataInfos.Interview.interview_date}}</span>
                  </td>
                </div>

                <div
                  *ngIf="column != 'Candidats' && column!='Dernière activité'  && column!='Interview'  && column!='Dernière activité' && column != 'Durée' && column != 'Score'">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ column }}
                  </th>
                  <td mat-cell *matCellDef="let dataInfos">
                    {{dataInfos[column]}}
                  </td>
                </div>


                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ column }}
                </th>


                <td mat-cell *matCellDef="let dataInfos">
                  {{ dataInfos[column] }}
                </td>


              </div>


            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let dataInfos">
              <!--  (click)="menuSidenav(sidenav, dataInfos)"  -->
            </tr>
          </table>
        </div>

        <mat-card *ngIf="isLoading" class="matcard_style">
          <mat-progress-spinner color="primary" mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>
      </div>
      <!--Table-->
    </div>

    <!--div *ngSwitchDefault id="editQuestion">
      <div class="loading">
        <span class="fa fa-spinner fa-pulse"></span>
      </div>
    </div-->
  </div>


</div>


<!-- SIDENAV -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <div class="sidenav-content" *ngIf='currentCandidat.Candidats !== "" '>
      <div class="header-detail">
        <h2 class="sidenav_campaign_name">{{campaign.Name}}</h2>
        <span class="close-header-detail" (click)="sidnavClose(sidenav)">
          <i class="fa fa-close"></i>
        </span>
      </div>

      <h4 class="info-candidat name-rapport-detailler">
        <i class="far fa-user-circle"></i>
        {{currentCandidat.Candidats}}
      </h4>
      <p class="info-candidat"> <i class="far fa-envelope"></i> {{currentCandidat.Email}}</p>
      <p class="info-candidat"> <i class="fas fa-poll-h"></i> Pourcentage de bonne réponses : {{currentCandidat.Score}}
      </p>
      <p class="info-candidat"><i class="far fa-clock"></i> Durée du test : {{currentCandidat.Duree}}</p>

      <div class="sidenav_candidat_content">
        <div class="sidenav_candidat_result"
          *ngFor="let candidatPointTechno of currentCandidat.points[2].getpourcentByCandidat">
          <p class="sidenav_candidat_result">
            <span class="icon-techno" *ngIf="candidatPointTechno.techno === 'React'">
              <i class="fab fa-react"></i>
            </span>
            <span class="icon-techno" *ngIf="candidatPointTechno.techno === 'Javascript'">
              <i class="fab fa-js"></i>
            </span>
            {{candidatPointTechno.techno}}
          </p>


          <p class="sidenav_candidat_score">
            {{candidatPointTechno.percentage}} %
          </p>
        </div>

        <div class="sidenav_candidat_result">
          <p class="sidenav_candidat_text" i18n>Total :</p>
          <p class="sidenav_candidat_score">{{currentCandidat.Score}} </p>
        </div>
      </div>



      <div>
        <button class="button-rapport"
          [routerLink]="['/dashboard/campaigns', campaign.id, 'candidats', currentCandidat.candidat_id,'rapport-detaille']"
          mat-button i18n>
          <i class="far fa-eye"></i>
          Voir le rapport détaillé
        </button>
        <button class="button-rapport" (click)="viewResultsPdf(currentCandidat)" mat-button i18n> <i
            class="far fa-file-pdf"></i> Télécharger le PDF</button>
      </div>
    </div>
  </mat-sidenav>


</mat-sidenav-container>