<div id="editQuestion">
  <p class="style-link">
    LINK page
  </p>
  <div class="border1pxgray">
    <div class="border1pxdashedgray">
      <div id="img-editquestion"></div>
      <h1>
        Votre campagne est prête. Il est temps d'inviter quelques candidats !
      </h1>

      <button
        mat-raised-button
        color="primary"
        class="btn-question"
        mat-button
        (click)="openDialog()"
      >
        Invitez des candidats
      </button>
    </div>
  </div>
</div>
