@import"../../../../../roodeo-variables.scss";


::ng-deep .p-3{
  padding: 0px!important;
}

.modal-candidat{
  max-width: 720px!important;
  height: 100%;

  .close-invite-dialog{
    float: right;
    color: mat-color($roodeo-app-warn);
    margin-top: 0px;
    cursor: pointer;

    span{
      color: mat-color($roodeo-app-warn);
    }
  }

  .content-modal-form {
    padding: 24px;
    width: 100%;
  }
}


