<div class="modal-candidat">
  <div class="close-invite-dialog">
    <span (click)="close()"> <i class="fa fa-times" aria-hidden="true"></i></span>
   </div>
  <header class="header-question">
   
    <span class="rond-custom">1</span>
    <div class="info-campaign-candidats">
      <h2 i18n>Entrez le nom et l'email des candidats</h2>

      <p *ngFor="let campaign of campaigns">Campagne: {{ campaign.Name }}</p>
    </div>
  </header>

  <div class="content-modal-question">
    <app-candidats-form *ngFor="let campaign of campaigns" [globalId]="campaign.id"></app-candidats-form>
  </div>
</div>