<div class="modal-candidat">
  <header class="header-question">
    <span class="rond-custom"><p>1</p></span>
    <div class="info-campaign-candidats">
      <h2>Entrez le nom et l'email des candidats</h2>
      <p *ngFor="let campaign of campaigns">{{ campaign.Name }}</p>
    </div>
  </header>
  <hr />
  <div class="content-modal-question">
    <form>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input
                matInput
                placeholder="Name"
                [formControl]="name_candidat"
              />
              <mat-error *ngIf="name_candidat.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                [formControl]="emailFormControl"
              />
              <mat-error
                *ngIf="
                  emailFormControl.hasError('email') &&
                  !emailFormControl.hasError('required')
                "
              >
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>

    <button
      mat-raised-button
      color="primary"
      class="btn-question"
      (click)="postCandidat()"
    >
      Créer
    </button>
  </div>
</div>
