<div class="global">
  <div *ngIf="dataRoute" class="hack">
    <nav-wrapper-component [dataRoute]="this.dataRoute"></nav-wrapper-component>
  </div>
  <div class="rowter">
    <base-header-panel >
      <p title>Bienvenue dans la Foire aux questions, si vous ne trouvez pas les informations, veuillez nous contacter
      </p>
      <!-- Btn -->
      <app-base-button btn iconName="mail" [routerLink]="['/dashboard/contact-support']">
        <span class="text" i18n>Contactez-nous</span>
      </app-base-button>
    </base-header-panel>

    <section class="roodeo-page-faq">
      <!-- <div class="sous-header">
                <h3 class="roodeo-fix-header">Questions fréquentes</h3>
                <mat-icon>help_outline</mat-icon>
                </div> -->
      <div class="roodeo-box">
        <mat-accordion class="roodeo-fix-accordion" *ngFor="let faq of this.faqs | typeFaq : filterParams">
          <mat-expansion-panel (opened)="panelOpenState = false" [(expanded)]="faq.open"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header [ngClass]="{'fix-height-panel': faq.open}" class="roodeo-fix-header">
              <mat-panel-title class="roodeo-fix-title">
                <span class="roodeo-faq-question">Q.</span> {{ faq.title }}
              </mat-panel-title>
              <mat-panel-description class="roodeo-fix-type">
                <span *ngIf="faq.type === 'utilisateurs'">
                  <mat-icon>perm_identity</mat-icon>
                </span>
                <span *ngIf="faq.type === 'formules'">
                  <mat-icon>credit_card</mat-icon>
                </span>
                <span *ngIf="faq.type === 'tests'">
                  <mat-icon>description</mat-icon>
                </span> {{ faq.type }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="roodeo-fix-text">
              <span class="roodeo-faq-reponse">R.</span>{{ faq.description }}
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </section>
  </div>
</div>