.rowter {
  height: 100%;
  overflow: hidden;
  background-color: #c1d5e0;
  .roodeo-page-faq {
    margin: 100px auto;
    overflow-x: auto;
    position: relative;
    height: 100%;
    padding: 10px;
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
    background: #c1d5df;
    .sous-header {
      background: #eaeff3;
      height: 60px;
      padding: 7px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      border: 1px solid #1d3552;
      border-radius: 4px;
      justify-content: center;
      margin-bottom: 10px;
      box-shadow: 3px 4px 8px -2px rgba(0, 0, 0, 0.4);
    }
    .roodeo-fix-accordion {
      width: 100%;
      margin-bottom: 10px;
      text-align: end;
      box-shadow: 3px 4px 8px -2px rgba(0, 0, 0, 0.4);
      mat-expansion-panel {
        .roodeo-fix-header {
          background: #eaeff3;
          border: 1px solid #1d3552;
          // border-left: 1px solid #1d3552;
          // border-right: 1px solid #1d3552;
          border-radius: 4px;
          .roodeo-fix-description {
            display: initial;
          }
        }
        .roodeo-fix-text {
          text-align: start;
          margin-top: 16px;
        }
      }
    }
  }
}
