@import "../../../../roodeo-variables.scss";

.global {
  background: $color-background-blue;

  .rowter {
    background-color: $color-background-blue;
    font-family: $font-poppins;
    margin: 55px 15px 0 15px;

    .roodeo-page-faq {
      padding-top: 30px;
      display: flex;
      background: $color-background-blue;
      padding-bottom: 20px;

      .roodeo-box {
        display: flex;
        flex-direction: column;
        border: 1px solid $color-principal-blue;
        border-radius: 4px;
        background-color: $color-white;
        padding: 10px;
        width: 100%;

        span {
          .roodeo-custom-title-box {
            margin-bottom: 10px;

            .roodeo-fix-trait {
              height: 4px;
              background-color: $color-principal-blue;
              width: 100px;
            }
          }
        }
      }

      .sous-header {
        background: $color-pricipal-blue-light;
        height: 150px;
        padding: 7px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid $color-principal-blue;
        border-top: 1px solid $color-principal-blue;
        // border-radius: 4px;
        justify-content: center;
        margin-bottom: 10px;
        box-shadow: 3px 4px 8px -2px rgba(0, 0, 0, 0.4);

        .roodeo-fix-header {
          margin: 0px;
        }

        mat-icon {
          color: $color-orange;
          font-size: 55px;
          height: inherit;
          line-height: 150px;
        }
      }

      .roodeo-fix-accordion {
        // width: 70%;
        margin-bottom: 10px;
        text-align: end;
        box-shadow: 3px 4px 8px -2px rgba(0, 0, 0, 0.4);
        border: 1px solid $color-principal-blue;
        border-radius: 4px;

        mat-expansion-panel {
          .roodeo-fix-header {
            background: $color-pricipal-blue-light;
            border-bottom: 1px solid $color-principal-blue;
            // border-left: 1px solid $color-principal-blue;
            // border-right: 1px solid $color-principal-blue;
            border-radius: 4px;

            .roodeo-fix-title {
              display: flex;
              margin-right: 16px;
              align-items: center;
              font-weight: bold;

              // color: $color-white;
              .roodeo-faq-question {
                font-size: 30px;
                color: $color-orange;
                margin-right: 10px;
              }
            }

            .roodeo-fix-type {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              // color: $color-white;
            }
          }

          .roodeo-fix-text {
            text-align: start;
            margin-top: 16px;

            .roodeo-faq-reponse {
              font-size: 30px;
              color: $color-principal-blue;
              margin-right: 10px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.fix-height-panel {
  height: 100% !important;
}
