<h2 class="dialog-title">Mot de passe oublié ?</h2>
<div>
  <p class="dialog-text">Saisissez ci-dessous l'adresse email associée à votre compte.
    Un email contenant un lien de réinitialisation de votre mot de passe vous sera envoyé.</p>
<form action="">
    <label>Saissisez votre adresse email *</label>
    <input [ngClass]="{ 'is-invalid': submitted && emailAdress.errors }" class="dialog-input" [formControl]='emailAdress' class="form-control" type="email">
    <div *ngIf="submitted && emailAdress.errors" class="invalid-feedback">
        <div *ngIf="emailAdress.errors.required">Email requis</div>
        <div *ngIf="emailAdress.errors.email">Email valide requis</div>
        </div>
</form>
</div>

<div class="block-dialog-button">
  <button class="dialog-button" mat-button (click)="onNoClick()">Annuler</button>
  <button class="dialog-button" mat-button (click)="resetpassword()" cdkFocusInitial>Valider</button>
</div>