@import '../../../../roodeo-variables.scss';

body{
    background: white !important;
}
#register{
    display: flex;
    background: white;
    height: 100vh;

    // Style des panel
    
    #left-side, #right-side{
        width: 50%;
        overflow: hidden;
    }
    
    #left-panel{
        position: absolute;
        background: #54728d;
        width: 50%;
        height: 100vh;
       
        #left-panel-text{
            position: relative;
            width: 50%;
            margin: 30% auto;
            text-align: center;
            color: white;
        }
    
        #title_left_panel{
            font-size: 40px;
        }
    
        #text_left_panel{
            width: 70%;
            margin: auto;
        }
    }
    
    #right-panel{
        position: absolute;
        background: #54728d;
        width: 50%;
        height: 100vh;
        z-index: 3;
    
        #right-panel-text{
            position: relative;
            width: 50%;
            margin: 30% auto;
            text-align: center;
            color: white;
        }
        
        #title_right_panel{
            font-size: 40px;
        }
    
        #text_right_panel{
            width: 70%;
            margin: auto;
        }
    }
    
    #button_right_panel, #button_left_panel{
        width: 50%;
        min-width: 175px;
        height: 50px;
        margin: 20px 0px;
        border-radius: 40px;
        font-size: 18px;
        border: 0px solid white;
        color: #54728d;
        font-weight: bold;
        text-transform: uppercase;
    }

    // Style formulaire

    .forms{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 25% auto 0%;
        width: 50%;
        z-index: 1;

        label{
            margin: 10px 0 0;
        }
        
        input{
            height: 40px;
            margin: 10px 0;
        }
        
        .button{
            height: 40px;
            background: #54728d;
            color: white;
            border: 0px solid white;
            margin: 20px 0;
            width: 100%;
            text-transform: uppercase;
        }
    }

    .social-button {
    background-position: 25px 0px;
    // border: $border-table;
      box-sizing: border-box;
      cursor: pointer;
      height: 50px;
        line-height: 50px;
      text-align: left;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: middle;
        border-radius: 3px;
      outline: rgb(255, 255, 255) none 0px;
      padding-left: 50px;
      transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
        -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      margin: 10px;
    }
    
    .social-box{
        flex-direction: column;
        justify-self: center;
        z-index: 5;
        align-self: center;
        display: flex;
        position: absolute;
        border: $border-table;
        left: 50%;
        transform: translateX(-50%);
        width:23%;
        background: rgb(255,255,255);
        // background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(84,114,141,1) 50%, rgba(84,114,141,1) 100%);
        border-radius: 5px;
        min-width: 213px;
        max-width: 350px;
        

        a{
            text-decoration: none;
            color: black;
            contain: content;
        }
    }

    #github-connect {
        background: rgb(255, 255, 255) url('../../../../assets/icones_social/github-brands.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
        border: 1.5px solid rgb(0, 0, 0);
    }
    #facebook-connect {
        background: rgb(255, 255, 255) url('../../../../assets/icones_social/facebook-brands.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
        border: 1.5px solid rgb(60, 90, 154);
    }
    #google-connect {
        background: rgb(255, 255, 255) url('../../../../assets/icones_social/google-brands.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
        border: 1.5px solid rgb(220, 74, 61);
    }

    #github-connect:hover {
        border-color: rgb(0, 0, 0);
        background: rgb(0, 0, 0) url('../../../../assets/icones_social/github-brandshover.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
        -webkit-transition: all .8s ease-out;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease-out;
        color: white;
    }
    #google-connect:hover {
        border-color: rgb(220, 74, 61);
        background: rgb(220, 74, 61)  url('../../../../assets/icones_social/google-brandshover.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
        -webkit-transition: all .8s ease-out;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease-out;
        color: white;
    }

    #facebook-connect:hover {
        border-color: rgb(60, 90, 154);
        background: rgb(60, 90, 154) url('../../../../assets/icones_social/facebook-brandshover.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
        -webkit-transition: all .8s ease-out;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease-out;
        color: white;
    }

    #error-provider {
        text-align: center;
    }
}









