<div id="register">
  <!-- Partie de gauche -->

  <!-- Panel cote gauche -->
  <div id="left-side">
    <div *ngIf="!switchPanel" id="left-panel">
      <div id="left-panel-text">
        <h2 id="left">Déjà client ?</h2>
        <button id="button_left_panel" (click)="switch()">Se connecter</button>
        <p id="text_left_panel">
          Connectez vous à votre compte pour avoir accès a vos campagnes, votre
          profil, etc
        </p>
      </div>
    </div>

    <!-- Formulaire cote gauche -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="forms">
      <h2>Se connecter ?</h2>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          formControlName="username"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary button">Se connecter</button>
      </div>
      <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    </form>
  </div>

  <!-- Partie de droite -->

  <!-- Panel cote droit -->
  <div id="right-side">
    <div *ngIf="switchPanel" id="right-panel">
      <div id="right-panel-text">
        <h2 id="title_right_panel">Nouveau client</h2>
        <button id="button_right_panel" (click)="switch()">
          Créer un compte
        </button>
        <p id="text_right_panel">
          Évaluez vos candidats en ligne Sourcez, recrutez des développeurs
          passionnés Créez vos propres événements de code
        </p>
      </div>
    </div>


     <!-- Formulaire cote droit -->
    <form class="forms" [formGroup]="registerForm" id="form_register">
      <h2>Nouveau client ?</h2>

    <div class="form-group">
      <label for="username"> Username :</label>
      <input
        formControlName="username"
        class="input-section1 form-control"
        maxlength="64"
        type="text"
        [ngClass]="{ 'is-invalid': submitted && fr.username.errors }"
        
      />
      <div *ngIf="submitted && fr.username.errors" class="invalid-feedback">
          <div *ngIf="fr.username.errors.required">Username is required</div>
        </div>
    </div>

    <div class="form-group">
      <label for="email">Email :</label>
      <input
        formControlName="email"
        class="input-section1 form-control"
        maxlength="64"
        type="email"
        [ngClass]="{ 'is-invalid': submitted && fr.email.errors }"
        
      />
      <div *ngIf="submitted && fr.email.errors" class="invalid-feedback">
      <div *ngIf="fr.email.errors.required">Email is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password"> Password :</label>
      <input
        formControlName="password"
        class="input-section1 form-control"
        maxlength="64"
        type="password"
        [ngClass]="{ 'is-invalid': submitted && fr.password.errors }"
        
      />
      <div *ngIf="submitted && fr.password.errors" class="invalid-feedback">
      <div *ngIf="fr.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <button (click)='register()' class="btn btn-primary button">S'inscrire</button>
    </div>
    <div *ngIf="errorRegister" class="alert alert-danger">{{ errorRegister }}</div>
    </form>
  </div>
</div>
