<app-navbar></app-navbar>


  <div class="entete">
    <div class="entete-content">
      <img src="../../../../assets/logo_ROODEO.svg" alt="logo">
        <h1>A propos de nous ?</h1>
    </div>
  </div>

  <div class="content">
    <div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem consequatur a corrupti laboriosam, impedit esse. 
        Inventore laudantium a vero earum necessitatibus minus suscipit aperiam deserunt, rem incidunt cumque, fuga commodi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima veritatis maiores nihil repellendus sunt reprehenderit provident voluptatem obcaecati,
        aperiam reiciendis repudiandae, sint laborum necessitatibus qui placeat illum sed velit quo.
      </p>
    </div>

    <div class="team">
      <h2>L'équipe</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut nemo, molestias earum soluta voluptate 
        commodi natus, enim minima debitis quos autem omnis possimus facere nisi alias in. Fugiat, delectus animi?
      </p>
    </div>
  </div>

<app-footer></app-footer>