@import "../../../../roodeo-variables.scss";

.entete {
  min-height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../../assets/backgroundAbout.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;

  .entete-content {
    color: $color-white;
    padding-top: 300px;

    img {
      padding-bottom: 30px;
      width: 350px;
    }
  }
}
#container {
  width: 100%;
//   height: 100%;
  background-color: $color-background-blue;
  //  padding-top: 40px;
  display: flex;
  flex-direction: column;
  
  .content {
    padding-top: 20px;
    text-align: center;
    // padding: 10px;
    display: flex;
    height: 100%;
    width: 98%;
    margin: 0 auto;
  }
}
