.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  max-width: 100%;
  margin: 0 80px;
  padding: 60px 80px;
  background-color: white;
}

.form-copy {
  background-color: green;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
}

.form-container > h4 {
  margin: 0 auto 0 auto;
  font-size: 22px;
  line-height: 22pt;
  font-weight: 400;
  text-align: center;
  max-width: 350px;
}

.input-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
}

::placeholder {
  font-size: 14px;
  line-height: 15px;
}

.input-container > input {
  flex: 1;
  font-size: 14px;
  line-height: 15px;
  padding: 10px 15px;
  height: 45px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  outline: none;
}

.input-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 12pt;
  background-color: #7e8082;
  color: white;
  padding: 0 20px;
   
  cursor: pointer;
}

.input-container > div:hover {
  background-color: #afb3b6;
}

.form-container > p {
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 15pt;
  color: #7e8082;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #f2bb13;
  width: 100%;
  height: 50px;
  font-size: 14px;
  line-height: 14pt;
   
  color: white;
  cursor: pointer;
}

.form-button:hover {
  background-color: #f8d362;
}
