<div id="global">
<!--app-breadcrumb [namePage]="'Protection des données'"></app-breadcrumb-->

<div id="content">
  <div *ngIf="dataRoute">
    <nav-wrapper-component [dataRoute]="this.dataRoute"></nav-wrapper-component>
  </div>
  <div id="section1">
    <h2 class="title"> <i class="fas fa-shield-alt icon"></i> Protection des données</h2>

    <p>Le RGPD exige que les rôles de responsable de traitement et de sous-traitant soient clairement établis. Pour la plupart des traitements, Roodeo agit en tant que sous-traitant et vous, le client, agissez en tant que responsable de traitement, notamment pour toutes les données personnelles des candidats.</p>

    <p>Les documents ci-après (Conditions d’utilisation, Conditions de vente, DPA, Politique de confidentialité) forment la base contractuelle de notre relation et détaillent nos rôles respectifs. Dans tous les cas les deux parties s’engagent à respecter la législation relative à la protection des données.</p>

    <button mat-flat-button class="section1-button">Conditions d'utilisation</button>
    <button mat-flat-button class="section1-button">Conditions de vente</button>
    <button mat-flat-button class="section1-button">DPA</button>
    <button mat-flat-button class="section1-button">Politique de confidentialité</button>

  <p>Email de votre Data Privacy Officer <i class="fas fa-info-circle icon-info"></i></p>
  <input matInput placeholder="Email" id="section1-input" value="{{this.email}}" disabled >
  <button mat-flat-button class="save">Enregistrer</button>
  </div>

  <div id="section2">

    <div id="section2-left">
        <h2 class="title"><i class="fas fa-database icon"></i> Conservation des données</h2>
        <p class="section2-left-text">Les données personnelles ne doivent pas être conservées au-delà du temps nécessaire à l'accomplissement de l'objectif poursuivi lors de leur collecte.</p>
        <p class="section2-left-text">En tant que responsable de traitement des données personnelles des candidats c'est à vous de décider de la durée de conservation de ces données.</p>
    </div>

    <div id="section2-right">
        <div id="section2-input-left">
          <p>Jours avant anonymisation <i class="fas fa-info-circle icon-info"></i></p>
          <input matInput placeholder="" value="0" class="section2-input">
          <p class="never">0 signifie jamais</p>
        </div>

        <div>
          <p>Jours avant suppression <i class="fas fa-info-circle icon-info"></i></p>
          <input matInput placeholder="" value="0" class="section2-input">
          <p class="never">0 signifie jamais</p>
        </div>

        <button mat-flat-button  id="section2-button" class="save">Enregistrer</button>
    </div>

  </div>

  <div id="section3">

    <div id="section3-left">
        <h2 class="title"> <i class="far fa-eye-slash icon"></i> Politique de confidentialité candidat</h2>
        <p>Lors du passage des tests par les candidats, votre politique de confidentialité s’applique. Le candidat devra approuver celle-ci avant de commencer le test.</p>
    </div>

    <div id="section3-right">

      <div class="section3-right-input">
        <p>URL de votre politique de confidentialité :</p>
        <input matInput placeholder="" class="section3-input">
      </div>
        <button mat-flat-button id="section3-button" class="save">Enregistrer</button>
    </div>
  </div>

  <div id="section4">
    <div id="section4-left">
      <h2 class="title"> <i class="fas fa-cloud-download-alt icon"></i>Accès au données</h2>
      <p>Les personnes bénéficient d’un droit d’accès à leurs données personnelles et un droit de portabilité de ces données. Contactez Roodeo pour obtenir les données personnelles d’un candidat en particulier.</p>
      <button mat-flat-button class="section4-left-button">Contactez-nous</button>
    </div>
    <div id="section4-right">
      <h2 class="title"> <i class="fas fa-user-times icon"></i> Suppression du compte</h2>
      <p>Toutes vos données, y compris celles des candidats, seront anonymisées et ne seront plus accessibles.</p>
      <button mat-flat-button class="section4-right-button">Contactez-nous</button>
    </div>
  </div>

</div>

</div>
