@import "../../../../roodeo-variables.scss";

#global {


    #content {
        background: $color-background-blue;
        width: 100%;
        padding: 97px 10px 0px;

        .icon {
            color: $color-principal-orange;
            margin-right: 10px;
        }
        
        .icon-info {
            color: $color-principal-orange;
        }
        
        .title {
            margin-bottom: 25px;
        }

        .save {
            background: $color-principal-blue!important;
            color: white;
            min-width: 105px;
            margin-left: 15px;
        }

        /* Section 1 */

        #section1 {
            width: 98%;
            margin: 18px auto 0;
            background: white;
            padding: 40px;
            border: $border-table;
            border-radius: $border-radius;

            #section1-input {
                margin: 15px 0px;
                width: 85%;
            }
            
            .section1-button {
                background: $color-grey !important;
                color: white;
                 
                margin: 20px 15px 20px 0px;
                width: 20%;
                min-width: 200px;
            }
            
            #section1 p {
                margin-bottom: 10px;
            }
        }

        /* Section 2 */

        #section2 {
            width: 98%;
            margin: 18px auto 0;
            background: white;
            padding: 40px;
            display: flex;
            flex-wrap: wrap;
            border: $border-table;
            border-radius: $border-radius;

            #section2-left {
                width: 46%;
                margin-right: 79px;
            
                #section2-left p {
                    margin: 15px 0px;
                    width: 85%;
                }
            
            }

            #section2-right {
                display: flex;
                flex-wrap: wrap;
                width: 46%;
            
                #section2-input-left {
                    margin-right: 15px;
                }
            
                .section2-input {
                    width: 100%;
                    margin-top: 10px;
                    font-size: 18px;
                }
                
                .never {
                    margin-top: 5px;
                    margin-bottom: 15px;
                    font-size: 10px;
                    color: darkgray;
                }
                
                #section2-button {
                    margin-top: 50px;
                }
            }
        }

        /* Section 3 */

        #section3 {
            width: 98%;
            margin: 18px auto 0;
            background: white;
            padding: 40px;
            display: flex;
            flex-wrap: wrap;
            border: $border-table;
            border-radius: $border-radius;


            #section3-left {
                width: 46%;
                margin-right: 29px;
            
                #section3-left p {
                    margin: 15px 0px;
                    width: 85%;
                }
            }

            #section3-right {
                width: 46%;
                display: flex;
                flex-wrap: wrap;
            }
            
            .section3-right-input {
                width: 80%;
            }
            
            .section3-input {
                width: 100%;
                margin-top: 10px;
            }
            
            #section3-button {
                margin-top: 50px;
            }
        }

        /* Section 4 */

        #section4 {
            display: flex;
            width: 99%;
            justify-content: space-around;
            flex-wrap: wrap;
            flex: 1;
            margin: 18px auto;

            #section4-left {
                width: 49%;
                min-width: 295px;
                margin: 0px 0px 0px 0px;
                background: white;
                padding: 40px;
                text-align: center;
                border: $border-table;
                border-radius: $border-radius;
            
                .section4-left-button {
                    color: white;
                    background: $color-principal-blue !important;
                    margin-top: 15px;
                }
            }

            #section4-right {
                width: 49%;
                min-width: 295px;
                margin: 0px 0px 0px 0px;
                background: white;
                padding: 40px;
                text-align: center;
                border: $border-table;
            
                .section4-right-button {
                    color: white;
                    background: red !important;
                    margin-top: 15px;
                }
            }
        }
    }
}

:host ::ng-deep .mat-flat-button {
    height: 45px;
    border-radius: 0px !important;
}

:host ::ng-deep .mat-input-element {
    height: 45px;
}


@media screen and (min-width: 300px) and (max-width: 1024px) {
    #global {
        display: block;
    }
    #content {
        margin-left: 0%;
    }
}

@media screen and (min-width:768px) and (max-width:1111px) {
    /* Section 2 */
    #section2-left {
        width: 100%;

        #section2-left p {
            width: 100%;
        }
    }
 
    #section2-right {
        width: 100%;
    }
    /* Section 3 */
    #section3-left {
        width: 100%;

        #section3-left p {
            width: 100%;
        }
    }

    #section3-right {
        width: 100%;
    }
}

@media screen and (min-width:460px) and (max-width:767px) {
    /* Section 2 */
    #section2-left {
        width: 100%;

        #section2-left p {
            width: 100%;
        }
    }

    #section2-right {
        width: 100%;
    }
    /* Section 3 */
    #section3-left {
        width: 100%;

        #section3-left p {
            width: 100%;
        }
    }

    #section3-right {
        width: 100%;
    }
    /* Section 4 */
    #section4-left {
        width: 100%;
    }
    #section4-right {
        width: 100%;
    }
}

@media screen and (max-width:459px) {
    /* Section 2 */
    #section2-left {
        width: 100%;

        #section2-left p {
            width: 100%;
        }
    }

    #section2-right {
        width: 100%;
    }
    /* Section 3 */
    #section3-left {
        width: 100%;

        #section3-left p {
            width: 100%;
        }
    }

    #section3-right {
        width: 100%;
    }
    /* Section 4 */
    #section4-left {
        width: 100%;
    }
    #section4-right {
        width: 100%;
    }
}