<div id="top-bar">

  <div class="segment3">

    <h3 class="title-segment">Score moyen attendu</h3>
    <p id="score">
      33%
      <!-- <i class="fas fa-info-circle info"></i> -->
    </p>

  </div>

  <div class="segment2">
    <button class="custom-buttom custom-buttom-anul" mat-flat-button [routerLink]="['/dashboard/campaigns']"
      (click)="SendQuestionSelected()">
      <i class="fas fa-chevron-left icon-arrow-btn"></i>

      Retour
    </button>
    <button class="custom-buttom" mat-flat-button [routerLink]="['/dashboard/campaigns']"
      (click)="SendQuestionSelected()">
      Enregistre
    </button>
  </div>
</div>
<div class="container-edit-question">

  <div id="content">
    <div class="example-container">
      <div class="bar">
        <figure class="bar-content-img">
          <img src="../assets/Coding-game-img/SVG-menu-Dashboard/mes-tests.svg">
        </figure>
        <p class="bar-text">Notre collection de questions</p>

      </div>

      <div class="option-question-help">

        <div id="div-search">
          <input type="text" class="search-input" placeholder="Rechercher" name="search" [(ngModel)]="searchText" />
          <figure class="icon-search">
            <img src="../assets/Coding-game-img/SVG-menu-Dashboard/loupe.svg">
          </figure>
        </div>

        <a href="" class="search-advanced">
          Recherche avancée
          <i class="fas fa-chevron-right icon-arrow-btn"></i>
        </a>

        <button mat-flat-button class="trie-cat" [matMenuTriggerFor]="appMenu">
          Trier par
          <i class="fas fa-chevron-right icon-arrow-btn"></i>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Help</button>
          </mat-menu>
        </button>

      </div>

      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="allQuestionsCampaign"
        [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of allQuestionsCampaign | filter: searchText" cdkDrag>


          <div class="partie-left-example-box">

            <p class="question-techno">{{ item.technologies.name }}</p>

            <p class="question-name" matTooltip="{{item.name}}">{{ item.name }}</p>

          </div>


          <div class="partie-left-example-box-2">
            <span *ngIf="item.level === 'expert'" matTooltip="Difficulté Expert">
              <i class="fas fa-puzzle-piece drop-icon"></i> |
              <i class="fas fa-puzzle-piece drop-icon"></i> |
              <i class="fas fa-puzzle-piece drop-icon"></i> |
            </span>

            <span *ngIf="item.level === 'moyen'" matTooltip="Difficulté Moyen">
              <i class="fas fa-puzzle-piece drop-icon"></i> |
              <i class="fas fa-puzzle-piece drop-icon"></i> |

            </span>
            <span *ngIf="item.level === 'facile'" matTooltip="Difficulté Facile">
              <i class="fas fa-puzzle-piece drop-icon"></i> |

            </span>

            <p>{{ item.points }} points</p>
            | <i class="fas fa-list-ul drop-icon"></i> |
            <p matTooltip="Durée(heure:min:sec)">{{ fmtMSS(item.time) }}</p>
          </div>




        </div>
      </div>
    </div>

    <div class="example-container">
      <div class="bar">
        <figure class="bar-content-img">
          <img src="../assets/Coding-game-img/SVG-menu-Dashboard/mes-tests.svg">
        </figure>

        <p class="bar-text">Votre Campagne</p>

      </div>


      <div class="option-question-help preview">

        <a href="" class="icon-trash">
          <i class="fas fa-trash"></i>

        </a>
        <button mat-flat-button class="trie-cat preview-btn">
          Prévisualiser
          <i class="fas fa-chevron-right icon-arrow-btn"></i>
        </button>

      </div>

      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="questionsByCampaign"
        [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <p id="drop-text">Glisser / déposez une question ici</p>
        <div class="example-box" *ngFor="let itemQuestions of questionsByCampaign" cdkDrag>

          <div class="partie-left-example-box">
            <p class="question-techno">
              {{ itemQuestions.technologies.name }}
            </p>

            <p class="question-name" matTooltip="{{itemQuestions.name}}">{{ itemQuestions.name }}</p>

          </div>
          <span *ngIf="itemQuestions.level === 'expert'" matTooltip="Difficulté Expert">
            <i class="fas fa-puzzle-piece drop-icon"></i> |
            <i class="fas fa-puzzle-piece drop-icon"></i> |
            <i class="fas fa-puzzle-piece drop-icon"></i> |
          </span>

          <span *ngIf="itemQuestions.level === 'moyen'" matTooltip="Difficulté Moyen">
            <i class="fas fa-puzzle-piece drop-icon"></i> |
            <i class="fas fa-puzzle-piece drop-icon"></i> |

          </span>
          <span *ngIf="itemQuestions.level === 'facile'" matTooltip="Difficulté Facile">
            <i class="fas fa-puzzle-piece drop-icon"></i> |

          </span>
          <p>{{ itemQuestions.points }} points</p>
          | <i class="fas fa-list-ul drop-icon"></i> |
          <p matTooltip="Durée(heure:min:sec)">{{  fmtMSS(itemQuestions.time) }}</p>
        </div>
      </div>
    </div>
  </div>
</div>