<div id="top-bar">

  <div class="segment3">

    <h3 class="title-segment">Score moyen attendu</h3>
    <p id="score">
      33%
      <!-- <i class="fas fa-info-circle info"></i> -->
    </p>

  </div>

  <div class="segment2">
    <button class="custom-buttom custom-buttom-anul" mat-flat-button [routerLink]="['/dashboard/campaigns']">
      <i class="fas fa-chevron-left icon-arrow-btn"></i>

      Retour
    </button>
    <button class="custom-buttom" mat-flat-button [routerLink]="['/dashboard/campaigns']"
      (click)="SendQuestionSelected()">
      Enregistrer
    </button>
  </div>
</div>
<div class="container-edit-question">

  <div id="content">
    <div class="example-container">
      <div class="bar">
        <figure class="bar-content-img">
          <img src="../assets/Coding-game-img/SVG-menu-Dashboard/mes-tests.svg">
        </figure>
        <p class="bar-text">Notre collection de questions</p>

      </div>

      <div class="option-question-help">

        <div id="div-search">
          <input type="text" class="search-input" placeholder="Rechercher" name="search" [(ngModel)]="searchText" />
          <figure class="icon-search">
            <img src="../assets/Coding-game-img/SVG-menu-Dashboard/loupe.svg">
          </figure>
        </div>

        <a href="" class="search-advanced">
          Recherche avancée
          <i class="fas fa-chevron-right icon-arrow-btn"></i>
        </a>

        <button mat-flat-button class="trie-cat" [matMenuTriggerFor]="appMenu">
          Trier par
          <i class="fas fa-chevron-right icon-arrow-btn"></i>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Help</button>
          </mat-menu>
        </button>

      </div>

      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="allQuestionsCampaign"
        [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of allQuestionsCampaign | filter: searchText" cdkDrag>


          <div class="partie-left-example-box">


            <p class="question-techno">{{ item.technologies.name }}</p>

          </div>


          <div class="partie-left-example-box-2">
            <div class="tooltip-information">
              {{item.name}}
            </div>
            <p class="question-name">{{ item.name }}</p>
            <div class="content-rouded" *ngIf="item.level === 'expert'" matTooltip="Difficulté Expert">
              <span class="niveau-rouded"></span>
              <span class="niveau-rouded"></span>
              <span class="niveau-rouded"></span>
            </div>

            <div class="content-rouded" *ngIf="item.level === 'moyen'" matTooltip="Difficulté Moyen">
              <span class="niveau-rouded"></span>
              <span class="niveau-rouded"></span>
              <span class="niveau-rouded-no-active"></span>

            </div>
            <div class="content-rouded" *ngIf="item.level === 'facile'" matTooltip="Difficulté Facile">
              <span class="niveau-rouded"></span>
              <span class="niveau-rouded-no-active"></span>
              <span class="niveau-rouded-no-active"></span>

            </div>

            <p class="point">{{ item.points }} points</p>

            <div class="drop">
              <i class="fas fa-list-ul drop-icon"></i>
            </div>
            <p class="time" matTooltip="Durée(heure:min:sec)">{{ fmtMSS(item.time) }}</p>
          </div>

        </div>
      </div>
    </div>

    <div class="example-container">
      <div class="bar">
        <figure class="bar-content-img">
          <img src="../assets/Coding-game-img/SVG-menu-Dashboard/mes-tests.svg">
        </figure>

        <p class="bar-text">Votre Campagne</p>

      </div>


      <div class="option-question-help preview">

        <button mat-flat-button class="trie-cat preview-btn">
          Prévisualiser
          <i class="fas fa-chevron-right icon-arrow-btn"></i>
        </button>

      </div>

      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="questionsByCampaign"
        [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <p id="drop-text">Glisser / déposez une question ici</p>
        <div class="example-box" *ngFor="let itemQuestions of questionsByCampaign" cdkDrag>

          <div class="partie-left-example-box">
            <p class="question-techno">
              {{ itemQuestions.technologies.name }}
            </p>


          </div>

          <div class="partie-left-example-box-2">
            <div class="tooltip-information">
              {{itemQuestions.name}}
            </div>
            <p class="question-name">{{ itemQuestions.name }}</p>
            <div class="content-rouded" *ngIf="itemQuestions.level === 'expert'" matTooltip="Difficulté Expert">
              <span class="niveau-rouded"></span>
              <span class="niveau-rouded"></span>
              <span class="niveau-rouded"></span>
            </div>

            <div class="content-rouded" *ngIf="itemQuestions.level === 'moyen'" matTooltip="Difficulté Moyen">
              <span class="niveau-rouded"></span>
              <span class="niveau-rouded"></span>
              <span class="niveau-rouded-no-active"></span>

            </div>
            <div class="content-rouded" *ngIf="itemQuestions.level === 'facile'" matTooltip="Difficulté Facile">
              <span class="niveau-rouded"></span>
              <span class="niveau-rouded-no-active"></span>
              <span class="niveau-rouded-no-active"></span>
            </div>
            <p class="point">{{ itemQuestions.points }} points</p>
            <div class="drop">
              <i class="fas fa-list-ul drop-icon"></i>
            </div>
            <p class="time" matTooltip="Durée(heure:min:sec)">{{ fmtMSS(itemQuestions.time) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>