@import "../../nouvelle-campagne/nouvelle-campagnePage3-component/nouvelle-campagne3.component.scss";
.container-edit-question {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 25px;
  height: 100%;
}
