@import "../../../../roodeo-variables.scss";
@import "../sidebar-right/sidebar-right.component.scss";
@import "../dashboard-campagne/dashboard-campagne.component.scss";



::ng-deep .mat-dialog-container{
  border: $border-table;
  background: $color-background-blue;


    .mat-button{
      outline: none;
    }
}
// .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element{
//   color:#e15028!important;
// }

// ::ng-deep .mat-checkbox-frame{
//   width: 20px!important;
//   height: 20px!important;
//   border-radius: 50px!important;
// }

// ::ng-deep .mat-checkbox .mat-checkbox-ripple{
//   left: calc(50% - 18px)!important;
//   top: calc(50% - 18px)!important;
// }

// ::ng-deep .mat-checkbox-checkmark{
//   display: none!important;
// }
// ::ng-deep .mat-checkbox-background{
//   border-radius: 50!important;
//   transition: none!important;
// }

::ng-deep .mat-checkbox-layout{
  margin-bottom: .5px!important;
}
::ng-deep .mat-checkbox-inner-container{
  margin-right: 0px!important;
}

.invite-left{
  margin-left: -21px;
}
.invite-left-many{
  margin-left: -15px;
}
.termine-left{
  margin-left: -5px;
}

.termine-left-many{
  margin-left: 1px;
}
.button-matMenu{
  outline: none;
}

.contenu-view-content-left {
  display: flex;
  flex-direction: column;
  border:1px solid #e15028;
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
  box-shadow: 3px 4px 8px -2px rgba(0,0,0,0.40);

  .header-form{
       
    display: flex;
    flex-direction: column;
    .sous-header-two{
      display: flex;
      flex-direction: row;
      border-top:1px solid #e15028;
      border-bottom:1px solid #e15028;
      // padding: 0px 12px;
      align-items: center;
      background: #fff;

      .block-btn-test{
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: center;
        justify-content: center;
        min-width: 43px;
        .number-test{
          color:#1d3551;
          font-size: 14px;
          font-weight: 700;
        }

      }
    
    }

    .test-right-header{
      display: flex;
      flex: 11;
        .btn-test{
          flex: 2;
          background: #1d3551;
          color:white;
          border:none;
          text-transform: uppercase;
          padding: 20px 30px;
          display: block;
          font-size: 15px;
      }
      .sous-header-form {
        display: flex;
        align-items: center;
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        flex: 8;
        .form-group-header {
          flex: 3;
          height: 46px;
          min-width: 170px;
          
          .checked-block {
            
            margin-top: 5px;
            
          }
          form {
            height: 100%;
            width: 100%;
            position: relative;
            margin-top:5px;
            .icon-form-group-header-contenu {
              display: inline-block;
              padding-left: 10px;
              color: #de522b;
              font-size: 24px;
              // top: -5px;
              right: 22px;
              position: absolute;
              width: 28px;
              height: 28px;
              img{
                width: 100%;
                height: 100%;
              }
            }
            .champ-header-contenu {
              width: 90%;
              height: 73%;
              // padding: 0 20px 0 10px;
              padding-bottom: 8px;
              padding-top: 8px;
              font-size: 15px;
              background-color: white;
              border-bottom: 1px solid #de522b!important;
              outline: none;
              border: none;
            }

            .champ-header-contenu::placeholder{
              font-weight: 700;
              color:#de522b;
            }
          }
        }
        .form-group-header-2 {
          flex: 2!important;
          margin-left: 20px;
          label {
            margin: 0px;
            color: #7e8082;
            font-size: 15px;
            display: inline-block;
          }

          padding: 0 5px;
          display: flex;
          align-items: center;
          flex-direction: row;
        }
      }
    
    }
  }
  /*--contenu--techno--*/

  .contenu-techno {
    background-color: white;
    // border: $border-table-second;
    display: flex;
    flex: 1;
    flex-direction: column;
   
    .no-campaign{
      width: 50%;
      // border: $border-table-second;
      text-align: center;
      margin: 17% auto 0;
      padding: 10px;

      p{
        text-align: center;
        font-size: 20px;
        font-weight: 700;
      }

      .button{
        -webkit-box-flex: 2;
        cursor: pointer;
        flex: 2;
        background: #1d3551;
        color: white;
        border: none;
        text-transform: uppercase;
        padding: 20px 30px;
        display: block;
        font-size: 15px;
      }
    
    }
  .content-scroll::-webkit-scrollbar{
      width: 8px;
      height: 8px;
  }
  .content-scroll::-webkit-scrollbar-thumb {
      background-color: #7f8183;
   }
  
   .content-scroll::-webkit-scrollbar-thumb:hover{
       background-color: #67686a;
   }
  
   .content-scroll::-webkit-scrollbar-track {
      background: #e3e3e3;
  }
  

    .content-scroll {
      overflow-y: auto;
      flex: 1 1 0px;
      scrollbar-color: #7f8183#e3e3e3;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: thin;
      .contenu-techno-content {
        height: 60px;
        display: flex;
        flex-direction: row;
        transition: height 500ms, opacity 500ms;
        border-bottom:1px dashed #de522b;
        scrollbar-color: #7f8183 #e3e3e3;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
      
        .contenu-branche {
         flex: 11;
         display: flex;
         cursor: pointer;
         .dashed {
          display: flex;
          align-items: center;
          height: 50px;
          &:hover {
            color: #fff;
            .popup{
              display: flex;  
              flex-direction: column;
              justify-content: center; 
            }
          }
        }
          .corpo {
            width: 100%;
            display: block;
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 100%; 
            color:#1d3551;
            font-weight: 700;
            font-size: 16px;
            .contenu-branche-content{
              height:100%
            }
          }
          &:hover .corpo {
            background-color:#0c6192;
            color: #fff;
          }

          &:hover .contenu-branche-content{
            color:#fff
          }
         .contenu-branche-content{
            display: flex;
            flex: 3;
            align-items: center;
            padding-left: 19px;
            color:#1d3551;
           
          .branche-content-text {
              font-size: 15px;
              margin-bottom: 0px !important;
              display: inline-block;
             flex: 2;
            }
            .branche-content-noti {
              width: 120px;
              .branche-content-noti-item {
                height: 50px;
                display: inline-flex;
                padding: 0 5px;
                position: relative;
                transition: background 0.2s;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: 700;
                /* display:none; */
              }
              .branche-content-noti-item:hover {
                background-color: $color-gold;
              }

              .branche-content-noti-item:hover span {
                color: #fff !important;
              }
            }

         }

         .branche-content-list-end {
           width: 160px;
           border-left:1px dashed #de522b;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-content: center;
           padding: 9px 15px;
          
           p{
             margin-bottom: 0px;
             align-self: center;
             font-size: 14px;
           }
         }
       
        }



        .branche-content-list-start{
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          border-right: 1px dashed #e15028;
          margin-bottom: 0px;
          cursor: pointer;
          min-width: 40px;
          img{
            width: 30px;
            height: 30px;
          }
        }

       

        .popup{
          display: none;
          width: 150px;
          font-size: 16px;
          color: #2b3035;
          border: 1px solid #7e8082;
          background: white;
          position: absolute;
          margin-left: 100px;
          margin-top: 25px;

          span{
            border-bottom: 1px solid #7e8082;
            padding-left: 5px;

            &:last-child{
              border: none;
            }
            &:hover{
              color: white;
              background: $color-gold;
            }
          }
        }
      }
    }
  }
}

/* FIXE FOR MOBILE */

@media screen and (max-width: 1024px) {
  .header-form {
    flex-direction: column!important;
      .sous-header-form{
        flex: 1;
        .form-group-header:first-child{
          .icon-form-group-header-contenu{
            padding-left: 3px!important;
            font-size: 15px!important;
          }
        }
        .form-group-header:last-child{
         .check-label{
           font-size: 12px;
         }
        }
      }
  }
 
  .no-margin-bottom {
    margin-bottom: inherit;
  }

}

@media screen and (max-width: 768px) {
  .branche-content-list-end{
    width: 100px!important;
  }
  .test-right-header{
    width: 100%;
    flex-direction: column!important;
  }
  .block-btn-test{
    width:100%;
    justify-content: space-between!important;
    .number-test{
      padding-left: 6px!important;
    }
  }
  .sous-header-two{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    flex-direction: column!important;
    justify-content: space-between!important;
    align-items: flex-start!important;
    .sous-header-form{
      margin-top:20px!important;
      width:100%
    }
  }
  .contenu-techno{

    .content-scroll{
      .branche-content-list-start{
        i{
          font-size:25px!important
        }
      }
      max-height: 800px;
    }
  }
}

@media screen and (max-width: 425px) {


}


@media (min-width: 300px) and (max-width: 320px) {
}

@media (min-width: 320px) and (max-width: 375px) {
}


