<div class="contenu-view-content-left">
  <div>
    <div class="header-form">
      <div class="sous-header-one">

        <figure class="info-content-img-header-dashboard">
          <img src="../assets/Coding-game-img/SVG-menu-Dashboard/mes-tests.svg">
        </figure>

        <h3 class="info-title-header-dashboard">TESTS D’ÉVALUATIONS</h3>

      </div>
      <div class="sous-header-two">

        <div class="block-btn-test">
          <span class="number-test">{{ campaigns.length }}</span>
        </div>
        <div class="test-right-header">

          <button class="btn-test" [routerLink]="['/dashboard/campaigns/new']">
            Nouveau test
          </button>

          <div class="sous-header-form">

            <div class="form-group-header form-group-header-2">

              <!-- <mat-radio-button value="1">Option 1</mat-radio-button> -->

              <mat-checkbox class="checked-block" (click)="includeArchivedCampaigns(checked)" #checked>
                Inclure archives
              </mat-checkbox>
            </div>

            <div class="form-group-header">
              <form>

                <input type="text" name="search" [(ngModel)]="searchText" class="champ-header-contenu"
                  placeholder="Rechercher" id="search-header" />

                <figure class="icon-form-group-header-contenu">
                  <img src="../assets/Coding-game-img/SVG-menu-Dashboard/loupe.svg">
                </figure>
              </form>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class=" contenu-techno">

    <div class="content-scroll">

      <div class="no-campaign" *ngIf="campaigns.length === 0">
        <p> Vous n'avez pas encore de tests, cliquer sur le bouton en dessous pour en créer un.</p>
        <div class="button btn-test" [routerLink]="['/dashboard/campaigns/new']">
          Nouveau Test
        </div>
      </div>

      <div *ngFor="let campaign of campaignsFiltered | orderBy:'pin':true:customComparator | filter: searchText"
        class="contenu-techno-content">

        <figure class="branche-content-list-start" (click)="openDialog(campaign.id)">
          <img src="../assets/Coding-game-img/SVG-menu-Dashboard/perso-plein.svg">
        </figure>

        <div class="contenu-branche">
          <div class="corpo">
            <a [routerLink]="['/dashboard/campaigns', campaign.id, 'candidats']" class="contenu-branche-content">
              <p class="branche-content-text">
                {{ campaign.Name }}
              </p>

              <mat-icon *ngIf="campaign.pin === true">bookmark</mat-icon>
              <mat-icon *ngIf="campaign.archive === true">archive</mat-icon>

            </a>

            <span class="branche-content-list-end-contenu-icon dashed" [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </span>
            <mat-menu #menu="matMenu">

              <button class="button-matMenu" (click)="openDialogDuplicate(campaign.id)" mat-menu-item>
                <mat-icon>file_copy</mat-icon>
                <span>Dupliquer</span>
              </button>

              <button class="button-matMenu" *ngIf="campaign.pin === true"
                (click)="pincampaign(campaign.id, campaign.pin)" mat-menu-item>
                <mat-icon>bookmark</mat-icon>
                <span>Désépingler</span>
              </button>
              <button class="button-matMenu" *ngIf="campaign.pin === false"
                (click)="pincampaign(campaign.id, campaign.pin)" mat-menu-item>
                <mat-icon>bookmark</mat-icon>
                <span>Epingler</span>
              </button>

              <button class="button-matMenu" *ngIf="campaign.archive === true"
                (click)="archivecampaign(campaign.id,campaign.archive)" mat-menu-item>
                <mat-icon>unarchive</mat-icon>
                <span>Désarchiver</span>
              </button>
              <button class="button-matMenu" *ngIf="campaign.archive === false"
                (click)="archivecampaign(campaign.id,campaign.archive)" mat-menu-item>
                <mat-icon>archive</mat-icon>
                <span>Archiver</span>
              </button>

              <button class="button-matMenu" (click)="openDialogDelete(campaign.id)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Supprimer</span>
              </button>
            </mat-menu>

            <div class="branche-content-list-end">

              <p class="invite-left" [ngClass]="{'invite-left-many':campaign.candidats.length > 1}">
                {{ campaign.candidats.length }}
                {{campaign.candidats.length > 1 ? 'invités' : 'invité'}}</p>
              <p class="termine-left" [ngClass]="{'termine-left-many':campaign.NbCandidatFinish > 1}">
                {{ campaign.NbCandidatFinish !== null ?
                  campaign.NbCandidatFinish : 0 }} {{ campaign.NbCandidatFinish > 1 ? 'terminés' : 'terminé'}}
              </p>

            </div>
          </div>
        </div>

      </div>

      <!--compagne archiver-->

      <div [hidden]="!myVar" *ngFor="let campaign of campaignsArchived | filter: searchText"
        class="contenu-techno-content">

        <figure class="branche-content-list-start">
          <img src="../assets/Coding-game-img/SVG-menu-Dashboard/perso-plein.svg">
        </figure>

        <div class="contenu-branche">
          <div class="corpo">
            <a [routerLink]="['/dashboard/campaigns', campaign.id, 'candidats']" class="contenu-branche-content">
              <p class="branche-content-text">
                {{ campaign.Name }}
              </p>

              <mat-icon *ngIf="campaign.pin === true">bookmark</mat-icon>
              <mat-icon *ngIf="campaign.archive === true">archive</mat-icon>

            </a>

            <span class="branche-content-list-end-contenu-icon dashed" [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </span>
            <mat-menu #menu="matMenu">

              <button (click)="duplicatecampaign(campaign.id)" mat-menu-item>
                <mat-icon>file_copy</mat-icon>
                <span>Dupliquer</span>
              </button>

              <button *ngIf="campaign.pin === true" (click)="pincampaign(campaign.id, campaign.pin)" mat-menu-item>
                <mat-icon>bookmark</mat-icon>
                <span>Désépingler</span>
              </button>
              <button *ngIf="campaign.pin === false" (click)="pincampaign(campaign.id, campaign.pin)" mat-menu-item>
                <mat-icon>bookmark</mat-icon>
                <span>Epingler</span>
              </button>

              <button *ngIf="campaign.archive === true" (click)="archivecampaign(campaign.id,campaign.archive)"
                mat-menu-item>
                <mat-icon>unarchive</mat-icon>
                <span>Désarchiver</span>
              </button>
              <button *ngIf="campaign.archive === false" (click)="archivecampaign(campaign.id,campaign.archive)"
                mat-menu-item>
                <mat-icon>archive</mat-icon>
                <span>Archiver</span>
              </button>

              <button (click)="deletecampaign(campaign.id)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Supprimer</span>
              </button>
            </mat-menu>

            <div class="branche-content-list-end">

              <p class="invite-left" [ngClass]="{'invite-left-many':campaign.candidats.length > 1}">
                {{ campaign.candidats.length }}
                {{campaign.candidats.length > 1 ? 'invités' : 'invité'}}</p>
              <p class="termine-left" [ngClass]="{'termine-left-many':campaign.NbCandidatFinish > 1}">
                {{ campaign.NbCandidatFinish !== null ?
                  campaign.NbCandidatFinish : 0 }} {{ campaign.NbCandidatFinish > 1 ? 'terminés' : 'terminé'}}
              </p>


            </div>
          </div>
        </div>

      </div>

      <!--fin compagne archive-->



    </div>
  </div>
</div>