<div class="contenu-view-content-left">
  <div>
    <div class="header-form">
      <div class="sous-header-one">

        <figure class="info-content-img-header-dashboard">
          <img src="../assets/Coding-game-img/SVG-menu-Dashboard/mes-tests.svg">
        </figure>

        <h3 class="info-title-header-dashboard" i18n>Tests d'evaluations</h3>

        <app-base-button *ngIf="campaigns.length > 0" iconName="add" class="container-add-campaign"
          (clickEvent)="postCampagne()" [routerLink]="['/dashboard/campaigns/new']">Nouveau test</app-base-button>

      </div>

      <div class="sous-header-two">

        <div class="block-btn-test">
          <span class="number-test">{{ (campaigns | campaignsArchived:showArchives)?.length }}</span>
        </div>

        <div class="test-right-header">
          <div class="sous-header-form">

            <div class="form-group-header form-group-header-2">

              <mat-checkbox [color]="'accent'" class="checked-block" (click)="includeArchivedCampaigns()"><span
                  i18n>Inclure archives</span></mat-checkbox>
            </div>

            <div class="form-group-header">

              <div class="search-container">
                <mat-form-field appearance="fill" [floatLabel]="true" [color]="'accent'">
                  <mat-label>
                    <mat-icon>search</mat-icon>&nbsp;Rechercher
                  </mat-label>
                  <input matInput type="search" class="champ-header-contenu" placeholder="Filtrer par nom" name="search"
                    [(ngModel)]="searchText" id="search-header" />
                </mat-form-field>
                <!--figure class="icon-form-group-header-contenu">
                    <img src="../assets/Coding-game-img/SVG-menu-Dashboard/loupe.svg">
                  </figure-->
              </div>
              <!-- <input type="text" name="search" [(ngModel)]="searchText" class="champ-header-contenu"
                  placeholder="Rechercher" id="search-header" />

                <figure class="icon-form-group-header-contenu">
                  <img src="../assets/Coding-game-img/SVG-menu-Dashboard/loupe.svg">
                </figure> -->

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class=" contenu-techno">

    <div class="content-scroll">
      <div *ngIf="!isLoaded" class="loader-container">
        <mat-spinner [strokeWidth]="20"></mat-spinner>
      </div>

      <div class="no-campaign" *ngIf="isLoaded && campaigns.length === 0">
        <p i18n> Vous n'avez pas encore de tests, cliquer sur le bouton en dessous pour en créer un.</p>
        <br />
        <app-base-button iconName="add" class="container-add-campaign" [routerLink]="['/dashboard/campaigns/new']">
          Nouveau test</app-base-button>
      </div>

      <div
        *ngFor="let campaign of campaigns | campaignsArchived:showArchives | orderBy:'pin':true | filter: searchText; trackBy: trackByFn;"
        class="contenu-techno-content">

        <figure class="branche-content-list-start" (click)="openDialog(campaign.id)">
          <img class="hvr-grow" src="../assets/Coding-game-img/SVG-menu-Dashboard/perso-plein.svg">
        </figure>

        <div class="contenu-branche">
          <div class="corpo">
            <a [routerLink]="['/dashboard/campaigns', campaign.id, 'candidats']" class="contenu-branche-content">
              <p class="branche-content-text">
                {{ campaign.Name }}
              </p>

              <mat-icon *ngIf="campaign.pin === true">bookmark</mat-icon>
              <mat-icon *ngIf="campaign.archive === true">archive</mat-icon>

            </a>

            <div class="branche-content-list-end" [routerLink]="['/dashboard/campaigns', campaign.id, 'candidats']">

              <p class="invite-left" [ngClass]="{'invite-left-many':campaign.candidats.length > 1}" i18n>
                {{ campaign.candidats.length }}
                {{campaign.candidats.length > 1 ? 'invités' : 'invité'}}</p>
              <p class="termine-left" [ngClass]="{'termine-left-many':campaign.NbCandidatFinish > 1}" i18n>
                {{ campaign.NbCandidatFinish !== null ?
                campaign.NbCandidatFinish : 0 }} {{ campaign.NbCandidatFinish > 1 ? 'terminés' : 'terminé'}}
              </p>

            </div>

          </div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu"
          aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="button-matMenu">


          <button (click)="openDialogDuplicate(campaign)" mat-menu-item>
            <mat-icon class="icon">file_copy</mat-icon>
            <span class="iconStyle" i18n>Dupliquer</span>
          </button>

          <button *ngIf="campaign.pin === true" (click)="pincampaign(campaign)" mat-menu-item>
            <mat-icon class="icon">bookmark</mat-icon>
            <span class="iconStyle" i18n>Désépingler</span>
          </button>

          <button *ngIf="campaign.pin === false" (click)="pincampaign(campaign)" mat-menu-item>
            <mat-icon class="icon">bookmark</mat-icon>
            <span class="iconStyle" i18n>Epingler</span>
          </button>

          <button *ngIf="campaign.archive === true" (click)="archivecampaign(campaign)" mat-menu-item>
            <mat-icon class="icon">unarchive</mat-icon>
            <span class="iconStyle" i18n>Désarchiver</span>
          </button>

          <button *ngIf="campaign.archive === false" (click)="archivecampaign(campaign)" mat-menu-item>
            <mat-icon class="icon">archive</mat-icon>
            <span class="iconStyle" i18n>Archiver</span>
          </button>

          <button (click)="openDialogDelete(campaign)" mat-menu-item>
            <mat-icon class="icon">delete</mat-icon>
            <span class="iconStyle" i18n>Supprimer</span>
          </button>

        </mat-menu>
      </div>

    </div>
  </div>
</div>