@import "../../../../roodeo-variables.scss";
@import "../sidibar-right/sidibar-right.component.scss";
@import "../dashboard-campagne/dashboard-campagne.component.scss";
.contenu-view-content-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header-form {
    display: flex;
    flex-direction: row;
    .sous-header-form {
      border: $border-table;
      display: flex;
      align-items: center;
      background-color: white;
      padding-left: 5px;
      padding-right: 5px;
      margin-right: 10px;
      flex: 2;
      .form-group-header {
        height: 46px;
        label {
          display: block;
        }
        .checked-block {
          position: relative;
          font-size: 16px;
          display: block;
          font-weight: 400;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: #7e8082;
          padding-top: 10px;
          .checkbox {
            width: 0px;
            height: 0px;
            opacity: 0;
          }

          .checked-text{
            position: relative;
            left: 20px;
          }
        }
        form {
          height: 100%;
          width: 100%;
          .icon-form-group-header-contenu {
            display: inline-block;
            padding-left: 10px;
            color: #ffd200;
            font-size: 24px;
          }
          .champ-header-contenu {
            width: 85%;
            height: 100%;
            padding: 0 20px 0 10px;
            font-size: 15px;
            background-color: white;
            border: none;
            outline: none;
          }
        }
      }
      .form-group-header-2 {
        label {
          margin: 0px;
          color: #7e8082;
          font-size: 15px;
          display: inline-block;
        }

        padding: 0 5px;
        display: flex;
        align-items: center;
        flex-direction: row;
      }
    }
  }
  /*--contenu--techno--*/

  .contenu-techno {
    margin-top: 20px;
    background-color: white;
    border: $border-table;
    display: flex;
    flex: 1;
    flex-direction: column;
    .contenu-techno-header {
      border-bottom: $border-table;
      padding: 0 20px;
      display: flex;
      align-items: center;
      height: 50px;
      justify-content: flex-start;

      .contenu-techno-header-icon {
        margin-right: 15px;
        display: inline-block;
        color: $color-gold;
        font-size: 24px;
        border-radius: 4px;
        /* margin-top: 3px; */
      }
      .contenu-techno-header-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0px !important;
      }
    }

    .no-campaign{
      width: 50%;
      border: $border-table;
      text-align: center;
      margin: 20px auto 0;
      padding: 10px;

      p{
        text-align: center;
      }

      .icon{
        color: $color-gold;
      }

      .button{
        margin: 10px auto 0;
        width: 38%;
      }
    
    }

    

    .content-scroll {
      overflow-y: auto;
      flex: 1 1 0px;
      .contenu-techno-content {
        height: 50px;
        display: flex;
        flex-direction: row;
        transition: height 500ms, opacity 500ms;
        border-bottom: $border-table;
       
        .contenu-branche {
         flex: 2;
          &:hover a {
            background-color: #2b3035;
            color: #fff;
          }
          a {
            width: 100%;
            display: block;
            display: flex;
            padding: 0 20px;
            align-items: center;
            flex-direction: row;
            height: 100%;
            color: #7e8082;
            .branche-content-text {
              font-size: 15px;
              margin-bottom: 0px !important;
              display: inline-block;
             flex: 2;
            }
            .branche-content-noti {
              width: 120px;
              .branche-content-noti-item {
                height: 50px;
                display: inline-flex;
                padding: 0 5px;
                position: relative;
                transition: background 0.2s;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: 700;
                /* display:none; */
              }
              .branche-content-noti-item:hover {
                background-color: $color-gold;
              }

              .branche-content-noti-item:hover span {
                color: #fff !important;
              }
            }
          }
        }

        .branche-content-list-end {
          width: 99px;
          border-left: $border-table;
          display: flex;
          flex-direction: row;

          .branche-content-list-end-contenu-icon {
            display: flex;
            align-items: center;
            width: 50px;
            color: $color-gold;
            height: 100%;
            cursor: pointer;
            display: inline-flex;
            justify-content: center;
            font-size: 24px;
          }
          .dashed {
            border-left: $border-table;
            transition: 0.5s;
            &:hover {
              background: $color-gold;
              color: #fff;
              .popup{
                display: flex;  
                flex-direction: column;
                justify-content: center;
                
              }
            }
          }
        }

        .popup{
          display: none;
          width: 150px;
          font-size: 16px;
          color: #2b3035;
          border: 1px solid #7e8082;
          background: white;
          position: absolute;
          margin-left: 100px;
          margin-top: 25px;

          span{
            border-bottom: 1px solid #7e8082;
            padding-left: 5px;

            &:last-child{
              border: none;
            }
            &:hover{
              color: white;
              background: $color-gold;
            }
          }
        }
      }
    }
  }
}

/* FIXE FOR MOBILE */

@media screen and (max-width: 1024px) {
  .header-form {
    flex-direction: column!important;
      .sous-header-form{
        flex: 1;
        .form-group-header:first-child{
          .icon-form-group-header-contenu{
            padding-left: 3px!important;
            font-size: 15px!important;
          }
        }
        .form-group-header:last-child{
         .check-label{
           font-size: 12px;
         }
        }
      }
  }
 
  .no-margin-bottom {
    margin-bottom: inherit;
  }

}

@media screen and (max-width: 767px) {
  .contenu-techno{
    .content-scroll{
      max-height: 800px;
    }
  }
}


@media (min-width: 300px) and (max-width: 320px) {
}

@media (min-width: 320px) and (max-width: 375px) {
}

@media (min-width: 375px) and (max-width: 425px) {
}
