  <div>

    <footer id="footer">

      <div class="footer-left">

        <div class="help-network">

          <h4 class="title-help-network">Légal</h4>


          <ul class="list-help-footer">

            <li><a href="">Conditions d'utilisation</a></li>
            <li><a href="">Conditions de vente</a></li>
            <li><a href="">Politique de confidentialité</a></li>
            <li><a href="">Politique de cookies</a></li>

          </ul>

        </div>
        <div class="help-network">

          <h4 class="title-help-network">A propos</h4>


          <ul class="list-help-footer">

            <li><a (click)="scrollToTop()" [routerLink]="[ '/about']" href="">A propos</a></li>
            <li><a href="">Contactez-nous</a></li>
          </ul>

        </div>

      </div>


      <div class="footer-right">
        <ul class="list-network">

          <li><a target="_blank" href="https://www.linkedin.com/company/roodeo/" id="link"><i class="icon-network fab fa-linkedin-in"></i></a></li>
          <li><a target="_blank" href="https://www.facebook.com/paris.web.agency/" id="facebook"><i class="icon-network fa fa-facebook"></i></a></li>
          <li><a target="_blank" href="https://twitter.com/_roodeo" id="twitter"><i class="icon-network fab fa-twitter"></i></a></li>

        </ul>
      </div>


    </footer>


</div>
