<footer id="footer">
  <div class="block_deux">
    <div class="row-footer">
      <div class="parellex">
        <h3 class="title-elementor">Products</h3>

        <span class="dashed-elementor"></span>

        <ul class="elementor-liste">
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span
              >Source</a
            >
          </li>
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span
              >Screen</a
            >
          </li>
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span
              >Retain</a
            >
          </li>
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span
              >Princing</a
            >
          </li>
        </ul>
      </div>

      <div class="parellex">
        <h3 class="title-elementor">About</h3>

        <span class="dashed-elementor"></span>

        <ul class="elementor-liste">
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span
              >About</a
            >
          </li>
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span
              >Contact Us</a
            >
          </li>
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span>C++
              Interview Questions</a
            >
          </li>
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span>Java
              Interview Questions</a
            >
          </li>
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span
              >Python Interview Questions</a
            >
          </li>
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span
              >Javascript Interview Questions</a
            >
          </li>
        </ul>
      </div>

      <div class="parellex">
        <h3 class="title-elementor">Legal</h3>

        <span class="dashed-elementor"></span>

        <ul class="elementor-liste">
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span>Terms
              of Service</a
            >
          </li>
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span
              >Customer Agreement</a
            >
          </li>
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span
              >Privacy Policy</a
            >
          </li>
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span
              >Cookies Policy</a
            >
          </li>
        </ul>
      </div>

      <div class="parellex">
        <h3 class="title-elementor">Blog</h3>
        <span class="dashed-elementor"></span>

        <ul class="elementor-liste">
          <li>
            <a href=""
              ><span class="fa fa-angle-right icon-liste-elementor"></span
              >Blog</a
            >
          </li>
        </ul>
        <h3 class="title-elementor">Languages</h3>
        <span class="dashed-elementor dash"></span>

        <div class="country-langue">
          <figure class="lang">
            <a href=""
              ><img src="../../assets/Coding-game-img/footer/fr.png"
            /></a>
          </figure>
          <figure class="lang">
            <a href=""
              ><img src="../../assets/Coding-game-img/footer/en.png"
            /></a>
          </figure>
        </div>
      </div>

      <div class="parellex">
        <h3 class="title-elementor">Get in touch</h3>
        <span class="dashed-elementor"></span>

        <a href="" class="number">+33 9 54 39 85 49</a>

        <h3 class="title-elementor">Follow us</h3>
        <span class="dashed-elementor dash"></span>

        <ul class="follow">
          <li>
            <a href="" class="icon-facebook">
              <i class="fab fa-facebook-f icon-network"></i>
            </a>
          </li>
          <li>
            <a href="" class="icon-twitter">
              <i class="fab fa-twitter icon-network"></i>
            </a>
          </li>
          <li>
            <a href="" class="icon-linkedin">
              <i class="fab fa-linkedin-in icon-network"></i>
            </a>
          </li>
          <li>
            <a href="" class="icon-github">
              <i class="fab fa-github icon-network"></i>
            </a>
          </li>
          <li>
            <a href="" class="icon-youtube">
              <i class="fab fa-youtube icon-network"></i>
            </a>
          </li>
          <li>
            <a href="" class="icon-medium">
              <i class="fab fa-medium icon-network"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="block_one">
    <div class="row-footer">
      <figure class="parellex-img">
        <img
          src="../../assets/Coding-game-img/footer/bisounours.png"
          role="img"
          alt=""
        />
      </figure>

      <p class="heading-title">
        Made with love in Montpellier © 2019 CodinGame Inc. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
