@import "../../../../roodeo-variables.scss";
$color-text-footer: rgba(255, 255, 255, 0.6);
$padding-block: 50px 35px 50px 35px;
$color-dash-text-footer: #f2bb13;

.now{
  margin-right: 0px !important;
}

#footer{
  background-color: $color-principal-blue;
  height: 250px;
  width: 100%;
  //margin-bottom: 10px;
  display: flex;
  // justify-content: center;
  flex-direction: row;
  justify-content: space-around;

    .footer-left{
      display: flex;
      flex: 2;
      padding-top: 42px;
      .help-network{
        display: flex;
        flex-direction: column;
        margin-left: 110px;
        .title-help-network{
          text-transform: uppercase;
          color: $color-white;
          font-size: 16px;
          margin-bottom: 20px;
        }
    
        .list-help-footer{
    
          li{
    
            a{
              font-size: $font-size-home;
              color: $color-gray;
              transition:
              &{
                color:$color-white;

              }
            }
    
          }
    
        }
    
      }
    }

    .footer-right{
      flex: 2;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .list-network{
        display: flex;
        list-style-type: none;
        li a{
    
          padding:5px;
          width: 40px;
          height: 40px;
          margin-left: 9px;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $color-white;
        }
      }
    }

  #facebook{
    background-color: #3c5a99;
  }
  #twitter{
    background-color: #1da1f3;
  }

  #link{
    background-color: #006192;
  }
}
