@import "../../../../roodeo-variables.scss";
$color-text-footer: rgba(255, 255, 255, 0.6);
$padding-block: 50px 35px 50px 35px;
$color-dash-text-footer: #f2bb13;

#footer{
  background-color: rgb(29, 53, 82);
  height: 360px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  .list-network{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: flex-end;
  }

  .list-network li a{

    padding:5px;
    width: 40px;
    height: 40px;
    margin-left: 9px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
  }

  #facebook{
    background-color: #3c5a99;
  }
  #twitter{
    background-color: #1da1f3;
  }

  #link{
    background-color: #006192;
  }


  .list-network li a span{

  }
}
