<div class="container">

  <div class="row">

    <footer id="footer">

      <div class="footer-left">

        <div class="help-network">

          <h4 class="title-help-network">legal</h4>


          <ul class="list-help-footer">

            <li><a href="">> Terms of Service</a></li>
            <li><a href="">> Customer Agreement</a></li>
            <li><a href="">> Privacy Policy</a></li>
            <li><a href="">> Cokies Policy</a></li>

          </ul>

        </div>
        <div class="help-network">

          <h4 class="title-help-network">about</h4>


          <ul class="list-help-footer">

            <li><a href="">> About</a></li>
            <li><a href="">> Contact us</a></li>
          </ul>

        </div>

      </div>


      <div class="footer-right">
        <ul class="list-network">

          <li><a href="" id="link"><i class="icon-network fab fa-linkedin-in"></i></a></li>
          <li><a href="" id="facebook"><i class="icon-network fa fa-facebook"></i></a></li>
          <li><a href="" id="twitter"><i class="icon-network fab fa-twitter"></i></a></li>

        </ul>
      </div>


    </footer>


  </div>

</div>