

#footer
{
    background-color: #252e38;
    margin-top: 0px;
    margin-bottom: 0px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    /* position: absolute;
    bottom: 0; */
}


#block_one,#block_deux
{
    padding: 50px 35px 50px 35px;
}

.row-footer
{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.parellex
{
    padding: 10px;
    width: 20%;
}
.parellex .title-elementor
{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.parellex .dashed-elementor
{
    margin-bottom: 20px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #f2bb13;
    width: 20%;
    display: inline-block
}

.parellex .elementor-liste
{
    padding-left: 6px;
    margin-bottom: 20px;
}


.parellex .elementor-liste li
{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 4px;
   font-family: "Open Sans", Open Sans;
}

.parellex .elementor-liste li a 
{
    color: rgba(255,255,255,0.6);
    display: inline-block;
    transition:.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

}

.parellex .elementor-liste li a:hover
{
    color:#fff
}

.parellex .elementor-liste li a .icon-liste-elementor
{
    padding-right: 8px;
    color: rgba(255,255,255,0.6);
    font-size: 12px;
}

.parellex .country-langue .lang
{
    display: inline-block;
    margin-right: 10px;
}

.parellex .country-langue .lang a img
{
    width: 20px;
}

.parellex .number
{
    font-size: 18px;
    font-family: "Open Sans",sans-serif;
    color:#fff;
    text-align: left;
    display: block;
    margin-bottom: 20px;
}

.dash
{
    border-top-width: 1.5px!important;   
}

.parellex .follow
{

}

.parellex .follow li
{
    display: inline-block;
}

.parellex .follow li a
{
    font-size: 16px;
    display:inline-block;
    padding: .5em;
    margin-right: 5px;
    cursor: pointer;
    text-align:center;
    color:#fff;
    transition:.4s
}

.parellex .follow li a:hover
{
    opacity: 0.9
}

.parellex .follow li a .icon-network
{
    width: 1em;
    height: 1em;
    display: block
}

.icon-facebook {
    background-color: #3b5998;
}

.icon-twitter {
    background-color: #1da1f2;
}

.icon-linkedin {
    background-color: #0077b5;
}

.icon-github {
    background-color: #333;
}

.icon-youtube {
    background-color: #cd201f;
}

.icon-medium {
    background-color: #00ab6b;
}

.parellex-img
{
    width: 5.714%;
    display: inline-block;
    text-align: center
}

.parellex-img img
{
    display:inline-block;
    height: auto;
    max-width: 100%;
    border: none;
}

.heading-title
{
    display: inline-block;
    color: rgba(255,255,255,0.6);
    font-family: "Open Sans", Open Sans;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

@media (max-width: 1024px) and (min-width: 768px){
    .parellex{
        width: 25%;
    }

}

@media (max-width: 767px){

    #block_one,#block_deux
    {
        padding: 25px 25px 50px 25px;
    }

    .parellex{

        width: 100%;

    }

    .parellex-img
    {
        width: 100%
    }

    .heading-title
    {
        text-align: center;
        display: inline-block;
        width: 100%;
    }


}