@import '../../../../../roodeo-variables.scss';

.icon-left {
  padding: 0 16px 0 0;
}
.icon-right {
  padding: 0 0 0 16px;
}

.roodeo-button-icon-left, .roodeo-button-icon-right {
  color: $color-white;
  border-radius: 19px;
  height: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;

  .text {
    font-size: 14px;
    color: $color-white;
  }
  .icon {
    color: $color-white;
  }
  .icon-primary {
    background-color: #0c6192 !important;
  }
  .icon-accent {
    background-color: mat-color($roodeo-app-accent, 800);
  }
}

.roodeo-button-icon-left {
  padding: 0 16px 0 0;

  .icon {
    margin-right:10px;
  }
}

.roodeo-button-icon-right {
  padding: 0 0 0 16px;

  .icon {
    margin-left:10px;
  }
}