<div [class]="'roodeo-button hvr-grow ' + color">
    <button mat-mini-fab *ngIf='iconPosition == "left"' [ngClass]="'icon icon-left icon-' + color"
        disabled={{disabled}}>
        <mat-icon>{{iconName}}</mat-icon>
    </button>
    <span [class]="iconPosition == 'left' ? 'text text-right' : 'text text-left'">
        <ng-content></ng-content>
    </span>
    <button mat-mini-fab *ngIf='iconPosition == "right"' [ngClass]="'icon icon-right icon-' + color"
        disabled={{disabled}}>
        <mat-icon>{{iconName}}</mat-icon>
    </button>
</div>