<div id="counter">
  <div id="compteur">
    <div class="column-left">
      <div class="block padding-mobile">
        <p
          class="chiffres"
          [countUp]="1200000"
          [options]="{ duration: 5, suffix: '+' }"
        >
          0
        </p>
        <p class="txt" i18n>développeurs</p>
      </div>

      <div class="block">
        <p
          class="chiffres"
          [countUp]="50"
          [options]="{ duration: 5, suffix: '%' }"
        >
          0
        </p>
        <p class="txt" i18n>de réduction des coûts</p>
      </div>
    </div>

    <div class="column-right">
      <div class="block padding-mobile">
        <p
          class="chiffres"
          [countUp]="3000000"
          [options]="{ duration: 5, suffix: '+' }"
        >
          0
        </p>
        <p class="txt" i18n>tests d'évaluation effectués</p>
      </div>

      <div class="block">
        <p
          class="chiffres"
          [countUp]="97"
          [options]="{ duration: 5, suffix: '%' }"
        >
          0
        </p>
        <p class="txt" i18n>de clients satisfaits</p>
      </div>
    </div>
  </div>
</div>
