<div *ngIf="!booleanCampagnFinishLoading" class="loading">
  <span class="fa fa-spinner fa-pulse"></span>
</div>
<div class="container-edit-question">
  <div id="content">
    <div class="block-container left">
      <div class="bar">
        <figure class="bar-content-img">
          <img src="../assets/Coding-game-img/SVG-menu-Dashboard/mes-tests.svg">
        </figure>
        <span class="bar-text">Questions disponibles</span>
        
      </div>

      <!--div class="option-question-help">
        <div id="div-search" >
          <input type="text" class="search-input" placeholder="Rechercher" name="search" [(ngModel)]="searchText" />
          <figure class="icon-search">
            <img src="../assets/Coding-game-img/SVG-menu-Dashboard/loupe.svg">
          </figure>
        </div>
        <span class="search-advanced" href="" (click)="openSearchAdvenced()"> Recherche avancée
          <i class="fas fa-chevron-right icon-arrow-btn" [class.chevron-bottom]="boelanIsSearchAdvenced"></i>
        </span>

        <button mat-flat-button class="trie-cat" [matMenuTriggerFor]="appMenu">
          Trier par
          <i class="fas fa-chevron-right icon-arrow-btn"></i>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Help</button>
          </mat-menu>
        </button>

      </div-->

      <div *ngIf="boelanIsSearchAdvenced" class="search-advanced-block">
        <!-- <mat-form-field>
          <mat-label>TECHNOLOGIE</mat-label>
          <mat-select [formControl]="toppings" (selectionChange)=filtreTechno($event) multiple>
            <mat-select-trigger>
              {{toppings.value ? toppings.value[0] : ''}}
              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let techno of yourCampaign[0].technologies" [value]="techno.name">
              {{techno.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <mat-form-field>
          <mat-label>DIFFICULTÉ </mat-label>
          <mat-select [formControl]="toppingsDifficulty" multiple>
            <mat-select-trigger>
              {{toppingsDifficulty.value ? toppingsDifficulty.value[0] : ''}}
              <span *ngIf="toppingsDifficulty.value?.length > 1" class="example-additional-selection">
                ,{{toppingsDifficulty.value[1]}}{{toppingsDifficulty.value.length === 2 ? '' : ','}}{{toppingsDifficulty.value[2]}}
                <!-- {{toppingsDifficulty.value?.length === 2 ? 'other' : 'others'}}) -->
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let difficul of difficulty" [value]="difficul">
              {{difficul}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="datas" [cdkDropListConnectedTo]="[doneList]"
        class="liste-question" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of datas | filter: searchText" cdkDrag>

          <div class="partie-left-example-box">
            <p class="question-techno">{{item.technologies.name}}</p>
          </div>

          <div class="partie-left-example-box-2">
            <!-- <div class="tooltip-information">
               {{item.name}}
            </div> -->

            <p class="question-name" matTooltip="{{item.name}}">{{ item.name }}</p>
            <div class="content-rouded" *ngIf="item.level === 'expert'" matTooltip="Difficulté Expert">
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-inclue">
                <span></span>
              </div>
            </div>

            <div class="content-rouded" *ngIf="item.level === 'moyen'" matTooltip="Difficulté Moyen">
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-non-inclue">
                <span></span>
              </div>
            </div>
            <div class="content-rouded" *ngIf="item.level === 'facile'" matTooltip="Difficulté Facile">
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-non-inclue">
                <span></span>
              </div>
              <div class="archive archive-non-inclue">
                <span></span>
              </div>
            </div>

            <p class="point">{{item.points}} points</p>

            <div class="drop">
              <i matTooltip="Question à choix multiple" *ngIf='item.type === "one" || item.type === "multiple"'
                class="fas fa-list-ul drop-icon"></i>
              <i matTooltip="Question texte libre" *ngIf='item.type === "free"' class="fas fa-paragraph drop-icon"></i>
            </div>
            <p class="time" matTooltip="Durée(min:sec)">{{ fmtMSS(item.time) }}</p>
            <p (click)='addquestion(item)' class="plushover" matTooltip="">+</p>
            <!-- <p class="time" matTooltip="Durée(heure:min:sec)">{{ fmtMSS(item.time) }}</p> -->

          </div>

        </div>
      </div>
    </div>

    <div class="block-container right">
      <div class="bar">
        <figure class="bar-content-img">
          <img src="../assets/Coding-game-img/SVG-menu-Dashboard/mes-tests.svg">
        </figure>
        <span class="bar-text">Votre Campagne</span>
        <button mat-flat-button class="trie-cat preview-btn">
          Prévisualiser
          <i class="fas fa-chevron-right icon-arrow-btn"></i>
        </button>
      </div>
      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="dataLevels"
        [cdkDropListConnectedTo]="[todoList]" class="liste-question" (cdkDropListDropped)="drop($event)" #droplist>
      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="allQuestionLevel"
        [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)" #droplist>
        <p id="drop-text">Glissez/déposez une question ici</p>
        <div class=" example-box" *ngFor="let item of allQuestionLevel" cdkDrag>

          <div class="partie-left-example-box">
            <p class="question-techno">
              {{ item.technologies.name }}
            </p>
          </div>

          <div class="partie-left-example-box-2">
            <!-- <div class="tooltip-information">
              {{item.name}}
            </div> -->
            <p class="question-name">{{ item.name }}</p>
            <div class="content-rouded" *ngIf="item.level === 'expert'" matTooltip="Difficulté Expert">
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-inclue">
                <span></span>
              </div>
            </div>

            <div class="content-rouded" *ngIf="item.level === 'moyen'" matTooltip="Difficulté Moyen">
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-non-inclue">
                <span></span>
              </div>

            </div>
            <div class="content-rouded" *ngIf="item.level === 'facile'" matTooltip="Difficulté Facile">
              <div class="archive archive-inclue">
                <span></span>
              </div>
              <div class="archive archive-non-inclue">
                <span></span>
              </div>
              <div class="archive archive-non-inclue">
                <span></span>
              </div>
            </div>
             <p class="point">{{ item.points }} points</p>
            <div class="drop">
              <i matTooltip="Question à choix multiple" *ngIf='item.type === "one" || item.type === "multiple"'
                class="fas fa-list-ul drop-icon"></i>
              <i matTooltip="Question texte libre" *ngIf='item.type === "free"' class="fas fa-paragraph drop-icon"></i>
            </div>
            <p class="time" matTooltip="Durée(min:sec)">{{  fmtMSS(item.time) }}</p>
            <!-- <p class="plushover" matTooltip="">+</p> -->
           
          </div>
        </div>
      </div>
    </div>
  </div>