@import"../../../../roodeo-variables.scss";

@import"../nouvelle-campagne/nouvelle-campagne.component.scss";

.loading{
    top: 0;
}
::ng-deep app-nouvellecampagnepage3component{
    display: flex;
    flex-direction: column;
    height: 100%;
}
::ng-deep app-question-component{
    height: 100%;
}

#content {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    position: relative;
}

.custom-buttom,.mat-flat-button {
    height: 100%;
    line-height: 0px;
    background: $color-principal-blue!important;
    border-radius: 0px !important;
    font-size: $font-size-home !important;
    contain: content;
    padding: 15px 40px !important;
    color: $color-white !important;
    height: 50px;   
    outline: none;
}


.bar {
    width: 100%;
    background: #eaeff3;
    height: 50px;
    padding: 5px 0px 5px 12px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid $color-principal-blue;

    .bar-content-img{
        width: 36px;
        height: 36px;
        margin-bottom: 0px;
        margin-right: 45px;
    }
    .bar-text{
        text-transform: uppercase;
        font-size: $font-size-home;
        margin-bottom: 0;
        letter-spacing: 1.5px;
        padding-top: 7px;
        flex: 11;
    }
}

/* Button recherche avancé */

//  ::ng-deep .mat-menu-panel{
//     width: 100%!important;
//     border-radius: 0px!important;
// }

// .custom-buttom-anul{
//     background-color: $color-gray!important;
//     outline: none;
   
// }

// .icon-arrow-btn{
//     font-size: 25px;
//     position: relative;
//     left: 15px;
//     top: -1px;
//     transition: .2s;
// }

// .option-question-help{
//     display: flex;
//     flex-direction: row;
//     border-top: $border-table;
//     border-bottom: $border-table;
//     padding-left: 18px;
//     align-items: center;
//     background: #fff;
//     justify-content: space-between;
//     #div-search {
//         display: flex;
//         margin-top: -8px;
//         .search-input{
//             font-size: $font-size-home;
//             background-color: white;
//             border:none;
//             border-bottom: 1px solid #de522b;
//             outline: none;
//             padding: 6px 6px;
//             width: 150px;
//             &::placeholder{
//                 color:$color-orange;
                
//             }
//         }
//         .icon-search{
//             // display: inline-block;
//             width: 25px;
//             height: 25px;
//             font-size: 27px;
//         }
//     }
//     .search-advanced{
//         color:$color-orange;
//         font-size: $font-size-home;
//         justify-content: center;
//         margin-left: 12px;
//         i{
//             left: 12px;
//             top: 5px;
//         }
//     }

//     .trie-cat{
//         i{
//             left: 21px;
//         }
//     }
// }


/* Fin button recherche avancé */

.preview-btn{
    position: absolute;
    right: 16px;
    background-color: $color-principal-blue!important;
    letter-spacing: 1px;
   
}

:host ::ng-deep .mat-button-wrapper {
    contain: content;
    font-family: $font-poppins!important;
}

/* DRAG AND DROP */

.block-container {
    &.left{
        margin-right: 5px;
    }
    &.right{
        margin-left: 5px;
    }
    display: flex;
    width: 50%;
    max-width: 100%;
    margin: 10px 15px 0px 15px;

    vertical-align: top;
    border: $border-table;
    border-radius: $border-radius;
    overflow: hidden;
    flex-direction: column;
   flex: 1;
}

.liste-question {
    // padding-bottom: 100%;
    flex: 1 1 0px;
    // height: 300px;
    background: $color-white!important;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #7f8183 #e3e3e3;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    
}
.liste-question::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.liste-question::-webkit-scrollbar-thumb {
    background-color: #7f8183;
 }

 .liste-question::-webkit-scrollbar-thumb:hover{
     background-color: #67686a;
 }

:host ::ng-deep .example-box {
    padding: 0px 0px;
    padding-right: 0px;
    height: 45px;
    transition: .5s;
    border-bottom: 1px dashed $color-principal-blue;
    display: flex;
    justify-content: space-between;
}





//test max //

.ligne-question{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    width: 100%; 
    height: 45px; 
    font-size: 14px; 
    border-bottom: 1px dashed $color-principal-blue;
    cursor: move;

    .ligne-techno{
        width: 17%; 
        min-width: 17%; 
        max-width: 17%; 
        height: 100%; 
        padding: 10px 0px 0px; 
        border-right: 1px dashed $color-principal-blue;
    
        .ligne-techno-text{
            display:flex; 
            align-items: center; 
            justify-content: center; 
            color: $color-orange; 
            margin: 0px;

        }
    }
    
    .ligne-nom{
        max-width: 45%; 
        width: 45%; 
        min-width: 30%; 
        height: 100%;
        padding: 10px 10px 0px;
        display: flex;border-right: 1px dashed $color-principal-blue;
    
        .ligne-nom-text{
            overflow:hidden; 
            margin: 0;
            white-space: nowrap; 
            text-overflow: ellipsis;
        }
    }
    
    .ligne-note{
        width: 12%;
        min-width: 12%;
        max-width: 12%;
        display: flex;
        height: 100%;
        padding: 12px 2px 0px 9px;
        border-right: 1px dashed $color-principal-blue;
    
        .archive{
            width: 22px;
            height: 18px;
            margin: 0px 0px;
            span{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .archive-inclue{
                   
            span{
                background-image: url('/assets/Coding-game-img/SVG-menu-Dashboard/archive-inclue.svg');
                background-repeat: no-repeat;
               
            }
        }
        .archive-non-inclue{
           
            span{
                background-image: url('/assets/Coding-game-img/SVG-menu-Dashboard/archive-non-inclue.svg');
                background-repeat: no-repeat;
            }
         }
    
    }
    
    
    
    
    
    .ligne-points{
        width: 12%; 
        max-width: 12%; 
        min-width: 12%; 
        height: 100%; 
        padding: 10px 10px 0px; 
        border-right: 1px dashed $color-principal-blue; 
        white-space: nowrap;
       
        .ligne-points-text{
            display:flex; 
            align-items: center; 
            justify-content: center;
        }
    }
    
    .ligne-type{
        width: 7%;
        max-width: 7%; 
        min-width: 7%; 
        height: 100%; 
        border-right: 1px dashed $color-principal-blue;
    
    }
    
    .ligne-icon{
        display:flex; 
        height: 100%; 
        align-items: center; 
        justify-content: center; 
        color: $color-orange; 
        font-size: 28px;
    }
    
    .ligne-temps{
        width: 12%; 
        max-width: 12%; 
        min-width: 12%; 
        height: 100%; 
        padding: 10px 3% 0px;
    
        .ligne-temps.text{
            display:flex; 
            align-items: center; 
            justify-content: center;
        }
    }
    
    .ligne-plus{
        width: 7%; 
        max-width: 7%; 
        min-width: 7%; 
        height: 100%; 
        padding: 2px 10px 0px; 
        border-left: 1px dashed $color-principal-blue;
        display: none;
        cursor: pointer;
        box-shadow: inset -16px -19px 30px 0px $color-principal-blue;
    
        .ligne-plus-text{
            text-align: center;
            font-size: 28px;
            color: white;
        }
    }

    &:hover{
        background-color: $color-blue-light;
        -webkit-box-shadow: inset -1px -4px 7px -3px rgba(0,0,0,5);
        -moz-box-shadow: inset -1px -4px 7px -3px rgba(0,0,0,5);
        box-shadow: inset -1px -4px 7px -3px rgba(0,0,0,5);

        .ligne-plus{
            display:block;
        }

        .ligne-techno p, .ligne-nom, .ligne-points, .ligne-type i, .ligne-temps{
            color: white;
        }
    }
}



.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: $border-radius;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.liste-question.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#drop-text {
    height: 35px;
    padding: 0px 0px;
    transition: .5s;
    color: $color-orange;
    text-align: center;
    font-size: 18px;
    line-height: 15px;
    border-bottom: 1px dashed $color-principal-blue;
    margin: 20px 0px 0px;
}

.example-box p 
{
    margin-bottom:0px;
}

.detail-question-name
{
    width:95%;
    max-width:95%;
    height:auto;
    padding:10px;
    color:$color-white;
    top:40px;
    position:absolute;
    z-index:38;
    /* bottom:10px; */
    display:none;
}

#ctnts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.active-dropList{
    position: fixed!important;
    top:1%;
    width: 32%;
    right: 86px;
}
.container-edit-question {
    width: 100%;
    margin: 0;
    // padding-bottom: 25px;
    height: 83%;
}
