<app-route-component></app-route-component>
<app-breadcrumb [namePage]="'Contact Support'"></app-breadcrumb>

<div id="container">
  <div class="content">
    <div id="section1" class="border-none">

      <div class="section-title">
        <h1 class="title">Contactez-nous</h1>
        <br>
        <p>
          Vous avez une question à nous poser? Besoin d'aide? 
          Remplissez ce formulaire et nous vous répondrons dans les plus brefs délais
        </p>
      </div>

      <form action="">
        <div class="form-line">

          <div class="input-bloc">
            <h3 class="input-title">Prénom *</h3>
            <input name="firstname" [formControl]="prenom" class="input-section1" maxlength="24" type="text" required>
            <div *ngIf=" submittedForm && prenom.invalid" class="alert alert-danger">
              <div *ngIf="prenom.errors.required">
                Prénom requis.
              </div>
            </div>
          </div>

          <div class="input-bloc">
            <h3 class="input-title" maxlength="64">Nom *</h3>
            <input name="lastname" [formControl]="nom" class="input-section1" type="text" required>
            <div *ngIf="submittedForm && nom.invalid" class="alert alert-danger">
              <div *ngIf="nom.errors.required">
                Nom requis.
              </div>
            </div>
          </div>

          <div class="input-bloc">
            <h3 class="input-title" maxlength="64">Email *</h3>
            <input name="email" [formControl]="email" class="input-section1" type="text" required>
            <div *ngIf="submittedForm && email.invalid" class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Nom requis.
              </div>
            </div>
          </div>

        </div>

        <div class="form-line">

          <div class="input-bloc">
            <h3 class="input-title" maxlength="64">Sujet*</h3>
            <select [formControl]="subject" class="input-section1" name="subject" required>
              <option>---</option>
              <option>J'ai besoin d'aide pour naviguer sur le site</option>
              <option>J'ai besoin d'informations concernant les forfaits</option>
              <option>J'ai besoin d'informations concernant la création de campagne</option>
            </select>
            <div *ngIf="submittedForm && subject.invalid" class="alert alert-danger">
              <div *ngIf="subject.errors.required">
                Veuillez sélectionner un sujet.
              </div>
            </div>
          </div>

          <div class="input-bloc">
            <h3 class="input-title" maxlength="64">Message *</h3>
            <textarea class="input-section1 input-section1-textarea" [formControl]="message" name="message"
              id="message"></textarea>
              <div *ngIf="submittedForm && message.invalid" class="alert alert-danger">
                <div *ngIf="message.errors.required">
                  Veuillez remplir ce champ.
                </div>
              </div>
          </div>

        </div>
        <button (click)='sendFormular()' class="btn-submit" type="submit">Envoyer</button>
      </form>
    </div>


    <div id="section2">
      <div class="section-title">
        <h1 class="title">Nous joindre</h1>
        <br>
        <p>
          Vous pouvez également nous joindre par téléphone, 
          nous serons ravis de pouvoir vous aider: 01-11-22-33-44
        </p>
      </div>
    </div>

  </div>
</div>