
#global{
    display: flex;
}

#content{

    margin-left: 18%;
}

/*-- début-css-modal--*/


#shadow-cog,#shadow-cog-add-images{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    display: none;
}


#shadow-cog.shadow-cog-active,#shadow-cog-add-images.shadow-cog-active
{   
    display: block;
    display: flex;
}

#remove,#remove_add_image
{
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

.modall
{
    min-width: 320px;
    min-height: 460px;
    width: calc(100vw - 120px);
    background-color: #fff;
    height: calc(100% - 180px);
}

.modall-header
{
    height: 90px;
}

.modall-content
{

    color:#20252a;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 390px);
    width: calc(100vh - 390px);
    min-height: 210px;
    background-color: #f2f2f2;
    display: flex;
    width: 100%!important;
}

.modall-content.modall-content-active
{
    background: #c6c6c6;
}

.block-upload
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.cadrage-img
{
  
    display: none;
}

.img-figure
{
    padding: 5px;
    background: #fff;
    color:#fff;
    width: 490px;
    height: 300px;
    text-align: center;
    display: none
}

.text-error-upload
{
    color:red;
    display: none;
    text-align: center;

}

.error
{
    display: block;
    padding-bottom: 4px;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
}

.ban-error
{
    font-size: 52px;
}

.img-figure img
{
    max-width: 100%;
    max-height: 100%;
}

.modal-content-icon
{
    opacity: .5;
    font-size: 50px;
}

.modal-content-text
{
    font-size: 20px;
    font-weight: 700;
    color: #20252a;
    margin: 10px;
    opacity: .5;
    display: block

}

.btn-modal-content
{
    height: 50px;
    line-height: 52px;
    white-space: nowrap;
    cursor: pointer;
    background-color: #2bae91;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 20px;
    margin: 15px;
    transition: background .2s;
    position: relative;
    overflow: hidden;
    width: 250px;
    text-align: center
}




.btn-modal-content:hover
{
    background-color: rgba(43,174,145,.7);
}

.modal-text-btn-upload
{

}

.file
{
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.modall-footer
{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap

}

.modal-btn-footer
{
    height: 50px;
    font-weight: 400;
    border: 1px solid #20252a;
    color: #20252a;
    text-transform: uppercase;
    font-size: 12px;
    margin: 10px 5px;
    width: 230px;
    border-radius: 0px!important;
    cursor: pointer;
}

.modal-btn-footer:active,.modal-btn-footer:focus
{
    outline: none
}

.modal-btn-footer:first-child
{
    background-color: #f2bb13;
    color:white;
    border:1px solid #f2bb13;
    font-weight: 700;
}

.modal-btn-footer:first-child:disabled{

    opacity: .2;
    cursor: auto;

}

.modal-btn-footer:first-child:disabled:hover{
    background-color: #f2bb13;
}

.modal-btn-footer:first-child:hover{

    background-color: #ffd200;

}



.modal-btn-footer:last-child
{
    background: white;
}

/*-- fin css-modal--*/



.big-content
{
    display: flex;
    flex-direction: row;
    flex: 1;
  
}

.sidibar
{
    min-width: 240px;
    width: 240px;
    height: 100vh;
    background: #000;
    left: 0px;
    top: 0px;
    bottom: 0px;

}

.all-group-content
{
    padding: 30px;
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #f9f9f9;
    color:#000;
}

.all-group-content .view-content-center
{
    display: flex;
    flex-direction: column;
   max-width: 820px;
}

.edit-panel
{
    
    background-color: #fff;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #e7e7e7;
    padding: 5px 25px 5px 30px;
   
}

.edit-panel-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;

}

.param-header
{
  display: none 
}

.param-header.active-param-header
{
    display: block
}

.first-label-param-header
{
    color: #40cab0!important;
    font-weight: 700;
}

 .title-edit-panel
{
    margin:0px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}


.all-group-content .view-content-center .edit-panel .sous-edit-panel-left
{
    position: relative;
    margin-left: 12px;
    display: flex;
    flex-direction: row;
}

.all-group-content .view-content-center .edit-panel .sous-edit-panel-left .chart-title
{
    display:inline-block;
    color: #08b4b0;
    bottom: 0;
    line-height: 60px;
    font-weight: 700;
    font-size: 16px;
    margin-right: 6px;
}

.charte-progress
{
    width:60px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center

}

.charte-progress .detail_progresse_mini
{
   position: absolute; 
}


.charte-progress .detail_progresse_mini .number_progress_mini
{
    color: #08b4b0;
    font-weight: 700;
    font-size: 16px;
}

.igx-circular-bar__inner {
    stroke-width: 4;
    fill: transparent;
    stroke: rgba(0,0,0,0.12);
}

.igx-circular-bar__outer {
    fill: transparent;
    stroke: #09f;
    stroke-width: 4;
    stroke-dashoffset: 289;
    stroke-dasharray: 289;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.img-country
{
    display:inline-block;
    width: 30px;
    height: 20px;
    margin: 0px;
    padding-left: 9px;

}

.img-country img
{
    width: 100%;
    max-width: 100%;
   
}

/*--formulaire-- detail entreprise--*/

.regroupe-form
{
    display:flex;
    align-items: center;
}

.regroupe-form label
{
    font-size: 15px;
    color: #7e8082;
    margin-bottom: 20px;
    padding: 15px 0;
    -webkit-flex: 1;
    flex: 1;
    padding-right: 2px;

}

.all-gestion-info
{
    -webkit-flex: 3;
    flex: 3;
    margin-bottom: 20px;
    padding: 15px;
    padding-right: 0px;
    background-color: #e7e9eb;
    display: flex;

}

.img-upload
{

    margin-right: 10px;
}

.img-upload img
{
    width: 100px;
    height: 100px;
}

.gestion-info-img-header
{
    margin-bottom: 20px;
}

.btn-gestion
{
    width: 100px!important;
    height: 42px;
    min-width: 100px;
    font-size: 12px;
    text-align: center;
    background-color: #f2bb13;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    transition: background .2s;
    position: relative;
    text-transform: uppercase;
    border-radius: 0px;
    margin-bottom: 12px;
    font-size: 12px;
}

.btn-gestion:last-child
{
    margin-left: 10px;
}

.btn-gestion:active,.btn-gestion:focus
{
   outline: none!important
}

.gestion-info-img-contenu
{
    font-size: 13px;
    color: #7e8082;
    font-weight: 400;
    margin:0px;
}

.block-form-flex
{
    flex: 3;
    margin-bottom: 20px;
    position: relative;
    background: #e7e9eb;
    border: 1px solid #e7e9eb;
}

.champ-form-gestion
{
    background: #e7e9eb;
    border:none;
    width: 100%;
    height: 52px;
    font-size: 15px;
    text-indent: 1px;
    padding: 10px 15px;
    font-weight: 400;
    outline: none
}

.champ-form-gestion:active,.champ-form-gestion:focus
{
    border-color:#e7e9eb!important
}

.champ-form-gestion:focus{
    border: 1px solid #b1b3b5;
}

.champ-asterix-obg
{
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 8px;
    width: 3%;
    color:#ff0000b5;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 8px;
}

.textarea-gestion
{

}


::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix
{
    display: flex;
    align-items: center;
    background: #e7e9eb;
    border: 1px solid #e7e9eb;
    /* width: 100%; */
    height: 52px;
    font-size: 15px;
    text-indent: 1px;
    padding: 10px 15px;
}

::ng-deep .mat-form-field-underline
{
    display: none
}

::ng-deep .mat-form-field-ripple
{
    display: none
}

::ng-deep .mat-form-field-label-wrapper
{
    top:-2px!important;
    padding-top: 0px!important;
    left: 17.5px!important;
    
}


.mat-form-field-label
{
    display: flex;
    align-items: center
}

::ng-deep .ng-star-inserted
{
    color:#000
}

::ng-deep .mat-option-pseudo-checkbox
{
    border: 1px solid #dadada!important;
}

::ng-deep .mat-pseudo-checkbox-checked 
{
    background: white!important;

}

::ng-deep .mat-pseudo-checkbox-checked::after
{
    color:#000!important
}

::ng-deep .mat-option.mat-selected:not(.mat-option-disabled){
    color:#000!important
}

::ng-deep .mat-form-field
{
    width:100%!important
}

:ng-deep .mat-form-field-infix
{
    height: auto!important;
}

.select-form-flex
{
    background: none!important;
    border:none;
    margin-bottom: 0px!important;
}

.incrage
{
    
}

.champ-incrage
{
   padding-left: 85px!important;
}

.span-incrage
{
    display: block;
    height: 52px;
    position: absolute;
    width: 68px;
    color:#7e8082;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    top:0px;
    background: #fff
}

.champ-incrage-network
{
    padding-left: 145px;
}

.span-incrage-network
{
    width: 130px;
        justify-content: flex-start!important;
}

.span-incrage-network .icon-network
{
    margin: 0 17px;
}

.btn-block-flex
{
    background: none;
    border:none;
}

.btn-validate
{

    background-color: #f2bb13;
    color: #fff;
    font-weight: 700;
    transition: background .2s;
    position: relative;
    text-transform: uppercase;
    border-radius: 0px;
    width: 100%!important;
    height: 52px;
    min-width: 100%;
}

.btn-validate:active,.btn-validate:focus
{
    outline: none
}


/*--partie-upload--*/

.upload
{
    width: 100px;
    height: 100px;
    vertical-align: top;
    margin: 5px;
    background-color: #f2bb13;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s;
    color:#fff;
    flex-direction: column;
    position: relative;
}

.upload:hover
{
    background-color: #ffd200;
}

.upload .icon-upload
{
    font-size: 30px;
}

.upload .text-upload
{
    display: block;
    font-weight: 700;
    color: #fff;
    margin-top: 6px;
    font-size: 12px;
}

/*--a supprimé--*/

.circular-container {
    height: 64px;
    width: 64px;
}
.button-container {
    margin-left: 20px;
}

/*-- partie compltion des fiche compléte--*/


.all-group-content .content-left
{
}

.completion_fiche
{
    width: 300px;
    height: 350px;
    min-width: 350px;
    background-color: #40cab0;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.completion_fiche_progress
{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.progres
{
    width: 70%;
    height: 70%;
}

.text_number_progress_responsive
{
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    display: none;
}

.detail_progresse
{
    display: flex;
    flex-direction: column;
    text-align: center;   
    position: absolute;
}

.detail_progresse .number_progress
{
    display: block;
    font-size: 70px;
    font-weight: 400;

}

.detail_progresse .number_progress::after
{

    content: "%";
    font-size: 20px;

}


.detail_progresse .text_number_progress
{
    font-weight: 400;
    margin-top: -10px;
    font-size: 15px;
}

/*--media screen responsive--*/

@media screen and (min-width: 300px) and (max-width: 1024px){
    #global{
        display: block;
    }
    #content{

        margin-left: 0%;
    }
}


@media (max-width: 1024px) {

    .sidibar
    {
        display: none
    }
 
    .all-group-content
    {
      
        flex-direction: column-reverse;   
    }

    .title-edit-panel
    {
        font-size: 16px;
    }

    .charte-progress
    {
        width: 50px;
        height: 50px;
    }

    .sous-edit-panel-left
    {
        align-items: center
    }

    .number_progress_mini
    {
        font-size: 12px!important;
    }


    /*--partie content-left--*/


    .completion_fiche
    {
        max-width: 820px;
        height: auto;
        width: auto;
        margin-left: 0px;
        justify-content: flex-end;
        padding: 5px 25px 5px 30px;
    }

    .completion_fiche_progress
    {
      justify-content: space-between;
      flex-direction: row
    }
     .progres
    {
        height: 50px;
        width: 50px
    }

    .number_progress
    {
        font-size: 12px!important;
        
    }

    .detail_progresse
    {
        right: 10px;
    }

    .text_number_progress
    {
        display: none
    }

    .number_progress::after
    {
        font-size: 12px!important;
    }


    .completion_fiche_progress{

    }

    .text_number_progress_responsive
    {
        display: block;
        margin-bottom: 0px!important;
    }

    /*-- partie content view--*/

    .regroupe-form
    {
        display: block;
    }
    .regroupe-form label
    {
        padding: 0px;
        margin-bottom: 6px;
    }
}

@media (max-width: 450px){

    .btn-gestion:last-child
    {
        margin-left:0px!important;
    }

}
