<div id="global">
    <!--app-breadcrumb [namePage]="'Mon entreprise'"></app-breadcrumb-->
    <div *ngIf="isVerifUser === false" class="loading">
        <span class="fa fa-spinner fa-pulse"></span>
    </div>

    <!-- <div *ngIf="!isVerifUser"> -->
    <div *ngIf='entreprise === null' id="content">
        <div class="new-entreprise">
            <div *ngIf="dataRoute">
                <nav-wrapper-component [dataRoute]="this.dataRoute"></nav-wrapper-component>
            </div>
            <div class="all-group-content ajout-entreprise">
                <div class="content-ajout-entreprise">
                    <div class="form-entreprise">
                        <form>
                            <h2 i18n>Ajouter son entreprise</h2>
                            <div class="form-line">
                                <div class="input-bloc fix-error">
                                    <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                                        <mat-label i18n>Nom de l'entreprise *</mat-label>
                                        <input type="text" [formControl]="newEntreprise" matInput value="" name="newEntreprise" />
                                    </mat-form-field>
                                    <div *ngIf=" submitted && newEntreprise.invalid" class="alert alert-danger">
                                        <div *ngIf="newEntreprise.errors.required" class="error-red" i18n>
                                            Veuillez saisir le nom de l'entreprise.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-line">
                                <div class="input-bloc fix-error">
                                    <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                                        <mat-label i18n>Email de l'entreprise *</mat-label>
                                        <input type="text" [formControl]="newEmail" matInput value="" name="newEmail" />
                                    </mat-form-field>
                                    <div *ngIf=" submitted && newEmail.invalid">
                                        <div *ngIf="newEmail.errors.required" class="error-red" i18n>
                                            Veuillez saisir l'email de l'entreprise.
                                        </div>
                                        <div *ngIf="newEmail.errors.email" class="error-red" i18n>
                                            Veuillez saisir un email correct.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-line">
                                <div class="input-bloc fix-error">
                                    <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                                        <mat-label i18n>Numéro de téléphone *</mat-label>
                                        <input type="tel" [formControl]="newPhone" matInput value="" name="phone" />
                                    </mat-form-field>
                                    <div *ngIf="submitted && newPhone.invalid">
                                        <div *ngIf="newPhone.errors.required" class="error-red" i18n>
                                            Veuillez saisir le numéro de l'entreprise.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button (click)="addentreprise()" mat-button class="btn-validate">Ajouter son entreprise</button>
                            </div>
                        </form>
                    </div>
                    <div class="text-entreprise">
                        <h2 i18n>Personnalisation entreprise</h2>
                        <p i18n>Bienvenue sur la page de personnalisation de votre entreprise, avant de pouvoir modifier les informations sur votre entreprise, merci de bien vouloir remplir le formulaire ci-contre.
                        </p>

                        <p i18n>Une fois le formulaire remplis vous pourrez gérer les informations de votre entreprise comme, les nombres d'employés, la langue de votre entreprise, le lien de votre site web, etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->

    <!-- <div *ngIf="!isVerifUser"> -->

    <div *ngIf='entreprise !== null' class="edit-entreprise" id="content">
        <div *ngIf="dataRoute">
            <nav-wrapper-component [dataRoute]="this.dataRoute"></nav-wrapper-component>
        </div>
        <div id="shadow-cog" [ngClass]="{'shadow-cog-active': shadowcog == true}">

            <div id="remove" (click)="param_cog_non_active()"></div>

            <div class="modal">
                <form id='formlogo' class="formlogo" enctype="multipart/form-data">
                    <div class="modal-header"></div>
                    <div class="modal-content">
                        <div class="block-upload" [class.block-upload-hidden]="blockUpload">
                            <i class="modal-content-icon fas fa-camera"></i>
                            <span class="modal-content-text"> Déposez votre image ici </span>
                            <div class="btn-modal-content" id="btn-modal-content">
                                <span>ou télécharger une photo</span>
                                <input type="file" class="file hvr-grow" name="files" accept="image/x-png,image/gif,image/jpeg" (change)="readURL($event)" #uploadFileFirst />
                                <input class="hidden-file" type="text" name="ref" value="entreprise" />
                                <input type="text" name="refId" value="{{entreprise.id}}" />
                                <input type="text" name="field" value="logo" />
                            </div>
                        </div>

                        <div class="cadrage-img" [class.cadrage-img-active]="cadrageImgBoolean">

                            <figure class="img-figure" [class.img-figure-active]="!cadrageImgBooleanState">
                                <img src="" #uploadimgfirst />
                            </figure>

                            <div class="text-error-upload" [class.text-error-upload-show]="cadrageImgBooleanState">

                                <i class="fas fa-ban ban-error"></i>

                                <span class="error">Fichier non supporté</span>

                                <div class="btn-modal-content" id="btn-modal-content">

                                    <span class="modal-text-btn-upload">ou télécharger une photo</span>

                                    <input type="file" class="file" (change)="readURL($event)" />

                                </div>

                            </div>

                        </div>


                    </div>

                    <div class="modal-footer" #btnValideParent>
                        <button mat-button class="modal-btn-footer" (click)="uploadLogo()" disabled="disabled" id="btn-valide">valider</button>
                        <button mat-button class="modal-btn-footer" (click)="param_cog_non_active()">annuler</button>


                    </div>

                </form>

            </div>


        </div>

        <div id="shadow-cog-add-images" [ngClass]="{'shadow-cog-active': shadowcogImage === true}">
            <div id="remove_add_image" (click)="param_cog_non_active_add_img()"></div>
            <div class="modal">

                <form class="formimage" enctype="multipart/form-data">
                    <div class="modal-header"></div>
                    <div class="modal-content">
                        <div class="block-upload" id="block-upload-deux" [ngClass]="{'block-upload-hidden': blockUploadLast == true}">
                            <i class="modal-content-icon fas fa-camera"></i>
                            <span class="modal-content-text">Déposez votre image ici</span>
                            <div class="btn-modal-content hvr-grow" id="btn-modal-content">
                                <span class="modal-text-btn-upload">ou télécharger une photo</span>
                                <input type="file" class="file" name="files" accept="image/x-png,image/gif,image/jpeg" (change)="readURL_deux($event)" #fileLoading />
                            </div>
                        </div>
                        <div class="cadrage-img" [ngClass]="{'cadrage-img-active' : cadrageImgBooleanLast === true}">
                            <figure class="img-figure" [ngClass]="{'img-figure-active' : cadrageImgBooleanStateLast === false}">
                                <img src="" class="upload_img" #uploadimgLast />
                            </figure>
                            <div class="text-error-upload" [ngClass]="{'text-error-upload-show' : cadrageImgBooleanStateLast === true}">
                                <i class="fas fa-ban ban-error"></i>
                                <span class="error">Fichier non supporté</span>
                                <div class="btn-modal-content hvr-grow" id="btn-modal-content">
                                    <span class="modal-text-btn-upload">ou télécharger une photo</span>
                                    <input type="file" class="file" (change)="readURL_deux($event)" />
                                    <input class="hidden-file" type="text" name="ref" value="entreprise" />
                                    <input type="text" name="refId" value="9" />
                                    <input type="text" name="field" value="image_entreprise" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" #btnValideParentAddImage>
                        <div class="fix-upload-img">
                            <app-base-button (click)='uploadImage()' iconName="done" [disabled]="disabled" i18n>VALIDER</app-base-button>
                            <app-base-button (click)='param_cog_non_active_add_img()' iconName="close" i18n>ANNULER</app-base-button>
                        </div>
                    </div>
                </form>

            </div>
        </div>


        <div class="big-content">

            <div class="all-group-content">

                <div class="view-content-center">
                    <!--
            <div class="edit-panel">

              <header class="edit-panel-header">

                <h2 class="title-edit-panel" (click)="show_header_param()">Éditez les détails de votre entreprise dans
                  la langue de votre choix</h2>

                <div class="sous-edit-panel-left">

                  <span class="chart-title">Complétion</span>

                  <div class="charte-progress">
                    <round-progress [current]="current1" [max]="100" [color]="'1d3551'" [background]="'#eee'"
                      [radius]="125" [stroke]="20" [semicircle]="false" [rounded]="true" [clockwise]="true"
                      [responsive]="true" [duration]="1000" [animation]="'easeInOutQuart'" [animationDelay]="100">
                    </round-progress>

                    <div class="detail_progresse_mini">

                      <span class="number_progress_mini"> {{current1}} %</span>

                    </div>

                  </div>

                </div>
              </header>

            </div> -->

                    <div class="edit-panel">

                        <div class="edit-panel-header">
                            <h2 class="title-edit-panel" i18n> Éditez les détails de votre entreprise dans la langue de votre choix </h2>

                            <!-- <div class="sous-edit-panel-left">
                                    <span class="chart-title">Complétion</span>
                                    <div class="charte-progress">
                                    <round-progress [current]="current2" [max]="100" [color]="'1d3551'" [background]="'#eee'"
                                      [radius]="125" [stroke]="20" [semicircle]="false" [rounded]="true" [clockwise]="true"
                                      [responsive]="true" [duration]="1000" [animation]="'easeInOutQuart'" [animationDelay]="1000">
                                    </round-progress>
                                    <div class="detail_progresse_mini">
                                      <span class="number_progress_mini">{{current2}} %</span>
                                    </div>
                                 </div>
                            </div> -->
                        </div>

                        <form>
                            <div class="form-line">
                                <div class="input-bloc">
                                    <mat-form-field appearance="outline" [color]="'accent'" class="fullwidth">
                                        <mat-label i18n>Choisissez votre langue</mat-label>
                                        <mat-select [formControl]="lang" name="lang" class="mat-primary">
                                            <mat-option *ngFor="let lang of langlist" value="{{lang}}">{{ lang }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>

                            <div class="regroupe-form">
                                <label i18n>Logo de l'entreprise</label>
                                <div class="all-gestion-info">
                                    <figure class="img-upload"><img src=" {{logo}}" alt="" role=""></figure>
                                    <div>
                                        <div class="gestion-info-img-header">
                                            <!-- <button mat-button class="btn-gestion" (click)="modal_upload()">ENVOYER</button> -->
                                            <div class="form-line fix-buttons">
                                                <app-base-button (click)='modal_upload()' iconName="upload" i18n>ENVOYER</app-base-button>
                                            </div>
                                            <div class="form-line fix-buttons">
                                                <app-base-button iconName="delete" i18n>SUPPRIMER</app-base-button>
                                            </div>
                                            <!-- <button mat-button class="btn-gestion">SUPPRIMER</button> -->
                                        </div>
                                        <p class="gestion-info-img-contenu" i18n>4 Mo max.</p>
                                        <p class="gestion-info-img-contenu" i18n>Taille recommandée : 500 x 500px</p>
                                        <p class="gestion-info-img-contenu" i18n>Types de fichier recommandés : JPEG, PNG, GIF</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-line">
                                <div class="input-bloc fix-error">
                                    <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                                        <mat-label i18n>Nom de l'entreprise *</mat-label>
                                        <input type="text" [formControl]="name" matInput name="name" />
                                    </mat-form-field>
                                    <div *ngIf=" submitted && name.invalid" class="alert alert-danger">
                                        <div *ngIf="name.errors.required" class="error-red" i18n>
                                            Veuillez saisir le nom de l'entreprise.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-line">
                                <div class="input-bloc fix-error">
                                    <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                                        <mat-label i18n>Email de l'entreprise *</mat-label>
                                        <input type="text" [formControl]="email" matInput name="email" />
                                    </mat-form-field>
                                    <div *ngIf=" submitted && email.invalid">
                                        <div *ngIf="email.errors.required" class="error-red" i18n>
                                            Veuillez saisir l'email de l'entreprise.
                                        </div>
                                        <div *ngIf="email.errors.email" class="error-red" i18n>
                                            Veuillez saisir un email correct.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-line">
                                <div class="input-bloc fix-error">
                                    <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                                        <mat-label i18n>Numéro de téléphone *</mat-label>
                                        <input type="tel" [formControl]="phone" matInput name="phone" />
                                    </mat-form-field>
                                    <div *ngIf="submitted && phone.invalid">
                                        <div *ngIf="phone.errors.required" class="error-red" i18n>
                                            Veuillez saisir le numéro de l'entreprise.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-line">
                                <div class="input-bloc">
                                    <mat-form-field appearance="outline" [color]="'accent'" class="fullwidth">
                                        <mat-label i18n>Industrie</mat-label>
                                        <mat-select [formControl]="industrie" name="industrie" class="mat-primary">
                                            <mat-option *ngFor="let industrie of industrieList" value="{{industrie}}">{{ industrie }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-line">
                                <div class="input-bloc">
                                    <mat-form-field appearance="outline" [color]="'accent'" class="fullwidth">
                                        <mat-label i18n>Nombre d'employés</mat-label>
                                        <mat-select [formControl]="numberofemployee" name="numberofemployee" class="mat-primary">
                                            <mat-option *ngFor="let numberofemployee of numberofemployeeList" value="{{numberofemployee}}">{{ numberofemployee }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-line">
                                <div class="input-bloc">
                                    <mat-form-field appearance="outline" [color]="'accent'" class="fullwidth">
                                        <mat-label i18n>Nombre de développeurs</mat-label>
                                        <mat-select [formControl]="numberofdev" name="numberofdev" class="mat-primary">
                                            <mat-option *ngFor="let numberofdev of numberofemployeeList" value="{{numberofdev}}">{{ numberofdev }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-line">
                                <div class="input-bloc">
                                    <!-- <span class="span-incrage">URL : </span> -->
                                    <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                                        <mat-label i18n>
                                            <mat-icon class="mat-18">link</mat-icon> Lien vidéo</mat-label>
                                        <input type="text" [formControl]="videolink" matInput name="videolink" />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-line">
                                <div class="input-bloc">
                                    <!-- <span class="span-incrage">URL : </span> -->
                                    <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                                        <mat-label i18n>
                                            <mat-icon class="mat-18">link</mat-icon> Lien du site</mat-label>
                                        <input type="text" [formControl]="websitelink" matInput name="websitelink" />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-line">
                                <div class="input-bloc">
                                    <mat-form-field appearance="outline" [color]="'accent'" class="fullwidth">
                                        <mat-label i18n>Teaser de l'entreprise</mat-label>
                                        <textarea matTextareaAutosize matAutosizeMinRows="10" matAutosizeMaxRows="20" [formControl]="teaser" matInput></textarea>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="regroupe-form">

                                <label>Ajouter des images (10 max)</label>

                                <div class="all-gestion-info">

                                    <div class="upload" (click)="param_cog_non_active_add_image()">

                                        <i class="fas fa-camera icon-upload"></i>

                                        <span class="text-upload">ADD PIC</span>

                                    </div>

                                    <div *ngFor='let image of picture' class="picture">
                                        <div class="img-gestion">

                                            <div class="bg-transparent-img">
                                                <span class="fa fa-window-close"></span>


                                            </div>

                                            <img src="{{image.url}}" alt="">

                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="form-line">
                                <div class="input-bloc">
                                    <!-- <span class="span-incrage">URL : </span> -->
                                    <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                                        <mat-label i18n>
                                            <mat-icon class="mat-18">link</mat-icon>&nbsp;Linked<i class="fab fa-linkedin-in icon-network"></i>
                                        </mat-label>
                                        <input type="text" [formControl]="linkedin" matInput name="linkedin" />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-line">
                                <div class="input-bloc">
                                    <!-- <span class="span-incrage">URL : </span> -->
                                    <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                                        <mat-label i18n>
                                            <mat-icon class="mat-18">link</mat-icon>&nbsp;<i class="fab fa-facebook-f icon-network"></i>acebook
                                        </mat-label>
                                        <input type="text" [formControl]="facebook" matInput name="facebook" />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-line">
                                <div class="input-bloc">
                                    <!-- <span class="span-incrage">URL : </span> -->
                                    <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                                        <mat-label i18n>
                                            <mat-icon class="mat-18">link</mat-icon>&nbsp; <i class="fab fa-twitter icon-network"></i>Twitter
                                        </mat-label>
                                        <input type="text" [formControl]="twitter" matInput name="twitter" />
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="regroupe-form">
                                <div class="fix-button-save">
                                    <app-base-button (click)='clickchange2()' iconName="save" i18n>ENREGISTRER LES CHANGEMENTS</app-base-button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

                <div>

                    <div class="completion_fiche">


                        <div class="completion_fiche_progress">

                            <h2 class="text_number_progress_responsive">Complétion de votre fiche</h2>

                            <div class="progres">
                                <round-progress [current]="currentTotal" [max]="100" [color]="'white'" [background]="'#6a84a0'" [radius]="200" [stroke]="20" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="true" [duration]="1000" [animation]="'easeInOutQuart'"
                                    [animationDelay]="1000">
                                </round-progress>
                            </div>
                            <div class="detail_progresse">

                                <span class="number_progress">{{currentTotal}}</span>

                                <span class="text_number_progress">Complétion de votre fiche</span>

                            </div>

                        </div>

                    </div>

                </div>


            </div>


        </div>

    </div>
    <!-- </div> -->

</div>