<div id="global">
  <div *ngIf='entreprise === null' id="content">
    <div class="new-entreprise">
      <div *ngIf="dataRoute">
        <nav-wrapper-component [dataRoute]="this.dataRoute"></nav-wrapper-component>
      </div>
      <div class="all-group-content ajout-entreprise">
        <div *ngIf="loading$ | async" class="loader-container">
          <mat-spinner [strokeWidth]="20"></mat-spinner>
        </div>
        <div *ngIf="!(loading$ | async)" class="content-ajout-entreprise">
          <div class="form-entreprise">
            <form [formGroup]="entrepriseProfilForm" (ngSubmit)="addEntreprise()">
              <h2 i18n>Ajouter son entreprise</h2>
              <div class="form-line">
                <div class="input-bloc fix-error">
                  <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                    <mat-label i18n>Nom de l'entreprise *</mat-label>
                    <input type="text" formControlName="name" matInput value="" name="newEntreprise" />
                  </mat-form-field>
                  <div *ngIf="submitted && entrepriseFormControl.name.errors" class="alert alert-danger">
                    <div *ngIf="entrepriseFormControl.name.errors.required" class="error-red" i18n>
                      Veuillez saisir le nom de l'entreprise.
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-line">
                <div class="input-bloc fix-error">
                  <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                    <mat-label i18n>Email de l'entreprise *</mat-label>
                    <input type="text" formControlName="email" matInput value="" name="newEmail" />
                  </mat-form-field>
                  <div *ngIf="submitted && entrepriseFormControl.email.errors">
                    <div *ngIf="entrepriseFormControl.email.errors.required" class="error-red" i18n>
                      Veuillez saisir l'email de l'entreprise.
                    </div>
                    <div *ngIf="entrepriseFormControl.email.errors.email" class="error-red" i18n>
                      Veuillez saisir un email correct.
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-line">
                <div class="input-bloc fix-error">
                  <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                    <mat-label i18n>Numéro de téléphone *</mat-label>
                    <input type="tel" formControlName="phone" matInput value="" name="phone" />
                  </mat-form-field>
                  <div *ngIf="submitted && entrepriseFormControl.phone.errors">
                    <div *ngIf="entrepriseFormControl.phone.errors.required" class="error-red" i18n>
                      Veuillez saisir le numéro de l'entreprise.
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <app-base-button iconName="done" i18n>CONFIRMER</app-base-button>
              </div>
            </form>
          </div>
          <div class="text-entreprise">
            <h2 i18n>Personnalisation entreprise</h2>
            <p i18n>Bienvenue sur la page de personnalisation de votre entreprise, avant de pouvoir modifier les
              informations sur votre entreprise, merci de bien vouloir remplir le formulaire ci-contre.
            </p>

            <p i18n>Une fois le formulaire remplis vous pourrez gérer les informations de votre entreprise comme, les
              nombres d'employés, la langue de votre entreprise, le lien de votre site web, etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf='entreprise !== null' class="edit-entreprise" id="content">
    <div *ngIf="dataRoute">
      <nav-wrapper-component [dataRoute]="this.dataRoute"></nav-wrapper-component>
    </div>
    <div class="big-content">
      <div class="all-group-content">
        <!-- <div class="fix-progress">
          <div class="completion_fiche">
            <div class="completion_fiche_progress">
              <h2 class="text_number_progress_responsive" i18n>Complétion de votre fiche</h2>
              <div class="progres">
                <round-progress [current]="currentTotal" [max]="100" [color]="'white'" [background]="'#6a84a0'"
                  [radius]="200" [stroke]="20" [semicircle]="false" [rounded]="true" [clockwise]="true"
                  [responsive]="true" [duration]="1000" [animation]="'easeInOutQuart'" [animationDelay]="1000">
                </round-progress>
              </div>
              <div class="detail_progresse">
                <span class="number_progress">{{currentTotal}}</span>
                <span class="text_number_progress" i18n>Complétion de votre fiche</span>
              </div>
            </div>
          </div>
        </div> -->
        <div class="view-content-center">
          <div class="edit-panel">
            <div class="edit-panel-header">
              <h2 class="title-edit-panel" i18n> Éditez les détails de votre entreprise dans la langue de votre choix
              </h2>
            </div>

            <form [formGroup]="entrepriseProfilForm" (ngSubmit)="updateProfilEntreprise()">
              <div class="form-line">
                <div class="input-bloc">
                  <mat-form-field appearance="outline" [color]="'accent'" class="fullwidth">
                    <mat-label i18n>Choisissez votre langue</mat-label>
                    <mat-select formControlName="lang" name="lang" class="mat-primary">
                      <mat-option *ngFor="let lang of langlist" value="{{lang}}">{{ lang }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <br>

              <div class="regroupe-form">
                <label i18n>Logo de l'entreprise</label>
                <div class="all-gestion-info">
                  <figure class="img-upload" *ngIf="logo | async">
                    <img [src]="logo.value" alt="" role="">
                  </figure>
                  <div>
                    <div class="gestion-info-img-header">
                      <div class="form-line fix-buttons">
                        <app-base-button (click)='$event.preventDefault(); openDialog(1, 4, "mb", "entreprise", "logo")' iconName="upload" i18n>{{logo.value ? 'MODIFER':'AJOUTER'}}</app-base-button>
                      </div>
                      <div class="form-line fix-buttons">
                        <app-base-button *ngIf="logo | async"  iconName="delete" i18n>SUPPRIMER</app-base-button>
                      </div>
                    </div>
                    <p class="gestion-info-img-contenu" i18n>4 Mo max.</p>
                    <p class="gestion-info-img-contenu" i18n>Taille recommandée : 500px 500px</p>
                    <p class="gestion-info-img-contenu" i18n>Types de fichier recommandés : JPEG, PNG, GIF</p>
                  </div>
                </div>
              </div>

              <div class="form-line">
                <div class="input-bloc fix-error">
                  <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                    <mat-label i18n>Nom de l'entreprise *</mat-label>
                    <input type="text" formControlName="name"  matInput name="name" />
                  </mat-form-field>
                  <div *ngIf="submitted && entrepriseFormControl.name.errors" class="alert alert-danger">
                    <div *ngIf="entrepriseFormControl.name.errors.required" class="error-red" i18n>
                      Veuillez saisir le nom de l'entreprise.
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-line">
                <div class="input-bloc fix-error">
                  <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                    <mat-label i18n>Email de l'entreprise *</mat-label>
                    <input type="text" formControlName="email" matInput name="email" />
                  </mat-form-field>
                  <div *ngIf="submitted && entrepriseFormControl.email.errors">
                    <div *ngIf="entrepriseFormControl.email.errors.required" class="error-red" i18n>
                      Veuillez saisir l'email de l'entreprise.
                    </div>
                    <div *ngIf="entrepriseFormControl.email.errors.email" class="error-red" i18n>
                      Veuillez saisir un email correct.
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-line">
                <div class="input-bloc fix-error">
                  <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                    <mat-label i18n>Numéro de téléphone *</mat-label>
                    <input type="tel" formControlName="phone" matInput name="phone" />
                  </mat-form-field>
                  <div *ngIf="submitted && entrepriseFormControl.phone.errors">
                    <div *ngIf="entrepriseFormControl.phone.errors.required" class="error-red" i18n>
                      Veuillez saisir le numéro de l'entreprise.
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-line">
                <div class="input-bloc">
                  <mat-form-field appearance="outline" [color]="'accent'" class="fullwidth">
                    <mat-label i18n>Industrie</mat-label>
                    <mat-select formControlName="industrie" name="industrie" class="mat-primary">
                      <mat-option *ngFor="let industrie of industrieList" value="{{industrie}}">{{ industrie }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-line">
                <div class="input-bloc">
                  <mat-form-field appearance="outline" [color]="'accent'" class="fullwidth">
                    <mat-label i18n>Nombre d'employés</mat-label>
                    <mat-select formControlName="numberofemployee" name="numberofemployee" class="mat-primary">
                      <mat-option *ngFor="let numberofemployee of numberofemployeeList" value="{{numberofemployee}}">{{
                        numberofemployee }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-line">
                <div class="input-bloc">
                  <mat-form-field appearance="outline" [color]="'accent'" class="fullwidth">
                    <mat-label i18n>Nombre de développeurs</mat-label>
                    <mat-select formControlName="numberofdev" name="numberofdev" class="mat-primary">
                      <mat-option *ngFor="let numberofdev of numberofemployeeList" value="{{numberofdev}}">{{
                        numberofdev }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="regroupe-form">
                <div class="fix-button-save">
                  <app-base-button iconName="save" i18n>ENREGISTRER LES CHANGEMENTS
                  </app-base-button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="view-content-center fix-view-cotent-center-right">
          <div class="edit-panel">
            <div class="edit-panel-header">
              <h2 class="title-edit-panel" i18n> Éditez les détails de votre entreprise
              </h2>
            </div>

            <form [formGroup]="entrepriseLinksForm" (ngSubmit)="updateLinksEntreprise()">

              <div class="form-line">
                <div class="input-bloc">
                  <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                    <mat-label i18n>
                      <mat-icon class="mat-18">link</mat-icon> Lien vidéo
                    </mat-label>
                    <input type="text" formControlName="videolink" matInput name="videolink" />
                  </mat-form-field>
                </div>
              </div>

              <div class="form-line">
                <div class="input-bloc">
                  <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                    <mat-label i18n>
                      <mat-icon class="mat-18">link</mat-icon> Lien du site
                    </mat-label>
                    <input type="text" formControlName="websitelink" matInput name="websitelink" />
                  </mat-form-field>
                </div>
              </div>

              <div class="form-line">
                <div class="input-bloc">
                  <mat-form-field appearance="outline" [color]="'accent'" class="fullwidth">
                    <mat-label i18n>Teaser de l'entreprise</mat-label>
                    <textarea matTextareaAutosize matAutosizeMinRows="10" matAutosizeMaxRows="20" formControlName="teaser"
                      matInput></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="regroupe-form">
                <label i18n>Ajouter des images (10 max)</label>
                <div class="all-gestion-info">
                  <div class="upload" (click)='$event.preventDefault(); openDialog(10, 4, "mb", "entreprise", "picture")'>
                    <!-- (click)="param_cog_non_active_add_image()" -->
                    <!-- <i class="fas fa-camera icon-upload"></i> -->
                    <mat-icon class="mat-18">add_a_photo</mat-icon>
                    <span class="text-upload" i18n>ADD PIC</span>
                  </div>
                  <div *ngIf="picture | async" class="picture">
                    <div *ngFor='let image of picture.value' class="img-gestion">
                      <div class="bg-transparent-img">
                        <mat-icon>dangerous</mat-icon>
                      </div>
                      <img [src]="image.url" alt="" role="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-line">
                <div class="input-bloc">
                  <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                    <mat-label i18n>
                      <mat-icon class="mat-18">link</mat-icon>&nbsp;Linked<i
                        class="fab fa-linkedin-in icon-network"></i>
                    </mat-label>
                    <input type="text" formControlName="linkedin" matInput name="linkedin" />
                  </mat-form-field>
                </div>
              </div>

              <div class="form-line">
                <div class="input-bloc">
                  <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                    <mat-label i18n>
                      <mat-icon class="mat-18">link</mat-icon>&nbsp;<i
                        class="fab fa-facebook-f icon-network"></i>acebook
                    </mat-label>
                    <input type="text" formControlName="facebook" matInput name="facebook" />
                  </mat-form-field>
                </div>
              </div>

              <div class="form-line">
                <div class="input-bloc">
                  <mat-form-field [color]="'accent'" appearance="outline" [floatLabel]="true" class="fullwidth">
                    <mat-label i18n>
                      <mat-icon class="mat-18">link</mat-icon>&nbsp; <i class="fab fa-twitter icon-network"></i>Twitter
                    </mat-label>
                    <input type="text" formControlName="twitter" matInput name="twitter" />
                  </mat-form-field>
                </div>
              </div>

              <div class="regroupe-form">
                <div class="fix-button-save">
                  <app-base-button iconName="save" i18n>ENREGISTRER LES CHANGEMENTS
                  </app-base-button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
